
<div class="container">
    <!--  {{getEffectif | json}} -->
    <div class="animated fadeIn dashboard" id="print">
        <div class="row " *ngIf="(agence_level || sfd_level) && load" style="      float: right;  margin-bottom: -40px;">
            <form action="" class="form-inline" style="margin-bottom: 75px;">
                <button type="submit" class="btn btn-default" *ngIf="sfd_level"> AGENCE {{agence_name}}</button>
                
                <div class="form ">
                    <select class="ui fluid search dropdown" id="field_user" (change)="onUserChange($event.target.value)" name="agence">
                        <option value="" disabled selected>Selectionnez l'utilisateur</option>
                        <option [value]="agence_user.reference" *ngFor="let agence_user of agences_users"> {{agence_user.name}} {{agence_user.firstNname}}</option>
                    </select>
                </div>
                <br>
                <br>
            </form>
        </div>


        <div class="animated fadeIn dashboard" *ngIf="load" >
                    <div class="row clearfix" style="margin-top: 5px">
                        <div class="col-sm-12 col-xs-12 col-md-4">
                            <div class="info-box-header  bg-cyan" style="font-size: 18px; font-weight:600">
                                <span class="">Nombre de Credits {{getEffectif.nb_credit_total}}</span>
                            </div>
                            <div class="" style="margin-top:-30px !important">
                                <div class="info-box  hover-expand-effect">
                                    <div class="icon" style="background-color: #f6f6f6">
                                        <i class="material-icons text-cyan"> perm_identity</i>
                                    </div>
                                    <div class="content d-flex align-items-center text-cyan">
                                        <div class="text">
                                            <span> Individus </span>
                                        </div>
                                        <div class="number count-to ml-auto"> {{getEffectif.nb_credit_individu}} </div>
                    
                                    </div>
                                </div>
                            </div>
                            <div class="" style="margin-top:-30px !important">
                                <div class="info-box  hover-expand-effect">
                                    <div class="icon" style="background-color: #f6f6f6">
                                        <i class="material-icons text-cyan"> people</i>
                                    </div>
                                    <div class="content d-flex align-items-center text-cyan">
                                        <div class="text">
                                            <span> Groupes</span>
                                        </div>
                                        <div class="number count-to ml-auto" style="font-size:17px"> {{getEffectif.nb_credit_groupe}}</div>
                    
                                    </div>
                                </div>
                            </div>
                            <div class="" style="margin-top:-30px !important">
                                <div class="info-box  hover-expand-effect">
                                    <div class="icon" style="background-color: #f6f6f6">
                                        <i class="material-icons text-cyan">account_balance</i>
                                    </div>
                                    <div class="content d-flex align-items-center text-cyan">
                                        <div class="text">
                                            <span> Entreprises</span>
                                        </div>
                                        <div class="number count-to ml-auto" style="font-size:17px"> {{getEffectif.nb_credit_entpse}}</div>
                    
                                    </div>
                                </div>
                            </div>
                    
                        </div>
                    
                    
                    
                        <div class="col-sm-12 col-xs-12 col-md-4">
                            <div class="info-box-header  bg-light-green" style="font-size: 18px; font-weight:600">
                                <span class=""> Montant credits {{getEffectif.mont_credit_total | currency:'XAF':true:'2.0'}}</span>
                            </div>
                    
                            <div style="margin-top:-30px !important">
                                <div class="info-box  hover-expand-effect">
                                    <div class="icon " style="background-color: #f6f6f6">
                                        <i class="material-icons text-light-green">perm_identity</i>
                                    </div>
                                    <div class="content d-flex align-items-center text-light-green">
                                        <div class="text">
                                            <span> INDIVIDUS</span>
                                        </div>
                                        <div class="number count-to ml-auto"> {{getEffectif.mont_credit_individu | currency:'XAF':true:'2.0'}}</div>
                                    </div>
                                </div>
                            </div>
                    
                            <div style="margin-top:-30px !important">
                                <div class="info-box hover-expand-effect">
                                    <div class="icon" style="background-color: #f6f6f6">
                                        <i class="material-icons text-light-green">people</i>
                                    </div>
                                    <div class="content d-flex align-items-center text-light-green">
                                        <div class="text">
                                            <span> GROUPES</span>
                                        </div>
                                        <div class="number count-to ml-auto"> {{getEffectif.mont_credit_groupe | currency:'XAF':true:'2.0'}}</div>
                                    </div>
                                </div>
                            </div>
                            <div style="margin-top:-30px !important">
                                <div class="info-box hover-expand-effect">
                                    <div class="icon" style="background-color: #f6f6f6">
                                        <i class="material-icons text-light-green">account_balance</i>
                                    </div>
                                    <div class="content d-flex align-items-center text-light-green">
                                        <div class="text">
                                            <span> ENTREPRISES</span>
                                        </div>
                                        <div class="number count-to ml-auto"> {{getEffectif.mont_credit_entpse | currency:'XAF':true:'2.0'}} </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                        <!--  3c7bab -->
                        <div class="col-sm-12 col-xs-12  col-md-4">
                            <div class="info-box-header  " style="font-size: 18px; font-weight:600; color:white; background-color: #699480 !important">
                                <span class=""> Remboursement de crédit : {{getEffectif.mont_regle_total | currency:'XAF':true:'2.0'}}</span>
                            </div>
                            <div style="margin-top:-30px !important">
                                <div class="info-box  hover-expand-effect">
                                    <div class="icon" style="background-color: #f6f6f6">
                                        <i class="material-icons" style="color:#699480 !important">perm_identity</i>
                                    </div>
                                    <div class="content d-flex align-items-center">
                                        <div class="text">
                                            <span>Individus</span>
                                        </div>
                                        <div class="number count-to ml-auto"> {{getEffectif.mont_regle_individu | currency:'XAF':true:'2.0'}} </div>
                                    </div>
                                </div>
                    
                            </div>
                    
                            <div style="margin-top:-30px !important">
                                <div class="info-box  hover-expand-effect">
                                    <div class="icon text-cyan" style="background-color: #f6f6f6">
                                        <i class="material-icons " style="color:#699480 !important">people</i>
                                    </div>
                                    <div class="content d-flex align-items-center">
                                        <div class="text">
                                            <span>Groupes</span>
                                        </div>
                                        <div class="number count-to ml-auto"> {{getEffectif.mont_regle_groupe | currency:'XAF':true:'2.0'}}</div>
                                    </div>
                                </div>
                    
                            </div>
                    
                            <div style="margin-top:-30px !important">
                                <div class="info-box  hover-expand-effect">
                                    <div class="icon" style="background-color: #f6f6f6">
                                        <i class="material-icons " style="color:#699480 !important">account_balance</i>
                                    </div>
                                    <div class="content d-flex align-items-center">
                                        <div class="text">
                                            <span>Entreprises</span>
                                        </div>
                                        <div class="number count-to ml-auto"> {{getEffectif.mont_regle_entpse | currency:'XAF':true:'2.0'}}</div>
                                    </div>
                                </div>
                    
                            </div>
                        </div>
                    </div>
                    
                    
                    
                    
                    
                    <div class="row clearfix">
                        <div class="col-sm-12 col-xs-12  col-md-4">
                            <div class="info-box-header  bg-cyan" style="font-size: 18px; font-weight:600">
                                <span class="">Nombre de Clients {{getEffectif.nb_total}}</span>
                            </div>
                            <div class="" style="margin-top:-30px !important">
                                <div class="info-box  hover-expand-effect">
                                    <div class="icon" style="background-color: #f6f6f6">
                                        <i class="material-icons text-cyan"> perm_identity</i>
                                    </div>
                                    <div class="content d-flex align-items-center text-cyan">
                                        <div class="text">
                                            <span> Individus </span>
                                        </div>
                                        <div class="number count-to ml-auto"> {{getEffectif.nb_individu}} </div>
                    
                                    </div>
                                </div>
                            </div>
                            <div class="" style="margin-top:-30px !important">
                                <div class="info-box  hover-expand-effect">
                                    <div class="icon" style="background-color: #f6f6f6">
                                        <i class="material-icons text-cyan"> people</i>
                                    </div>
                                    <div class="content d-flex align-items-center text-cyan">
                                        <div class="text">
                                            <span> Groupes</span>
                                        </div>
                                        <div class="number count-to ml-auto" style="font-size:17px"> {{getEffectif.nb_groupe}}</div>
                    
                                    </div>
                                </div>
                            </div>
                            <div class="" style="margin-top:-30px !important">
                                <div class="info-box  hover-expand-effect">
                                    <div class="icon" style="background-color: #f6f6f6">
                                        <i class="material-icons text-cyan">account_balance</i>
                                    </div>
                                    <div class="content d-flex align-items-center text-cyan">
                                        <div class="text">
                                            <span> Entreprises</span>
                                        </div>
                                        <div class="number count-to ml-auto" style="font-size:17px"> {{getEffectif.nb_entpse}}</div>
                    
                                    </div>
                                </div>
                            </div>
                    
                        </div>
                    
                    
                    
                        <div class="col-sm-12 col-xs-12  col-md-4">
                            <div class="info-box-header  bg-light-green" style="font-size: 18px; font-weight:600">
                                <span class=""> Nombre de Demandes {{getEffectif.nb_request_total}}</span>
                            </div>
                    
                            <div style="margin-top:-30px !important">
                                <div class="info-box  hover-expand-effect">
                                    <div class="icon " style="background-color: #f6f6f6">
                                        <i class="material-icons text-light-green">perm_identity</i>
                                    </div>
                                    <div class="content d-flex align-items-center text-light-green">
                                        <div class="text">
                                            <span> INDIVIDUS</span>
                                        </div>
                                        <div class="number count-to ml-auto"> {{getEffectif.nb_request_individu}}</div>
                                    </div>
                                </div>
                            </div>
                    
                            <div style="margin-top:-30px !important">
                                <div class="info-box hover-expand-effect">
                                    <div class="icon" style="background-color: #f6f6f6">
                                        <i class="material-icons text-light-green">people</i>
                                    </div>
                                    <div class="content d-flex align-items-center text-light-green">
                                        <div class="text">
                                            <span> GROUPES</span>
                                        </div>
                                        <div class="number count-to ml-auto"> {{getEffectif.nb_request_groupe}}</div>
                                    </div>
                                </div>
                            </div>
                    
                            <div style="margin-top:-30px !important">
                                <div class="info-box hover-expand-effect">
                                    <div class="icon" style="background-color: #f6f6f6">
                                        <i class="material-icons text-light-green">account_balance</i>
                                    </div>
                                    <div class="content d-flex align-items-center text-light-green">
                                        <div class="text">
                                            <span> ENTREPRISES</span>
                                        </div>
                                        <div class="number count-to ml-auto"> {{getEffectif.nb_request_entpse}} </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                    
                        <div class="col-sm-12 col-xs-12  col-md-4">
                            <div class="info-box-header  " style="font-size: 18px; font-weight:600; color:white; background-color: #699480 !important">
                                <span class=""> Montants demandés : {{getEffectif.mont_request_total | currency:'XAF':true:'2.0'}}</span>
                            </div>
                            <div style="margin-top:-30px !important">
                                <div class="info-box  hover-expand-effect">
                                    <div class="icon" style="background-color: #f6f6f6">
                                        <i class="material-icons" style="color: #699480  !important">perm_identity</i>
                                    </div>
                                    <div class="content d-flex align-items-center">
                                        <div class="text">
                                            <span>Individus</span>
                                        </div>
                                        <div class="number count-to ml-auto"> {{getEffectif.mont_request_individu | currency:'XAF':true:'2.0'}} </div>
                                    </div>
                                </div>
                    
                            </div>
                    
                            <div style="margin-top:-30px !important">
                                <div class="info-box  hover-expand-effect">
                                    <div class="icon text-cyan" style="background-color: #f6f6f6">
                                        <i class="material-icons " style="color: #699480 !important">people</i>
                                    </div>
                                    <div class="content d-flex align-items-center">
                                        <div class="text">
                                            <span>Groupes</span>
                                        </div>
                                        <div class="number count-to ml-auto"> {{getEffectif.mont_request_groupe | currency:'XAF':true:'2.0'}}</div>
                                    </div>
                                </div>
                    
                            </div>
                            <div style="margin-top:-30px !important">
                                <div class="info-box  hover-expand-effect">
                                    <div class="icon" style="background-color: #f6f6f6">
                                        <i class="material-icons " style="color: #699480 !important">account_balance</i>
                                    </div>
                                    <div class="content d-flex align-items-center">
                                        <div class="text">
                                            <span>Entreprises</span>
                                        </div>
                                        <div class="number count-to ml-auto"> {{getEffectif.mont_request_entpse | currency:'XAF':true:'2.0'}}</div>
                                    </div>
                                </div>
                    
                            </div>
                        </div>
                    </div>
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    <div class="row clearfix">
                        <div class="col-sm-12 col-xs-12  col-md-4">
                            <div class="info-box-header  bg-cyan" style="font-size: 18px; font-weight:600">
                                <span class="">Taux Remboursement {{getEffectif.taux_remb_total|number:'1.0-3':'fr'}}%</span>
                            </div>
                            <div class="" style="margin-top:-30px !important">
                                <div class="info-box  hover-expand-effect">
                                    <div class="icon" style="background-color: #f6f6f6">
                                        <i class="material-icons text-cyan"> perm_identity</i>
                                    </div>
                                    <div class="content d-flex align-items-center text-cyan">
                                        <div class="text">
                                            <span> Individus </span>
                                        </div>
                                        <div class="number count-to ml-auto">{{getEffectif.taux_remb_individu|number:'1.0-3':'fr'}}% </div>
                    
                                    </div>
                                </div>
                            </div>
                            <div class="" style="margin-top:-30px !important">
                                <div class="info-box  hover-expand-effect">
                                    <div class="icon" style="background-color: #f6f6f6">
                                        <i class="material-icons text-cyan"> people</i>
                                    </div>
                                    <div class="content d-flex align-items-center text-cyan">
                                        <div class="text">
                                            <span> Groupes</span>
                                        </div>
                                        <div class="number count-to ml-auto" style="font-size:17px"> {{getEffectif.taux_remb_groupe|number:'1.0-3':'fr'}}%</div>
                    
                                    </div>
                                </div>
                            </div>
                            <div class="" style="margin-top:-30px !important">
                                <div class="info-box  hover-expand-effect">
                                    <div class="icon" style="background-color: #f6f6f6">
                                        <i class="material-icons text-cyan">account_balance</i>
                                    </div>
                                    <div class="content d-flex align-items-center text-cyan">
                                        <div class="text">
                                            <span> Entreprises</span>
                                        </div>
                                        <div class="number count-to ml-auto" style="font-size:17px"> {{getEffectif.taux_remb_entpse|number:'1.0-3':'fr'}}%</div>
                    
                                    </div>
                                </div>
                            </div>
                    
                        </div>
                    
                    
                    
                        <div class="col-sm-12 col-xs-12  col-md-4">
                            <div class="info-box-header  bg-light-green" style="font-size: 18px; font-weight:600">
                                <span class=""> Nombre Agents </span>
                            </div>
                    
                            <div style="margin-top:-30px !important;">
                                <div class="info-box  hover-expand-effect" style=" height: 170px;background-color: #f6f6f6">
                    
                                    <div class="content text-center text-light-green" style="margin: auto;">
                                        <!-- <div class="text">
                                                        <span> INDIVIDUS</span>
                                                    </div> -->
                                        <span class="number count-to" style="font-size:40px">{{getEffectif.nb_marchand}}</span>
                                        <span *ngIf="getEffectif.nb_marchand>1">Agents</span>
                                        <span *ngIf="getEffectif.nb_marchand<=1">Agent</span>
                                    </div>
                                </div>
                            </div>
                    
                    
                    
                        </div>
                    
                    
                    
                    </div>

        </div>





    </div>
</div>