<div>
    <div class="animated fadeIn dashboard" id="print">
        <div class="ui active centered inline loader" *ngIf="!load" style="margin-top: 15%">
            {{principal.loading}}
        </div>
        <div class="animated fadeIn dashboard container" *ngIf="isSFDLevel && load">
            <!-- <div class="row pt-20"></div> -->
            <div *ngFor="let agence of shortAgenceState; let i=index">
                <h2><a [routerLink]="['agence',agence.reference,agence.name]" style="color: unset;">{{agence.name}}</a></h2>
                <div class="row clearfix">
                    <div class="col-sm-12 col-xs-12 col-md-6">
                        <div class="info-box-header" [ngStyle]="{'background-color':tab[i],'color': '#f6f6f6', 'font-size': '18px','font-weight':'600', 'text-align': 'center','cursor':'pointer'}">
                            <span>{{agence.beneficiaires}} bénéficiaire{{agence.beneficiaires > 1 ? 's' : ''}}</span>
                        </div>
                        <div style="margin-top:-30px !important; display: flex;">
                            <div style="flex-grow: 1;">
                                <div class="info-box  hover-expand-effect" style="margin-bottom: unset;">
                                    <div class="icon " style="background-color: #f6f6f6">
                                        <i class="material-icons" [ngStyle]="{'color': tab[i]}">perm_identity</i>
                                    </div>
                                    <div class="content " [ngStyle]="{'color': tab[i]}">
                                        <div class="text">
                                            <span>Groupes de 3</span>
                                        </div>
                                        <div class="number count-to"> {{agence.groupe3}}</div>
                                    </div>
                                </div>
                                <div class="info-box  hover-expand-effect" style="margin-bottom: unset;">
                                    <div class="icon " style="background-color: #f6f6f6">
                                        <i class="material-icons" [ngStyle]="{'color': tab[i]}">perm_identity</i>
                                    </div>
                                    <div class="content " [ngStyle]="{'color': tab[i]}">
                                        <div class="text">
                                            <span>Groupes de 5</span>
                                        </div>
                                        <div class="number count-to"> {{agence.groupe5}}</div>
                                    </div>
                                </div>
                            </div>
                            <div style="flex-grow: 1;">
                                <div class="info-box  hover-expand-effect" style="margin-bottom: unset;">
                                    <div class="icon " style="background-color: #f6f6f6">
                                        <i class="material-icons" [ngStyle]="{'color': tab[i]}">person_outline</i>
                                    </div>
                                    <div class="content " [ngStyle]="{'color': tab[i]}">
                                        <div class="text">
                                            <span>Femmes</span>
                                        </div>
                                        <div class="number count-to">{{agence.feminin}}</div>
                                    </div>
                                </div>
                                <div class="info-box  hover-expand-effect" style="margin-bottom: unset;">
                                    <div class="icon " style="background-color: #f6f6f6">
                                        <i class="material-icons" [ngStyle]="{'color': tab[i]}">person</i>
                                    </div>
                                    <div class="content " [ngStyle]="{'color': tab[i]}">
                                        <div class="text">
                                            <span>Hommes</span>
                                        </div>
                                        <div class="number count-to">{{agence.masculin}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div style="margin-top:-30px !important">
                            <div class="info-box hover-expand-effect">
                                <div class="icon" style="background-color: #f6f6f6">
                                    <i class="material-icons" [ngStyle]="{'color': tab[i]}">people</i>
                                </div>
                                <div class="content" [ngStyle]="{'color': tab[i]}">
                                    <div class="text">
                                        <span> Demande en cours</span>
                                    </div>
                                    <div class="number count-to"> {{agence.demandeEnCours}}</div>
                                </div>
                            </div>
                        </div>
                        <div style="margin-top:-30px !important">
                            <div class="info-box hover-expand-effect">
                                <div class="icon" style="background-color: #f6f6f6">
                                    <i class="material-icons" [ngStyle]="{'color': tab[i]}">account_balance</i>
                                </div>
                                <div class="content " [ngStyle]="{'color': tab[i]}">
                                    <div class="text">
                                        <span> Encours de crédits</span>
                                    </div>
                                    <div class="number count-to"> {{agence.encoursCredit | currency:'XAF':true:'2.0'}} </div>
                                </div>
                            </div>
                        </div>
                        <div style="margin-top:-30px !important">
                            <div class="info-box hover-expand-effect">
                                <div class="icon" style="background-color: #f6f6f6">
                                    <i class="material-icons" [ngStyle]="{'color': tab[i]}">account_balance</i>
                                </div>
                                <div class="content " [ngStyle]="{'color': tab[i]}">
                                    <div class="text">
                                        <span> Encours de crédits</span>
                                    </div>
                                    <div class="number count-to"> {{agence.encoursCredit | currency:'XAF':true:'2.0'}} </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                    <div class="col-sm-12 col-xs-12 col-md-6">
                        <div class="info-box-header" [ngStyle]="{'background-color':tab[i],'color': '#f6f6f6', 'font-size': '18px','font-weight':'600', 'text-align': 'center','cursor':'pointer'}">
                            <span>{{agence.demande_en_cours}} demande{{agence.demande_en_cours > 1 ? 's' : ''}}</span>
                        </div>
                        <div style="margin-top:-30px !important; display: flex;">
                            <div style="flex-grow: 1;">
                                <div class="info-box  hover-expand-effect" style="margin-bottom: unset;">
                                    <div class="icon " style="background-color: #f6f6f6">
                                        <i class="material-icons" [ngStyle]="{'color': tab[i]}">attach_money</i>
                                    </div>
                                    <div class="content " [ngStyle]="{'color': tab[i]}">
                                        <div class="text">
                                            <span>Montant accordé</span>
                                        </div>
                                        <div class="number count-to">{{agence.accorde | currency:'XAF':true:'2.0'}}</div>
                                    </div>
                                </div>
                                <div class="info-box  hover-expand-effect" style="margin-bottom: unset;">
                                    <div class="icon " style="background-color: #f6f6f6">
                                        <i class="material-icons" [ngStyle]="{'color': tab[i]}">attach_money</i>
                                    </div>
                                    <div class="content " [ngStyle]="{'color': tab[i]}">
                                        <div class="text">
                                            <span>Montant retiré</span>
                                        </div>
                                        <div class="number count-to">{{agence.retirer | currency:'XAF':true:'2.0'}}</div>
                                    </div>
                                </div>
                            </div>
                            <div style="flex-grow: 1;">
                                <div class="info-box  hover-expand-effect" style="margin-bottom: unset;">
                                    <div class="icon " style="background-color: #f6f6f6">
                                        <i class="material-icons" [ngStyle]="{'color': tab[i]}">attach_money</i>
                                    </div>
                                    <div class="content " [ngStyle]="{'color': tab[i]}">
                                        <div class="text">
                                            <span>Montant réglé</span>
                                        </div>
                                        <div class="number count-to"> {{agence.regler | currency:'XAF':true:'2.0'}}</div>
                                    </div>
                                </div>
                                <div class="info-box  hover-expand-effect" style="margin-bottom: unset;">
                                    <div class="icon " style="background-color: #f6f6f6">
                                        <i class="material-icons" [ngStyle]="{'color': tab[i]}">attach_money</i>
                                    </div>
                                    <div class="content " [ngStyle]="{'color': tab[i]}">
                                        <div class="text">
                                            <span>Encours de crédit</span>
                                        </div>
                                        <div class="number count-to">{{agence.encours_credit | currency:'XAF':true:'2.0'}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div style="margin-top:-30px !important">
                            <div class="info-box hover-expand-effect">
                                <div class="icon" style="background-color: #f6f6f6">
                                    <i class="material-icons" [ngStyle]="{'color': tab[i]}">people</i>
                                </div>
                                <div class="content" [ngStyle]="{'color': tab[i]}">
                                    <div class="text">
                                        <span> Demande en cours</span>
                                    </div>
                                    <div class="number count-to"> {{agence.demandeEnCours}}</div>
                                </div>
                            </div>
                        </div>
                        <div style="margin-top:-30px !important">
                            <div class="info-box hover-expand-effect">
                                <div class="icon" style="background-color: #f6f6f6">
                                    <i class="material-icons" [ngStyle]="{'color': tab[i]}">account_balance</i>
                                </div>
                                <div class="content " [ngStyle]="{'color': tab[i]}">
                                    <div class="text">
                                        <span> Encours de crédits</span>
                                    </div>
                                    <div class="number count-to"> {{agence.encoursCredit | currency:'XAF':true:'2.0'}} </div>
                                </div>
                            </div>
                        </div>
                        <div style="margin-top:-30px !important">
                            <div class="info-box hover-expand-effect">
                                <div class="icon" style="background-color: #f6f6f6">
                                    <i class="material-icons" [ngStyle]="{'color': tab[i]}">account_balance</i>
                                </div>
                                <div class="content " [ngStyle]="{'color': tab[i]}">
                                    <div class="text">
                                        <span> Encours de crédits</span>
                                    </div>
                                    <div class="number count-to"> {{agence.encoursCredit | currency:'XAF':true:'2.0'}} </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                    <!-- <div class="col-sm-12 col-xs-12 col-md-6">

                        <div class="info-box-header" [ngStyle]="{'background-color':tab[i],'color': '#f6f6f6', 'font-size': '18px','font-weight':'600', 'text-align': 'center','cursor':'pointer'}">
                            <span>Agence {{agence.name}} </span>
                        </div>

                        <div style="margin-top:-30px !important">
                            <div class="info-box  hover-expand-effect">
                                <div class="icon " style="background-color: #f6f6f6">
                                    <i class="material-icons" [ngStyle]="{'color': tab[i]}">perm_identity</i>
                                </div>
                                <div class="content " [ngStyle]="{'color': tab[i]}">
                                    <div class="text">
                                        <span> Bénéficiaires</span>
                                    </div>
                                    <div class="number count-to"> {{agence.beneficiaires}}</div>
                                </div>
                            </div>
                        </div>
                        <div style="margin-top:-30px !important">
                            <div class="info-box  hover-expand-effect">
                                <div class="icon " style="background-color: #f6f6f6">
                                    <i class="material-icons" [ngStyle]="{'color': tab[i]}">perm_identity</i>
                                </div>
                                <div class="content " [ngStyle]="{'color': tab[i]}">
                                    <div class="text">
                                        <span> Bénéficiaires</span>
                                    </div>
                                    <div class="number count-to"> {{agence.beneficiaires}}</div>
                                </div>
                            </div>
                        </div>
                        <div style="margin-top:-30px !important">
                            <div class="info-box hover-expand-effect">
                                <div class="icon" style="background-color: #f6f6f6">
                                    <i class="material-icons" [ngStyle]="{'color': tab[i]}">people</i>
                                </div>
                                <div class="content" [ngStyle]="{'color': tab[i]}">
                                    <div class="text">
                                        <span> Demande en cours</span>
                                    </div>
                                    <div class="number count-to"> {{agence.demandeEnCours}}</div>
                                </div>
                            </div>
                        </div>
                        <div style="margin-top:-30px !important">
                            <div class="info-box hover-expand-effect">
                                <div class="icon" style="background-color: #f6f6f6">
                                    <i class="material-icons" [ngStyle]="{'color': tab[i]}">account_balance</i>
                                </div>
                                <div class="content " [ngStyle]="{'color': tab[i]}">
                                    <div class="text">
                                        <span> Encours de crédits</span>
                                    </div>
                                    <div class="number count-to"> {{agence.encoursCredit | currency:'XAF':true:'2.0'}} </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <!-- <div class="col-sm-12 col-xs-12 col-md-4">

                        <div class="info-box-header" [ngStyle]="{'background-color':tab[i],'color': '#f6f6f6', 'font-size': '18px','font-weight':'600', 'text-align': 'center','cursor':'pointer'}">
                            <span>Nombre d' agents</span>
                        </div>

                        <div style="margin-top:-30px !important;">
                            <div class="info-box  hover-expand-effect" style=" height: 224px;background-color: #f6f6f6">

                                <div class="content text-light-green" style="margin: auto;">
                                    <span class="number count-to" style="font-size:40px">{{getEffectif.nb_marchand}}</span>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>


        <div class="animated fadeIn dashboard" *ngIf="isUserLevel && load">
            <div class="row pt-20"></div>
            <div class="row clearfix">
                <div class="col-sm-12 col-xs-12 col-md-4">
                    <div class="info-box-header  bg-cyan" style="font-size: 18px; font-weight:600">
                        <span>Nombre de Credits {{getEffectif.nb_credit_total}}</span>
                    </div>
                    <div style="margin-top:-30px !important">
                        <div class="info-box  hover-expand-effect">
                            <div class="icon" style="background-color: #f6f6f6">
                                <i class="material-icons text-cyan"> perm_identity</i>
                            </div>
                            <div class="content text-cyan">
                                <div class="text">
                                    <span> Individus </span>
                                </div>
                                <div class="number count-to"> {{getEffectif.nb_credit_individu}} </div>

                            </div>
                        </div>
                    </div>
                    <div style="margin-top:-30px !important">
                        <div class="info-box  hover-expand-effect">
                            <div class="icon" style="background-color: #f6f6f6">
                                <i class="material-icons text-cyan"> people</i>
                            </div>
                            <div class="content text-cyan">
                                <div class="text">
                                    <span> Groupes</span>
                                </div>
                                <div class="number count-to" style="font-size:17px"> {{getEffectif.nb_credit_groupe}}</div>

                            </div>
                        </div>
                    </div>
                    <div style="margin-top:-30px !important">
                        <div class="info-box  hover-expand-effect">
                            <div class="icon" style="background-color: #f6f6f6">
                                <i class="material-icons text-cyan">account_balance</i>
                            </div>
                            <div class="content text-cyan">
                                <div class="text">
                                    <span> Entreprises</span>
                                </div>
                                <div class="number count-to" style="font-size:17px"> {{getEffectif.nb_credit_entpse}}</div>

                            </div>
                        </div>
                    </div>

                </div>


                <div class="col-sm-12 col-xs-12 col-md-4">
                    <div class="info-box-header  bg-light-green" style="font-size: 18px; font-weight:600">
                        <span> Montant credits {{getEffectif.mont_credit_total | currency:'XAF':true:'2.0'}}</span>
                    </div>

                    <div style="margin-top:-30px !important">
                        <div class="info-box  hover-expand-effect">
                            <div class="icon " style="background-color: #f6f6f6">
                                <i class="material-icons text-light-green">perm_identity</i>
                            </div>
                            <div class="content text-light-green">
                                <div class="text">
                                    <span> INDIVIDUS</span>
                                </div>
                                <div class="number count-to"> {{getEffectif.mont_credit_individu | currency:'XAF':true:'2.0'}}</div>
                            </div>
                        </div>
                    </div>

                    <div style="margin-top:-30px !important">
                        <div class="info-box hover-expand-effect">
                            <div class="icon" style="background-color: #f6f6f6">
                                <i class="material-icons text-light-green">people</i>
                            </div>
                            <div class="content text-light-green">
                                <div class="text">
                                    <span> GROUPES</span>
                                </div>
                                <div class="number count-to"> {{getEffectif.mont_credit_groupe | currency:'XAF':true:'2.0'}}</div>
                            </div>
                        </div>
                    </div>
                    <div style="margin-top:-30px !important">
                        <div class="info-box hover-expand-effect">
                            <div class="icon" style="background-color: #f6f6f6">
                                <i class="material-icons text-light-green">account_balance</i>
                            </div>
                            <div class="content text-light-green">
                                <div class="text">
                                    <span> ENTREPRISES</span>
                                </div>
                                <div class="number count-to"> {{getEffectif.mont_credit_entpse | currency:'XAF':true:'2.0'}} </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--  3c7bab -->
                <div class="col-sm-12 col-xs-12  col-md-4">
                    <div class="info-box-header  " style="font-size: 18px; font-weight:600; color:white; background-color: #699480 !important">
                        <span> Montants reglés : {{getEffectif.mont_regle_total | currency:'XAF':true:'2.0'}}</span>
                    </div>
                    <div style="margin-top:-30px !important">
                        <div class="info-box  hover-expand-effect">
                            <div class="icon" style="background-color: #f6f6f6">
                                <i class="material-icons" style="color:#699480 !important">perm_identity</i>
                            </div>
                            <div class="content">
                                <div class="text">
                                    <span>Individus</span>
                                </div>
                                <div class="number count-to"> {{getEffectif.mont_regle_individu | currency:'XAF':true:'2.0'}} </div>
                            </div>
                        </div>

                    </div>

                    <div style="margin-top:-30px !important">
                        <div class="info-box  hover-expand-effect">
                            <div class="icon text-cyan" style="background-color: #f6f6f6">
                                <i class="material-icons " style="color:#699480 !important">people</i>
                            </div>
                            <div class="content">
                                <div class="text">
                                    <span>Groupes</span>
                                </div>
                                <div class="number count-to"> {{getEffectif.mont_regle_groupe | currency:'XAF':true:'2.0'}}</div>
                            </div>
                        </div>

                    </div>

                    <div style="margin-top:-30px !important">
                        <div class="info-box  hover-expand-effect">
                            <div class="icon" style="background-color: #f6f6f6">
                                <i class="material-icons " style="color:#699480 !important">account_balance</i>
                            </div>
                            <div class="content">
                                <div class="text">
                                    <span>Entreprises</span>
                                </div>
                                <div class="number count-to"> {{getEffectif.mont_regle_entpse | currency:'XAF':true:'2.0'}}</div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>





            <div class="row clearfix">
                <div class="col-sm-12 col-xs-12  col-md-4">
                    <div class="info-box-header  bg-cyan" style="font-size: 18px; font-weight:600">
                        <span>Nombre de Clients {{getEffectif.nb_total}}</span>
                    </div>
                    <div style="margin-top:-30px !important">
                        <div class="info-box  hover-expand-effect">
                            <div class="icon" style="background-color: #f6f6f6">
                                <i class="material-icons text-cyan"> perm_identity</i>
                            </div>
                            <div class="content text-cyan">
                                <div class="text">
                                    <span> Individus </span>
                                </div>
                                <div class="number count-to"> {{getEffectif.nb_individu}} </div>

                            </div>
                        </div>
                    </div>
                    <div style="margin-top:-30px !important">
                        <div class="info-box  hover-expand-effect">
                            <div class="icon" style="background-color: #f6f6f6">
                                <i class="material-icons text-cyan"> people</i>
                            </div>
                            <div class="content text-cyan">
                                <div class="text">
                                    <span> Groupes</span>
                                </div>
                                <div class="number count-to" style="font-size:17px"> {{getEffectif.nb_groupe}}</div>

                            </div>
                        </div>
                    </div>
                    <div style="margin-top:-30px !important">
                        <div class="info-box  hover-expand-effect">
                            <div class="icon" style="background-color: #f6f6f6">
                                <i class="material-icons text-cyan">account_balance</i>
                            </div>
                            <div class="content text-cyan">
                                <div class="text">
                                    <span> Entreprises</span>
                                </div>
                                <div class="number count-to" style="font-size:17px"> {{getEffectif.nb_entpse}}</div>

                            </div>
                        </div>
                    </div>

                </div>



                <div class="col-sm-12 col-xs-12  col-md-4">
                    <div class="info-box-header  bg-light-green" style="font-size: 18px; font-weight:600">
                        <span> Nombre de Demandes {{getEffectif.nb_request_total}}</span>
                    </div>

                    <div style="margin-top:-30px !important">
                        <div class="info-box  hover-expand-effect">
                            <div class="icon " style="background-color: #f6f6f6">
                                <i class="material-icons text-light-green">perm_identity</i>
                            </div>
                            <div class="content text-light-green">
                                <div class="text">
                                    <span> INDIVIDUS</span>
                                </div>
                                <div class="number count-to"> {{getEffectif.nb_request_individu}}</div>
                            </div>
                        </div>
                    </div>

                    <div style="margin-top:-30px !important">
                        <div class="info-box hover-expand-effect">
                            <div class="icon" style="background-color: #f6f6f6">
                                <i class="material-icons text-light-green">people</i>
                            </div>
                            <div class="content text-light-green">
                                <div class="text">
                                    <span> GROUPES</span>
                                </div>
                                <div class="number count-to"> {{getEffectif.nb_request_groupe}}</div>
                            </div>
                        </div>
                    </div>

                    <div style="margin-top:-30px !important">
                        <div class="info-box hover-expand-effect">
                            <div class="icon" style="background-color: #f6f6f6">
                                <i class="material-icons text-light-green">account_balance</i>
                            </div>
                            <div class="content text-light-green">
                                <div class="text">
                                    <span> ENTREPRISES</span>
                                </div>
                                <div class="number count-to"> {{getEffectif.nb_request_entpse}} </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-sm-12 col-xs-12  col-md-4">
                    <div class="info-box-header  " style="font-size: 18px; font-weight:600; color:white; background-color: #699480 !important">
                        <span> Montants demandés : {{getEffectif.mont_request_total | currency:'XAF':true:'2.0'}}</span>
                    </div>
                    <div style="margin-top:-30px !important">
                        <div class="info-box  hover-expand-effect">
                            <div class="icon" style="background-color: #f6f6f6">
                                <i class="material-icons" style="color: #699480  !important">perm_identity</i>
                            </div>
                            <div class="content">
                                <div class="text">
                                    <span>Individus</span>
                                </div>
                                <div class="number count-to"> {{getEffectif.mont_request_individu | currency:'XAF':true:'2.0'}} </div>
                            </div>
                        </div>

                    </div>

                    <div style="margin-top:-30px !important">
                        <div class="info-box  hover-expand-effect">
                            <div class="icon text-cyan" style="background-color: #f6f6f6">
                                <i class="material-icons " style="color: #699480 !important">people</i>
                            </div>
                            <div class="content">
                                <div class="text">
                                    <span>Groupes</span>
                                </div>
                                <div class="number count-to"> {{getEffectif.mont_request_groupe | currency:'XAF':true:'2.0'}}</div>
                            </div>
                        </div>

                    </div>
                    <div style="margin-top:-30px !important">
                        <div class="info-box  hover-expand-effect">
                            <div class="icon" style="background-color: #f6f6f6">
                                <i class="material-icons " style="color: #699480 !important">account_balance</i>
                            </div>
                            <div class="content">
                                <div class="text">
                                    <span>Entreprises</span>
                                </div>
                                <div class="number count-to"> {{getEffectif.mont_request_entpse | currency:'XAF':true:'2.0'}}</div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>







            <div class="row clearfix">
                <div class="col-sm-12 col-xs-12  col-md-4">
                    <div class="info-box-header  bg-cyan" style="font-size: 18px; font-weight:600">
                        <span>Taux Remboursement {{getEffectif.taux_remb_total}}</span>
                    </div>
                    <div style="margin-top:-30px !important">
                        <div class="info-box  hover-expand-effect">
                            <div class="icon" style="background-color: #f6f6f6">
                                <i class="material-icons text-cyan"> perm_identity</i>
                            </div>
                            <div class="content text-cyan">
                                <div class="text">
                                    <span> Individus </span>
                                </div>
                                <div class="number count-to">{{getEffectif.taux_remb_individu}} </div>

                            </div>
                        </div>
                    </div>
                    <div style="margin-top:-30px !important">
                        <div class="info-box  hover-expand-effect">
                            <div class="icon" style="background-color: #f6f6f6">
                                <i class="material-icons text-cyan"> people</i>
                            </div>
                            <div class="content text-cyan">
                                <div class="text">
                                    <span> Groupes</span>
                                </div>
                                <div class="number count-to" style="font-size:17px"> {{getEffectif.taux_remb_groupe}}</div>

                            </div>
                        </div>
                    </div>
                    <div style="margin-top:-30px !important">
                        <div class="info-box  hover-expand-effect">
                            <div class="icon" style="background-color: #f6f6f6">
                                <i class="material-icons text-cyan">account_balance</i>
                            </div>
                            <div class="content text-cyan">
                                <div class="text">
                                    <span> Entreprises</span>
                                </div>
                                <div class="number count-to" style="font-size:17px"> {{getEffectif.taux_remb_entpse}}</div>

                            </div>
                        </div>
                    </div>

                </div>



                <div class="col-sm-12 col-xs-12  col-md-4">
                    <div class="info-box-header  bg-light-green" style="font-size: 18px; font-weight:600">
                        <span> Nombre Agents </span>
                    </div>

                    <div style="margin-top:-30px !important;">
                        <div class="info-box  hover-expand-effect" style=" height: 170px;background-color: #f6f6f6">

                            <div class="content text-light-green" style="margin: auto;">
                                <!-- <div class="text">
                                                    <span> INDIVIDUS</span>
                                                </div> -->
                                <span class="number count-to" style="font-size:40px">{{getEffectif.nb_marchand}}</span>
                                <span *ngIf="getEffectif.nb_marchand>1">Agents</span>
                                <span *ngIf="getEffectif.nb_marchand<=1">Agent</span>
                            </div>
                        </div>
                    </div>



                </div>



            </div>
        </div>


        <div class="animated fadeIn dashboard" *ngIf="isAgenceLevel && load">
            <jhi-agences-statistiques [param]="agenceReference"></jhi-agences-statistiques>
        </div>
    </div>
</div>
