/* ==========================================================================
Main page styles
========================================================================== */

.teal2 {
    background: #5f7d8b !important
}

.animated {
    z-index: 1000;
    width: 100%;
    height: 100%;
}

.montant {
    font-size: 1.3em;
    display: block;
    font-weight: 450;
    font-style: italic;
}

.taux {
    border-radius: 30px;
    background: #ddd;
    padding: 9px 6px;
    margin: 4px auto;
    font-size: 1.4em;
}

.card-panel {
    .progress-bar {
        width: 94%;
        margin-left: 5%;
        height: 2px;
        background: #eceeef;
        .progress {
            height: 100%;
            background: #26b4f4;
        }
    }
    .white-text {
        padding-left: 8px;
        width: 83%;
        display: inline-block;
        font-size: 1.5em;
        font-weight: 300;
        font-family: cursive;
    }
    .icon {
        display: inline-block;
        width: 5%;
        vertical-align: top;
        i {
            color: white;
            font-size: 2.5em;
        }
    }
    .stats {
        border-radius: 15px;
        /* background: #ddd; */
        display: inline-block;
        width: 9%;
        vertical-align: top;
        font-size: 2em;
        padding: 4px 9px;
        margin-right: 2px;
        font-weight: 600;
        color: white;
    }
}

.card-block.pb-0 button {
    box-shadow: none;
}

.global {
    margin-top: 10px;
}

.card-title {
    font-style: italic;
    font-weight: 350;
    font-size: 1.5em;
    margin: 0px 8px;
    word-break: break-word;
}

.card-action {
    text-align: right !important;
    a {
        color: black !important;
        padding: 5px 6px;
    }
    a:hover {
        background: #ddd;
        border-radius: 3px;
    }
}

.comite {
    /* background:#afc8d4 !important; */
}

.situationTitle {
    font-size: 2em;
    font-weight: 300;
    text-align: center;
    margin: 20px auto;
    text-decoration: underline;
}

.hipster {
    display: inline-block;
    width: 347px;
    height: 497px;
    // background: url("../../content/images/hipster.png") no-repeat center top;
    background-size: contain;
}


/* option:hover {
  background-color: rgb(96, 125, 139) !important;
}  */


/* wait autoprefixer update to allow simple generation of high pixel density media query */

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
    .hipster {
        // background: url("../../content/images/hipster2x.png") no-repeat center top;
        background-size: contain;
    }
}

.contenu {
    padding: 30px 1px 90px 1px;
}

.demo-cards {
    align-items: flex-start;
    align-content: flex-start;
}

.demo-charts {
    min-height: 150px;
}

.demo-cards .demo-separator {
    height: 32px;
}

.demo-cards .mdl-card__title.mdl-card__title {
    color: white;
    font-size: 24px;
    font-weight: 400;
}

.demo-cards ul {
    padding: 0;
}

.demo-cards h3 {
    font-size: 1em;
}

.demo-updates .mdl-card__title {
    min-height: 200px;
    /*  background-image: url('../../content/images/unsplash/5.jpg'); */
    background-position: 90% 100%;
    background-repeat: no-repeat;
}

.container {
    width: 100%;
}

.demo-cards .mdl-card__actions a {
    color: #00bcd4;
    text-decoration: none;
}

.demo-options h3 {
    margin: 0;
}

.demo-options .mdl-checkbox__box-outline {
    border-color: rgba(255, 255, 255, 0.89);
}

.demo-options ul {
    margin: 0;
    list-style-type: none;
}

.demo-options li {
    margin: 4px 0;
}

.demo-options .material-icons {
    color: rgba(255, 255, 255, 0.89);
}

.demo-options .mdl-card__actions {
    height: 64px;
    display: flex;
    box-sizing: border-box;
    align-items: center;
}

.wlcmBox {
    text-align: center;
}

.wlcmTxt {
    margin: 30px auto;
    width: 70%;
}

.wlcmLog {
    margin: auto;
}

.wlcmLog a {
    margin: 0 20px;
}

.info-box {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    height: 56px;
    display: flex;
    cursor: default;
    background-color: #fff;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
}

.info-box-header {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    height: 56px;
    display: flex;
    cursor: default;
    background-color: #fff;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
}

.info-box-header span {
    margin: auto;
    font-size: 15px;
    font-weight: bold;
}

.text-center {
    text-align: center !important;
}

.info-box .icon {
    display: inline-block;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.12);
    width: 62px;
}

.info-box .icon i {
    color: #fff;
    /*  font-size: 50px; */
    line-height: 58px;
}

.info-box .icon .chart.chart-bar {
    height: 100%;
    line-height: 100px;
}

.info-box .icon .chart.chart-bar canvas {
    vertical-align: baseline !important;
}

.info-box .icon .chart.chart-pie {
    height: 100%;
    line-height: 123px;
}

.info-box .icon .chart.chart-pie canvas {
    vertical-align: baseline !important;
}

.info-box .icon .chart.chart-line {
    height: 100%;
    line-height: 115px;
}

.info-box .icon .chart.chart-line canvas {
    vertical-align: baseline !important;
}

.info-box .content {
    display: inline-block;
    padding: 0px 10px;
    margin-top: -8px;
}

.in-line div {
    padding-top: 5px;
    font-weight: 300;
    display: inline-block;
    min-width: 45%;
    font-size: 1.1em;
}

.info-box .content .text {
    /*  font-size: 14px; */
    text-transform: lowercase;
    margin-top: 11px;
    color: #555;
}

.info-box .content .number {
    font-size: 14px;
    font-weight: 500;
    /*  margin-top: 0px; */
    color: #555;
}

.info-box.hover-zoom-effect .icon {
    overflow: hidden;
}

.info-box.hover-zoom-effect .icon i {
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.info-box.hover-zoom-effect:hover .icon i {
    opacity: 0.4;
    -moz-transform: rotate(-32deg) scale(1.4);
    -ms-transform: rotate(-32deg) scale(1.4);
    -o-transform: rotate(-32deg) scale(1.4);
    -webkit-transform: rotate(-32deg) scale(1.4);
    transform: rotate(-32deg) scale(1.4);
}

.info-box.hover-expand-effect:after {
    background-color: rgba(0, 0, 0, 0.05);
    content: '.';
    position: absolute;
    left: 80px;
    top: 0;
    width: 0;
    height: 100%;
    color: transparent;
    -moz-transition: all 0.95s;
    -o-transition: all 0.95s;
    -webkit-transition: all 0.95s;
    transition: all 0.95s;
}

.info-box.hover-expand-effect:hover:after {
    width: 100%;
}

.home_widget {
    margin-bottom: 30px;
}

.home_widget .card {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.eight.wide.column:nth-child(odd) {
    .card {
        font-size: 1.2em;
        &>.text-center {
            padding: 8px;
            background: #5e7d8b;
            color: white;
            font-weight: bold !important;
            span.card-title {
                font-weight: bold !important;
            }
        }
    }
}

.eight.wide.column:nth-child(even) {
    .card {
        font-size: 1.2em;
        &>.text-center {
            padding: 8px;
            background: teal;
            color: white;
            font-weight: bold !important;
            span.card-title {
                font-weight: bold !important;
            }
        }
    }
}

.card {
    margin: 5px;
    &:hover {
        background: #f5f5f5;
    }
}

.home_widget .card-header {
    background: none;
    padding: 20px;
    position: relative;
    border-bottom: 1px solid rgba(204, 204, 204, 0.35);
    font-size: 16px;
}

.spinkit {
    width: 40px;
    height: 40px;
    position: relative;
    margin-right: 5px;
    margin-top: 5px;
    display: inline;
}

.dot1,
.dot2 {
    border-radius: 50%;
    background-color: #faf2f2;
    opacity: 0.6;
    display: inline;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
    0%,
    100% {
        -webkit-transform: scale(0.0)
    }
    50% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bounce {
    0%,
    100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}