<div>
    <h3>
        <span>Les commissions du guichetier {{params.guichetier}}</span>
        <!-- <button class="btn btn-primary float-right create-operation-type" [routerLink]="['/entity', 'operations', {outlets:{ popup: ['depot-retrait-local']}}]" *jhiHasAnyRessources="Les comm['carmesfnmservice/api/operation/depot-local/depotLocal', 'carmesfnmservice/api/operation/retrait-local/retraitLocal']">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiFnmTranslate="sfdApp.operationType.home.createLabel">Depots & Retraits</span>
        </button> -->
    </h3>
    <jhi-alert></jhi-alert>
    <!-- <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'sfdApp.operationType.home.search' | fnmtranslate : langue.lang | async }}">
                    <button class="btn-floating waves-effect waves-light" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="btn-floating waves-effect waves-light" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div> -->
    <br>
    <!-- <div class="row">
        <div class="col-sm-6">
            <h2>Operations</h2>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="form-control-label" for="start">De</label>
                        <ngbd-datepicker-i18n [ngModel]="date.start" name="start" (ngModelChange)="date.start = $event; onDateChange()"></ngbd-datepicker-i18n>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="form-control-label" for="end">A</label>
                        <ngbd-datepicker-i18n [ngModel]="date.end" name="end" (ngModelChange)="date.end = $event; onDateChange()"></ngbd-datepicker-i18n>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <br/>
    <ng-template #elseBlock>
        <div class="ui active centered inline loader">
            {{principal.loading}}
        </div>
    </ng-template>
    <div class="table-responsive" *ngIf="commissions; else elseBlock">
        <table class="bordered striped highlight">
            <thead>
                <tr>
                    <!-- <th jhiSortBy="id"><span jhiFnmTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th> -->
                    <th>
                        <span jhiFnmTranslate="sfdApp.commission.taux">Taux</span>
                    </th>
                    <th>
                        <span jhiFnmTranslate="sfdApp.commission.valeur">Valeur</span>
                    </th>
                    <th>
                        <span jhiFnmTranslate="sfdApp.commission.amount">Amount</span>
                    </th>
                    <!-- <th jhiSortBy="createdDate"><span jhiFnmTranslate="sfdApp.commission.createdDate">Created Date</span> <span class="fa fa-sort"></span></th>-->
                    <!-- <th jhiSortBy="createdBy"><span jhiFnmTranslate="sfdApp.commission.createdBy">Created By</span> <span class="fa fa-sort"></span></th> -->
                    <!-- <th jhiSortBy="lastModifiedBy"><span jhiFnmTranslate="sfdApp.commission.lastModifiedBy">Last Modified By</span> <span class="fa fa-sort"></span></th> -->
                    <!-- <th jhiSortBy="lastModifiedDate"><span jhiFnmTranslate="sfdApp.commission.lastModifiedDate">Last Modified Date</span> <span class="fa fa-sort"></span></th> -->
                    <th>
                        <span jhiFnmTranslate="sfdApp.commission.compenser">Compenser</span>
                    </th>
                    <th>
                        <!-- jhiFnmTranslate="sfdApp.commission.carmesAccount" -->
                        <span>Nom d'utilisateur</span>
                    </th>
                    <!-- <th>
                        <span jhiFnmTranslate="sfdApp.commission.compensation">Compensation</span>
                    </th> -->
                    <th>
                        <span jhiFnmTranslate="sfdApp.commission.operation">Operation</span>
                    </th>
                    <!-- <th class="text-right">Actions</th> -->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let commission of commissions  | recherche:currentSearch ;trackBy: trackId">
                    <!-- <td><a [routerLink]="['/entity','commission', commission.id ]">{{commission.id}}</a></td> -->
                    <td>{{commission.taux}} %</td>
                    <td>{{commission.valeur}}</td>
                    <td>{{commission.amount | currency:'XAF':true:'2.0-3'}}</td>
                    <!-- <td>{{commission.createdDate | date:'dd-MM-y'}}</td> -->
                    <!-- <td>{{commission.createdBy}}</td> -->
                    <!-- <td>{{commission.lastModifiedBy}}</td> -->
                    <!-- <td>{{commission.lastModifiedDate | date:'dd-MM-y'}}</td> -->
                    <td>
                        <span *ngIf="commission.compenser">Oui</span>
                        <span *ngIf="!commission.compenser">Non</span>
                    </td>
                    <td>{{commission.carmesAccount}}</td>
                    <!--  <td>
                        <div *ngIf="commission.compensationId">
                            <a [routerLink]="['/entity','compensation', commission.compensationId  ]">{{commission.compensationId}}</a>
                        </div>
                    </td> -->
                    <td>
                        <div *ngIf="commission.operation">
                            <a [routerLink]="['/entity','operation', commission.operationId  ]">{{commission.operation?.title}}</a>
                        </div>
                    </td>
                    <!-- <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit" [routerLink]="['/entity','commission', commission.id ]" class="btn btn-info btn-sm">
                                <span class="fa fa-eye"></span>
                            </button>
                            <button type="submit" [routerLink]="['/entity','commission', { outlets: { popup: 'commission/'+ commission.id + '/edit'} }]"
                                replaceUrl="true" class="btn btn-primary btn-sm">
                                <span class="fa fa-pencil"></span>
                            </button>
                            <button type="submit" [routerLink]="['/entity','commission', { outlets: { popup: 'commission/'+ commission.id + '/delete'} }]"
                                replaceUrl="true" class="btn btn-danger btn-sm">
                                <span class="fa fa-remove"></span>
                            </button>
                        </div>
                    </td> -->
                </tr>
            </tbody>
        </table>
    </div>
</div>