<div *ngIf="operation">
    <!-- <h2><span jhiFnmTranslate="sfdApp.operation.detail.title">Operation</span> {{operation.id}}</h2> -->
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiFnmTranslate="sfdApp.operation.title">Title</span></dt>
        <dd>
            <span>{{operation.title}}</span>
        </dd>
        <dt><span jhiFnmTranslate="sfdApp.operation.amount">Amount</span></dt>
        <dd>
            <span>{{operation.amount}}</span>
        </dd>
        <dt><span jhiFnmTranslate="sfdApp.operation.observation">Observation</span></dt>
        <dd>
            <span>{{operation.observation}}</span>
        </dd>
        <dt><span jhiFnmTranslate="sfdApp.operation.compenser">Compenser</span></dt>
        <dd>
            <span>{{operation.compenser}}</span>
        </dd>
        <dt><span jhiFnmTranslate="sfdApp.operation.createdDate">Created Date</span></dt>
        <dd>
            <span>{{operation.createdDate | date:'dd-MM-y'}}</span>
        </dd>
        <dt><span jhiFnmTranslate="sfdApp.operation.createdBy">Created By</span></dt>
        <dd>
            <span>{{operation.createdBy}}</span>
        </dd>
        <dt><span jhiFnmTranslate="sfdApp.operation.lastModifiedBy">Last Modified By</span></dt>
        <dd>
            <span>{{operation.lastModifiedBy}}</span>
        </dd>
        <dt><span jhiFnmTranslate="sfdApp.operation.lastModifiedDate">Last Modified Date</span></dt>
        <dd>
            <span>{{operation.lastModifiedDate | date:'dd-MM-y'}}</span>
        </dd>
        <dt><span jhiFnmTranslate="sfdApp.operation.account">Account</span></dt>
        <dd>
            <div *ngIf="operation.accountId">
                <a [routerLink]="['/entity','compte-client', operation.accountId]">{{operation.accountId}}</a>
            </div>
        </dd>
        <dt><span jhiFnmTranslate="sfdApp.operation.credit">Credit</span></dt>
        <dd>
            <div *ngIf="operation.creditId">
                <a [routerLink]="['/entity','credit', operation.creditId]">{{operation.creditId}}</a>
            </div>
        </dd>
        <dt><span jhiFnmTranslate="sfdApp.operation.compensation">Compensation</span></dt>
        <dd>
            <div *ngIf="operation.compensationId">
                <a [routerLink]="['/entity','compensation', operation.compensationId]">{{operation.compensationId}}</a>
            </div>
        </dd>
        <dt><span jhiFnmTranslate="sfdApp.operation.operationType">Operation Type</span></dt>
        <dd>
            <div *ngIf="operation.operationTypeId">
                <a [routerLink]="['/entity','operation-type', operation.operationTypeId]">{{operation.operationTypeId}}</a>
            </div>
        </dd>
        <dt><span jhiFnmTranslate="sfdApp.operation.ecriture">Ecriture</span></dt>
        <dd>
            <div *ngIf="operation.ecritureId">
                <a [routerLink]="['/entity','ecriture', operation.ecritureId]">{{operation.ecritureId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit" (click)="previousState()" class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiFnmTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button" [routerLink]="['/entity','operation', { outlets: { popup: 'operation/'+ operation.id + '/edit'} }]"
        replaceUrl="true" class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiFnmTranslate="entity.action.edit"> Edit</span>
    </button>
</div>