<div>
    <h2>
        <span jhiFnmTranslate="sfdApp.elementCondition.home.title">Element Conditions</span>
        <button *jhiHasAnyRessources="'carmesfnmservice/api/element-conditions/createElementCondition'" class="btn btn-primary float-right jh-create-entity create-element-condition" [routerLink]="['/entity','element-condition', { outlets: { popup: ['element-condition-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiFnmTranslate="sfdApp.elementCondition.home.createLabel">
            Create new Element Condition
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'sfdApp.elementCondition.home.search' | fnmtranslate : langue.lang | async }}">
                    <button class="btn-floating waves-effect waves-light" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="btn-floating waves-effect waves-light" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <ng-template #elseBlock>
        <div class="ui active centered inline loader">
            {{principal.loading}}
        </div>
    </ng-template>
    <div class="table-responsive" *ngIf="elementConditions;else elseBlock">
        <table class="bordered striped highlight">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                    <!-- <th jhiSortBy="id"><span jhiFnmTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th> -->
                    <th class="numerotab">N°</th>
                    <th jhiSortBy="name"><span jhiFnmTranslate="sfdApp.elementCondition.name">Name</span> <span class="fa fa-sort"></span></th>
                    <th jhiSortBy="valeur"><span jhiFnmTranslate="sfdApp.elementCondition.valeur">Valeur</span> <span class="fa fa-sort"></span></th>
                    <th jhiSortBy="description"><span jhiFnmTranslate="sfdApp.elementCondition.description">Description</span> <span class="fa fa-sort"></span></th>
                    <th jhiSortBy="conditionId"><span jhiFnmTranslate="sfdApp.elementCondition.condition">Condition</span> <span class="fa fa-sort"></span></th>
                    <th class="text-right">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let elementCondition of elementConditions | recherche:currentSearch;let index = index;trackBy: trackId">
                    <!-- <td><a [routerLink]="['../element-condition', elementCondition.id ]">{{elementCondition.id}}</a></td> -->
                    <td class="numerotab">{{(index + 1) + (itemsPerPage * ((page|| 1) -1))}}</td>
                    <td>{{elementCondition.name}}</td>
                    <td>{{elementCondition.valeur}}</td>
                    <td>{{elementCondition.description}}</td>
                    <td>
                        <div *ngIf="elementCondition.conditionId">
                            <a>{{condition(elementCondition.conditionId)?.name}}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button *jhiHasAnyRessources="'carmesfnmservice/api/element-conditions/getAllElementConditions'" type="submit" [routerLink]="['/entity','element-condition', elementCondition.id ]" class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <!-- <span class="hidden-md-down" jhiFnmTranslate="entity.action.view">View</span> -->
                        </button>
                            <button *jhiHasAnyRessources="'carmesfnmservice/api/element-conditions/updateElementCondition'" type="submit" [routerLink]="['/entity','element-condition', { outlets: { popup: 'element-condition/'+ elementCondition.id + '/edit'} }]" replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <!-- <span class="hidden-md-down" jhiFnmTranslate="entity.action.edit">Edit</span> -->
                        </button>
                            <button *jhiHasAnyRessources="'carmesfnmservice/api/element-conditions/deleteElementCondition'" type="submit" [routerLink]="['/entity','element-condition', { outlets: { popup: 'element-condition/'+ elementCondition.id + '/delete'} }]" replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <!-- <span class="hidden-md-down" jhiFnmTranslate="entity.action.delete">Delete</span> -->
                        </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="elementConditions && elementConditions.length">
        <div class="row justify-content-center">
            <!-- <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count> -->
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)" [pageSize]="itemsPerPage"></ngb-pagination>
        </div>
    </div>
</div>