<jhi-alert></jhi-alert>
<jhi-alert-error></jhi-alert-error>
<div *ngIf="tab == 'fiche-client' || isFicheLigne">
    <div class="row top">
        <form class="col-md-12 s12" *ngIf="isFicheLigne">
            <div class="form-group">
                <label for="field_ligne">Choisissez une ligne de crédit</label>
                <select class="ui fluid search dropdown" id="field_ligne" [(ngModel)]="debloquer" (change)="onCreditChange()" name="ligne">
                    <option [ngValue]="deblocage.id" *ngFor="let deblocage of ligneCredits">Ref:{{deblocage?.code}} - {{(deblocage.libelle||'')}} (montant ligne:{{deblocage?.amount|currency:'XAF':true:'2.0'}})</option>
                </select>
            </div>
        </form>
        <form class="col-md-12 s12" *ngIf="!isFicheLigne">
            <div class="form-group">
                <label for="field_produit">Choisissez le crédit décaissé</label>
                <select class="ui fluid search dropdown" id="field_produit" [(ngModel)]="debloquer" (change)="onCreditChange()" name="produit">
                    <option [ngValue]="deblocage.credit_id" *ngFor="let deblocage of deblocages">Ref:{{deblocage?.reference}} - {{(deblocage.name||'')}} {{(deblocage.first_name||'')}} (montant du crédit:{{deblocage?.amount|currency:'XAF':true:'2.0'}})</option>
                </select>
            </div>
        </form>
        <br>
        <br>
        <iframe id="releve" width="100%" height="600" title="Echéancier" style="width:100%;min-height:600px" #planFrame [hidden]="!hideFrame"></iframe>
        <div class="container" *ngIf="false">

            <div id="print" #printZone class="col-md-12">
                <div class="print-header">
                    <span style="text-align:justify" *ngIf="_DePage.entete !=null ;else elseBlock">
                        <img [src]="imageUrl+_DePage.entete" alt="entete de page">
                    </span>
                    <ng-template #elseBlock>
                        <img src="../../../content/images/header.jpg" alt="logo">
                    </ng-template>

                </div>
                <div class="wrapper">
                    <p class="page-break">
                        <span class="elm"></span>
                    </p>


                    <br>
                    <div *ngIf="echeances" class="wrapper">
                        <table class="table table-bordered bx-sizing">
                            <tbody>
                                <tr class="bx-shadow">
                                    <td class="text-align-center bold font-size-x-large"> PLAN D'AMORTISSEMENT </td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table table-bordered" width="100" *ngIf="_ficheLoadEnd">
                            <tbody>
                                <tr *ngIf="fiche">
                                    <td class="">
                                        Code du client : {{fiche?.code_client}}
                                    </td>
                                    <td class="style">NOM du SFD: {{sfdName}}</td>

                                </tr>
                                <tr *ngIf="fiche">
                                    <td class="style">
                                        Client: {{fiche?.nomprenom}}
                                    </td>
                                    <td class="style">
                                        Montant accordé: {{fiche?.montant | currency:'XAF':true:'2.0'}}
                                    </td>
                                </tr>


                                <tr *ngIf="fiche">
                                    <td>
                                        Nature de crédit :{{fiche?.nature_credit}}
                                    </td>
                                    <td>
                                        Durée: {{fiche?.duree}}
                                    </td>
                                </tr>

                                <tr *ngIf="fiche">
                                    <td>
                                        Type du crédit : {{fiche?.type_credit}}
                                    </td>
                                    <td>
                                        Délais de grâce : {{fiche?.delai_grace}}
                                    </td>
                                </tr>

                                <tr *ngIf="fiche">
                                    <td>
                                        Numéro de compte : {{fiche?.numcompte}}
                                    </td>
                                    <td>
                                        Différé : {{fiche?.differe}}
                                    </td>
                                </tr>

                                <tr *ngIf="fiche">
                                    <td>
                                        Date d’ouverture : {{fiche?.date_ouverture | date:'dd-MM-y'}}
                                    </td>
                                    <td>
                                        Nombre d’échéance : {{fiche?.nombre_echeance}}
                                    </td>
                                </tr>

                                <tr *ngIf="fiche">
                                    <td>
                                        Date d’effet : {{fiche?.dateeffet | date:'dd-MM-y'}}
                                    </td>
                                    <td>
                                        Echéance courant : {{fiche?.echeance}}
                                    </td>
                                </tr>

                                <tr *ngIf="fiche">
                                    <td>
                                        Chargé de crédit: {{fiche?.charge}}
                                    </td>
                                    <td>
                                        Taux d'intêret: {{fiche?.tauxinteret}}%
                                    </td>
                                </tr>

                                <tr *ngIf="fiche">
                                    <td>Téléphone : {{fiche?.phone}} </td>
                                    <td>
                                        Périodicité : {{fiche?.periodicite}}
                                    </td>
                                </tr>
                                <tr *ngIf="fiche">
                                    <td>Mode de calcul : {{fiche?.mode_echeance}}</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                        <p class="page-break">
                            <span class="elm"></span>
                        </p>
                        <br>
                        <table class="table table-bordered table-top top-s" *ngFor="let first_arr of echeances; let firster=first;let laster=last">
                            <p class="page-break" *ngIf="!firster">
                                <span class="elm"></span>
                            </p>
                            <thead *ngIf="firster">
                                <th>N°</th>
                                <th>Date</th>
                                <th>Capital</th>
                                <th>Interêt</th>
                                <th>Mensualité</th>
                                <th>Capi. restant</th>
                                <th>Cap. payé</th>
                                <th>Int. payé</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let echeance of first_arr; let index=index;let last=last;let first=first" [ngClass]="{'text-bold': last}">
                                    <td *ngIf="laster && last" colspan="2" style="text-align: center; font-weight: bold;width:24%">Total </td>
                                    <td *ngIf="(!laster && last) || (laster && !last) || (!laster && !last)" style="width:12%" [ngStyle]="{'font-weight':(last &&laster) ? 'bold' : 'normal' }">
                                        {{echeance.num_echeance}}</td>
                                    <td *ngIf="(!laster && last) || (laster && !last) || (!laster && !last)" style="width:12%" [ngStyle]="{'font-weight':(last &&laster) ? 'bold' : 'normal' }">
                                        {{echeance.echeance_date?(echeance.echeance_date|date:'dd-MM-y'):''}}</td>
                                    <td style="width:12%" [ngStyle]="{'font-weight':(last && laster) ? 'bold' : 'normal' }">{{echeance.capital | currency:'XAF':true:'2.0'}}</td>
                                    <td style="width:12%" [ngStyle]="{'font-weight':(last && laster) ? 'bold' : 'normal' }">{{echeance.interet | currency:'XAF':true:'2.0'}}</td>
                                    <td style="width:12%" [ngStyle]="{'font-weight':(last && laster) ? 'bold' : 'normal' }">{{echeance.mensualite | currency:'XAF':true:'2.0'}}</td>
                                    <td style="width:12%" [ngStyle]="{'font-weight':(last && laster) ? 'bold' : 'normal' }">
                                        <span *ngIf="(!laster && last) || (laster && !last) || (!laster && !last)">{{echeance.capitalRestant | currency:'XAF':true:'2.0'}}</span>
                                    </td>
                                    <td style="width:12%" [ngStyle]="{'font-weight':(last && laster) ? 'bold' : 'normal' }">
                                        {{echeance.capitalPayer| currency:'XAF':true:'2.0'}}
                                    </td>
                                    <td style="width:12%" [ngStyle]="{'font-weight':(last && laster) ? 'bold' : 'normal' }">
                                        {{echeance.interetPayer | currency:'XAF':true:'2.0'}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="print-footer">
                    <!-- Page: -->
                    <span style="text-align:justify" *ngIf="_DePage.piedPage != null ;else elseBlock2">
                        <img [src]="imageUrl+_DePage.piedPage" alt="pied de page" width="100%" height="50">
                    </span>
                    <ng-template #elseBlock2>
                        <img src="../../../content/images/footer.jpg" alt="logo" width="100%" height="50">
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="tab == 'fiche-credit-member'">
    <div class="container">
        <div class="row top">
            <form class="col s12 l12">
                <div class="row">
                    <div class="col s6 l6">
                        <div class="form-group">
                            <label>Groupe</label>
                            <select #credit class="ui fluid search dropdown" (change)="onGroupChange($event.target.value)">
                                <option value="null" disabled></option>
                                <option value="{{group.id}}" [attr.data-credit]="group.credit_id"  *ngFor="let group of groups">{{group.name}} ({{group.code_client}})</option>
                            </select> 
                        </div>
                    </div>
                    <!-- [attr.data-credit]="group.id"  #credit  -->
                    <div class="col s6 l12">
                        <div class="form-group">
                            <label>Membres</label>
                            <select class="ui fluid search dropdown" (change)="onMemberChange($event.target.value)">
                                <option value="null" disabled></option>
                                <option value="{{member.client.id}}" *ngFor="let member of members">{{member.client?.name}} {{member.client?.firstName}} ({{member.client?.code}})</option>
                            </select>
                        </div>
                    </div>
                </div>
            </form>
            <br>
            <br>
        </div>
    </div>

    <div class="row">
        <iframe id="releve" width="100%" height="600" title="Echéancier du membre" style="width:100%;min-height:600px" #planFrame [hidden]="!hideFrame"></iframe>
        <div class="container" *ngIf="false">
            <div id="print2" #printZone2 class="col-md-12 col-sm-12 col-lg-12">
                <div class="print-header">
                    <span style="text-align:justify" *ngIf="_DePage.entete != null ;else elseBlock">
                        <img [src]="imageUrl+_DePage.entete" alt="entete de page">
                    </span>
                    <ng-template #elseBlock>
                        <img src="../../../content/images/header.jpg" alt="logo">
                    </ng-template>

                </div>
                <div class="marge-wrapper">
                    <p class="page-break">
                        <span class="elm"></span>
                    </p>
                    <div class="fiche-print">
                        <br>

                        <table class="table table-bordered bx-sizing">
                            <tbody>
                                <tr class="bx-shadow">
                                    <td class="text-align-center bold font-size-x-large"> PLAN D'AMORTISSEMENT DU MEMBRE</td>
                                </tr>
                            </tbody>
                        </table>
                        <br>
                        <br>

                        <table class="ui celled structured table table-bordered table-top top-s" *ngIf="ficheLoadCreditMemberEnd">
                            <tbody>
                                <tr>
                                    <td>Nom prenoms: {{ficheCreditMember.nomprenom}}</td>
                                    <td>Nature credit: {{ficheCreditMember.nature_credit}}</td>
                                </tr>
                                <tr>
                                    <td>Type credut: {{ficheCreditMember.type_credit}}</td>
                                    <td>Numcompte: {{ficheCreditMember.numcompte}}</td>
                                </tr>
                                <tr>
                                    <td>Date ouverture: {{ficheCreditMember.date_ouverture | date:'dd-MM-y'}}</td>
                                    <td>Date effet: {{ficheCreditMember.dateeffet | date:'dd-MM-y'}}</td>
                                </tr>
                                <tr>
                                    <td>Montant: {{ficheCreditMember.montant | currency:'XAF':true:'2.0'}}</td>
                                    <td>Echeance: {{ficheCreditMember.echeance}}</td>
                                </tr>
                                <tr>
                                    <td>Delai grace: {{ficheCreditMember.delai_grace}}</td>
                                    <td>Duree: {{ficheCreditMember.duree}}</td>
                                </tr>
                                <tr>
                                    <td>Differe: {{ficheCreditMember.differe}}</td>
                                    <td>Nombre echeance: {{ficheCreditMember.nombre_echeance}}</td>
                                </tr>
                                <tr>
                                    <td>Periodicite: {{ficheCreditMember.periodicite}}</td>
                                    <td>Taux interet: {{ficheCreditMember.tauxinteret}}%</td>
                                </tr>
                                <tr>
                                    <td>Taux epargne: {{ficheCreditMember.tauxepargne}}%</td>
                                    <td>Mode de calcul : {{ficheCreditMember.mode_echeance}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <br><br>
                        <p class="page-break">
                            <!--  <span class="elm"></span> -->
                        </p>
                        <br>
                        <div *ngIf="echeancesCreditMember.length > 0">

                            <table class="table table-bordered table-top top-s" *ngFor="let first_arr of echeancesCreditMember;let firster=first; let laster=last">
                                <p *ngIf="!firster" class="page-break">
                                    <span class="elm"></span>
                                </p>
                                <thead *ngIf="firster">
                                    <th>N°</th>
                                    <th>Date</th>
                                    <th>Capital</th>
                                    <th>Interêt</th>
                                    <th>Mensualité</th>
                                    <th>Capit. restant</th>
                                    <th>Cap. payé</th>
                                    <th>Int. payé</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let echeance of first_arr; let index=index ;let last=last;let first=first" [ngClass]="{'text-bold': last}">
                                        <td *ngIf="laster && last" colspan="2" style="text-align: center; font-weight: bold;width:24%">Total </td>
                                        <td *ngIf="(!laster && last) || (laster && !last) || (!laster && !last)" style="width:12%" [ngStyle]="{'font-weight':(last &&laster)? 'bold' : 'normal' }">{{echeance.num_echeance}}</td>
                                        <td *ngIf="(!laster && last) || (laster && !last) || (!laster && !last)" style="width:12%" [ngStyle]="{'font-weight':(last &&laster)? 'bold' : 'normal' }">{{echeance.echeance_date?(echeance.echeance_date|date:'dd-MM-y'):''}}</td>
                                        <td style="width:12%" [ngStyle]="{'font-weight':(last && laster) ? 'bold' : 'normal' }">{{echeance.capital | currency:'XAF':true:'2.0'}}</td>
                                        <td style="width:12%" [ngStyle]="{'font-weight':(last && laster) ? 'bold' : 'normal' }">{{echeance.interet| currency:'XAF':true:'2.0'}}</td>
                                        <td style="width:12%" [ngStyle]="{'font-weight':(last && laster) ? 'bold' : 'normal' }">{{echeance.mensualite | currency:'XAF':true:'2.0'}}</td>
                                        <td style="width:12%" [ngStyle]="{'font-weight':(last && laster) ? 'bold' : 'normal' }">
                                            <span *ngIf="(!laster && last) || (laster && !last) || (!laster && !last)">{{echeance.capitalRestant | currency:'XAF':true:'2.0'}}</span>
                                        </td>
                                        <td style="width:12%" [ngStyle]="{'font-weight':(last && laster) ? 'bold' : 'normal' }">
                                            {{echeance.capitalPayer| currency:'XAF':true:'2.0'}}
                                        </td>
                                        <td style="width:12%" [ngStyle]="{'font-weight':(last && laster) ? 'bold' : 'normal' }">
                                            {{echeance.interetPayer | currency:'XAF':true:'2.0'}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>


                    </div>
                </div>
                <div class="print-footer">
                    <!-- Page: -->
                    <span style="text-align:justify" *ngIf="_DePage.piedPage !=null ;else elseBlock2">
                        <img [src]="imageUrl+_DePage.piedPage" alt="pied de page" width="100%" height="50">
                    </span>
                    <ng-template #elseBlock2>
                        <img src="../../../content/images/footer.jpg" alt="logo" width="100%" height="50">
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>


<div *ngIf="tab == 'simulation'">
    <form class="simulation" (ngSubmit)="simuler()" name="editForm" role="form" novalidate #editForm="ngForm">
        <h4 class="ui dividing header">Simulation du tableau d'amortissement</h4>
        <div class="row">
            <div class="col s6">
                <label class="oblige">Periodicité</label>
                <select class="ui fluid dropdown" name="periodicity" [(ngModel)]="simulation.periodicity" required>
                    <option value="">Choisissez</option>
                    <option [ngValue]="periodicity.id" *ngFor="let periodicity of periodicities">
                        {{periodicity.libPeriodicite}}
                    </option>
                </select>
            </div>
            <div class="col s6">
                <label class="oblige">Mode de calcul</label>
                <select class="ui fluid dropdown" name="mode" [(ngModel)]="simulation.mode" required>
                    <option value="">choisissez le mode</option>
                    <option [ngValue]="mode.id" *ngFor="let mode of modes">{{mode.title}}</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s4">
                <label for="montant" class="oblige">Montant du prêt</label>
                <input type="text" name="montant" [(ngModel)]="simulationAontant" pattern="^[0-9 ]*$" id="montant" class="validate" required (formatNumberMyMiller)="simulation.montant = $event">
                <!-- <input type="text" name="montant" [(ngModel)]="simulation.montant" pattern="^[0-9]*$" id="montant" class="validate" required> -->
            </div>
            <div class="input-field col s4">
                <label for="interet" class="oblige">Taux d'interêt</label>
                <input type="text" name="interet" [(ngModel)]="simulation.interet" pattern="^([0-9]{1,2}){1}(\.[0-9]{1,2})?$" id="interet" class="validate" required>
            </div>
            <div class="input-field col s4">
                <label for="epargne" class="oblige">Taux d'épargne</label>
                <input type="text" name="epargne" [(ngModel)]="simulation.epargne" pattern="^([0-9]{1,2}){1}(\.[0-9]{1,2})?$" id="epargne" class="validate" required>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s4">
                <label for="duree" class="oblige">Durée du prêt</label>
                <input type="text" name="duree" [(ngModel)]="simulation.duree" id="duree" class="validate" required pattern="^[0-9]+$">
            </div>
            <div class="input-field col s4">
                <label for="differe">Différé</label>
                <input type="text" name="differe" [(ngModel)]="simulation.differe" id="differe" class="validate" pattern="^[0-9]*$">
            </div>
            <div class="input-field col s4">
                <label for="grace">Période de grâce</label>
                <input type="text" name="grace" [(ngModel)]="simulation.grace" id="grace" class="validate" pattern="^[0-9]*$">
            </div>
        </div>
        <div class="row">
            <div class="col s6">
                <p>
                    <input type="checkbox" class="filled-in" id="filled-in-box" [(ngModel)]="simulation.ferie" name="ferie" />
                    <label for="filled-in-box">Inclure jour férié</label>
                </p>
            </div>
            <div class="col s6" [hidden]="!(editForm.controls.differe?.value && editForm.controls.differe?.value >= 1)">
                <p>
                    <input type="checkbox" class="filled-in" id="filled-in-box2" [(ngModel)]="simulation.cumul" name="cumul" />
                    <label for="filled-in-box2">Cumul d'interêt</label>
                </p>
            </div>
        </div>
        <div class="ui fluid brown button" tabindex="0" (click)="simuler()" [ngClass]="{loading:isSaving,disabled:editForm.form.invalid}">Simuler</div>
    </form>
    <br>
    <br>
    <table *ngIf="results.length" class="bordered table-bordered">
        <thead>
            <tr style="border-bottom:1px solid #d0d0d0;">
                <th>Date d'échéances</th>
                <th>Capital</th>
                <th>Interêt</th>
                <th>Epargne</th>
                <th>Capital restant</th>
                <th>Mensualité</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let result of results" style="border-bottom:1px solid #d0d0d0;">
                <td>{{result.date_echeance | date:'dd-MM-y'}}</td>
                <td>{{result.capital | currency:'XAF':true:'2.0'}}</td>
                <td>{{result.interet | currency:'XAF':true:'2.0'}}</td>
                <td>{{result.epargne | currency:'XAF':true:'2.0'}}</td>
                <td>{{result.capitalRestant | currency:'XAF':true:'2.0'}}</td>
                <td>{{result.mensualite | currency:'XAF':true:'2.0'}}</td>
            </tr>
        </tbody>
    </table>
</div>
<iframe name="print_frame" id="print_frame" width="0" height="0" frameborder="0" src="about:blank"></iframe>

<!-- <div class="ui compact selection dropdown">
    <i class="dropdown icon"></i>
    <div class="text">Impressions</div>
    <div class="menu">
        <div class="item" (click)="printAsPdf('print')" jhiFnmTranslate="impressions.credit.fiche">Imprimer la fiche</div>
    </div>
</div> -->