<div *ngIf="echeancesSFD">
    <!-- <h2><span jhiFnmTranslate="sfdApp.echeancesSFD.detail.title">Echeances SFD</span> {{echeancesSFD.id}}</h2> -->
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiFnmTranslate="sfdApp.echeancesSFD.libelle">Libelle</span></dt>
        <dd>
            <span>{{echeancesSFD.libelle}}</span>
        </dd>
        <dt><span jhiFnmTranslate="sfdApp.echeancesSFD.numEcheance">Num Echeance</span></dt>
        <dd>
            <span>{{echeancesSFD.numEcheance}}</span>
        </dd>
        <dt><span jhiFnmTranslate="sfdApp.echeancesSFD.echeanceDate">Echeance Date</span></dt>
        <dd>
            <span>{{echeancesSFD.echeanceDate | date:'dd-MM-y'}}</span>
        </dd>
        <dt><span jhiFnmTranslate="sfdApp.echeancesSFD.capital">Capital</span></dt>
        <dd>
            <span>{{echeancesSFD.capital}}</span>
        </dd>
        <dt><span jhiFnmTranslate="sfdApp.echeancesSFD.interet">Interet</span></dt>
        <dd>
            <span>{{echeancesSFD.interet}}</span>
        </dd>
        <dt><span jhiFnmTranslate="sfdApp.echeancesSFD.epargne">Epargne</span></dt>
        <dd>
            <span>{{echeancesSFD.epargne}}</span>
        </dd>
        <dt><span jhiFnmTranslate="sfdApp.echeancesSFD.total">Total</span></dt>
        <dd>
            <span>{{echeancesSFD.total}}</span>
        </dd>
        <dt><span jhiFnmTranslate="sfdApp.echeancesSFD.payer">Payer</span></dt>
        <dd>
            <span>{{echeancesSFD.payer}}</span>
        </dd>
        <dt><span jhiFnmTranslate="sfdApp.echeancesSFD.createdDate">Created Date</span></dt>
        <dd>
            <span>{{echeancesSFD.createdDate | date:'dd-MM-y'}}</span>
        </dd>
        <dt><span jhiFnmTranslate="sfdApp.echeancesSFD.createdBy">Created By</span></dt>
        <dd>
            <span>{{echeancesSFD.createdBy}}</span>
        </dd>
        <dt><span jhiFnmTranslate="sfdApp.echeancesSFD.lastModifiedBy">Last Modified By</span></dt>
        <dd>
            <span>{{echeancesSFD.lastModifiedBy}}</span>
        </dd>
        <dt><span jhiFnmTranslate="sfdApp.echeancesSFD.lastModifiedDate">Last Modified Date</span></dt>
        <dd>
            <span>{{echeancesSFD.lastModifiedDate | date:'dd-MM-y'}}</span>
        </dd>
        <dt><span jhiFnmTranslate="sfdApp.echeancesSFD.echeancierSFD">Echeancier SFD</span></dt>
        <dd>
            <div *ngIf="echeancesSFD.echeancierSFDId">
                <a [routerLink]="['/entity','echeancier-sfd', echeancesSFD.echeancierSFDId]">{{echeancesSFD.echeancierSFDId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit" (click)="previousState()" class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiFnmTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button" [routerLink]="['/entity','echeances-sfd', { outlets: { popup: 'echeances-sfd/'+ echeancesSFD.id + '/edit'} }]"
        replaceUrl="true" class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiFnmTranslate="entity.action.edit"> Edit</span>
    </button>
</div>