<form class="ui form" name="deleteForm" (ngSubmit)="confirmValidation(requestPartner)">
    <div class="modal-header">
        <h4 class="modal-title">Confirmation</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <p>Êtes vous sur de vouloir accepter cette demande de parteneriat ?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="ui button" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiFnmTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" class="red ui button">
            <span class="fa fa-remove"></span>&nbsp;<span>Confirmer</span>
        </button>
    </div>
</form>
