.relatived {
    position: relative;
    height: 100vh;
    .absoluted {
        position: absolute;
        padding: 30px;
        box-shadow: 0 12px 28px rgba(0, 0, 0, 0.30), 0 10px 8px rgba(0, 0, 0, 0.12);
        background: #fff;
        border-radius: 2px;
        font-size: 1.4em;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.search-date {
    display: none !important;
}

.cacher {
    display: none;
    min-height: 0px! important;
    z-index: 0;
}

.tab-title-header {
    text-align: center;
    opacity: 0.3;
    font-weight: 600;
    text-decoration: underline;
}

.non {
    min-height: 0px;
}

.main {
    background: #f9f9f9;
}

.navbar-brand {
    margin: 0 !important;
    border-bottom: none;
    padding-top: 13px!important;
    background-image: none !important;
    color: white !important;
    background-image: none;
    text-align: center;
    font-weight: bold;
}

.nav.navbar-nav.d-md-down-none {
    color: white;
}

.nav.navbar-nav.ml-auto .nav-item .nav-link {
    font-size: 14px !important;
}

.sidebar:hover+.main {
    z-index: -1;
}

.py-3 {
    cursor: pointer;
}

.aside-options small {
    cursor: pointer;
}

.submenu {
    margin-left: 20px;
}

.sidebar-nav .nav-item a.nav-link i {
    height: auto !important;
}

.sidebar-nav .nav-item a.nav-link {
    display: block;
    padding: 0;
}

nav {
    line-height: 43px !important;
}

nav:first-child {
    padding-top: 25px;
}

.sidebar-nav .nav-item a,
.sidebar-nav .nav-title {
    /*height: 50px;*/
    padding-top: 0px;
}

.sidebar-nav .nav-item:hover,
.sidebar-nav .nav-item .nav-link:hover,
.sidebar-nav .nav-item .nav-link:hover i {
    background: #f5f5f5;
    color: black !important;
}

.drop:hover i,
.sidebar-nav .nav-item .nav-link i {
    background: transparent !important;
}

.sidebar .nav .nav-item .nav-link:hover,
.sidebar .nav .nav-item .navbar .dropdown-toggle:hover,
.navbar .sidebar .nav .nav-item .dropdown-toggle:hover {
    background: #f5f5f5 !important;
    color: black !important;
}

.sidebar-nav .nav-item .nav-link:hover i {
    color: black !important;
}

.sidebar .nav-item {
    background: #607d8b;
    padding-bottom: 0px;
    padding-left: 20px;
}

.sidebar .nav-item.active,
.sidebar .nav-item.active a.nav-link {
    background: #f5f5f5;
    color: black !important;
}


/* Dropdown Button */


/* The container <div> - needed to position the dropdown content */

.drop {
    position: relative;
    display: inline-block;
}

.sidebar-nav {
    background-color: #607d8b;
}


/* Dropdown Content (Hidden by Default) */

.drop-content.hide {
    display: none;
}

.drop-content {
    display: none;
    position: fixed;
    left: 200px;
    margin-top: -43px;
    background-color: #f5f5f5;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding-left: 16px;
}


/* Links inside the dropdown */

.drop-content a {
    color: black;
    padding: 0px;
    text-decoration: none;
    display: block;
}

.drop-content a:first-child {
    padding-top: 5px;
}

.drop-content a:last-child {
    padding-bottom: 5px;
}


/* Change color of dropdown links on hover */

.drop-content a:hover {
    background-color: #f1f1f1;
}

.nav-link+.drop-content a:hover {
    background: #f5f5f5;
    color: black !important;
}


/* Show the dropdown menu on hover */


/* Change the background color of the dropdown button when the dropdown content is shown */

.drop:hover .dropbtn {
    background: #f5f5f5;
    color: black !important;
}

.drop:hover i {
    color: black !important;
}

.drop:hover,
.sidebar .nav-item:hover {
    border-right: none;
    color: black !important;
    background: #f5f5f5;
}

.drop:hover .drop-content {
    display: block;
}

.drop-content a:first-child:before {
    content: '>';
    background: transparent;
    position: absolute;
    top: 1px;
    left: -15px;
    font-size: small;
}

aside .aside-options small {
    outline: none;
}

header .nav.navbar-nav nav-item a.nav-link {
    color: white !important;
    letter-spacing: 1.5px !important;
    font-size: 14px !important;
}

.aside-options small {
    font-size: small;
}

.alert-badge {
    display: none;
    margin-left: 30px;
    color: rgb(13, 216, 77);
    font-weight: bold;
}

div.ui.fluid.dropdown.agenceSelect {
    background-color: #5f7d8b12 !important;
    color: white !important;
}

.alert-one {
    /* width: auto !important;
    height: auto !important; */
    border-radius: 50%;
    background: red !important;
    display: inline;
    padding: 5px;
    margin-left: 15px;
}