<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myFraisLabel" [jhiFnmTranslate]="frais.id ? 'sfdApp.frais.home.createOrEditLabel' : 'sfdApp.frais.home.createLabel'">Create or edit a Frais</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label class="form-control-label active oblige" jhiFnmTranslate="sfdApp.frais.libelle" for="field_libelle">Libelle</label>
            <input type="text" class="form-control" name="libelle" id="field_libelle" [(ngModel)]="frais.libelle" required maxlength="50" data-length="50" />
            <div [hidden]="!(editForm.controls.libelle?.dirty && editForm.controls.libelle?.invalid)">
                <small class="form-text text-danger" [hidden]="!editForm.controls.libelle?.errors?.required" jhiFnmTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger" [hidden]="!editForm.controls.libelle?.errors?.maxlength" jhiFnmTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                   This field cannot be longer than 50 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label active" jhiFnmTranslate="sfdApp.frais.typeValeur" for="field_typeValeur">Type Valeur</label>
            <select class="ui fluid search dropdown" name="typeValeur" [(ngModel)]="frais.typeValeur" id="field_typeValeur">
                <option value="FRAIS">FRAIS</option>
                <option value="TAUX">TAUX</option>
                <option value="AUCUN">AUCUN</option>
            </select>
        </div> <br>
        <div class="form-group">
            <label class="form-control-label active oblige" jhiFnmTranslate="sfdApp.frais.amount" for="field_amount">Amount</label>
            <input type="number" min="1" class="form-control" name="amount" id="field_amount" [(ngModel)]="fraisAmount" required (formatNumberMyMiller)="frais.amount = $event" />
            <div [hidden]="!(editForm.controls.amount?.dirty && (editForm.controls.amount?.invalid || (editForm.controls.typeValeur?.value == 'TAUX' && (editForm.controls.amount?.value <0  || editForm.controls.amount?.value >100)) || (editForm.controls.typeValeur?.value == 'FRAIS' && editForm.controls.amount?.value < 0)))">
                <small class="form-text text-danger" [hidden]="!editForm.controls.amount?.errors?.required" jhiFnmTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger" [hidden]="!editForm.controls.amount?.errors?.number" jhiFnmTranslate="entity.validation.number">
                    This field should be a number.
                </small>
                <small class="form-text text-danger" *ngIf="editForm.controls.typeValeur?.value == 'TAUX' && (editForm.controls.amount?.value < 0  || editForm.controls.amount?.value >100)">
                    la valeur doit être comprise entre 0 et 100.
                </small>
                <small class="form-text text-danger" *ngIf="editForm.controls.typeValeur?.value == 'FRAIS' && editForm.controls.amount?.value < 0">
                    la valeur doit être supérieur à zéro.
                </small>
            </div>
        </div>
        <div class="form-group advervable">
            <div class="switch">
                <label>
                    Frais activé?
                    <input type="checkbox" name="comitable" id="field_status" [(ngModel)]="frais.status" />
                    <span class="lever"></span>
                </label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="waves-effect waves-teal btn-flat" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiFnmTranslate="entity.action.cancel">Cancel</span>
        </button> &nbsp;&nbsp;&nbsp;
        <button type="submit" [disabled]="editForm.form.invalid || isSaving || !controlForm(editForm)" class="btn waves-effect waves-light">
            <span class="fa fa-save"></span>&nbsp;<span jhiFnmTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>