<div>
    <div class="row">
        <div class="form-group col-6" *ngIf="agences.length > 1">
            <label class="form-control-label active" for="field_agence">Choisissez une agence</label>
            <select class="ui fluid search dropdown" name="agence" [(ngModel)]="agence" id="field_agence" (change)="onAgenceChange()">
             <option [ngValue]="null">Veuillez choisir une agence</option>
                <option [ngValue]="agence.codeAgence" *ngFor="let agence of agences">{{agence.name}}</option>
            </select>
        </div>
        <div class="form-group col-6" *ngIf="caisses.length > 0">
            <label class="form-control-label active" for="field_caisse">Choisissez une caisse</label>
            <select class="ui fluid search dropdown" name="caisse" [(ngModel)]="selectedCaisse" id="field_caisse" (change)="onCaisseChange()">
             <option [ngValue]="null">Veuillez choisir une caisse</option>
             <option [ngValue]="caisse" *ngFor="let caisse of caisses">{{caisse.libelle}} ({{ caisse.reference }})</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-lg-4" *ngIf="premiereCategories && premiereCategories.length">
            <div class="ui one item menu">
                <a *ngFor="let categorie of premiereCategories" class="item" [ngClass]="{active:category?.id==categorie?.id}"
                (click)="changeCategorie(categorie)">{{ categorie.name }}</a>
            </div>
        </div>
        <!-- <div class="offset-md-1 offset-lg-1"></div> -->
        <div class="col-md-12 col-sm-12 offset-lg-4 col-lg-4" *ngIf="deuxiemeCategories && deuxiemeCategories.length">
            <div class="ui one item menu">
                <a *ngFor="let categorie of deuxiemeCategories" class="item" [ngClass]="{active:category?.id==categorie?.id}"
                (click)="changeCategorie(categorie)">
                {{categorie.name}}
            </a>
            </div>
        </div>
    </div>

    <h2 class="liste-header">
        <span>Caisses</span>

    </h2>
    <jhi-alert></jhi-alert>

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control"
                        [(ngModel)]="currentSearch" id="currentSearch"
                        name="currentSearch" placeholder="">
                    <button class="btn-floating waves-effect waves-light"
                        (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="btn-floating waves-effect waves-light"
                        (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <!-- <div class="row">
        <div class="col-lg-6"></div>
            <div class="field col-lg-3">
                <ngbd-datepicker-i18n name="date1" [(ngModel)]="date1" (ngModelChange)="onPeriodChange()"></ngbd-datepicker-i18n>
            </div>
            <div class="field col-lg-3">
                <ngbd-datepicker-i18n name="date2" [(ngModel)]="date2" (ngModelChange)="onPeriodChange()"></ngbd-datepicker-i18n>
            </div>
    </div> -->

    <table class="bordered striped highlight">
        <thead>
            <tr>
                <th class="numerotab">N°</th>
                <th><span>Numéro de Compte</span></th>
                <th><span>Client</span></th>
                <th><span>Date de début</span></th>
                <th><span>Date echéance</span></th>
                <th><span>Montant</span></th>
                <th><span>Montant échu</span></th>
                <th><span>Libérer</span></th>
                <th><span>Taux</span></th>
                <th class="text-right">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let compte of compteDats | recherche:currentSearch ;let index=index;trackBy: trackId">
                <td class="numerotab">{{(index + 1) + (itemsPerPage * ((page|| 1) -1))}}</td>
                <td>{{compte.compte}}</td>
                <td>{{compte.name}}</td>
                <td>{{compte.date_debut}}</td>
                <td>{{compte.date_echu}}</td>
                <td>{{ compte && compte.montant | currency:'XAF':true:'2.0' }}</td>
                <td>{{ compte && compte.montantechu | currency:'XAF':true:'2.0' }}</td>
                <td>{{compte.liberer}}</td>
                <td>{{compte.taux}} %</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">

                        <!-- <button type="submit" [routerLink]="['/entity','caisse-nouvelle', caisseNouvelle.id ]" class="btn btn-info btn-sm" *jhiHasAnyRessources="'carmesfnmservice/api/caisse-nouvelles/getCaisseNouvelle'">
                            <span class="fa fa-eye"></span>
                        </button> -->
                        <!-- <button type="submit" [routerLink]="['/entity','caisse-nouvelle', { outlets: { popup: 'caisse-nouvelle/'+ caisseNouvelle.id + '/edit'} }]" replaceUrl="true" class="btn btn-primary btn-sm" *jhiHasAnyRessources="['carmesfnmservice/api/caisse-nouvelles/updateCaisseNouvelle']"> -->
                            <!-- <button type="submit" [routerLink]="['/entity','caisse-nouvelle', { outlets: { popup: 'caisse-nouvelle/'+ caisseNouvelle.id + '/edit'} }]" replaceUrl="true" class="btn btn-primary btn-sm">
                        <span class="fa fa-pencil"></span>
                        </button> -->
                        <!-- <button type="submit" [routerLink]="['/entity','caisse-nouvelle', { outlets: { popup: 'caisse-nouvelle/'+ caisseNouvelle.id + '/delete'} }]" replaceUrl="true" class="btn btn-danger btn-sm" *jhiHasAnyRessources="['carmesfnmservice/api/caisse-nouvelles/deleteCaisseNouvelle']"> -->
                            <!-- <button type="submit" [routerLink]="['/entity','caisse-nouvelle', { outlets: { popup: 'caisse-nouvelle/'+ caisseNouvelle.id + '/delete'} }]" replaceUrl="true" class="btn btn-danger btn-sm" >
                            <span class="fa fa-remove"></span>
                        </button> -->

                        <div class="ui dropdown">
                            <div class="text" style="display:none"></div>
                            <i class="ellipsis vertical icon"></i>
                            <div class="left menu">
                                <div class="item" (click)="navigateTo(compte,'RUPTURE')">Rupture DAT</div>
                                <!-- <div  class="item" (click)="onSolde(compte)">Solde du compte</div> -->
                                <div class="item" (click)="navigateTo(compte,'DEPOT')">Ajout DAT</div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    </div>
