<div>
    <h3>
        <span jhiFnmTranslate="sfdApp.bankAccountClient.home.title"></span>
        <button class="btn btn-primary float-right jh-create-entity create-bank" [routerLink]="['/entity', 'bank-account-client', { outlets: { popup: ['bank-account-client-new'] } }]">
            <span class="fa fa-plus"></span>
            <!-- <span class="hidden-sm-down" jhiFnmTranslate="sfdApp.bankAccountClient.home.createLabel">
                Create new Bank
            </span> -->
        </button>
    </h3>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'sfdApp.bankAccountClient.home.search'|fnmtranslate:langue.lang|async}}">
                    <button class="btn-floating waves-effect waves-light" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="btn-floating waves-effect waves-light" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="banks">
        <table class="bordered striped highlight">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                    <th class="numerotab">N°</th>
                    <th jhiSortBy="libelle">
                        <span jhiFnmTranslate="sfdApp.bankAccountClient.numAccount"></span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th>Banque</th>
                    <th jhiSortBy="rib">
                        <span>RIB</span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="codeAgence">
                        <span>Code Agence</span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="codeBank">
                        <span>Code Banque</span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="codePays">
                        <span>Code Pays</span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th class="text-right">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let bank of banks;let index = index;">
                    <td class="numerotab">{{(index + 1) + (itemsPerPage * ((page|| 1) -1))}}</td>
                    <td>{{bank.numAccount}}</td>
                    <td>{{bank.bank?.libelle}}</td>
                    <td>{{bank.rib}}</td>
                    <td>{{bank.codeAgence}}</td>
                    <td>{{bank.codeBank}}</td>
                    <td>{{bank.codePays}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit" [routerLink]="['/entity', 'bank-account-client', { outlets: { popup: 'bank-account-client/'+ bank.id + '/edit'} }]" replaceUrl="true" class="btn btn-primary btn-sm">
                                <span class="fa fa-pencil"></span>
                            </button>
                            <button type="submit" [routerLink]="['/entity', 'bank-account-client', { outlets: { popup: 'bank-account-client/'+ bank.id + '/delete'} }]" replaceUrl="true" class="btn btn-danger btn-sm">
                                <span class="fa fa-remove"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="banks && banks.length">
        <div class="row justify-content-center">
            <!-- <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count> -->
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
