<div *ngIf="dossier">
    <h2><span jhiFnmTranslate="sfdApp.dossier.detail.title">Dossier</span> {{dossier.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiFnmTranslate="sfdApp.dossier.createdDate">Created Date</span></dt>
        <dd>
            <span>{{dossier.createdDate | date:'dd-MM-y'}}</span>
        </dd>
        <dt><span jhiFnmTranslate="sfdApp.dossier.createdBy">Created By</span></dt>
        <dd>
            <span>{{dossier.createdBy}}</span>
        </dd>
        <dt><span jhiFnmTranslate="sfdApp.dossier.lastModifiedBy">Last Modified By</span></dt>
        <dd>
            <span>{{dossier.lastModifiedBy}}</span>
        </dd>
        <dt><span jhiFnmTranslate="sfdApp.dossier.lastModifiedDate">Last Modified Date</span></dt>
        <dd>
            <span>{{dossier.lastModifiedDate | date:'dd-MM-y'}}</span>
        </dd>
        <dt><span jhiFnmTranslate="sfdApp.dossier.creditComity">Credit Comity</span></dt>
        <dd>
            <div *ngIf="dossier.creditComityId">
                <a [routerLink]="['/credit-comity', dossier.creditComityId]">{{dossier.creditComityId}}</a>
            </div>
        </dd>
        <dt><span jhiFnmTranslate="sfdApp.dossier.creditRequest">Credit Request</span></dt>
        <dd>
            <div *ngIf="dossier.creditRequestId">
                <a [routerLink]="['/credit-request', dossier.creditRequestId]">{{dossier.creditRequestId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit" (click)="previousState()" class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiFnmTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button" [routerLink]="['/', { outlets: { popup: 'dossier/'+ dossier.id + '/edit'} }]" replaceUrl="true" class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiFnmTranslate="entity.action.edit"> Edit</span>
    </button>
</div>