<div *ngIf="journal">
    <h2><span jhiFnmTranslate="sfdApp.journal.detail.title">Journal</span> {{journal.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiFnmTranslate="sfdApp.journal.reference">Reference</span></dt>
        <dd>
            <span>{{journal.reference}}</span>
        </dd>
        <dt><span jhiFnmTranslate="sfdApp.journal.libelle">Libelle</span></dt>
        <dd>
            <span>{{journal.libelle}}</span>
        </dd>
    </dl>

    <button type="submit" (click)="previousState()" class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiFnmTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button" [routerLink]="['/', { outlets: { popup: 'journal/'+ journal.id + '/edit'} }]" replaceUrl="true" class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiFnmTranslate="entity.action.edit"> Edit</span>
    </button>
</div>