<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myTauxEpargneLabel" [jhiFnmTranslate]="tauxEpargne.id ? 'sfdApp.tauxEpargne.home.createOrEditLabel' : 'sfdApp.tauxEpargne.home.createLabel'">Create or edit a Taux Epargne</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <!-- <div class="form-group" [hidden]="!tauxEpargne.id">
            <label for="id" jhiFnmTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id" [(ngModel)]="tauxEpargne.id" readonly />
        </div> -->

        <div class="form-group" *ngIf="!params || !params.produit">
            <label jhiFnmTranslate="sfdApp.tauxEpargne.produit" for="field_produit" class="oblige">Produit</label>
            <select class="ui fluid search dropdown" id="field_produit" name="produit" [(ngModel)]="tauxEpargne.produitId" required>
                <option [ngValue]="null" disabled>Choisissez le produit</option>
                <option [ngValue]="produitOption.id" *ngFor="let produitOption of produits; trackBy: trackProduitById">{{produitOption.libelle}}</option>
            </select>
        </div>
        <div class="input-field">
            <label class="form-control-label active oblige" jhiFnmTranslate="sfdApp.tauxEpargne.libelle" for="field_libelle">Libelle</label>
            <input type="text" class="form-control" name="libelle" id="field_libelle" [(ngModel)]="tauxEpargne.libelle" required maxlength="50" data-length="50" />
            <div [hidden]="!(editForm.controls.libelle?.dirty && editForm.controls.libelle?.invalid)">
                <small class="form-text text-danger" [hidden]="!editForm.controls.libelle?.errors?.required" jhiFnmTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger" [hidden]="!editForm.controls.libelle?.errors?.maxlength" jhiFnmTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                   This field cannot be longer than 50 characters.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label active" jhiFnmTranslate="sfdApp.tauxEpargne.typeValeur" for="field_typeValeur">Type Valeur</label>
            <select class="ui fluid search dropdown" name="typeValeur" [(ngModel)]="tauxEpargne.typeValeur" id="field_typeValeur">
                <option value="FRAIS">FRAIS</option>
                <option value="TAUX">TAUX</option>
                <option value="AUCUN">AUCUN</option>
            </select>
        </div>
        <div class="input-field">
            <label class="form-control-label active oblige" jhiFnmTranslate="sfdApp.tauxEpargne.valeur" for="field_valeur">Valeur</label>
            <input type="number" min="1" class="form-control" name="valeur" id="field_valeur" [(ngModel)]="tauxEpargne.valeur" required />
            <div [hidden]="!(editForm.controls.valeur?.dirty && (editForm.controls.valeur?.invalid || (tauxEpargne.typeValeur == 'TAUX' && (editForm.controls.valeur?.value <0  || editForm.controls.valeur?.value >100)) || (tauxEpargne.typeValeur == 'FRAIS' && editForm.controls.valeur?.value < 0)))"> 
                <small class="form-text text-danger" *ngIf="tauxEpargne.typeValeur == 'TAUX' && (editForm.controls.valeur?.value < 0  || editForm.controls.valeur?.value >100)">
                    la valeur doit être comprise entre 0 et 100.
                </small>
                <small class="form-text text-danger" *ngIf="tauxEpargne.typeValeur == 'FRAIS' && editForm.controls.valeur?.value < 0">
                    la valeur doit être supérieur à zéro.
                </small>
                <small class="form-text text-danger" [hidden]="!editForm.controls.valeur?.errors?.required" jhiFnmTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger" [hidden]="!editForm.controls.valeur?.errors?.number" jhiFnmTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="waves-effect waves-teal btn-flat" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiFnmTranslate="entity.action.cancel">Cancel</span>
        </button> &nbsp;&nbsp;&nbsp;
        <button type="submit" [disabled]="editForm.form.invalid || isSaving || !controlForm(editForm)" class="btn waves-effect waves-light">
            <span class="fa fa-save"></span>&nbsp;<span jhiFnmTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>