<div>
    <h2>
        <span jhiFnmTranslate="sfdApp.tauxEpargne.home.title">Taux Epargnes</span>
        <button *jhiHasAnyRessources="['carmesfnmservice/api/taux-epargnes/createTauxEpargne']" class="btn btn-primary float-right create-taux-epargne" [routerLink]="['/entity','taux-epargne', { outlets: { popup: ['taux-epargne-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down" jhiFnmTranslate="sfdApp.tauxEpargne.home.createLabel">
                Create new Taux Epargne
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'sfdApp.tauxEpargne.home.search' | fnmtranslate : langue.lang | async }}">
                    <button class="btn-floating waves-effect waves-light" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="btn-floating waves-effect waves-light" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <ng-template #elseBlock>
        <div class="ui active centered inline loader">
            {{principal.loading}}
        </div>
    </ng-template>
    <div class="table-responsive" *ngIf="tauxEpargnes;else elseBlock">
        <table class="bordered striped highlight">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                    <!-- <th jhiSortBy="id"><span jhiFnmTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th> -->
                    <th class="numerotab">N°</th>
                    <th jhiSortBy="libelle"><span jhiFnmTranslate="sfdApp.tauxEpargne.libelle">Libelle</span> <span class="fa fa-sort"></span></th>
                    <th jhiSortBy="valeur"><span jhiFnmTranslate="sfdApp.tauxEpargne.valeur">Valeur</span> <span class="fa fa-sort"></span></th>
                    <th jhiSortBy="produitId"><span jhiFnmTranslate="sfdApp.tauxEpargne.produit">Produit</span> <span class="fa fa-sort"></span></th>
                    <th jhiSortBy="typeValeur"><span jhiFnmTranslate="sfdApp.tauxEpargne.typeValeur">Type Valeur</span> <span class="fa fa-sort"></span></th>
                    <th class="text-right">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let tauxEpargne of tauxEpargnes | recherche:currentSearch ;let index=index;trackBy: trackId">
                    <!-- <td><a [routerLink]="['../taux-epargne', tauxEpargne.id ]">{{tauxEpargne.id}}</a></td> -->
                    <td class="numerotab">{{(index + 1) + (itemsPerPage * (page -1))}}</td>
                    <td>{{tauxEpargne?.libelle}}</td>
                    <td>
                        <span *ngIf="tauxEpargne.typeValeur == 'TAUX'">
                            {{tauxEpargne.valeur}} % </span>
                        <span *ngIf="tauxEpargne.typeValeur == 'FRAIS'">
                            {{tauxEpargne.valeur | currency:'XAF':true:'2.0'}} </span>
                        <span *ngIf="!tauxEpargne.typeValeur ||tauxEpargne.typeValeur == 'AUCUN'">
                            {{tauxEpargne.valeur}} </span>
                    </td>
                    <td>
                        <div *ngIf="tauxEpargne.produitId">
                            <a>{{produit(tauxEpargne?.produitId)?.libelle}}</a>
                        </div>
                    </td>
                    <td jhiFnmTranslate="{{'carmesfnmserviceApp.TauxFraisType.' + tauxEpargne.typeValeur}}">{{tauxEpargne.typeValeur}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <!-- <button *jhiHasAnyRessources="'carmesfnmservice/api/taux-epargnes/getTauxEpargne'" type="submit" [routerLink]="['/entity','taux-epargne', tauxEpargne.id ]" class="btn btn-info btn-sm">
                                <span class="fa fa-eye"></span>
                            </button> -->
                            <button *jhiHasAnyRessources="['carmesfnmservice/api/taux-epargnes/updateTauxEpargne']" type="submit" [routerLink]="['/entity','taux-epargne', { outlets: { popup: 'taux-epargne/'+ tauxEpargne.id + '/edit'} }]" replaceUrl="true" class="btn btn-primary btn-sm">
                                <span class="fa fa-pencil"></span>
                                <!-- <span class="hidden-md-down" jhiFnmTranslate="entity.action.edit">Edit</span> -->
                            </button>
                            <button *jhiHasAnyRessources="['carmesfnmservice/api/taux-epargnes/deleteTauxEpargne']" type="submit" [routerLink]="['/entity','taux-epargne', { outlets: { popup: 'taux-epargne/'+ tauxEpargne.id + '/delete'} }]" replaceUrl="true" class="btn btn-danger btn-sm">
                                <span class="fa fa-remove"></span>
                                <!-- <span class="hidden-md-down" jhiFnmTranslate="entity.action.delete">Delete</span> -->
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="tauxEpargnes && tauxEpargnes.length">
        <div class="row justify-content-center">
            <!-- <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count> -->
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)" [pageSize]="itemsPerPage"></ngb-pagination>
        </div>
    </div>
</div>