<div>
    <h3>
        <span jhiFnmTranslate="sfdApp.delegationComity.home.title">Delegation Comities</span>
        <button *jhiHasAnyRessources="'carmesfnmservice/api/delegation-comities/createDelegationComity'" class="btn btn-primary float-right jh-create-entity create-delegation-comity" [routerLink]="['/entity','delegation-comity', { outlets: { popup: ['delegation-comity-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down" jhiFnmTranslate="sfdApp.delegationComity.home.createLabel">
                Create new Delegation Comity
            </span>
        </button>
    </h3>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'sfdApp.delegationComity.home.search' | fnmtranslate : langue.lang | async }}">
                    <button class="btn-floating waves-effect waves-light" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="btn-floating waves-effect waves-light" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <ng-template #elseBlock>
        <div class="ui active centered inline loader">
            {{principal.loading}}
        </div>
    </ng-template>
    <div class="table-responsive" *ngIf="delegationComities;else elseBlock">
        <table class="bordered striped highlight">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                    <!-- <th jhiSortBy="reference"><span jhiFnmTranslate="sfdApp.delegationComity.reference">Reference</span> <span class="fa fa-sort"></span></th> -->
                    <th class="numerotab">N°</th>
                    <th jhiSortBy="libelle">
                        <span jhiFnmTranslate="sfdApp.delegationComity.libelle">Libellé</span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <!-- <th jhiSortBy="nbMember"><span jhiFnmTranslate="sfdApp.delegationComity.nbMember">Nb Member</span> <span class="fa fa-sort"></span></th> -->
                    <th jhiSortBy="maxAmount">
                        <span jhiFnmTranslate="sfdApp.delegationComity.maxAmount">Max Amount</span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="globalMaxAmount">
                        <span jhiFnmTranslate="sfdApp.delegationComity.globalMaxAmount">Global Max Amount</span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <!-- <th jhiSortBy="delegationSignatureFileUrl"><span jhiFnmTranslate="sfdApp.delegationComity.delegationSignatureFileUrl">Delegation Signature File Url</span> <span class="fa fa-sort"></span></th> -->
                    <th>
                        <span>Nombre de membre délégués</span>
                    </th>

                    <th class="text-right">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let delegationComity of delegationComities | recherche:currentSearch ;let index = index;trackBy: trackId" (click)="showDelegation(delegationComity)" [ngClass]="{current:currentDelegation?.id == delegationComity.id}" style="cursor:pointer;">
                    <td class="numerotab">{{(index + 1) + (itemsPerPage * ((page|| 1) -1))}}</td>
                    <td>{{delegationComity.libelle}}</td>
                    <td>{{delegationComity.maxAmount| currency:'XAF':true:'2.0-3'}}</td>
                    <td>{{delegationComity.globalMaxAmount| currency:'XAF':true:'2.0-3'}}</td>
                    <td>{{delegationComity?.delegatedMembers.length}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button *jhiHasAnyRessources="'carmesfnmservice/api/delegation-comities/updateDelegationComity'" type="submit" [routerLink]="['/entity','delegation-comity', { outlets: { popup: 'delegation-comity/'+ delegationComity.id + '/edit'} }]" replaceUrl="true"
                                class="btn btn-primary btn-sm">
                                <span class="fa fa-pencil"></span>
                            </button>
                            <button *jhiHasAnyRessources="'carmesfnmservice/api/delegation-comities/deleteDelegationComity'" type="submit" [routerLink]="['/entity','delegation-comity', { outlets: { popup: 'delegation-comity/'+ delegationComity.id + '/delete'} }]" replaceUrl="true"
                                class="btn btn-danger btn-sm">
                                <span class="fa fa-remove"></span>
                            </button>
                            <div class="ui dropdown">
                                <div class="text" style="display:none"></div>
                                <i class="ellipsis vertical icon"></i>
                                <div class="left menu">
                                    <div class="item" [routerLink]="['/entity', 'delegated-member', {outlets: {popup: ['delegated-member-new']}}]" [queryParams]="{'delegation':currentDelegation?.id}">
                                        <i class="plus icon"></i> Ajouter un membre
                                    </div>
                                    <a class="item" [href]="getDoc(delegationComity.delegationSignatureFileUrl)" *ngIf="delegationComity.delegationSignatureFileUrl" target="_blank">
                                        Voir le fichier joint
                                    </a>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="delegationComities && delegationComities.length">
        <div class="row justify-content-center">
            <!--  <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count> -->
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)" [pageSize]="itemsPerPage"></ngb-pagination>
        </div>
    </div>
    <div class="table-responsive" *ngIf="currentDelegation">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="card-title mb-0">
                    Liste des membres de la délégation {{currentDelegation.libelle}}
                </h3>
            </div>
            <!-- <div class="col-sm-7 hidden-sm-down">
                <button type="button" class="btn btn-primary float-right" [routerLink]="['/entity','delegated-member', { outlets: { popup: ['delegated-member-new'] } }]" [queryParams]="{'delegation':currentDelegation?.id}"><span class="fa fa-plus"></span></button>
            </div> -->
        </div>
        <hr>
        <table class="bordered striped highlight">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">

                    <!-- <th jhiSortBy="status"><span jhiFnmTranslate="sfdApp.groupMember.status">Status</span> <span class="fa fa-sort"></span></th> -->
                    <th>Nom & Prénoms</th>
                    <th>Role</th>
                    <th>Actif</th>
                    <th>Date De Nomination</th>
                    <th>Date Fin Nomination</th>
                    <th class="text-right">Actions</th>
                </tr>
            </thead>
            <tbody>
                <!-- <tr *ngFor="let delegated of delegateds | delegation: currentDelegation?.id"> -->
                <tr *ngFor="let delegated of currentDelegation?.delegatedMembers">
                    <td>{{delegated.user}}</td>
                    <td>{{delegated.roleDelegatedMember?.name}}</td>
                    <td>
                        <span *ngIf="delegated.status">Oui</span>
                        <span *ngIf="!delegated.status">Non</span>
                    </td>
                    <td>{{delegated.nominationDate | date:'dd-MM-y'}}</td>
                    <td>{{delegated.endNominationDate | date:'dd-MM-y'}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit" [routerLink]="['/entity','delegated-member', { outlets: { popup: 'delegated-member/'+ delegated.id + '/edit'} }]" replaceUrl="true" class="btn btn-primary btn-sm">
                                <span class="fa fa-pencil"></span>
                            </button>
                            <!-- <button type="submit" [routerLink]="['/entity','delegated-member', { outlets: { popup: 'delegated-member/'+ delegated.id + '/delete'} }]" replaceUrl="true" class="btn btn-danger btn-sm">
                                <span class="fa fa-remove"></span>
                            </button> -->
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>