<div>
    <h2>
        <span jhiFnmTranslate="sfdApp.typeMembre.home.title">Type Membres</span>
        <button class="btn btn-primary float-right create-type-membre" [routerLink]="['/entity','type-membre', { outlets: { popup: ['type-membre-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiFnmTranslate="sfdApp.typeMembre.home.createLabel">
            Create new Type Membre
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'sfdApp.typeMembre.home.search' | fnmtranslate : langue.lang | async }}">
                    <button class="btn-floating waves-effect waves-light" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="btn-floating waves-effect waves-light" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <ng-template #elseBlock>
        <div class="ui active centered inline loader">
            {{principal.loading}}
        </div>
    </ng-template>
    <div class="table-responsive" *ngIf="typeMembres;else elseBlock">
        <table class="bordered striped highlight">
            <thead>
                <tr>
                    <!-- <th><span jhiFnmTranslate="global.field.id">ID</span></th> -->
                    <th><span jhiFnmTranslate="sfdApp.typeMembre.name">Name</span></th>
                    <!-- <th><span jhiFnmTranslate="sfdApp.typeMembre.code">Code</span></th> -->
                    <th class="text-right">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let typeMembre of typeMembres  | recherche:currentSearch ;trackBy: trackId">
                    <!-- <td><a [routerLink]="['/entity','type-membre', typeMembre.id ]">{{typeMembre.id}}</a></td> -->
                    <td>{{typeMembre.name}}</td>
                    <!-- <td>{{typeMembre.code}}</td> -->
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit" [routerLink]="['/entity','type-membre', typeMembre.id ]" class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <!-- <span class="hidden-md-down" jhiFnmTranslate="entity.action.view">View</span> -->
                        </button>
                            <button type="submit" [routerLink]="['/entity','type-membre', { outlets: { popup: 'type-membre/'+ typeMembre.id + '/edit'} }]" replaceUrl="true" class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <!-- <span class="hidden-md-down" jhiFnmTranslate="entity.action.edit">Edit</span> -->
                        </button>
                            <button type="submit" [routerLink]="['/entity','type-membre', { outlets: { popup: 'type-membre/'+ typeMembre.id + '/delete'} }]" replaceUrl="true" class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <!-- <span class="hidden-md-down" jhiFnmTranslate="entity.action.delete">Delete</span> -->
                        </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>