<div>
    <div class="row">
        <div class="form-group col-6" *ngIf="agences.length > 1">
            <label class="form-control-label active" for="field_agence">Choisissez une agence</label>
            <select class="ui fluid search dropdown" name="agence" [(ngModel)]="agence" id="field_agence" (change)="onAgenceChange()">
             <option [ngValue]="null">Veuillez choisir une agence</option>
                <option [ngValue]="agence.codeAgence" *ngFor="let agence of agences">{{agence.name}}</option>
            </select>
        </div>
        <div class="form-group col-6" *ngIf="caisses.length > 0">
            <label class="form-control-label active" for="field_caisse">Choisissez une caisse</label>
            <select class="ui fluid search dropdown" name="caisse" [(ngModel)]="selectedCaisse" id="field_caisse" (change)="onCaisseChange()">
             <option [ngValue]="null">Veuillez choisir une caisse</option>
             <option [ngValue]="caisse" *ngFor="let caisse of caisses">{{caisse.libelle}} ({{ caisse.reference }})</option>
            </select>
        </div>
    </div>

    <h2 class="liste-header">
        <span>Caisses</span>

    </h2>
    <jhi-alert></jhi-alert>

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control"
                        [(ngModel)]="currentSearch" id="currentSearch"
                        name="currentSearch" placeholder="">
                    <button class="btn-floating waves-effect waves-light"
                        (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="btn-floating waves-effect waves-light"
                        (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">

        </div>
                <div class="field col-lg-3">
                <label for="date1" class="form-control-label">Du</label>
                <ngbd-datepicker-i18n name="date1" [(ngModel)]="date1" (ngModelChange)="onPeriodChange()"></ngbd-datepicker-i18n>
            </div>
            <div class="field col-lg-3">
                <label for="date2" class="form-control-label">Au</label>
                <ngbd-datepicker-i18n name="date2" [(ngModel)]="date2" (ngModelChange)="onPeriodChange()"></ngbd-datepicker-i18n>
            </div>
    </div>

    <table class="bordered striped highlight">
        <thead>
            <tr>
                <th class="numerotab">N°</th>
                <th><span>Réference</span></th>
                <th><span>Numéro de Compte</span></th>
                <th><span>Date</span></th>
                <th><span>Débit</span></th>
                <th><span>Crédit</span></th>
                <th><span>Solde</span></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let operation of operationCaisses | recherche:currentSearch ;let index=index;trackBy: trackId">
                <td class="numerotab">{{(index + 1) + (itemsPerPage * ((page|| 1) -1))}}</td>
                <td>{{operation.reference}}</td>
                <td>{{operation.account}}</td>
                <td>{{operation.date}}</td>
                <td>{{operation && operation.debit | currency:'XAF':true:'2.0'}}</td>
                <td>{{ caisseNouvelle && caisseNouvelle.credit | currency:'XAF':true:'2.0' }}</td>
                <td>{{ caisseNouvelle && caisseNouvelle.solde | currency:'XAF':true:'2.0' }}</td>

            </tr>
        </tbody>
    </table>

    </div>
