<!-- <div *ngIf="address">
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiFnmTranslate="sfdApp.address.maison">Home</span></dt>
        <dd>
            <span>{{address.home}}</span>
        </dd>
        <dt><span jhiFnmTranslate="sfdApp.address.observation">Observation</span></dt>
        <dd>
            <span>{{address.observation}}</span>
        </dd>
        <dt><span jhiFnmTranslate="sfdApp.address.district">District</span></dt>
        <dd>
            <div *ngIf="address.districtId">
                <a [routerLink]="['/entity','district', address.districtId]">{{address.districtId}}</a>
            </div>
        </dd>
        <dt><span jhiFnmTranslate="sfdApp.address.client">Client</span></dt>
        <dd>
            <div *ngIf="address.clientId">
                <a [routerLink]="['/entity','client', address.clientId]">{{address.clientId}}</a>
            </div>
        </dd>
        <dd>
            <span>{{address.geoLong}}</span>
        </dd>
        <dt><span jhiFnmTranslate="sfdApp.address.geoLat">Geo Lat</span></dt>
        <dd>
            <span>{{address.geoLat}}</span>
        </dd>
    </dl>

    <button type="submit" (click)="previousState()" class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiFnmTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button" [routerLink]="['/entity','address', { outlets: { popup: 'address/'+ address.id + '/edit'} }]"
        replaceUrl="true" class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiFnmTranslate="entity.action.edit"> Edit</span>
    </button>
</div> -->
