<div>
    <h2 *ngIf="!params || (!params.client && !params.produit)">
        <span jhiFnmTranslate="sfdApp.creditRequest.home.title">Credit Requests</span>
        <button *jhiHasAnyRessources="'carmesfnmservice/api/credit-requests/createCreditRequest'" class="btn btn-primary float-right create-credit-request" [routerLink]="['/entity','credit-request', { outlets: { popup: ['credit-request-new'] } }]">
            <span class="fa fa-plus"></span>
            <!-- <span class="hidden-sm-down"  jhiFnmTranslate="sfdApp.creditRequest.home.createLabel">Create new Credit Request</span> -->
        </button>
    </h2>
    <h3 *ngIf="params && params.client">
        <span jhiFnmTranslate="sfdApp.creditRequest.specific" translateValues="{id: '{{client()}}'}">Les demandes du client</span>
        <button class="btn btn-primary float-right create-credit-request" [routerLink]="['/entity','credit-request', { outlets: { popup: ['credit-request-new'] } }]" [queryParams]="{client: params.client}" *jhiHasAnyRessources="'carmesfnmservice/api/credit-requests/createCreditRequest'">
            <span class="fa fa-plus"></span>
            <!-- <span class="hidden-sm-down"  jhiFnmTranslate="sfdApp.creditRequest.home.createLabel">Create new Credit Request</span> -->
        </button>
    </h3>
    <h3 *ngIf="params && params.produit">
        <span jhiFnmTranslate="sfdApp.creditRequest.specificProduit" translateValues="{id: '{{produit()}}'}">Les demandes du produit</span>
        <button class="btn btn-primary float-right create-credit-request" [routerLink]="['/entity','credit-request', { outlets: { popup: ['credit-request-new'] } }]" [queryParams]="{produit: params.produit}" *jhiHasAnyRessources="'carmesfnmservice/api/credit-requests/createCreditRequest'">
            <span class="fa fa-plus"></span>
            <!-- <span class="hidden-sm-down"  jhiFnmTranslate="sfdApp.creditRequest.home.createLabel">Create new Credit Request</span> -->
        </button>
    </h3>
    <!-- <div>
      <div class="ui large buttons float-right">
      <button class="ui button">Demande non traitée</button>
      <div class="or" data-text="ou"></div>
      <button class="ui button">Demande préalablement étudiée</button>
      <div class="or" data-text="ou"></div>
      <button class="ui button">Demande techniquement étudiée </button>
    </div>
    </div> -->
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-6">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{'sfdApp.creditRequest.home.search'|fnmtranslate: langue.lang|async}}">
                    <button class="btn-floating waves-effect waves-light" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="btn-floating waves-effect waves-light" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
        <div class="field col-sm-3 search-date">
            <label for="date1" class="form-control-label">Du</label>
            <ngbd-datepicker-i18n name="date1" [(ngModel)]="date1" (ngModelChange)="onPeriodChange()"></ngbd-datepicker-i18n>
        </div>
        <div class="field col-sm-3 search-date">
            <label for="date2" class="form-control-label">Au</label>
            <ngbd-datepicker-i18n name="date2" [(ngModel)]="date2" (ngModelChange)="onPeriodChange()"></ngbd-datepicker-i18n>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="state"></label>
                <select class="browser-default ui fluid dropdown" id="state" (change)="onCreditRequestStatuesChange($event.target.value)">
                    <option *ngFor="let status of creditrequeststatuses" value="{{status.id}}" [selected]="status.id === creditRequestStatusSelected">{{status.name}}</option>
                </select>
            </div>
        </div>
    </div> -->
    <br>
    <br>
    <br>
    <div class="ui grid">
        <div class="ten wide column">
            <div class="nine ui buttons">
                <button class="ui button" *ngFor="let status of creditrequeststatuses|statusorder:'id'|slice:0:4" [ngClass]="{active:status.id === creditRequestStatusSelected}" (click)="onCreditRequestStatuesChange(status.id, status.name)">{{status.name|demandeStatusName}}</button>
                <button class="ui button" [ngClass]="{active:creditRequestStatusSelected === null}" (click)="onCreditRequestStatuesChange()">Toutes les demandes</button>
            </div>
        </div>

    </div>
    <br />
    <ng-template #elseBlock>
        <div class="ui active centered inline loader">{{principal.loading}}</div>
    </ng-template>
    <div class="table-responsive" *ngIf="creditRequests;else elseBlock">
        <table class="bordered striped highlight">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                    <!-- <th jhiSortBy="id"><span jhiFnmTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th> -->
                    <th class="numerotab">N°</th>
                    <th jhiSortBy="reference">
                        <span jhiFnmTranslate="sfdApp.creditRequest.reference">Référence</span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="requestDate">
                        <span jhiFnmTranslate="sfdApp.creditRequest.requestDate">Request Date</span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th>
                        <span>Code Client</span>
                    </th>
                    <th jhiSortBy="clientId" *ngIf="!params || !params?.client">
                        <span jhiFnmTranslate="sfdApp.creditRequest.client">Client</span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="produitId" *ngIf="!params || !params?.produit">
                        <span jhiFnmTranslate="sfdApp.creditRequest.produit">Produit</span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="amount">
                        <span jhiFnmTranslate="sfdApp.creditRequest.amount">Amount</span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="interestRate">
                        <span jhiFnmTranslate="sfdApp.creditRequest.interestRate">Interest Rate</span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="duration">
                        <span jhiFnmTranslate="sfdApp.creditRequest.duration">Duration</span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <!-- <th jhiSortBy="nbrDiffere"><span jhiFnmTranslate="sfdApp.creditRequest.nbrDiffere">Nbr Differe</span> <span class="fa fa-sort"></span></th> -->
                    <!-- <th jhiSortBy="requestStatusId"><span jhiFnmTranslate="sfdApp.creditRequest.requestStatus">Request Status</span> <span class="fa fa-sort"></span></th> -->
                    <!-- <th jhiSortBy="requestObjectId"><span jhiFnmTranslate="sfdApp.creditRequest.requestObject">Request Object</span> <span class="fa fa-sort"></span></th> -->
                    <!-- <th jhiSortBy="sfdUsersId"><span jhiFnmTranslate="sfdApp.creditRequest.sfdUsers">Sfd Users</span> <span class="fa fa-sort"></span></th> -->
                    <!-- <th jhiSortBy="periodicityId"><span jhiFnmTranslate="sfdApp.creditRequest.periodicity">Periodicity</span> <span class="fa fa-sort"></span></th> -->
                    <!-- <th jhiSortBy="clientConditionNoteId"><span jhiFnmTranslate="sfdApp.creditRequest.clientConditionNote">Client Condition Note</span> <span class="fa fa-sort"></span></th> -->
                    <th jhiSortBy="requestStatusId" *ngIf="!creditRequestStatusSelected">
                        <span>Statut du dossier</span>
                    </th>
                    <th jhiSortBy="expressionRequest">
                        <span jhiFnmTranslate="sfdApp.creditRequest.expressionRequest">Expression de la demande</span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th class="text-right">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let creditRequest of creditRequests|client:params|statusorder|recherche:currentSearch ;let index = index;" class="{{flagClass[creditRequest.requestStatus?.name || 'DEMANDE']}}">
                    <!-- <td><a [routerLink]="['/entity','credit-request', creditRequest.id ]">{{creditRequest.id}}</a></td> -->
                    <td class="numerotab">{{(index + 1) + (itemsPerPage * ((page|| 1) -1))}}</td>
                    <td>{{creditRequest.reference}}</td>
                    <td>{{creditRequest.requestDate | date:'dd-MM-y'}}</td>
                    <td>{{creditRequest?.client?.code}}</td>
                    <td *ngIf="!params || !params?.client">
                        <div>
                            <!-- <a *ngIf="creditRequest.clientLib">{{creditRequest.clientLib}}</a>
                            <a *ngIf="!creditRequest.clientLib">{{creditRequest?.client?.name}} {{creditRequest?.client?.firstName}}</a> -->
                            <a>{{creditRequest?.client?.name}} {{creditRequest?.client?.firstName}} {{creditRequest?.client?.denomination}}</a>
                        </div>
                    </td>
                    <!--<td>{{credit?.clientLib}}</td>-->
                    <td *ngIf="!params || !params?.produit">
                        <div>
                            <a>{{creditRequest?.produit?.libelle}}</a>
                        </div>
                    </td>
                    <td>{{creditRequest.amount | currency:'XAF':true:'2.0'}}</td>
                    <td>{{creditRequest.interestRate}}%</td>
                    <td>{{creditRequest.duration}} mois</td>
                    <td *ngIf="!creditRequestStatusSelected">
                        {{status(creditRequest.requestStatusId)}}
                    </td>
                    <td>{{creditRequest.expressionRequest}}</td>
                    <!-- <td>{{creditRequest.nbrDiffere}}</td> -->
                    <!-- <td>
                            <div *ngIf="creditRequest.requestStatusId">
                            <a [routerLink]="['/entity','credit-request-status', creditRequest.requestStatusId  ]">{{creditRequest.requestStatusId}}</a>
                          </div>
                        </td> -->
                    <!--  <td>
                        <div *ngIf="creditRequest.requestObjectId">
                        <a [routerLink]="['/entity','request-raison', creditRequest.requestObjectId  ]">{{creditRequest.requestObjectId}}</a>
                      </div>
                    </td> -->
                    <!-- <td>
                    <div *ngIf="creditRequest.sfdUsersId">
                    <a [routerLink]="['/entity','service-user', creditRequest.sfdUsersId  ]">{{creditRequest.sfdUsersId}}</a>
                    </div>
                    </td> -->
                    <!-- <td>
                    <div *ngIf="creditRequest.periodicityId">
                    <a [routerLink]="['/entity','periodicity', creditRequest.periodicityId  ]">{{creditRequest.periodicityId}}</a>
                    </div>
                    </td> -->
                    <!-- <td>
                                            <div *ngIf="creditRequest.clientConditionNoteId">
                                                <a [routerLink]="['../client-condition-note', creditRequest.clientConditionNoteId  ]">{{creditRequest.clientConditionNoteId}}</a>
                                            </div>
                                        </td> -->
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button *jhiHasAnyRessources="'carmesfnmservice/api/credit-requests/getAllCreditRequests'" type="submit" [routerLink]="['/entity', 'credit-request',creditRequest.id, 'print']" class="btn btn-info btn-sm">
                                <span class="fa fa-eye"></span>
                            </button>
                            <span *ngIf="creditRequest.requestStatusId == 10">
                                <button *jhiHasAnyRessources="'carmesfnmservice/api/credit-requests/updateCreditRequest'" type="submit" [routerLink]="['/entity','credit-request', { outlets: { popup: 'credit-request/'+ creditRequest.id + '/edit'} }]" replaceUrl="true" class="btn btn-primary btn-sm">
                                    <span class="fa fa-pencil"></span>
                            </button>
                            </span>
                            <!-- <button *jhiHasAnyRessources="'carmesfnmservice/api/credit-requests/deleteCreditRequest'" type="submit" [routerLink]="['/entity','credit-request', { outlets: { popup: 'credit-request/'+ creditRequest.id + '/delete'} }]" replaceUrl="true" class="btn btn-danger btn-sm">
                                <span class="fa fa-remove"></span>
                            </button> -->
                            <div class="ui dropdown" onclick="hideEmptyDiv();">
                                <div class="text" style="display:none"></div>
                                <i class="ellipsis vertical icon"></i>
                                <div class="left menu">
                                    <div class="item">
                                        <a class="ui teal tag label">Status: {{status(creditRequest.requestStatusId)}}</a>
                                    </div>
                                    <div class="item" *ngIf="creditRequest.requestStatusId != 10">
                                        <a [routerLink]="['/entity','credit-request', { outlets: { popup: 'credit-request-montant/'+ creditRequest.id + '/etapes' } }]">Voir les montants des étapes</a>
                                    </div>
                                    <div class="item" *jhiHasAnyRessources="'carmesfnmservice/api/etudes/createEtude'">
                                        <div [routerLink]="['/entity','etude', { outlets: { popup: ['etude-new'] } }]" [queryParams]="{type:'prealable',demande:creditRequest.id}" *ngIf="!creditRequest.requestStatusId ||creditRequest.requestStatusId == 10">
                                            <i class="folder icon"></i> Faites l'etude préalable de la demande
                                        </div>
                                    </div>
                                    <div class="item" *jhiHasAnyRessources="'carmesfnmservice/api/etudes/createEtude'">
                                        <div [routerLink]="['/entity','etude', { outlets: { popup: ['etude-new'] } }]" [queryParams]="{type:'detaille',demande:creditRequest.id}" *ngIf="creditRequest.requestStatusId == 1">
                                            <i class="folder icon"></i> Faites l'etude detaillée de la demande
                                        </div>
                                    </div>
                                    <div class="divider"></div>
                                    <div class="item" [routerLink]="['/entity', 'credit-request',creditRequest.id, 'print-new']">Fiche demande de credit</div>
                                    <div class="divider"></div>
                                    <div class="item" *ngIf="creditRequest.requestStatusId === 2">
                                        <a [routerLink]="['/entity', 'credit-request',creditRequest.etudeId,creditRequest.userReference, 'valider']">Validation Revolving</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="creditRequests && creditRequests.length">
        <div class="row justify-content-center">
            <!-- <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count> -->
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)" [pageSize]="itemsPerPage"></ngb-pagination>
        </div>
    </div>
</div>
<!-- <div class="ui compact selection dropdown">
    <i class="dropdown icon"></i>
    <div class="text">Impressions</div>
    <div class="menu">
        <div class="item" jhiFnmTranslate="impressions.requests.all">Toutes les demandes</div>
    </div>
</div> -->
