<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myTrancheTauxFraisLabel" [jhiFnmTranslate]="trancheTauxFrais.id ? 'sfdApp.trancheTauxFrais.home.createOrEditLabel' : 'sfdApp.trancheTauxFrais.home.createLabel'">Create or edit a Tranche Taux Frais</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <!-- <div class="form-group" [hidden]="!trancheTauxFrais.id">
            <label for="id" jhiFnmTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id" [(ngModel)]="trancheTauxFrais.id" readonly />
        </div> -->
        <div class="form-group">
            <label class="form-control-label active" jhiFnmTranslate="sfdApp.trancheTauxFrais.minInterval" for="field_minInterval">Min Interval</label>
            <input type="number" min="1" class="form-control" name="minInterval" id="field_minInterval" [(ngModel)]="trancheTauxFrais.minInterval" required />
            <div [hidden]="!(editForm.controls.minInterval?.dirty && editForm.controls.minInterval?.invalid)">
                <small class="form-text text-danger" [hidden]="!editForm.controls.minInterval?.errors?.required" jhiFnmTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger" [hidden]="!editForm.controls.minInterval?.errors?.number" jhiFnmTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label active" jhiFnmTranslate="sfdApp.trancheTauxFrais.maxInterval" for="field_maxInterval">Max Interval</label>
            <input type="number" min="1" class="form-control" name="maxInterval" id="field_maxInterval" [(ngModel)]="trancheTauxFrais.maxInterval" required />
            <div [hidden]="!(editForm.controls.maxInterval?.dirty && editForm.controls.maxInterval?.invalid)">
                <small class="form-text text-danger" [hidden]="!editForm.controls.maxInterval?.errors?.required" jhiFnmTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger" [hidden]="!editForm.controls.maxInterval?.errors?.number" jhiFnmTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label active" jhiFnmTranslate="sfdApp.trancheTauxFrais.valeur" for="field_valeur">Valeur</label>
            <input type="number" min="1" class="form-control" name="valeur" id="field_valeur" [(ngModel)]="trancheTauxFrais.valeur" required />
            <div [hidden]="!(editForm.controls.valeur?.dirty && editForm.controls.valeur?.invalid)">
                <small class="form-text text-danger" [hidden]="!editForm.controls.valeur?.errors?.required" jhiFnmTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger" [hidden]="!editForm.controls.valeur?.errors?.number" jhiFnmTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label active" jhiFnmTranslate="sfdApp.trancheTauxFrais.type" for="field_type">Type</label>
            <select class="ui fluid search dropdown" name="type" [(ngModel)]="trancheTauxFrais.type" id="field_type" required>
                <option value="FRAIS">FRAIS</option>
                <option value="TAUX">TAUX</option>
                <option value="AUCUN">AUCUN</option>
            </select>
            <div [hidden]="!(editForm.controls.type?.dirty && editForm.controls.type?.invalid)">
                <small class="form-text text-danger" [hidden]="!editForm.controls.type?.errors?.required" jhiFnmTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <!-- <div class="form-group">
            <label class="form-control-label active" jhiFnmTranslate="sfdApp.trancheTauxFrais.createdDate" for="field_createdDate">Created Date</label>
            <div class="input-group">
                <input id="field_createdDate" type="text" class="form-control" name="createdDate" ngbDatepicker #createdDateDp="ngbDatepicker"
                    [(ngModel)]="trancheTauxFrais.createdDate" required/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="createdDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.createdDate?.dirty && editForm.controls.createdDate?.invalid)">
                <small class="form-text text-danger" [hidden]="!editForm.controls.createdDate?.errors?.required" jhiFnmTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div> -->
        <!-- <div class="form-group">
            <label class="form-control-label active" jhiFnmTranslate="sfdApp.trancheTauxFrais.createdBy" for="field_createdBy">Created By</label>
            <input type="text" class="form-control" name="createdBy" id="field_createdBy" [(ngModel)]="trancheTauxFrais.createdBy" required
                maxlength="50" data-length="50" />
            <div [hidden]="!(editForm.controls.createdBy?.dirty && editForm.controls.createdBy?.invalid)">
                <small class="form-text text-danger" [hidden]="!editForm.controls.createdBy?.errors?.required" jhiFnmTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger" [hidden]="!editForm.controls.createdBy?.errors?.maxlength" jhiFnmTranslate="entity.validation.maxlength"
                    translateValues="{ max: 50 }">
                   This field cannot be longer than 50 characters.
                </small>
            </div>
        </div> -->
        <!-- <div class="form-group">
            <label class="form-control-label active" jhiFnmTranslate="sfdApp.trancheTauxFrais.lastModifiedBy" for="field_lastModifiedBy">Last Modified By</label>
            <input type="text" class="form-control" name="lastModifiedBy" id="field_lastModifiedBy" [(ngModel)]="trancheTauxFrais.lastModifiedBy"
                maxlength="50" data-length="50" />
            <div [hidden]="!(editForm.controls.lastModifiedBy?.dirty && editForm.controls.lastModifiedBy?.invalid)">
                <small class="form-text text-danger" [hidden]="!editForm.controls.lastModifiedBy?.errors?.maxlength" jhiFnmTranslate="entity.validation.maxlength"
                    translateValues="{ max: 50 }">
                   This field cannot be longer than 50 characters.
                </small>
            </div>
        </div> -->
        <!--  <div class="form-group">
            <label class="form-control-label active" jhiFnmTranslate="sfdApp.trancheTauxFrais.lastModifiedDate" for="field_lastModifiedDate">Last Modified Date</label>
            <div class="input-group">
                <input id="field_lastModifiedDate" type="text" class="form-control" name="lastModifiedDate" ngbDatepicker #lastModifiedDateDp="ngbDatepicker"
                    [(ngModel)]="trancheTauxFrais.lastModifiedDate" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="lastModifiedDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div> -->

    </div>
    <div class="modal-footer">
        <button type="button" class="waves-effect waves-teal btn-flat" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiFnmTranslate="entity.action.cancel">Cancel</span>
        </button> &nbsp;&nbsp;&nbsp;
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn waves-effect waves-light">
            <span class="fa fa-save"></span>&nbsp;<span jhiFnmTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>