<div>
    <h2>
        <span jhiFnmTranslate="sfdApp.operationComptable.home.title">Operation Comptables</span>
        <button class="btn btn-primary float-right jh-create-entity create-operation-comptable" [routerLink]="['/entity','operation-comptable', { outlets: { popup: ['operation-comptable-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiFnmTranslate="sfdApp.operationComptable.home.createLabel">
            Create new Operation Comptable
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'sfdApp.operationComptable.home.search' | fnmtranslate : langue.lang | async }}">
                    <button class="btn-floating waves-effect waves-light" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="btn-floating waves-effect waves-light" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="operationComptables">
        <table class="bordered striped highlight">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                    <th jhiSortBy="libelle"><span jhiFnmTranslate="sfdApp.operationComptable.libelle">Libelle</span> <span class="fa fa-sort"></span></th>
                    <th jhiSortBy="debit"><span jhiFnmTranslate="sfdApp.operationComptable.debit">Debit</span> <span class="fa fa-sort"></span></th>
                    <th jhiSortBy="credit"><span jhiFnmTranslate="sfdApp.operationComptable.credit">Credit</span> <span class="fa fa-sort"></span></th>
                    <th jhiSortBy="date"><span jhiFnmTranslate="sfdApp.operationComptable.date">Date</span> <span class="fa fa-sort"></span></th>
                    <th jhiSortBy="numPiece"><span jhiFnmTranslate="sfdApp.operationComptable.numPiece">Num Piece</span> <span class="fa fa-sort"></span></th>
                    <th jhiSortBy="comptabiliser"><span jhiFnmTranslate="sfdApp.operationComptable.comptabiliser">Comptabiliser</span> <span class="fa fa-sort"></span></th>
                    <th jhiSortBy="referenceCaisse"><span jhiFnmTranslate="sfdApp.operationComptable.referenceCaisse">Reference Caisse</span> <span class="fa fa-sort"></span></th>
                    <th jhiSortBy="agenceReference"><span jhiFnmTranslate="sfdApp.operationComptable.agenceReference">Agence Reference</span> <span class="fa fa-sort"></span></th>
                    <th jhiSortBy="journalReference"><span jhiFnmTranslate="sfdApp.operationComptable.journalReference">Journal Reference</span> <span class="fa fa-sort"></span></th>
                    <th jhiSortBy="userReference"><span jhiFnmTranslate="sfdApp.operationComptable.userReference">User Reference</span> <span class="fa fa-sort"></span></th>
                    <th jhiSortBy="compteComptableId"><span jhiFnmTranslate="sfdApp.operationComptable.compteComptable">Compte Comptable</span> <span class="fa fa-sort"></span></th>
                    <th class="text-right">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let operationComptable of operationComptables ;trackBy: trackId">
                    <td>{{operationComptable.libelle}}</td>
                    <td>{{operationComptable.debit}}</td>
                    <td>{{operationComptable.credit}}</td>
                    <td>{{operationComptable.date | date:'mediumDate'}}</td>
                    <td>{{operationComptable.numPiece}}</td>
                    <td>{{operationComptable.comptabiliser}}</td>
                    <td>{{operationComptable.referenceCaisse}}</td>
                    <td>{{operationComptable.agenceReference}}</td>
                    <td>{{operationComptable.journalReference}}</td>
                    <td>{{operationComptable.userReference}}</td>
                    <td>
                        <div *ngIf="operationComptable.compteComptableId">
                            <a [routerLink]="['../compte-comptable', operationComptable.compteComptableId  ]">{{operationComptable.compteComptableId}}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit" [routerLink]="['/entity','operation-comptable', operationComptable.id ]" class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                        </button>
                            <button type="submit" [routerLink]="['/entity','operation-comptable', { outlets: { popup: 'operation-comptable/'+ operationComptable.id + '/edit'} }]" replaceUrl="true" class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                        </button>
                            <button type="submit" [routerLink]="['/entity','operation-comptable', { outlets: { popup: 'operation-comptable/'+ operationComptable.id + '/delete'} }]" replaceUrl="true" class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                        </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="operationComptables && operationComptables.length">
        <div class="row justify-content-center">
            <!--  <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count> -->
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>