<div *ngIf="operationComptable">
    <h2><span jhiFnmTranslate="sfdApp.operationComptable.detail.title">Operation Comptable</span> {{operationComptable.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiFnmTranslate="sfdApp.operationComptable.libelle">Libellé</span></dt>
        <dd>
            <span>{{operationComptable.libelle}}</span>
        </dd>
        <dt><span jhiFnmTranslate="sfdApp.operationComptable.debit">Debit</span></dt>
        <dd>
            <span>{{operationComptable.debit}}</span>
        </dd>
        <dt><span jhiFnmTranslate="sfdApp.operationComptable.credit">Credit</span></dt>
        <dd>
            <span>{{operationComptable.credit}}</span>
        </dd>
        <dt><span jhiFnmTranslate="sfdApp.operationComptable.date">Date</span></dt>
        <dd>
            <span>{{operationComptable.date | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiFnmTranslate="sfdApp.operationComptable.numPiece">Num Piece</span></dt>
        <dd>
            <span>{{operationComptable.numPiece}}</span>
        </dd>
        <dt><span jhiFnmTranslate="sfdApp.operationComptable.comptabiliser">Comptabiliser</span></dt>
        <dd>
            <span>{{operationComptable.comptabiliser}}</span>
        </dd>
        <dt><span jhiFnmTranslate="sfdApp.operationComptable.referenceCaisse">Reference Caisse</span></dt>
        <dd>
            <span>{{operationComptable.referenceCaisse}}</span>
        </dd>
        <dt><span jhiFnmTranslate="sfdApp.operationComptable.agenceReference">Agence Reference</span></dt>
        <dd>
            <span>{{operationComptable.agenceReference}}</span>
        </dd>
        <dt><span jhiFnmTranslate="sfdApp.operationComptable.journalReference">Journal Reference</span></dt>
        <dd>
            <span>{{operationComptable.journalReference}}</span>
        </dd>
        <dt><span jhiFnmTranslate="sfdApp.operationComptable.userReference">User Reference</span></dt>
        <dd>
            <span>{{operationComptable.userReference}}</span>
        </dd>
        <dt><span jhiFnmTranslate="sfdApp.operationComptable.compteComptable">Compte Comptable</span></dt>
        <dd>
            <div *ngIf="operationComptable.compteComptableId">
                <a [routerLink]="['/compte-comptable', operationComptable.compteComptableId]">{{operationComptable.compteComptableId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit" (click)="previousState()" class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiFnmTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button" [routerLink]="['/', { outlets: { popup: 'operation-comptable/'+ operationComptable.id + '/edit'} }]" replaceUrl="true" class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiFnmTranslate="entity.action.edit"> Edit</span>
    </button>
</div>