<div>
    <h2>
        <span jhiFnmTranslate="sfdApp.compte.home.title">Comptes</span>
        <!-- <button class="btn btn-primary float-right create-compte" [routerLink]="['/entity','compte-client', { outlets: { popup: ['compte-new'] } }]">
                <span class="fa fa-plus"></span>
                <span class="hidden-sm-down"  jhiFnmTranslate="sfdApp.compte.home.createLabel">
                Create new Compte
                </span>
            </button> -->
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'sfdApp.compte.home.search' | fnmtranslate : langue.lang | async }}">
                    <button class="btn-floating waves-effect waves-light" (click)="search(currentSearch)">
                            <span class="fa fa-search"></span>
                        </button>
                    <button class="btn-floating waves-effect waves-light" (click)="clear()" *ngIf="currentSearch">
                            <span class="fa fa-trash-o"></span>
                        </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <ng-template #elseBlock>
        <div class="ui active centered inline loader">
            {{principal.loading}}
        </div>
    </ng-template>
    <div class="table-responsive" *ngIf="comptes;else elseBlock">
        <table class="bordered striped highlight">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <th class="numerotab">N°</th>
                    <th jhiSortBy="numAccount"><span jhiFnmTranslate="sfdApp.compte.numAccount">Num Account</span> <span class="fa fa-sort"></span></th>
                    <th jhiSortBy="balance"><span jhiFnmTranslate="sfdApp.compte.balance">Balance</span> <span class="fa fa-sort"></span></th>
                    <th jhiSortBy="accountTypeId"><span jhiFnmTranslate="sfdApp.compte.accountType">Account Type</span> <span class="fa fa-sort"></span></th>
                    <th jhiSortBy="clientId"><span jhiFnmTranslate="sfdApp.compte.client">Client</span> <span class="fa fa-sort"></span></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let compte of comptes | recherche:currentSearch ;let index = index;trackBy: trackId">
                <td class="numerotab">{{(index + 1) + (itemsPerPage * ((page|| 1) -1))}}</td>
                    <td>{{compte.numAccount}}</td>
                    <td>{{compte.balance | currency:'XAF':true:'2.0'}}</td>
                    <td>
                        <div>
                            <a>{{compte?.accountType?.name}}</a>
                        </div>
                    </td>
                    <td>
                        <div>
                            <a>{{compte?.client?.name}}</a>
                        </div>
                    </td>
                    <!-- <td class="text-right">
                         <div class="btn-group flex-btn-group-container">
                                <button *jhiHasAnyRessources="'carmesfnmservice/api/comptes/getCompte'" type="submit" [routerLink]="['/entity','compte-client', compte.id ]" class="btn btn-info btn-sm">
                                <span class="fa fa-eye"></span>
                            </button>
                                <button *jhiHasAnyRessources="'carmesfnmservice/api/comptes/updateCompte'" type="submit" [routerLink]="['/entity','compte-client', { outlets: { popup: 'compte/'+ compte.id + '/edit'} }]" replaceUrl="true" class="btn btn-primary btn-sm">
                                <span class="fa fa-pencil"></span>
                            </button>
                                <button *jhiHasAnyRessources="'carmesfnmservice/api/comptes/deleteCompte'" type="submit" [routerLink]="['/entity','compte-client', { outlets: { popup: 'compte/'+ compte.id + '/delete'} }]" replaceUrl="true" class="btn btn-danger btn-sm">
                                <span class="fa fa-remove"></span>
                            </button>
                            </div> 
                    </td>-->
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="comptes && comptes.length">
        <!-- <div class="row justify-content-center"> -->
            <!-- <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count> -->
        <!-- </div> -->
        <div class="row justify-content-center">
            <ngb-pagination [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)" [pageSize]="itemsPerPage"></ngb-pagination>
        </div>
    </div>
</div>
<!-- <div id="print-container" class="print">
    <ul id="print-picker" class="print-list" [ngClass]="{open:printed}">
        <li data-value="en">
            <a class="waves-effect waves-teal btn-flat">English</a>
        </li>
        <li data-value="en">
            <a class="waves-effect waves-teal btn-flat">English</a>
        </li>
        <li data-value="en">
            <a class="waves-effect waves-teal btn-flat">English</a>
        </li>
        <li data-value="nl"><a class="waves-effect waves-teal btn-flat">Nederlands</a></li>
        <li data-value="fr"><a class="waves-effect waves-teal btn-flat">Français</a></li>
        <li data-value="de"><a class="waves-effect waves-teal btn-flat">Deutsch</a></li>
    </ul>
    <div class="print-toggle" (click)="printed = !printed"><span class="printor-current" id="tx-live-lang-current">Impression</span>
        <i class="fa fa-print"></i>
    </div>
</div> -->