<form name="editForm" role="form" novalidate (ngSubmit)="save(editForm)" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myProduitLabel" [jhiFnmTranslate]="produit.id ? 'sfdApp.produit.home.createOrEditLabel' : 'sfdApp.produit.home.createLabel'">Create or edit a Produit</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <!--<div class="form-group">
            <label class="form-control-label active" jhiFnmTranslate="sfdApp.produit.code" for="field_code">Code</label>
            <input type="text" class="form-control" name="code" id="field_code" [(ngModel)]="produit.code" required maxlength="50" data-length="50" />
            <div [hidden]="!(editForm.controls.code?.dirty && editForm.controls.code?.invalid)">
                <small class="form-text text-danger" [hidden]="!editForm.controls.code?.errors?.required" jhiFnmTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger" [hidden]="!editForm.controls.code?.errors?.maxlength" jhiFnmTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                   This field cannot be longer than 50 characters.
                </small>
            </div>
        </div>-->
        <!--  <div class="form-group">
            <label jhiFnmTranslate="sfdApp.produit.categorieProduit" for="field_categorieProduit">Categorie Produit</label>
            <select class="ui fluid search dropdown" id="field_categorieProduit" name="categorieProduit" [(ngModel)]="produit.categorieProduitId">
                <option [ngValue]="null" disabled>Choisissez la catégorie de produit</option>
                <option [ngValue]="categorieProduitOption.id" *ngFor="let categorieProduitOption of categorieproduits; trackBy: trackCategorieProduitById">{{categorieProduitOption.name}}</option>
            </select>
        </div> -->
        <div class="input-field">
            <label class="form-control-label active oblige" jhiFnmTranslate="sfdApp.produit.libelle" for="field_libelle">Libelle</label>
            <input type="text" class="form-control" name="libelle" id="field_libelle" [(ngModel)]="produit.libelle" required maxlength="50" data-length="50" />
            <div [hidden]="!(editForm.controls.libelle?.dirty && editForm.controls.libelle?.invalid)">
                <small class="form-text text-danger" [hidden]="!editForm.controls.libelle?.errors?.required" jhiFnmTranslate="entity.validation.required">
                    This field is required.
                </small>
                <small class="form-text text-danger" [hidden]="!editForm.controls.libelle?.errors?.maxlength" jhiFnmTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                    This field cannot be longer than 50 characters.
                </small>
            </div>
        </div>
        <div class="input-field">
            <label class="form-control-label active oblige" for="field_ageMin">Age minimun</label>
            <input required type="number" min="1" class="form-control" name="ageMin" id="field_ageMin" [(ngModel)]="produit.ageMin" />
        </div>
        <div class="input-field">
            <label class="form-control-label active" for="field_durationMin">Durée minimum</label>
            <input type="number" min="1" class="form-control" name="durationMin" id="field_durationMin" [(ngModel)]="produit.durationMin" />
        </div>
        <div *ngIf="produit.durationMin && (produit.durationMin >= produit.duration)">
            <small class="form-text text-danger">La durée minimum doit être inferieur à {{produit.duration}}</small>
        </div>
        <div class="input-field">
            <label class="form-control-label active oblige" jhiFnmTranslate="sfdApp.produit.duration" for="field_duration">Duration</label>
            <input required type="number" min="1" class="form-control" name="duration" id="field_duration" [(ngModel)]="produit.duration" />
        </div>
        <div *ngIf="editForm.controls.duration?.value && editForm.controls.duration?.value  < 1">
            <small class="form-text text-danger">
                La durée doit être supérieure à 1
            </small>
        </div>
        <div class="input-field">
            <label class="form-control-label active oblige" jhiFnmTranslate="sfdApp.produit.amountMin" for="field_amountMin">Amount Min</label>
            <input type="text" class="form-control" name="amountMin" id="field_amountMin" [ngModel]="produitAmountMin" required (formatNumberMyMiller)="produit.amountMin = $event" />
        </div>
        <div [hidden]="!(editForm.controls.amountMin?.dirty && (editForm.controls.amountMin?.invalid || produit.amountMin < 1))">
            <small class="form-text text-danger" [hidden]="!editForm.controls.amountMin?.errors?.required" jhiFnmTranslate="entity.validation.required">This field is required</small>
            <small class="form-text text-danger" *ngIf="produit.amountMin < 1">Le montant minimum doit dépasser 0</small>
        </div>
        <div class="input-field">
            <label class="form-control-label active oblige" jhiFnmTranslate="sfdApp.produit.amountMax" for="field_amountMax">Amount Max</label>
            <input type="text" class="form-control" name="amountMax" id="field_amountMax" [ngModel]="produitAmountMax" required (formatNumberMyMiller)="produit.amountMax = $event" />
        </div>
        <div [hidden]="!(editForm.controls.amountMax?.dirty && (editForm.controls.amountMax?.invalid || !amountMaxIsSuperiorToAmountMax()))">
            <small class="form-text text-danger" [hidden]="!editForm.controls.amountMax?.errors?.required" jhiFnmTranslate="entity.validation.required">This field is required</small>
            <small class="form-text text-danger" *ngIf="!amountMaxIsSuperiorToAmountMax()">Le montant maximum doit dépasser le montant minimum</small>
        </div>
        <div class="form-group">
            <label class="oblige" jhiFnmTranslate="sfdApp.produit.typeClients" for="field_typeClients">Cibles</label>
            <div class="ui icon input field" [ngClass]="{loading: loadingArray.typeClient}" style="width: 100%;">
                <select required class="ui fluid search dropdown sfd-dropdown" id="field_typeClients" multiple name="typeClientIdArray" [(ngModel)]="typeClientIdArray">
                    <option [ngValue]="null" disabled>Choisissez les cibles</option>
                    <option [ngValue]="typeClient.id" *ngFor="let typeClient of typeClients">{{typeClient.name}}</option>
                </select>
                <i class="icon"></i>
            </div>
        </div>
        <div class="form-group">
            <label jhiFnmTranslate="sfdApp.credit.modeEcheance" for="field_modeEcheance" class="oblige">Mode d'echéances</label>
            <select class="ui fluid search dropdown sfd-dropdown" id="field_modeEcheance" name="modeEcheance" [(ngModel)]="produit.modeEcheance" required>
                <option value="" disabled>Choisissez le mode de calcul</option>
                <option value="DEGRESSIF">DEGRESSIF</option>
                <option value="LINEAIRE">LINEAIRE</option>
                <option value="NOMINAL_CONSTANT">NOMINAL CONSTANT</option>
                <option value="NOMINAL_LIBRE">NOMINAL LIBRE</option>
                <option value="ECHEANCIER_LIBRE">ECHEANCIER LIBRE</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiFnmTranslate="sfdApp.produit.periodicity" for="field_periodicity" class="oblige">Periodicity</label>
            <div class="ui icon input field" [ngClass]="{loading: loadingArray.periodicities}" style="width: 100%;">
                <select required class="ui fluid search dropdown sfd-dropdown" id="field_periodicity" name="periodicity" [(ngModel)]="produit.periodicities" multiple>
                    <option [ngValue]="null" disabled>Choisissez la périodicité</option>
                    <option [ngValue]="getSelected(produit.periodicities, periodicityOption)" *ngFor="let periodicityOption of periodicities; trackBy: trackPeriodicityById">{{periodicityOption.libPeriodicite}}</option>
                </select>
                <i class="icon"></i>
            </div>
        </div>
        <div class="form-group">
            <label for="field_penalities" class="oblige">Penalites</label>
            <div class="ui icon input field" [ngClass]="{loading: loadingArray.penalities}" style="width: 100%;">
                <select required class="ui fluid search dropdown sfd-dropdown" id="field_penalities" name="penalities" [(ngModel)]="produit.penalites" multiple>
                    <option [ngValue]="null" disabled>Choisissez les penalites</option>
                    <option [ngValue]="getSelected(produit.penalites, penality)" *ngFor="let penality of penalities">{{penality.libelle}}</option>
                </select>
                <i class="icon"></i>
            </div>
        </div>
        <div class="form-group">
            <label for="field_contrats" class="oblige">Contrats</label>
            <div class="ui icon input field" [ngClass]="{loading: loadingArray.contrats}" style="width: 100%;">
                <select required class="ui fluid search dropdown sfd-dropdown" id="field_contrats" name="contrats" [(ngModel)]="produit.contratProduits" multiple>
                    <option [ngValue]="null" disabled>Choisissez les contrats</option>
                    <option [ngValue]="getSelected(produit.contratProduits, contrat)" *ngFor="let contrat of contrats">{{contrat.libelle}}</option>
                </select>
                <i class="icon"></i>
            </div>
        </div>
        <div class="form-group advervable">
            <div class="switch">
                <label>
                    Mode de decaissement du client: CARMES &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="checkbox" name="carmes" id="field_carmes" [(ngModel)]="produit.carmes" />
                    <span class="lever"></span>
                </label>
            </div>
        </div>
        <p [hidden]="!produit.carmes" class="text-danger">Garder ce champs actif permet d'envoyer automatiquement le montant décaissé au client sur son compte CARMES</p>
        <div class="form-group advervable">
            <div class="switch">
                <label>
                    Doit être etudié &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="checkbox" name="etudiable" id="field_etudiable" [(ngModel)]="produit.etudiable" />
                    <span class="lever"></span>
                </label>
            </div>
        </div>
        <div class="form-group advervable">
            <div class="switch">
                <label>
                    Doit passer au comité &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="checkbox" name="comitable" id="field_comitable" [(ngModel)]="produit.comitable" />
                    <span class="lever"></span>
                </label>
            </div>
        </div>
        <div class="form-group advervable">
            <div class="switch">
                <label>
                    Le client sera formé &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="checkbox" name="formable" id="field_formable" [(ngModel)]="produit.formable" />
                    <span class="lever"></span>
                </label>
            </div>
        </div>
        <div class="form-group advervable">
            <div class="switch">
                <label>
                    Doit-être notifier &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="checkbox" name="notifiable" id="field_notifiable" [(ngModel)]="produit.notifiable" />
                    <span class="lever"></span>
                </label>
            </div>
        </div>
        <!-- <div class="form-group advervable">
            <div class="switch">
                <label>
     Le produit est-il un crédit?: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <input type="checkbox" name="creditable" id="field_creditable" [(ngModel)]="produit.creditable"/>
      <span class="lever"></span>
    </label>
            </div>
        </div> -->
        <div class="form-group advervable">
            <div class="switch">
                <label>
                    Le client doit-il recevoir un contrat&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="checkbox" name="contractable" id="field_contractable" [(ngModel)]="produit.contractable" />
                    <span class="lever"></span>
                </label>
            </div>
        </div>
        <div class="form-group advervable">
            <div class="switch">
                <label>
                    Activer la possibilité d'appliquer les penalités &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="checkbox" name="penalitable" id="field_penalitable" [(ngModel)]="produit.penalitable" />
                    <span class="lever"></span>
                </label>
            </div>
        </div>
        <div class="form-group advervable">
            <div class="switch">
                <label>
                    Décaissement à retirer en nature (Bien matériel) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="checkbox" name="materiel" id="field_materiel" [(ngModel)]="produit.materiel" />
                    <span class="lever"></span>
                </label>
            </div>
        </div>
        <br>
        <!--  <div class="form-group">
            <div class="switch">
                <label>
     Eligibilité: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <input type="checkbox" name="eligibilite" id="field_eligibilite" [(ngModel)]="produit.eligibilite"/>
      <span class="lever"></span>
    </label>
            </div>
        </div> -->
        <!-- <div class="form-group">
            <label jhiFnmTranslate="sfdApp.produit.typeGaranties" for="field_typeGaranties">Type Garanties</label>
            <div class="ui icon input field" [ngClass]="{loading: loadingArray.typeGaranties}" style="width: 100%;">
                <select class="ui fluid search dropdown sfd-dropdown" id="field_typeGaranties" multiple name="typeGaranties" [(ngModel)]="produit.produitTypeGaranties">
                    <option [ngValue]="null" disabled>Choisissez le type de garantie</option>
                    <option [ngValue]="getSelected(produit.produitTypeGaranties, typeGarantieOption)" *ngFor="let typeGarantieOption of typegaranties; trackBy: trackTypeGarantieById">{{typeGarantieOption.name}}</option>
                </select>
                <i class="icon"></i>
            </div>
        </div> -->
        <!--  <div class="form-group">
            <label jhiFnmTranslate="sfdApp.produit.conditionss" for="field_conditionss">Conditions</label>
            <select class="ui fluid search dropdown" id="field_conditionss" multiple name="conditionss" [(ngModel)]="produit.conditionsses">
                <option [ngValue]="null" disabled>Choisissez les conditions</option>
                <option [ngValue]="getSelected(produit.conditionsses, conditionsOption)" *ngFor="let conditionsOption of conditions; trackBy: trackConditionsById">{{conditionsOption.name}} ({{conditionsOption.valeur}})</option>
            </select>
        </div> -->
        <div class="form-group advervable">
            <div class="switch">
                <label>
                    Le produit a des phases: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="checkbox" name="phasable" id="field_phasable" [(ngModel)]="produit.phasable" />
                    <span class="lever"></span>
                </label>
            </div>
        </div>
        <div class="form-group advervable">
            <div class="switch">
                <label>
                    Activer les conditions d'accès sur le produit?: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="checkbox" name="activeCondition" id="field_activeCondition" [(ngModel)]="activeCondition" />
                    <span class="lever"></span>
                </label>
            </div>
        </div>
        <div class="form-group" [hidden]="!activeCondition">
            <label jhiFnmTranslate="sfdApp.produit.conditionAccess" for="field_conditionAccess" class="oblige">Condition Access</label>
            <div class="ui icon input field" [ngClass]="{loading: loadingArray.conditionAccess}" style="width: 100%;">
                <select class="ui fluid search dropdown sfd-dropdown" id="field_conditionAccess" multiple name="conditionAccess" [(ngModel)]="produit.conditionAccesses" [required]="activeCondition">
                    <option value="null" disabled>Choisissez les conditions d'accès</option>
                    <option [ngValue]="getSelected(produit.conditionAccesses, conditionAccesOption)" *ngFor="let conditionAccesOption of conditions; trackBy: trackConditionAccesById">{{conditionAccesOption.name}}</option>
                </select>
                <i class="icon"></i>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label active" jhiFnmTranslate="sfdApp.produit.noteMinConditionAcces" for="field_noteMinConditionAcces">Note Min Condition Acces</label>
            <input type="number" class="form-control" name="noteMinConditionAcces" id="field_noteMinConditionAcces" [(ngModel)]="produit.noteMinConditionAcces" pattern="^0*[0-9]*$" />
        </div>
        <div class="form-group" *ngIf="params.code !== 'E'">
            <label jhiFnmTranslate="sfdApp.produit.fraiss" for="field_fraiss">Frais</label>
            <div class="ui icon input field" [ngClass]="{loading: loadingArray.frais}" style="width: 100%;">
                <select class="ui fluid search dropdown sfd-dropdown" id="field_fraiss" multiple name="fraiss" [(ngModel)]="produit.fraisses">
                    <option [ngValue]="null" disabled>Choisissez le frais</option>
                    <option [ngValue]="getSelected(produit.fraisses, fraisOption)" *ngFor="let fraisOption of frais; trackBy: trackFraisById">{{fraisOption.libelle}}</option>
                </select>
                <i class="icon"></i>
            </div>
        </div>
        <div class="form-check" *ngIf="params.code === 'E'">
            <p>
                <input type="checkbox" class="filled-in" id="preleverFrais" [(ngModel)]="produit.preleverFrais" name="preleverFrais" />
                <label for="preleverFrais">
                    <span>Prélevez frais</span>
                </label>
            </p>
        </div>
        <div class="input-field" *ngIf="produit.preleverFrais">
            <label class="form-control-label active oblige" for="montantFrais">Montant frais</label>
            <input type="text" class="form-control" name="montantFrais" id="montantFrais" [ngModel]="produitMontantFrais" required (formatNumberMyMiller)="produit.montantFrais = $event">
        </div>
        <div class="form-check">
            <p>
                <input type="checkbox" class="filled-in" id="preleverInteret" [(ngModel)]="produit.preleverInteret" name="preleverInteret">
                <label for="preleverInteret">
                    <span>Prélevez interêt</span>
                </label>
            </p>
        </div>
        <div class="input-field" [hidden]="!produit.preleverInteret">
            <label class="form-control-label active" jhiFnmTranslate="sfdApp.produit.interestRate" for="field_interestRate">Interest Rate</label>
            <input type="number" min="1" class="form-control" name="interestRate" id="field_interestRate" [(ngModel)]="produit.interestRate" />
        </div>
        <div *ngIf="editForm.controls.interestRate?.value && (editForm.controls.interestRate?.value  < 1 || editForm.controls.interestRate?.value > 100)">
            <small class="form-text text-danger">
                Le taux d'intêret doit être comprise entre 1 et 100
            </small>
        </div>
        <div class="ui grid">
            <div class="col-lg-6">
                <div class="input-field">
                    <label class="form-control-label active">Différé</label>
                    <input type="text" placeholder="différé" [(ngModel)]="produit.differe" name="differe" class="form-control" pattern="^[0-9]+$">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="input-field">
                    <label class="form-control-label active">Délai de grâce</label>
                    <input type="text" placeholder="delai de grace" [(ngModel)]="produit.delaiGrace" name="delaiGrace" class="form-control" pattern="^[0-9]+$">
                </div>
            </div>

        </div>
    </div>

    <!-- <div class="form-group" [hidden]="!produit.penalitable">
            <label jhiFnmTranslate="sfdApp.produit.tranchePenals" for="field_tranchePenals">Tranche Penale</label>
            <div class="ui icon input field" [ngClass]="{loading: loadingArray.tranchePenals}" style="width: 100%;">
                <select class="ui fluid search dropdown sfd-dropdown" id="field_tranchePenals" multiple name="tranchePenals" [(ngModel)]="produit.tranchePenals">
                    <option [ngValue]="null" disabled>Choisissez la tranche pénale</option>
                    <option [ngValue]="getSelected(produit.tranchePenals, tranchePenalOption)" *ngFor="let tranchePenalOption of tranchepenals; trackBy: trackTranchePenalById">{{tranchePenalOption.minDay}}-{{tranchePenalOption.maxDay}} ({{tranchePenalOption.penalRate}})</option>
                </select>
                <i class="icon"></i>
            </div>
        </div> -->

    <!-- <div class="form-group">
            <label class="oblige" for="field_penalities">Penalites</label>
            <div class="ui icon input field" [ngClass]="{loading: loadingArray.penalities}" style="width: 100%;">
                <select required class="ui fluid search dropdown sfd-dropdown" id="field_penalities" multiple name="typeClientIdArray" [(ngModel)]="typeClientIdArray">
                    <option [ngValue]="null" disabled>Choisissez les cibles</option>
                    <option [ngValue]="typeClient.id" *ngFor="let typeClient of typeClients">{{typeClient.name}}</option>
                </select>
                <i class="icon"></i>
            </div>
        </div> -->

    <!--
        <div class="form-group">
            <label jhiFnmTranslate="sfdApp.produit.epargne" for="field_tauxs">Taux</label>
            <select class="ui fluid search dropdown" id="field_tauxs" name="taux" [(ngModel)]="produit.tauxs">
                <option [ngValue]="null" disabled>Choisissez le taux d'épargne</option>
                <option [ngValue]="getSelected(produit.tauxs, tauxOption)" *ngFor="let tauxOption of tauxes; trackBy: trackTauxById">{{tauxOption.libelle}}</option>
            </select>
        </div>
     -->
    <div class="modal-footer">
        <button type="button" class="waves-effect waves-teal btn-flat" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;
            <span jhiFnmTranslate="entity.action.cancel">Cancel</span>
        </button> &nbsp;&nbsp;&nbsp;
        <button type="submit" [disabled]="editForm.form.invalid || isSaving ||!onValidate(editForm)" class="btn waves-effect waves-light">
            <span class="fa fa-save"></span>&nbsp;
            <span jhiFnmTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
