<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myEcheancierClientLabel" [jhiFnmTranslate]="echeancierClient.id ? 'sfdApp.echeancierClient.home.createOrEditLabel' : 'sfdApp.echeancierClient.home.createLabel'">Create or edit a Echeancier Client</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <!-- <div class="form-group" [hidden]="!echeancierClient.id">
            <label for="id" jhiFnmTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id" [(ngModel)]="echeancierClient.id" readonly />
        </div>-->
        <div class="form-group">
            <label class="form-control-label active" jhiFnmTranslate="sfdApp.echeancierClient.startDate" for="field_startDate">Start Date</label>
            <div class="input-group">
                <input id="field_startDate" type="text" class="form-control" name="startDate" ngbDatepicker #startDateDp="ngbDatepicker" [(ngModel)]="echeancierClient.startDate" required/>
                <span class="input-group-btn">
                    <button type="button" class="waves-effect waves-teal btn-flat" (click)="startDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.startDate?.dirty && editForm.controls.startDate?.invalid)">
                <small class="form-text text-danger" [hidden]="!editForm.controls.startDate?.errors?.required" jhiFnmTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label active" jhiFnmTranslate="sfdApp.echeancierClient.tauxEpargne" for="field_tauxEpargne">Taux Epargne</label>
            <input type="number" min="1" class="form-control" name="tauxEpargne" id="field_tauxEpargne" [(ngModel)]="echeancierClient.tauxEpargne" required />
            <div [hidden]="!(editForm.controls.tauxEpargne?.dirty && editForm.controls.tauxEpargne?.invalid)">
                <small class="form-text text-danger" [hidden]="!editForm.controls.tauxEpargne?.errors?.required" jhiFnmTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger" [hidden]="!editForm.controls.tauxEpargne?.errors?.number" jhiFnmTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label active" jhiFnmTranslate="sfdApp.echeancierClient.tauxInteret" for="field_tauxInteret">Taux Interet</label>
            <input type="number" min="1" class="form-control" name="tauxInteret" id="field_tauxInteret" [(ngModel)]="echeancierClient.tauxInteret" required />
            <div [hidden]="!(editForm.controls.tauxInteret?.dirty && editForm.controls.tauxInteret?.invalid)">
                <small class="form-text text-danger" [hidden]="!editForm.controls.tauxInteret?.errors?.required" jhiFnmTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger" [hidden]="!editForm.controls.tauxInteret?.errors?.number" jhiFnmTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <!--   <div class="form-group">
            <label class="form-control-label active" jhiFnmTranslate="sfdApp.echeancierClient.createdDate" for="field_createdDate">Created Date</label>
            <div class="input-group">
                <input id="field_createdDate" type="text" class="form-control" name="createdDate" ngbDatepicker #createdDateDp="ngbDatepicker" [(ngModel)]="echeancierClient.createdDate" required/>
                <span class="input-group-btn">
                    <button type="button" class="waves-effect waves-teal btn-flat" (click)="createdDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.createdDate?.dirty && editForm.controls.createdDate?.invalid)">
                <small class="form-text text-danger" [hidden]="!editForm.controls.createdDate?.errors?.required" jhiFnmTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>-->
        <!--  <div class="form-group">
            <label class="form-control-label active" jhiFnmTranslate="sfdApp.echeancierClient.createdBy" for="field_createdBy">Created By</label>
            <input type="text" class="form-control" name="createdBy" id="field_createdBy" [(ngModel)]="echeancierClient.createdBy" required maxlength="50" data-length="50" />
            <div [hidden]="!(editForm.controls.createdBy?.dirty && editForm.controls.createdBy?.invalid)">
                <small class="form-text text-danger" [hidden]="!editForm.controls.createdBy?.errors?.required" jhiFnmTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger" [hidden]="!editForm.controls.createdBy?.errors?.maxlength" jhiFnmTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                   This field cannot be longer than 50 characters.
                </small>
            </div>
        </div>-->
        <!-- <div class="form-group">
            <label class="form-control-label active" jhiFnmTranslate="sfdApp.echeancierClient.lastModifiedBy" for="field_lastModifiedBy">Last Modified By</label>
            <input type="text" class="form-control" name="lastModifiedBy" id="field_lastModifiedBy" [(ngModel)]="echeancierClient.lastModifiedBy" maxlength="50" data-length="50" />
            <div [hidden]="!(editForm.controls.lastModifiedBy?.dirty && editForm.controls.lastModifiedBy?.invalid)">
                <small class="form-text text-danger" [hidden]="!editForm.controls.lastModifiedBy?.errors?.maxlength" jhiFnmTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                   This field cannot be longer than 50 characters.
                </small>
            </div>
        </div>-->
        <!--  <div class="form-group">
            <label class="form-control-label active" jhiFnmTranslate="sfdApp.echeancierClient.lastModifiedDate" for="field_lastModifiedDate">Last Modified Date</label>
            <div class="input-group">
                <input id="field_lastModifiedDate" type="text" class="form-control" name="lastModifiedDate" ngbDatepicker #lastModifiedDateDp="ngbDatepicker" [(ngModel)]="echeancierClient.lastModifiedDate" />
                <span class="input-group-btn">
                    <button type="button" class="waves-effect waves-teal btn-flat" (click)="lastModifiedDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>-->

        <div class="form-group">
            <label jhiFnmTranslate="sfdApp.echeancierClient.credit" for="field_credit">Credit</label>
            <select class="ui fluid search dropdown" id="field_credit" name="credit" [(ngModel)]="echeancierClient.creditId" required>
                <option [ngValue]="creditOption.id" *ngFor="let creditOption of credits; trackBy: trackCreditById">{{creditOption.id}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.credit?.dirty && editForm.controls.credit?.invalid)">
            <small class="form-text text-danger" [hidden]="!editForm.controls.credit?.errors?.required" jhiFnmTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="waves-effect waves-teal btn-flat" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiFnmTranslate="entity.action.cancel">Cancel</span>
        </button> &nbsp;&nbsp;&nbsp;
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn waves-effect waves-light">
            <span class="fa fa-save"></span>&nbsp;<span jhiFnmTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>