<div>
    <h3>
        <span jhiFnmTranslate="sfdApp.schoolLevel.home.title">School Levels</span>
        <button *jhiHasAnyRessources="'carmesfnmservice/api/school-levels/createSchoolLevel'" class="btn btn-primary float-right create-school-level" [routerLink]="['/entity','school-level', { outlets: { popup: ['school-level-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiFnmTranslate="sfdApp.schoolLevel.home.createLabel">
            Create new School Level
            </span>
        </button>
    </h3>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'sfdApp.schoolLevel.home.search' | fnmtranslate : langue.lang | async }}">
                    <button class="btn-floating waves-effect waves-light" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="btn-floating waves-effect waves-light" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <ng-template #elseBlock>
        <div class="ui active centered inline loader">
            {{principal.loading}}
        </div>
    </ng-template>
    <div class="table-responsive" *ngIf="schoolLevels;else elseBlock">
        <table class="bordered striped highlight">
            <thead>
                <tr>
                    <th class="numerotab">N°</th>
                    <th><span jhiFnmTranslate="sfdApp.schoolLevel.niveau">Niveau</span></th>
                    <th class="text-right">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let schoolLevel of schoolLevels  | recherche:currentSearch ;let index = index;trackBy: trackId">
                    <!-- <td><a [routerLink]="['/entity','school-level', schoolLevel.id ]">{{schoolLevel.id}}</a></td> -->
                    <td class="numerotab">{{(index + 1)}}</td>
                    <td>{{schoolLevel.niveau}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <!-- <button type="submit" [routerLink]="['/entity','school-level', schoolLevel.id ]" class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            </button> -->
                            <button *jhiHasAnyRessources="'carmesfnmservice/api/school-levels/updateSchoolLevel'" type="submit" [routerLink]="['/entity','school-level', { outlets: { popup: 'school-level/'+ schoolLevel.id + '/edit'} }]" replaceUrl="true" class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <!-- <span class="hidden-md-down" jhiFnmTranslate="entity.action.edit">Edit</span> -->
                        </button>
                            <button *jhiHasAnyRessources="'carmesfnmservice/api/school-levels/deleteSchoolLevel'" type="submit" [routerLink]="['/entity','school-level', { outlets: { popup: 'school-level/'+ schoolLevel.id + '/delete'} }]" replaceUrl="true" class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <!-- <span class="hidden-md-down" jhiFnmTranslate="entity.action.delete">Delete</span> -->
                        </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>