<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myEligibleLabel" [jhiFnmTranslate]="eligible.id ? 'sfdApp.eligible.home.createOrEditLabel' : 'sfdApp.eligible.home.createLabel'">Create or edit a Eligible</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <!--<div class="form-group" [hidden]="!eligible.id">
            <label for="id" jhiFnmTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id" [(ngModel)]="eligible.id" readonly />
        </div>-->

        <div class="form-group">
            <div class="switch">
                <label>
      Status: 
      <input type="checkbox" name="status" id="field_status" [(ngModel)]="eligible.status" />
      <span class="lever"></span>
    </label>
            </div>
        </div>
        <!--<div class="form-group">
            <label class="form-control-label active" jhiFnmTranslate="sfdApp.eligible.createdDate" for="field_createdDate">Created Date</label>
            <div class="input-group">
                <input id="field_createdDate" type="text" class="form-control" name="createdDate" ngbDatepicker #createdDateDp="ngbDatepicker" [(ngModel)]="eligible.createdDate" required/>
                <span class="input-group-btn">
                    <button type="button" class="waves-effect waves-teal btn-flat" (click)="createdDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.createdDate?.dirty && editForm.controls.createdDate?.invalid)">
                <small class="form-text text-danger" [hidden]="!editForm.controls.createdDate?.errors?.required" jhiFnmTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>-->
        <!-- <div class="form-group">
            <label class="form-control-label active" jhiFnmTranslate="sfdApp.eligible.createdBy" for="field_createdBy">Created By</label>
            <input type="text" class="form-control" name="createdBy" id="field_createdBy" [(ngModel)]="eligible.createdBy" required maxlength="50" data-length="50" />
            <div [hidden]="!(editForm.controls.createdBy?.dirty && editForm.controls.createdBy?.invalid)">
                <small class="form-text text-danger" [hidden]="!editForm.controls.createdBy?.errors?.required" jhiFnmTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger" [hidden]="!editForm.controls.createdBy?.errors?.maxlength" jhiFnmTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                   This field cannot be longer than 50 characters.
                </small>
            </div>
        </div>-->
        <!--<div class="form-group">
            <label class="form-control-label active" jhiFnmTranslate="sfdApp.eligible.lastModifiedBy" for="field_lastModifiedBy">Last Modified By</label>
            <input type="text" class="form-control" name="lastModifiedBy" id="field_lastModifiedBy" [(ngModel)]="eligible.lastModifiedBy" maxlength="50" data-length="50" />
            <div [hidden]="!(editForm.controls.lastModifiedBy?.dirty && editForm.controls.lastModifiedBy?.invalid)">
                <small class="form-text text-danger" [hidden]="!editForm.controls.lastModifiedBy?.errors?.maxlength" jhiFnmTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                   This field cannot be longer than 50 characters.
                </small>
            </div>
        </div>-->
        <!-- <div class="form-group">
            <label class="form-control-label active" jhiFnmTranslate="sfdApp.eligible.lastModifiedDate" for="field_lastModifiedDate">Last Modified Date</label>
            <div class="input-group">
                <input id="field_lastModifiedDate" type="text" class="form-control" name="lastModifiedDate" ngbDatepicker #lastModifiedDateDp="ngbDatepicker" [(ngModel)]="eligible.lastModifiedDate" />
                <span class="input-group-btn">
                    <button type="button" class="waves-effect waves-teal btn-flat" (click)="lastModifiedDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>-->

        <div class="form-group">
            <label jhiFnmTranslate="sfdApp.eligible.produit" for="field_produit">Produit</label>
            <select class="ui fluid search dropdown" id="field_produit" name="produit" [(ngModel)]="eligible.produitId">
                <option [ngValue]="null">Aucun</option>
                <option [ngValue]="produitOption.id" *ngFor="let produitOption of produits; trackBy: trackProduitById">{{produitOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiFnmTranslate="sfdApp.eligible.sfd" for="field_sfd">Sfd</label>
            <select class="ui fluid search dropdown" id="field_sfd" name="sfd" [(ngModel)]="eligible.sfdId">
                <option [ngValue]="null">Aucun</option>
                <option [ngValue]="sFDOption.id" *ngFor="let sFDOption of sfds; trackBy: trackSFDById">{{sFDOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiFnmTranslate="sfdApp.eligible.departement" for="field_departement">Departement</label>
            <select class="ui fluid search dropdown" id="field_departement" name="departement" [(ngModel)]="eligible.departementId">
                <option [ngValue]="null">Aucun</option>
                <option [ngValue]="departementOption.id" *ngFor="let departementOption of departements; trackBy: trackDepartementById">{{departementOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="waves-effect waves-teal btn-flat" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiFnmTranslate="entity.action.cancel">Cancel</span>
        </button> &nbsp;&nbsp;&nbsp;
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn waves-effect waves-light">
            <span class="fa fa-save"></span>&nbsp;<span jhiFnmTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>