<div *ngIf="eligible">
    <!-- <h2><span jhiFnmTranslate="sfdApp.eligible.detail.title">Eligible</span> {{eligible.id}}</h2> -->
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiFnmTranslate="sfdApp.eligible.status">Status</span></dt>
        <dd>
            <span>{{eligible.status}}</span>
        </dd>
        <dt><span jhiFnmTranslate="sfdApp.eligible.createdDate">Created Date</span></dt>
        <dd>
            <span>{{eligible.createdDate | date:'dd-MM-y'}}</span>
        </dd>
        <dt><span jhiFnmTranslate="sfdApp.eligible.createdBy">Created By</span></dt>
        <dd>
            <span>{{eligible.createdBy}}</span>
        </dd>
        <dt><span jhiFnmTranslate="sfdApp.eligible.lastModifiedBy">Last Modified By</span></dt>
        <dd>
            <span>{{eligible.lastModifiedBy}}</span>
        </dd>
        <dt><span jhiFnmTranslate="sfdApp.eligible.lastModifiedDate">Last Modified Date</span></dt>
        <dd>
            <span>{{eligible.lastModifiedDate | date:'dd-MM-y'}}</span>
        </dd>
        <dt><span jhiFnmTranslate="sfdApp.eligible.produit">Produit</span></dt>
        <dd>
            <div *ngIf="eligible.produitId">
                <a [routerLink]="['/entity','produit', eligible.produitId]">{{eligible.produitId}}</a>
            </div>
        </dd>
        <dt><span jhiFnmTranslate="sfdApp.eligible.sfd">Sfd</span></dt>
        <dd>
            <div *ngIf="eligible.sfdId">
                <a [routerLink]="['/entity','sfd', eligible.sfdId]">{{eligible.sfdId}}</a>
            </div>
        </dd>
        <dt><span jhiFnmTranslate="sfdApp.eligible.departement">Departement</span></dt>
        <dd>
            <div *ngIf="eligible.departementId">
                <a [routerLink]="['/entity','departement', eligible.departementId]">{{eligible.departementId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit" (click)="previousState()" class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiFnmTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button" [routerLink]="['/entity','eligible', { outlets: { popup: 'eligible/'+ eligible.id + '/edit'} }]" replaceUrl="true"
        class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiFnmTranslate="entity.action.edit"> Edit</span>
    </button>
</div>