<div *ngIf="groupMember">
    <!-- <h2><span jhiFnmTranslate="sfdApp.groupMember.detail.title">Group Member</span> {{groupMember.id}}</h2> -->
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiFnmTranslate="sfdApp.groupMember.status">Status</span></dt>
        <dd>
            <span>{{groupMember.status}}</span>
        </dd>
        <dt><span jhiFnmTranslate="sfdApp.groupMember.memberRole">Member Role</span></dt>
        <dd>
            <span>{{groupMember.memberRole}}</span>
        </dd>
        <dt><span jhiFnmTranslate="sfdApp.groupMember.createdDate">Created Date</span></dt>
        <dd>
            <span>{{groupMember.createdDate | date:'dd-MM-y'}}</span>
        </dd>
        <dt><span jhiFnmTranslate="sfdApp.groupMember.createdBy">Created By</span></dt>
        <dd>
            <span>{{groupMember.createdBy}}</span>
        </dd>
        <dt><span jhiFnmTranslate="sfdApp.groupMember.lastModifiedBy">Last Modified By</span></dt>
        <dd>
            <span>{{groupMember.lastModifiedBy}}</span>
        </dd>
        <dt><span jhiFnmTranslate="sfdApp.groupMember.lastModifiedDate">Last Modified Date</span></dt>
        <dd>
            <span>{{groupMember.lastModifiedDate | date:'dd-MM-y'}}</span>
        </dd>
        <dt><span jhiFnmTranslate="sfdApp.groupMember.client">Client</span></dt>
        <dd>
            <div *ngIf="groupMember.clientId">
                <a [routerLink]="['/entity','client', groupMember.clientId]">{{groupMember.clientId}}</a>
            </div>
        </dd>
        <dt><span jhiFnmTranslate="sfdApp.groupMember.clt">Clt</span></dt>
        <dd>
            <div *ngIf="groupMember.cltId">
                <a [routerLink]="['/entity','client', groupMember.cltId]">{{groupMember.cltId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit" (click)="previousState()" class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiFnmTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button" [routerLink]="['/entity','group-member', { outlets: { popup: 'group-member/'+ groupMember.id + '/edit'} }]"
        replaceUrl="true" class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiFnmTranslate="entity.action.edit"> Edit</span>
    </button>
</div>