<div class="row" *ngIf="impression">
    <div class="col">
        <button type="submit" class="btn waves-effect waves-light">
            <span class="fa fa-edit"></span>&nbsp;
            <span (click)="editContrat()">Editer le contrat</span>
        </button>
    </div>
</div>

<div class="row" *ngIf="!impression">
    <div class="col" *ngIf="true">
        <form name="editForm" role="form" novalidate (ngSubmit)="save(editForm)" #editForm="ngForm">
            <div class="row">
                <div class="col-6">
                    <div class="input-field">
                        <label class="form-control-label active oblige" for="field_numeroContrat">Numéro Contrat</label>
                        <input type="text" class="form-control" name="numeroContrat" id="field_numeroContrat"
                            [(ngModel)]="numeroContrat" required maxlength="250" data-length="250" />
                        <div [hidden]="!(editForm.controls.numeroContrat?.dirty && editForm.controls.numeroContrat?.invalid)">
                            <small class="form-text text-danger"
                                [hidden]="!editForm.controls.numeroContrat?.errors?.required"
                                jhiFnmTranslate="entity.validation.required">
                                This field is required.
                            </small>
                            <small class="form-text text-danger"
                                [hidden]="!editForm.controls.numeroContrat?.errors?.maxlength"
                                jhiFnmTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                                This field cannot be longer than 250 characters.
                            </small>
                        </div>
                    </div>
                    <div class="input-field">
                        <label class="form-control-label active oblige" for="field_sfdAdresse">Adresse du SFD</label>
                        <input type="text" class="form-control" name="sfdAdresse"
                            id="field_sfdAdresse" [(ngModel)]="sfdAdresse" required
                            maxlength="250" data-length="250" />
                        <div
                            [hidden]="!(editForm.controls.sfdAdresse?.dirty && editForm.controls.sfdAdresse?.invalid)">
                            <small class="form-text text-danger"
                                [hidden]="!editForm.controls.sfdAdresse?.errors?.required"
                                jhiFnmTranslate="entity.validation.required">
                                This field is required.
                            </small>
                            <small class="form-text text-danger"
                                [hidden]="!editForm.controls.sfdAdresse?.errors?.maxlength"
                                jhiFnmTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                                This field cannot be longer than 250 characters.
                            </small>
                        </div>
                    </div>
                    <div class="input-field">
                        <label class="form-control-label active oblige" for="field_nomDeposant">Nom du déposant</label>
                        <input type="text" class="form-control" name="nomDeposant"
                            id="field_nomDeposant" [(ngModel)]="nomDeposant" required
                            maxlength="250" data-length="250" />
                        <div
                            [hidden]="!(editForm.controls.nomDeposant?.dirty && editForm.controls.nomDeposant?.invalid)">
                            <small class="form-text text-danger"
                                [hidden]="!editForm.controls.nomDeposant?.errors?.required"
                                jhiFnmTranslate="entity.validation.required">
                                This field is required.
                            </small>
                            <small class="form-text text-danger"
                                [hidden]="!editForm.controls.nomDeposant?.errors?.maxlength"
                                jhiFnmTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                                This field cannot be longer than 250 characters.
                            </small>
                        </div>
                    </div>
                    <div class="input-field">
                        <label class="form-control-label active oblige" for="field_prenomsDeposant">Prénoms du déposant</label>
                        <input type="text" class="form-control" name="prenomsDeposant" id="field_prenomsDeposant"
                            [(ngModel)]="prenomsDeposant" required maxlength="250" data-length="250" />
                        <div
                            [hidden]="!(editForm.controls.prenomsDeposant?.dirty && editForm.controls.prenomsDeposant?.invalid)">
                            <small class="form-text text-danger"
                                [hidden]="!editForm.controls.prenomsDeposant?.errors?.required"
                                jhiFnmTranslate="entity.validation.required">
                                This field is required.
                            </small>
                            <small class="form-text text-danger"
                                [hidden]="!editForm.controls.prenomsDeposant?.errors?.maxlength"
                                jhiFnmTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                                This field cannot be longer than 250 characters.
                            </small>
                        </div>
                    </div>

                    <div class="input-field">
                        <label class="form-control-label active oblige" for="field_telephoneDeposant">Téléphone du déposant</label>
                        <input type="text" class="form-control" name="telephoneDeposant" id="field_telephoneDeposant"
                            [(ngModel)]="telephoneDeposant" required maxlength="250" data-length="250" />
                        <div [hidden]="!(editForm.controls.telephoneDeposant?.dirty && editForm.controls.telephoneDeposant?.invalid)">
                            <small class="form-text text-danger"
                                [hidden]="!editForm.controls.telephoneDeposant?.errors?.required"
                                jhiFnmTranslate="entity.validation.required">
                                This field is required.
                            </small>
                            <small class="form-text text-danger"
                                [hidden]="!editForm.controls.telephoneDeposant?.errors?.maxlength"
                                jhiFnmTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                                This field cannot be longer than 250 characters.
                            </small>
                        </div>
                    </div>
                    <div class="input-field">
                        <label class="form-control-label active oblige" for="field_domicileDeposant">Domicile du déposant</label>
                        <input type="text" class="form-control" name="domicileDeposant" id="field_domicileDeposant"
                            [(ngModel)]="domicileDeposant" required maxlength="250" data-length="250" />
                        <div [hidden]="!(editForm.controls.domicileDeposant?.dirty && editForm.controls.domicileDeposant?.invalid)">
                            <small class="form-text text-danger"
                                [hidden]="!editForm.controls.domicileDeposant?.errors?.required"
                                jhiFnmTranslate="entity.validation.required">
                                This field is required.
                            </small>
                            <small class="form-text text-danger"
                                [hidden]="!editForm.controls.domicileDeposant?.errors?.maxlength"
                                jhiFnmTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                                This field cannot be longer than 250 characters.
                            </small>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="input-field">
                        <label class="form-control-label active oblige" for="field_montantDepot">Montant du dépot</label>
                        <input type="text" class="form-control" name="montantDepot"
                            id="field_montantDepot" [(ngModel)]="montantDepot" required
                            maxlength="250" data-length="250" />
                        <div
                            [hidden]="!(editForm.controls.montantDepot?.dirty && editForm.controls.montantDepot?.invalid)">
                            <small class="form-text text-danger"
                                [hidden]="!editForm.controls.montantDepot?.errors?.required"
                                jhiFnmTranslate="entity.validation.required">
                                This field is required.
                            </small>
                            <small class="form-text text-danger"
                                [hidden]="!editForm.controls.montantDepot?.errors?.maxlength"
                                jhiFnmTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                                This field cannot be longer than 250 characters.
                            </small>
                        </div>
                    </div>
                    <div class="input-field">
                        <label class="form-control-label active oblige" for="field_dureeContrat">Durée du contrat</label>
                        <input type="text" class="form-control" name="dureeContrat" id="field_dureeContrat"
                            [(ngModel)]="dureeContrat" required maxlength="250" data-length="250" />
                        <div
                            [hidden]="!(editForm.controls.dureeContrat?.dirty && editForm.controls.dureeContrat?.invalid)">
                            <small class="form-text text-danger"
                                [hidden]="!editForm.controls.dureeContrat?.errors?.required"
                                jhiFnmTranslate="entity.validation.required">
                                This field is required.
                            </small>
                            <small class="form-text text-danger"
                                [hidden]="!editForm.controls.dureeContrat?.errors?.maxlength"
                                jhiFnmTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                                This field cannot be longer than 250 characters.
                            </small>
                        </div>
                    </div>
                    <div class="input-field">
                        <label class="form-control-label active oblige" for="field_dateDebutContrat">Date de début du contrat</label>
                        <input type="text" class="form-control" name="dateDebutContrat" id="field_dateDebutContrat"
                            [(ngModel)]="dateDebutContrat" required maxlength="250" data-length="250" />
                        <div
                            [hidden]="!(editForm.controls.dateDebutContrat?.dirty && editForm.controls.dateDebutContrat?.invalid)">
                            <small class="form-text text-danger"
                                [hidden]="!editForm.controls.dateDebutContrat?.errors?.required"
                                jhiFnmTranslate="entity.validation.required">
                                This field is required.
                            </small>
                            <small class="form-text text-danger"
                                [hidden]="!editForm.controls.dateDebutContrat?.errors?.maxlength"
                                jhiFnmTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                                This field cannot be longer than 250 characters.
                            </small>
                        </div>
                    </div>
                    <div class="input-field">
                        <label class="form-control-label active oblige" for="field_dateFinContrat">Date de fin du  contrat</label>
                        <input type="text" class="form-control" name="dateFinContrat" id="field_dateFinContrat"
                            [(ngModel)]="dateFinContrat" required maxlength="250" data-length="250" />
                        <div
                            [hidden]="!(editForm.controls.dateFinContrat?.dirty && editForm.controls.dateFinContrat?.invalid)">
                            <small class="form-text text-danger"
                                [hidden]="!editForm.controls.dateFinContrat?.errors?.required"
                                jhiFnmTranslate="entity.validation.required">
                                This field is required.
                            </small>
                            <small class="form-text text-danger"
                                [hidden]="!editForm.controls.dateFinContrat?.errors?.maxlength"
                                jhiFnmTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                                This field cannot be longer than 250 characters.
                            </small>
                        </div>
                    </div>
                    <div class="input-field">
                        <label class="form-control-label active oblige" for="field_tauxAnnuelNet">Taux annuel net
                            </label>
                        <input type="text" class="form-control" name="tauxAnnuelNet" id="field_tauxAnnuelNet"
                            [(ngModel)]="tauxAnnuelNet" required maxlength="250" data-length="250" />
                        <div
                            [hidden]="!(editForm.controls.tauxAnnuelNet?.dirty && editForm.controls.tauxAnnuelNet?.invalid)">
                            <small class="form-text text-danger"
                                [hidden]="!editForm.controls.tauxAnnuelNet?.errors?.required"
                                jhiFnmTranslate="entity.validation.required">
                                This field is required.
                            </small>
                            <small class="form-text text-danger"
                                [hidden]="!editForm.controls.tauxAnnuelNet?.errors?.maxlength"
                                jhiFnmTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                                This field cannot be longer than 250 characters.
                            </small>
                        </div>
                    </div>
                    <div class="input-field">
                        <label class="form-control-label active oblige" for="field_lieuDateSignature">Lieu/Date signature</label>
                        <input type="text" class="form-control" name="lieuDateSignature" id="field_lieuDateSignature"
                            [(ngModel)]="lieuDateSignature" required maxlength="250" data-length="250" />
                        <div
                            [hidden]="!(editForm.controls.lieuDateSignature?.dirty && editForm.controls.lieuDateSignature?.invalid)">
                            <small class="form-text text-danger"
                                [hidden]="!editForm.controls.lieuDateSignature?.errors?.required"
                                jhiFnmTranslate="entity.validation.required">
                                This field is required.
                            </small>
                            <small class="form-text text-danger"
                                [hidden]="!editForm.controls.lieuDateSignature?.errors?.maxlength"
                                jhiFnmTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                                This field cannot be longer than 250 characters.
                            </small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <button type="submit" [disabled]="editForm.form.invalid" class="btn waves-effect waves-light">
                        <span class="fa fa-save"></span>&nbsp;
                        <span (click)="valider()">Valider</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="ui dimmer" [ngClass]="{'active':!hideLoader}">
            <div class="ui loader"></div>
        </div>

        <div class="container" style="margin: auto;" *ngIf="hideLoader">
            <div class="m" id="print" #printZone
                style="display: inline-block; background-color: white; font-family: 'Times New Roman', Times, serif; font-size: 23px; width: 100%;"
                class="browser-default">
                <div class="print-header">
                    <span style="text-align:justify" *ngIf="_DePage.entete !=null ;else elseBlock">
                        <img [src]="imageUrl+_DePage.entete" alt="entete de page">
                    </span>
                    <ng-template #elseBlock>
                        <!-- <img src="../../../content/images/header.jpg" alt="logo"> -->
                    </ng-template>
                </div>

                <div class="p-wrapper">
                    <p class="page-break">
                        <span class="elm"></span>
                    </p>
                    <div class="row top-space">
                        <div class="col-md-12">
                            <br><br>
                            <table class="table table-bordered bx-sizing">
                                <tbody>
                                    <tr class="bx-shadow">
                                        <td class="text-align-center bold font-size-x-large" style="color:gray; ">
                                            CONTRAT DE DEPOT A TERME {{numeroContrat}} </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!--  Custumer section-->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col"><strong style="margin-left: 50;">ENTRE,</strong><br>
                                    <strong>Le SFD avec adresses</strong><br>
                                    <strong>
                                        {{sfdAdresse}}.
                                    </strong>
                                </div>
                            </div>


                            ET,

                            <div class="row">
                                <div class="col">
                                    <p><strong>{{nomDeposant}} {{prenomsDeposant}},</strong> Tél : {{telephoneDeposant}}
                                        domicilié à {{domicileDeposant}},</p>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p><strong>Ci-après dénommé (e) « LE DEPOSANT »</strong></p>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <p>
                                        <strong>Article 1 : Objet</strong><br>
                                        Le Déposant ouvre dans les livres du SDF un compte DAT pour un montant CFA
                                        {{montantDepot}}.
                                    </p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <p>
                                        <strong>Article 2 : Durée</strong><br>
                                        Le présent contrat est conclu pour une durée de {{dureeContrat}}, soit du
                                        {{dateDebutContrat}} au
                                        {{dateFinContrat}}.
                                    </p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <p>
                                        <strong>Article 3 : Rémunération</strong><br>
                                        Les fonds placés, feront l’objet d’une rémunération au taux net de
                                        {{tauxAnnuelNet}} l’an. Le principal plus
                                        les intérêts courus seront payables à échéance.
                                    </p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <p>
                                        <strong>Article 4 : Déblocage anticipé</strong><br>
                                        Le SDF pourra à la demande du déposant, rembourser totalement ou partiellement
                                        le dépôt,
                                        avant le terme fixé à l’article 2. Ceci entrainera la perte des intérêts courus.
                                    </p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <div class="row">
                                        <div class="col">
                                            <strong>Article 5 : Option règlement à l’échéance</strong><br>
                                            Le Client peut opter pour la tacite reconduction du DAT en choisissant «
                                            tacite
                                            reconduction
                                            » à la signature.
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-4"  style="margin-left: 30;">
                                            <div class="form-check">
                                                <p>
                                                    <input type="checkbox" class="filled-in" id="">
                                                    <label for="">
                                                        <strong>Tacite reconduction</strong>
                                                    </label>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-7">
                                            <div class="form-check">
                                                <p>
                                                    <input type="checkbox" class="filled-in" id="">
                                                    <label for="">
                                                        <strong>Remboursement à l’échéance</strong>
                                                    </label>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <div class="row">
                                        <div class="col">
                                            <strong>Article 6 : Tacite reconduction</strong><br>
                                            En cas de tacite reconduction et sauf avis contraire du déposant, le SDF
                                            procèdera
                                            automatiquement au renouvellement du contrat pour une durée identique à
                                            celle
                                            initiale et au
                                            taux en vigueur à la date du renouvellement. Le Déposant opte, en cas de
                                            renouvellement de
                                            son DAT par tacite reconduction pour :
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <!-- Option A -->
                                            <div class="row">
                                                <div class="col" ><strong>Option A :</strong> La non capitalisation des intérêts</div>
                                            </div>
                                            <div class="form-check">
                                                <p  style="margin-left: 30;">
                                                    <input type="checkbox" class="filled-in" id="">
                                                    <label for="">
                                                        <span>Le montant objet de chaque nouveau contrat DAT sera
                                                            identique au montant
                                                            Initial.</span>
                                                    </label>
                                                </p>
                                            </div>

                                            <!-- Option B -->
                                            <div class="row">
                                                <div class="col"><strong>Option B : </strong>La capitalisation automatique des intérêts
                                                </div>
                                            </div>
                                            <div class="form-check">
                                                <p style="margin-left: 30;">
                                                    <input type="checkbox" class="filled-in" id="">
                                                    <label for="">
                                                        <span>Le montant objet de chaque nouveau contrat DAT sera
                                                            identique au montant initial plus les
                                                            intérêts produits.</span>
                                                    </label>
                                                </p>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <p>
                                        <strong>Article 7 : Non reconduction</strong><br>
                                        En cas de non reconduction, le principal et les intérêts seront automatiquement
                                        payés.
                                    </p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <div class="row">
                                        <div class="col text-align-center">
                                            Fait à {{lieuDateSignature}}

                                        </div>
                                    </div>
                                    <br><br>
                                    <div class="row">
                                        <div class="col-2"></div>
                                        <div class="col-4"><strong>LE DEPOSANT</strong></div>
                                        <div class="col-4"><strong>Le SDF</strong></div>
                                        <div class="col-2"></div>
                                    </div>
                                </div>
                            </div>
                            <br><br>

                            <div class="row">
                                <div class="col-2"></div>
                                <div class="col-8">*Signature, NOM et PRENOMS précédés de la mention « LU ET APPROUVE »
                                    * L’année civile est l’année de référence</div>
                                <div class="col-2"></div>
                            </div>


                        </div>
                    </div>



                </div>
                <div class="print-footer">
                    <!-- Page: -->
                    <span style="text-align:justify" *ngIf="_DePage.piedPage !=null;else elseBlock2">
                        <img [src]="imageUrl+_DePage.piedPage" alt="pied de page" width="100%" height="50">
                    </span>
                    <ng-template #elseBlock2>
                        <!-- <img src="../../../content/images/footer.jpg" alt="logo" width="100%" height="50"> -->
                    </ng-template>
                </div>

            </div>
            <div class="" style="height:400px">
            </div>
            <iframe name="print_frame" width="0" height="0" frameborder="0" src="about:blank"></iframe>
            <button class="btn-floating btn-large waves-effect waves-light red"
                style="position: fixed; bottom: 25px; right: 25px;" (click)="printAsPdf('membership-form')">
                <i class="material-icons">print</i>
            </button>
        </div>
    </div>
</div>
