<div class="row">
    <div class="col-4" *ngIf="true">

        <div>
            Signataire <input type="text" [(ngModel)]="signataire" name="id">
        </div>
        <div>
            Numéro Compte Courant Actif
            <input type="text" [(ngModel)]="numeroCompteCourantActif" name="id">
        </div>
        <div>
            Numéro de compte du versement
            <input type="text" [(ngModel)]="numeroCompteVersement" name="id">
        </div>
        <div>
            Durée Compte
            <input type="text" [(ngModel)]="dureeCompte" name="id">
        </div>
        <div>
            Taux annuel
            <input type="text" [(ngModel)]="tauxAnnuel" name="id">
        </div>
        <div>
            Pénalité de Résiliation Anticipée
            <input type="text" [(ngModel)]="penaliteResiliationAnticipe" name="id">
        </div>
        <div>
            Frais d'Ouverture
            <input type="text" [(ngModel)]="fraisOuverture" name="id">
        </div>
        <div>
            Autres Frais
            <input type="text" [(ngModel)]="autresFrais" name="id">
        </div>
        <div>
            Numéro Compte
            <input type="text" [(ngModel)]="numeroCompte" name="id">
        </div>
        <div><button type="submit" (click)="valider()">Valider</button></div>
    </div>
    <div class="col-8">
        <div class="ui dimmer" [ngClass]="{'active':!hideLoader}">
            <div class="ui loader"></div>
        </div>

        <div class="container" style="margin: auto;" *ngIf="hideLoader">
            <div class="m" id="print" #printZone
                style="display: inline-block; background-color: white; font-family: 'Times New Roman', Times, serif; font-size: 23px; width: 100%;"
                class="browser-default">
                <div class="print-header">
                    <span style="text-align:justify" *ngIf="_DePage.entete !=null ;else elseBlock">
                        <img [src]="imageUrl+_DePage.entete" alt="entete de page">
                    </span>
                    <ng-template #elseBlock>
                        <!-- <img src="../../../content/images/header.jpg" alt="logo"> -->
                    </ng-template>
                </div>

                <div class="p-wrapper">
                    <p class="page-break">
                        <span class="elm"></span>
                    </p>
                    <div class="row top-space">
                        <div class="col-md-12">
                            <p>Système Financier Décentralisé</p>
                            <p>Forme Juridique : Association</p>
                            <p>Capital social : FCFA </p>
                            <p>N° agrément : </p>
                            <p>Immatriculation : </p>

                            <!-- <table class="table table-bordered" width="100%">

                                <tr>
                                    <td colspan="2"> Système Financier
                                        Décentralisé
                                        (SFD)</td>
                                </tr>

                                <tr>
                                    <td colspan="2">Forme Juridique :
                                        Association</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Capital social : FCFA </td>
                                </tr>
                                <tr>
                                    <td colspan="2">N° agrément : </td>
                                </tr>
                                <tr>
                                    <td colspan="2">N° agrément : </td>
                                </tr>
                                <tr>
                                    <td colspan="2">Immatriculation : </td>
                                </tr>
                            </table> -->
                            <br>
                            <table class="table table-bordered bx-sizing">
                                <tbody>
                                    <tr class="bx-shadow">
                                        <td class="text-align-center bold font-size-x-large" style="color:gray; ">
                                            Conditions
                                            spécifiques - Compte de dépôt à
                                            terme </td>
                                    </tr>
                                </tbody>
                            </table>
                            <br>
                            <p>
                                Je soussigné(e)
                                {{signataire}},
                                personne physique capable majeur et titulaire
                                d’un
                                compte courant actif à IMF X sous le numéro

                                {{numeroCompteCourantActif}}, demande, sous mon
                                entière
                                responsabilité et à titre privé, l’ouverture
                                d’un
                                compte de dépôt à terme (DAT).

                            </p>
                            <p>
                                Les modalités de souscription et de
                                fonctionnement de ce
                                DAT sont régies par les présentes
                                Conditions spécifiques, que je reconnais
                                accepter dans
                                leur intégralité, ainsi que par la
                                Convention générale d’ouverture de compte dont
                                les
                                dispositions s’appliquent sans contradiction.
                            </p>
                            <p>
                                Le montant du versement est de
                                {{montantVersement}}, sous le numéro
                                de
                                compte
                                {{numeroCompteVersement}}.
                            </p>
                            <p>
                                Ce compte est constitué pour une durée de
                                {{dureeCompte}} soit
                                jusqu’au / / ; selon les conditions
                                mentionnées ci-dessous :
                            </p>
                            <div>
                                <ul>
                                    <li>
                                        - Intérêt créditeur au taux annuel de
                                        {{tauxAnnuel}}.
                                        à compter de la date de valeur du dépôt
                                        et
                                        jusqu’à sa clôture, cet intérêt est
                                        calculé
                                        automatiquement par le logiciel
                                        d’exploitation
                                        en fin de période et additionné au solde
                                        principal.

                                    </li>
                                    <li>- Pénalité en cas de résiliation
                                        anticipée
                                        (pourcentage du montant déposé) :
                                        {{penaliteResiliationAnticipe}}.(entre
                                        0 et 2%, dépend du taux d’intérêt
                                        notamment)
                                    </li>
                                    <li>- Frais d’ouverture, de tenue ou de
                                        clôture de
                                        compte : {{fraisOuverture}} (gratuits)
                                    </li>
                                    <li>- Autres frais :{{autresFrais}}.
                                        (gratuits)
                                    </li>
                                </ul>
                            </div>
                            <br>
                            <strong>Durée </strong>
                            <p>A la date d’échéance du DAT mentionnée ci-dessus,
                                la
                                clôture du compte est subordonnée au
                                retrait. Le montant déposé et les éventuels
                                intérêts
                                produits seront versés sur le compte
                                courant du client. </p>
                            <strong>Résiliation anticipée </strong>
                            <p>Durant la période de dépôt, le client pourra, à
                                tout
                                moment et en agence, demander la résiliation
                                anticipée du contrat de DAT et la restitution de
                                son
                                dépôt. Le remboursement du montant déposé
                                avant l’échéance prévue est possible mais sera
                                forcément
                                total, et entraînera la clôture du
                                produit</p>
                            <div>IMF X pourra également prendre l’initiative
                                d’une
                                résiliation anticipée du contrat de DAT dans
                                les cas suivants :
                                <ul>
                                    <li>• Clôture par le client du compte
                                        courant ouvert
                                        dans les livres de IMF X ; </li>
                                    <li>• Non-respect par le client de l’une de
                                        ses
                                        obligations contractuelles, comportement
                                        frauduleux ou contraire à la loi. </li>
                                </ul>
                            </div>
                            <p>Toute résiliation anticipée du contrat de DAT,
                                qu’elle
                                soit à l’initiative du client ou de IMF X,
                                entrainera l’annulation de : 100 % des intérêts
                                cumulés.
                                Toute résiliation anticipée peut
                                également entraîner la perception par IMF X
                                d’une
                                pénalité comme prévue ci-dessus. Le Client
                                autorise alors irrévocablement IMF X à prélever
                                la
                                pénalité sur le montant déposé. </p>
                            <strong>Acceptation des conditions et signature :
                            </strong>
                            <p>Je certifie sur l’honneur que les informations
                                fournies
                                sont exactes et sincères. </p>
                            <p>Je déclare avoir pris connaissance des termes de
                                la
                                présente demande d’ouverture de compte à
                                terme et de la Convention générale d’ouverture
                                de compte
                                et confirme y adhérer sans réserve.
                            </p>
                            <p>Date </p> <br><br>
                            <p>Signature </p><br>
                            (Mentionner « Lu et approuvé") <br>
                            <strong>Réservé à IMF X : </strong>
                            <p>Signature vérifiée par (Veuillez renseigner la
                                fiche
                                d’identification avant la signature) :
                                Avis de la banque
                            </p>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <p>Signature du directeur de l’agence ou du
                                Directeur
                                Exécutif : </p>
                            <br>
                            <p>Numéro de Compte :
                                {{numeroCompte}}</p> <br>
                            <strong>IMF X</strong>
                            <table class="table table-bordered bx-sizing">
                                <tbody>
                                    <tr class="bx-shadow">
                                        <td class="text-align-center bold font-size-x-large" style="color:gray; "> Fiche
                                            d'identification
                                            du client</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="row">
                                <div class="col-3">
                                    <strong>A.</strong> L’agent ou le représente
                                    de IMF X, certifie qu’il a vérifié
                                    l’identité du souscripteur conformément aux
                                    dispositions réglementaires de la lutte
                                    contre le blanchiment des capitaux et du
                                    financement du terrorisme ; en examinant
                                    avec rigueur les pièces du souscripteur.
                                </div>
                                <div class="col-9">
                                    <table class="table table-bordered" width="100%">
                                        <tr>
                                            <td> <strong>Sexe</strong><br><br>
                                                <div class="row">
                                                    <div class="col-6"><input type="checkbox" name="" id="">Masculin</div>
                                                    <div class="col-6"><input type="checkbox" name="" id="">Féminin</div>
                                                </div>
                                            </td>
                                            <td><strong>Langue</strong><br><br>
                                                <div class="row">
                                                    <div class="col-6"><input type="checkbox" name="" id="">Français</div>
                                                    <div class="col-6"><input type="checkbox" name="" id="">Anglais</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-6"><input type="checkbox" name="" id=""><br> Fon</div>
                                                    <div class="col-6"><input type="checkbox" name="" id="">Dendi</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-6"><input type="checkbox" name="" id="">Yoruba</div>
                                                    <div class="col-6"><input type="checkbox" name="" id="">Autres</div>
                                                </div>
                                            </td>
                                            <td> <strong>Niveau d'instruction</strong><br><br>
                                                <div class="row">
                                                    <div class="col-2"><input type="checkbox" name="" id=""></div>
                                                    <div class="col-2">Primaire</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-2"><input type="checkbox" name="" id=""></div>
                                                    <div class="col-2">Secondaire</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-2"><input type="checkbox" name="" id=""></div>
                                                    <div class="col-2">Universitaire</div>
                                                </div>
                                            </td>
                                            <td> <strong>Numéro du client</strong></td>

                                        </tr>
                                    </table>
                                    <br>
                                    <table class="table table-bordered" width="100%">
                                        <td><strong>Nom de famille du client</strong><br><br></td>
                                        <td><strong>Prénoms</strong> (Dans l'ordre de la pièce fournie) <br><br></td>
                                        <td><strong>Date de naissance</strong> JJ-MM-AAAA<br><br></td>
                                    </table>
                                    <br>
                                    <div class="row">
                                        <div class="col-4">Nom de l’organisation d’appartenance</div>
                                        <div class="col-4">Adresses e-mail </div>
                                        <div class="col-4">Numéro d’assurance sociale</div>
                                    </div>
                                    <br>
                                    <table class="table table-bordered" width="100%">
                                        <td><strong>Pays/ Ville de résidence</strong><br><br></td>
                                        <td><strong>Adresse (indication domicile & )</strong><br><br></td>
                                        <td><strong>N° Téléphones domicile </strong><br><br></td>
                                    </table>
                                    <br>
                                    <div class="row">
                                        <div class="col-6">Activités exercées : </div>
                                        <div class="col-6">Preuves fournies
                                            <div class="row">
                                                <div class="col-4">
                                                    <div class="row">
                                                        <div class="col-2"><input type="checkbox" name="" id=""></div>
                                                        <div class="col-2">RCCM</div>
                                                    </div>
                                                </div>
                                                <div class="col-4">
                                                    <div class="row">
                                                        <div class="col-2"><input type="checkbox" name="" id=""></div>
                                                        <div class="col-2">JO</div>
                                                    </div>
                                                </div>
                                                <div class="col-4">
                                                    <div class="row">
                                                        <div class="col-2"><input type="checkbox" name="" id=""></div>
                                                        <div class="col-2">Aucune</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div>
                                        <p>Si aucune preuve n’a été fournie, veuillez demander au client de nous décrire l’origine des fonds</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!--  Custumer section-->
                    <div class="row">
                        <div class="col-md-12">
                            <br><br>

                        </div>
                    </div>

                </div>

                <div class="print-footer">
                    <!-- Page: -->
                    <span style="text-align:justify" *ngIf="_DePage.piedPage !=null;else elseBlock2">
                        <img [src]="imageUrl+_DePage.piedPage" alt="pied de page" width="100%" height="50">
                    </span>
                    <ng-template #elseBlock2>
                        <!-- <img src="../../../content/images/footer.jpg" alt="logo" width="100%" height="50"> -->
                    </ng-template>
                </div>

            </div>
            <div class style="height:400px">
            </div>
            <iframe name="print_frame" width="0" height="0" frameborder="0" src="about:blank"></iframe>
            <button class="btn-floating btn-large waves-effect waves-light red"
                style="position: fixed; bottom: 25px; right: 25px;" (click)="printAsPdf('membership-form')">
                <i class="material-icons">print</i>
            </button>
        </div>

    </div>
</div>
