<div class="ui dimmer" [ngClass]="{'active':!hideLoader}">
    <div class="ui loader"></div>
</div>

<div class="container" style="margin: auto;" *ngIf="hideLoader">
    <div class="m" id="print" #printZone
        style="display: inline-block; background-color: white; font-family: 'Times New Roman', Times, serif; font-size: 23px; width: 100%;"
        class="browser-default">
        <div class="print-header">
            <span style="text-align:justify" *ngIf="_DePage.entete !=null ;else elseBlock">
                <img [src]="imageUrl+_DePage.entete" alt="entete de page">
            </span>
            <ng-template #elseBlock>
                <!-- <img src="../../../content/images/header.jpg" alt="logo"> -->
            </ng-template>
        </div>

        <div class="p-wrapper">
            <p class="page-break">
                <span class="elm"></span>
            </p>
            <div class="row top-space">
                <div class="col-md-12">

                    <table class="table table-bordered" width="100%">

                        <tr >
                            <td colspan="2"> Système Financier Décentralisé (SFD)</td>
                        </tr>

                        <tr>
                            <td colspan="2">Forme Juridique :  Association</td>
                        </tr>
                        <tr>
                            <td colspan="2">Capital social :  FCFA </td>
                        </tr>
                        <tr>
                            <td colspan="2">N° agrément : </td>
                        </tr>
                        <tr>
                            <td colspan="2">N° agrément : </td>
                        </tr>
                        <tr>
                            <td colspan="2">Immatriculation :  </td>
                        </tr>
                    </table>
                    <br><br>
                    <table class="table table-bordered bx-sizing">
                        <tbody>
                            <tr class="bx-shadow">
                                <td class="text-align-center bold font-size-x-large" style="color:gray; "> Conditions spécifiques - Compte de dépôt à terme </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!--  Custumer section-->
            <div class="row">
                <div class="col-md-12">
                    <br><br>


                </div>
            </div>

        </div>
        <div class="print-footer">
            <!-- Page: -->
            <span style="text-align:justify" *ngIf="_DePage.piedPage !=null;else elseBlock2">
                <img [src]="imageUrl+_DePage.piedPage" alt="pied de page" width="100%" height="50">
            </span>
            <ng-template #elseBlock2>
                <!-- <img src="../../../content/images/footer.jpg" alt="logo" width="100%" height="50"> -->
            </ng-template>
        </div>

    </div>
    <div class="" style="height:400px">
    </div>
    <iframe name="print_frame" width="0" height="0" frameborder="0" src="about:blank"></iframe>
    <button class="btn-floating btn-large waves-effect waves-light red"
        style="position: fixed; bottom: 25px; right: 25px;" (click)="printAsPdf('membership-form')">
        <i class="material-icons">print</i>
    </button>
