<div *ngIf="zoneAgence">
    <h2><span jhiFnmTranslate="sfdApp.zoneAgence.detail.title">Zone Agence</span> {{zoneAgence.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiFnmTranslate="sfdApp.zoneAgence.name">Name</span></dt>
        <dd>
            <span>{{zoneAgence.name}}</span>
        </dd>
        <dt><span jhiFnmTranslate="sfdApp.zoneAgence.reference">Reference</span></dt>
        <dd>
            <span>{{zoneAgence.reference}}</span>
        </dd>
        <dt><span jhiFnmTranslate="sfdApp.zoneAgence.sfd">Sfd</span></dt>
        <dd>
            <div *ngIf="zoneAgence.sfdId">
                <a [routerLink]="['/sfd', zoneAgence.sfdId]">{{zoneAgence.sfdId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit" (click)="previousState()" class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiFnmTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button" [routerLink]="['/entity','zone-agence', { outlets: { popup: 'zone-agence/'+ zoneAgence.id + '/edit'} }]" replaceUrl="true" class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiFnmTranslate="entity.action.edit"> Edit</span>
    </button>
</div>