<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
    <div class="modal-header">
        <h4 class="modal-title" id="myCompensationLabel"
            [jhiFnmTranslate]="compensation.id ? 'sfdApp.compensation.home.createOrEditLabel' : 'sfdApp.compensation.home.createLabel'"
            *ngIf="isGuichetier"></h4>
        <h4 class="modal-title" id="myCompensationLabel"
            [jhiFnmTranslate]="compensation.id ? 'sfdApp.compensation.home.updateTransferOrder' : 'sfdApp.compensation.home.newTransferOrder'"
            *ngIf="!isGuichetier"></h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div *ngIf="hasSolde && !isGuichetier">
            <h3>Montant</h3>
            <h2>{{montant|currency:'XAF':true:'2.0-3'}}</h2>
            <hr />
        </div>
        <div class="form-check" *ngIf="isGuichetier && !isSousTraitant()">
            <p>
                <input type="radio" class="filled-in" id="guchetierFixe" [(ngModel)]="actor" name="actor" value="m">
                <label for="guchetierFixe">Agent Marchand</label>
                <input type="radio" class="filled-in" id="guchetierAmbulant" [(ngModel)]="actor" name="actor" value="s">
                <label for="guchetierAmbulant">Sous traitant</label>
            </p>
        </div>
        <div class="form-group" *ngIf="isGuichetier">
            <label class="form-control-label active oblige" for="field_comptecarmes">Compte CARMES</label>
            <input type="number" class="form-control" name="comptecarmes" id="field_comptecarmes"
                [(ngModel)]="model.comptecarmes" required maxlength="9" data-length="9" pattern="^[0-9]{1,9}$"
                (input)="hasSolde = false;" (blur)="requestAgentIdentity()">
            <div [hidden]="!(editForm.controls.comptecarmes?.dirty && editForm.controls.comptecarmes?.invalid)">
                <small class="form-text text-danger" [hidden]="!editForm.controls.comptecarmes?.errors?.required"
                    jhiFnmTranslate="entity.validation.required">This field is required.</small>
                <small class="form-text text-danger" [hidden]="!editForm.controls.comptecarmes?.errors?.maxlength"
                    jhiFnmTranslate="entity.validation.maxlength" translateValues="{max: 9}">This field cannot be longer
                    than 9 characters.</small>
                <small class="form-text text-danger" [hidden]="!editForm.controls.comptecarmes?.errors?.maxlength"
                    jhiFnmTranslate="entity.validation.maxlength" translateValues="{max: 9}">This field cannot be longer
                    than 9 characters.</small>
            </div>
        </div>
        <div class="form-group" *ngIf="agences.length > 1 && !compensation.id && isGuichetier && !isSousTraitant()">
            <!-- <div class="form-group" *ngIf="agences.length > 1 && !compensation.id && isGuichetier && hasSolde"> -->
            <label jhiFnmTranslate="sfdApp.compensation.agence" for="field_agence" class="oblige">Agence</label>
            <select class="ui fluid search dropdown sfd-dropdown" id="field_agence" name="agence"
                [(ngModel)]="model.agence_reference" required>
                <option [ngValue]="null" disabled></option>
                <option [ngValue]="agenceOption.codeAgence" *ngFor="let agenceOption of agences">{{agenceOption.name}}
                </option>
            </select>
        </div>
        <div *ngIf="infosCarmes" style="font-size: 1.1em;">
            <br> Ce compte Carmes appartient au nommé <strong>{{infosCarmes[1]}} {{infosCarmes[2]}}</strong> <span
                *ngIf="infosCarmes[3]"> né(e) le {{infosCarmes[3]}}</span> <span *ngIf="infosCarmes[4]"> au/à/en
                {{infosCarmes[4]}}</span><br>
            <span *ngIf="infosCarmes[11]">Email: {{infosCarmes[11]}}</span><br>
            <span *ngIf="infosCarmes[13]">Ifus: {{infosCarmes[13]}}</span><br>
            <span *ngIf="infosCarmes[8]">Personne à contacter: {{infosCarmes[8]}}</span><br>
            <span *ngIf="infosCarmes[9]">Numéro de la personne à contacter: {{infosCarmes[9]}}</span><br><br>
        </div>
        <!-- <div class="form-group" *ngIf="!isGuichetier || (isGuichetier && hasSolde)"> -->
        <div class="form-group" *ngIf="!isGuichetier">
            <label jhiFnmTranslate="sfdApp.compensation.compensationType" for="field_compensationType"
                class="oblige">Compensation Type</label>
            <select required class="ui fluid search dropdown sfd-dropdown" id="field_compensationType"
                name="compensationType" [(ngModel)]="model.typecompensation" (change)="onTypeChange()">
                <option [ngValue]="null" disabled></option>
                <option [ngValue]="ct.code" *ngFor="let ct of compensationtypes">{{ct.name}}</option>
            </select>
        </div>
        <div class="form-group" *ngIf="!isGuichetier">
            <label for="field_compensationType" class="oblige">Partenaires</label>
            <select class="ui fluid search dropdown sfd-dropdown" (change)="loadEmetteur()" id="field_partner"
                name="partner" [(ngModel)]="model.partner_id" required>
                <option [ngValue]="partner.id" *ngFor="let partner of partners">
                    {{partner.name}}</option>
            </select>
        </div>

        <div class="form-group" *ngIf="!isGuichetier">
            <label for="field_compensationType" class="oblige">Emétteurs</label>
            <select class="ui fluid search dropdown sfd-dropdown" id="field_partner" name="partner"
                [(ngModel)]="emetteur" required>
                <option [ngValue]="emetteur" *ngFor="let emetteur of emetteurs">
                    {{emetteur.name}} {{(emetteur.cpte_carmes)}}</option>
            </select>
        </div>

        <div *ngIf="hasSolde">
            <div class="form-group" *ngIf="!isGuichetier">
                <label class="form-control-label active oblige" for="field_intitule">Intitulé de l'ordre</label>
                <input type="text" class="form-control" name="intitule" id="field_intitule"
                    [(ngModel)]="model.intituleOrdre" required />
            </div>
            <div class="form-group" *ngIf="!isGuichetier">
                <label class="form-control-label active oblige" for="field_beneficiaire">Bénéficiaire</label>
                <input type="text" class="form-control" name="beneficiaire" id="field_beneficiaire"
                    [(ngModel)]="model.nomBeneficiaire" required />
            </div>
            <div class="form-group" *ngIf="!isGuichetier">
                <label class="form-control-label active oblige" for="field_motif">Motif du paiement</label>
                <input type="text" class="form-control" name="motif" id="field_motif" [(ngModel)]="model.motifPaiement"
                    required />
            </div>
            <div class="form-group" *ngIf="!isGuichetier">
                <label class="oblige" for="sfdBank">Compte bancaire</label>
                <select required class="ui fluid search dropdown sfd-dropdown" id="sfdBank" name="sfdBank"
                    [(ngModel)]="model.bankNumber">
                    <option [ngValue]="null" disabled>Choisissez la banque</option>
                    <option [ngValue]="b.numAccount" *ngFor="let b of bankAccounts">{{b.numAccount}} - {{b.libelle}}
                    </option>
                </select>
            </div>

            <div class="form-group" *ngIf="isGuichetier && LOCAL_FLAG">
                <label class="oblige" for="guichetierLogin">Guichetier</label>
                <select required class="ui fluid search dropdown sfd-dropdown" id="guichetierLogin"
                    name="guichetierLogin" [(ngModel)]="model.comptecarmes">
                    <option [ngValue]="null" disabled>Choisissez le guichetier</option>
                    <option [ngValue]="g.login" *ngFor="let g of gichetiers">{{g.name}}</option>
                </select>
            </div>
            <div class="form-group" *ngIf="isGuichetier">
                <label for="field_mode" class="oblige">Mode de paiement</label>
                <select required class="ui fluid search dropdown sfd-dropdown" id="field_mode" name="modePaiement"
                    [(ngModel)]="model.modePaiement">
                    <option [ngValue]="null" disabled>Veuillez choisir le mode de paiement</option>
                    <option value="ESPECE">En espèce</option>
                    <option value="CHEQUE">Par Chèque</option>
                    <!-- <option value="VIREMENT">Par ordre de virement</option> -->
                </select>
            </div>
            <div class="form-group" *ngIf="isGuichetier && model.modePaiement == 'CHEQUE'">
                <label class="form-control-label active oblige" for="field_numerocheque">Libellé de la banque</label>
                <input type="text" class="form-control" name="bank_libelle" id="field_bank_libelle"
                    [(ngModel)]="model.bank_libelle" required />
            </div>
            <div class="form-group" *ngIf="isGuichetier && model.modePaiement == 'CHEQUE'">
                <label class="form-control-label active oblige" for="field_numerocheque">Le compte bancaire de la
                    banque</label>
                <input type="number" class="form-control" name="bankaccount" id="field_bankaccount"
                    [(ngModel)]="model.bankaccount" required />
            </div>

            <div class="form-group" *ngIf="isGuichetier && model.modePaiement == 'CHEQUE'">
                <label class="form-control-label active oblige" for="field_numerocheque">Le numéro de chèque</label>
                <input type="number" class="form-control" name="numerocheque" id="field_numerocheque"
                    [(ngModel)]="model.numerocheque" required />
            </div>

            <div class="form-group" *ngIf="hasSolde && isGuichetier">
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>Photo</th>
                            <th>Nom</th>
                            <th>Prénoms</th>
                            <th>Montant</th>
                            <th>Téléphone</th>
                            <th>Type Comp.</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="infos && infos.length">
                        <tr *ngFor="let info of infos; let index = index">
                            <td>
                                <p class="checkParent">
                                    <input type="checkbox" name="info" [id]="info.id_request"
                                        (change)="onChange($event,info)" />
                                    <label [for]="info.id_request"></label>
                                </p>
                            </td>
                            <td>
                                <img [src]="getDoc(info.photo)" alt="photo" class="ui circular image"
                                    style="width:40px;height:40px;" />
                            </td>
                            <td>{{info.name}}</td>
                            <td>{{info.first_name}}</td>
                            <td>{{info.montant|currency:'XAF':true:'2.0-3'}}</td>
                            <td>{{info.phone}}</td>
                            <td>{{info.type_compensation || '-'}}</td>
                        </tr>
                    </tbody>
                </table>
                <h6 style="text-align:center">Montant à compenser :
                    <strong>{{amountACompenser | currency:'XAF':true:'2.0-3'}}</strong>
                </h6>
            </div>

            <div class="form-group">
                <input type="checkbox" id="field_showDetails" (change)="showDetails = $event.target.checked">
                <label for="field_showDetails">Voir les détails</label>
            </div>
            <button type="button" class="btn btn-link" *ngIf="false">Imprimer les details</button>
            <table [hidden]="!showDetails">
                <thead>
                    <tr>
                        <th>N°</th>
                        <th>Montant</th>
                        <th>Désignation</th>
                        <th>Créé le</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let o of operations; let index = index">
                        <td>{{index + 1}}</td>
                        <td>{{o.amount|currency:'XAF':true:'2.0-3'}}</td>
                        <td>{{o.libelle}}</td>
                        <td>{{o.createdDate|date:'mediumDate'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <div class="ui inline loader" [ngClass]="{active: loading.verifierSoldeCompensation || loading.save}"></div>
        &nbsp;&nbsp;&nbsp;
        <button type="button" class="waves-effect waves-teal btn-flat" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;
            <span jhiFnmTranslate="entity.action.cancel">Cancel</span>
        </button> &nbsp;&nbsp;&nbsp;
        <button type="button" [disabled]="!model.comptecarmes || isSaving || loading.verifierSoldeCompensation"
            class="btn waves-effect waves-light" (click)="verifierSoldeCompensation()"
            *ngIf="!hasSolde && isGuichetier">
            <span>Vérifier la demande</span>
        </button> &nbsp;&nbsp;&nbsp;
        <button type="button"
            [disabled]="!model.comptecarmes || !model.typecompensation || isSaving || loading.verifierSoldeCompensation"
            class="btn waves-effect waves-light" (click)="verifierSoldeCompensation()"
            *ngIf="!hasSolde && !isGuichetier">
            <span>Vérifier solde</span>
        </button> &nbsp;&nbsp;&nbsp;
        <button type="submit"
            [disabled]="editForm.form.invalid || isSaving || !hasSolde || (isGuichetier && !checkeds.length)"
            class="btn waves-effect waves-light" *ngIf="hasSolde">
            <span class="fa fa-save"></span>&nbsp;
            <span jhiFnmTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>