<br>
<div class="row">
    <div class="col-sm-5">
        <h2 class="card-title mb-0" style="display: block;">Guichetiers</h2>
    </div>
    <div class="col-sm-7 hidden-sm-down">
        <button type="button" class="btn btn-primary float-right" [routerLink]="['/admin', {outlets: {popup: ['user-management-new']}}]" [queryParams]="{guichetier: true}">
            <span class="fa fa-plus"></span>
        </button>
        <div class="btn-toolbar float-right" role="toolbar">
            <div class="btn-group mr-3" data-toggle="buttons">
                <label *ngFor="let t of typeGuichetiers" class="btn btn-outline-secondary" [ngClass]="{active: currentType.code == t.code}"
                    (click)="changeType(t)">
                    <input type="radio" [checked]="currentType.code == t.code" name="type">
                    <span>{{t.label}}</span>
                </label>
            </div>
        </div>
    </div>
</div>
<div>
    <jhi-alert></jhi-alert>
    <jhi-alert-error></jhi-alert-error>
    <div class="table-responsive">
        <table class="bordered striped highlight">
            <thead>
                <tr>
                <th class="numerotab">N°</th>
                    <th>Nom & Prenoms</th>
                    <th>Login</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let g of guichetiers;let index = index;">
                <td class="numerotab">{{(index + 1)}}</td>
                    <td>{{g.name}}</td>
                    <td>{{g.login}}</td>
                    <td>{{g.email}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <div class="ui dropdown">
                                <div class="text" style="display:none"></div>
                                <i class="ellipsis vertical icon"></i>
                                <div class="left menu" [routerLink]="['/entity', 'operations', 'commissions-guichetier']" [queryParams]="{login: g.login, guichetier: g.name}">
                                    <div class="item">Commissions</div>
                                    <div class="item" [routerLink]="['/admin', 'guichetiers', g.client_id, 'print']">Fiche Guichetier</div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>