<div class="ui tiny modal changePass">
    <i class="close icon"></i>
    <div class="header">
        Modification de mot de passe
    </div>
    <div class="description" style="margin-top:35px">
        <div style="text-align:center !important;">Modifier le mot de passe <span>de l'utilisateur <a style="cursor:pointer"> {{currentUser?.last_name}} {{currentUser?.first_name}}</a></span></div>

        <div class="ui corner labeled input" style="margin: 20px 9%;width: 80%;text-align:center;">
            <input [type]="!eye?'password':'text'" placeholder="le nouveau mot de passe" [(ngModel)]="password">
            <!-- <div class="ui corner label" (click)="eye = !eye">
                <i class="eye icon" *ngIf="!eye"></i>
                <i class="eye slash icon" *ngIf="eye"></i>
            </div> -->
        </div>
    </div>

    <div class="actions">
        <div class="ui black deny button" [ngClass]="{disabled:isProcessing}" (click)="closeModal('.ui.tiny.modal.changePass')">
            Annuler
        </div>
        <div class="ui positive right labeled icon button" [ngClass]="{disabled:isProcessing,loading:isProcessing}" (click)="changePassword()">
            Modifier
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>
<div class="ui tiny modal confirm-activated">
    <!-- <i class="close icon"></i> -->
    <div class="header">
        {{currentUser?.activated ? 'Désactivation':'Activation'}} d'un utilisateur
    </div>
    <div class="description" style="margin-top:35px">
        <div style="text-align:center !important;">Voulez-vous vraiment {{currentUser?.activated ? ' désactiver':'activer'}} l'utilisateur
            <span>
                <a style="cursor:pointer">{{currentUser?.last_name}} {{currentUser?.first_name}}</a>?
            </span>
        </div>
    </div>

    <div class="actions">
        <div class="ui black deny button" [ngClass]="{disabled:isProcessing}" (click)="closeModal('.ui.tiny.modal.confirm-activated')">
            Annuler
        </div>
        <div class="ui positive right labeled icon button" [ngClass]="{disabled:isProcessing,loading:isProcessing}" (click)="setActive(currentUser, !currentUser?.activated)">
            {{currentUser?.activated ? 'Désactiver':'Activer'}}
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>
<!-- <jhi-show-photo [show]="showPhoto" [title]="titleShown" [imgUrl]="imgShownUrl" (onClose)="onPhotoClose($event)"></jhi-show-photo> -->
<div>
    <br>
    <div class="row">
        <div class="col-lg-9">
            <h3 jhiFnmTranslate="userManagement.home.title">Users</h3>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label for="profiles">Profils</label>
                <select class="ui fluid search dropdown" name="profiles" id="profiles" [(ngModel)]="currentProfil" (change)="onProfilChange()">
                    <option value="ALL">TOUT</option>
                    <option *ngFor="let profil of profils" [value]="profil.name">{{profil.description || profil.name}}</option>
                </select>
            </div>
        </div>
    </div>
    <h2>
        <span jhiFnmTranslate="userManagement.home.title">Users</span>
        <button class="btn btn-primary float-right" [routerLink]="['/admin', { outlets: { popup: ['user-management-new'] } }]">
            <span class="fa fa-plus"></span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <jhi-alert-error></jhi-alert-error>
    <ng-template #elseBlock>
        <div class="ui active centered loader">
            {{principal.loading}}
        </div>
    </ng-template>
    <div class="table-responsive">
        <table class="bordered striped highlight">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <th class="numerotab">N°</th>
                    <th>
                        <span>Photo</span>
                    </th>
                    <th>Etat</th>
                    <th jhiSortBy="firstName"><span jhiFnmTranslate="userManagement.firstName">Nom</span> <span class="fa fa-sort"></span></th>
                    <th jhiSortBy="lastName"><span jhiFnmTranslate="userManagement.lastName">lastName</span> <span class="fa fa-sort"></span></th>
                    <th jhiSortBy="login"><span jhiFnmTranslate="userManagement.login">Login</span> <span class="fa fa-sort"></span></th>
                    <th jhiSortBy="email"><span jhiFnmTranslate="userManagement.email">Email</span> <span class="fa fa-sort"></span></th>
                    <th style="width: 1%; white-space: nowrap; text-align: center;">Statut</th>
                    <!-- <th><span jhiFnmTranslate="userManagement.profiles">Profiles</span></th> -->
                    <th class="text-right" style="width: 1%; white-space: nowrap;">Actions</th>
                </tr>
            </thead>
            <tbody *ngIf="users;else elseBlock">
                <tr *ngFor="let user of getUsers() | createdDate;let index = index;">
                <td class="numerotab">{{(index + 1)}}</td>
                    <td>
                        <a>
                            <img [src]="user?.picture" alt="photo" class="ui circular image" style="width:40px;height:40px;" *ngIf="user.image_url" />
                            <img src="../../../content/images/avatar.png" alt="photo" class="ui circular image" style="width:40px;height:40px;" *ngIf="!user.image_url" />
                        </a>
                    </td>
                    <td (click)="deconnecter(user)" class="text-left">
                        <div class="advervable">
                            <div class="switch">
                                <label *ngIf="user.connecter">
                                    <input type="checkbox" name="comitable" id="field_comitable" (change)="deconnecter(user)" checked/>
                                    <span class="lever"></span>
                        </label>
                                <label *ngIf="!user.connecter">
                                    <input type="checkbox" name="comitable2" id="field_comitable2" disabled/>
                                    <span class="lever"></span>
                                </label>
                            </div>
                        </div>
                    </td>
                    <td>{{user.first_name}}</td>
                    <td>{{user.last_name}}</td>
                    <td>{{user.login}}</td>
                    <td>{{user.email}}</td>
                    <td style="text-align: center;">
                        <span class="badge badge-danger hand" (click)="showModal(user,'confirm-activated')" *ngIf="!user.activated" jhiFnmTranslate="userManagement.deactivated">Deactivated</span>
                        <span class="badge badge-success hand" (click)="showModal(user,'confirm-activated')" *ngIf="user.activated" jhiFnmTranslate="userManagement.activated">Activated</span>
                    </td>
                    <!-- <td>{{user.langKey}}</td> -->
                    <!--  <td title="{{user.authority}}">
                        <div *ngFor="let authority of user.authority.split('*') | slice:0:3">
                            <span class="tag tag-info">{{ authority }}</span>
                        </div>
                    </td> -->
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit" [routerLink]="['/admin','user-management', user.login]" class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                        </button>
                            <button type="submit" [routerLink]="['/admin', { outlets: { popup: 'user-management/'+ user.login + '/edit'} }]" replaceUrl="true" class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                        </button>
                            <!-- <button type="submit" [routerLink]="['/admin', { outlets: { popup: 'user-management/'+ user.login + '/delete'} }]" replaceUrl="true" class="btn btn-danger btn-sm" [disabled]="currentAccount.login==user.login">
                            <span class="fa fa-remove"></span>
                        </button> -->
                            <div class="ui dropdown">
                                <div class="text" style="display:none"></div>
                                <i class="ellipsis vertical icon"></i>
                                <div class="left menu">
                                    <div class="item" (click)="showModal(user)">
                                        <i class="plus icon"></i> Modifier le mot de passe de l'utilisateur
                                    </div>
                                    <a [href]="getDoc(user.carte_url)"  class="item" *ngIf="isDG(user,user.carte_url)" target="_blank">
                                        <!-- <i class="plus icon"></i>  -->Voir la carte du DE
                                    </a>
                                    <a [href]="getDoc(user.signature_url)"  class="item" *ngIf="isDG(user,user.signature_url)" target="_blank"><!-- 
                                        <i class="plus icon"></i> --> Voir la signature du DE
                                    </a>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="users">
        <div class="row justify-content-center">
            <!-- <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count> -->
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>