<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myUserLabel" *ngIf="guichetier">Créer un guichetier</h4>
        <h4 class="modal-title" id="myUserLabel" jhiFnmTranslate="userManagement.home.createOrEditLabel" *ngIf="!guichetier">Create or edit a User</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <!-- <div class="form-check" *ngIf="isSuperAdmin">
            <p>
                <input type="checkbox" class="filled-in" id="filled-in-box-isAgent" [(ngModel)]="isAgent" name="isAgent" (change)="onchange()" />
                <label for="filled-in-box-isAgent"><span>Voulez-vous créer un utilisateur comme agent?</span></label>
            </p>
        </div> -->
        <div class="form-check" style="display: none;">
            <p>
                <input type="checkbox" class="filled-in" id="guichetier" [(ngModel)]="guichetier" name="guichetier" />
                <label for="guichetier"><span>Guichetier</span></label>
            </p>
        </div>
        <div class="form-check" *ngIf="guichetier">
            <p>
                <input type="radio" class="filled-in" id="guchetierFixe" [(ngModel)]="model.profil_user" name="profil_user" value="GUICHETIER_SFD">
                <label for="guchetierFixe">Guichetier fixe</label>
                <input type="radio" class="filled-in" id="guchetierAmbulant" [(ngModel)]="model.profil_user" name="profil_user" value="GUICHETIER_SFD_AMBULANT">
                <label for="guchetierAmbulant">Guichetier ambulant</label>
            </p>
        </div>
        <div class="form-group" *ngIf="isSuperAdmin && !guichetier">
            <label class="oblige">Sélectionner le SFD</label>
            <select class="ui fluid search dropdown" name="sfd" [(ngModel)]="model.sfd_reference" required>
                <option *ngFor="let sfd of sfds" [value]="sfd.code">{{sfd.name}}</option>
            </select>
        </div>
        <div class="input-field">
            <label class="form-control-label active oblige" jhiFnmTranslate="userManagement.login">Login</label>
            <input type="text" class="form-control" name="login" #loginInput="ngModel" [(ngModel)]="model.login" required minlength="1" maxlength="50" pattern="^[_'.@A-Za-z0-9-]*$">

            <div *ngIf="loginInput.dirty && loginInput.invalid">
                <small class="form-text text-danger" *ngIf="loginInput.errors.required" jhiFnmTranslate="entity.validation.required">
                    This field is required.
                </small>

                <small class="form-text text-danger" *ngIf="loginInput.errors.maxlength" jhiFnmTranslate="entity.validation.maxlength" translate-value-max="50">
                    This field cannot be longer than 50 characters.
                </small>
            </div>
        </div>
        <div class="input-field">
            <label class="form-control-label active oblige" jhiFnmTranslate="userManagement.firstName">First Name</label>
            <input type="text" class="form-control" name="firstName" #firstNameInput="ngModel" [(ngModel)]="model.first_name" maxlength="50" required>

            <div *ngIf="firstNameInput.dirty && firstNameInput.invalid">
                <small class="form-text text-danger" *ngIf="firstNameInput.errors.maxlength" jhiFnmTranslate="entity.validation.maxlength" translate-value-max="50">
                    This field cannot be longer than 50 characters.
                </small>
            </div>
        </div>
        <div class="input-field">
            <label jhiFnmTranslate="userManagement.lastName" class="form-control-label active oblige">Last Name</label>
            <input type="text" class="form-control" name="lastName" #lastNameInput="ngModel" [(ngModel)]="model.last_name" maxlength="50" required>

            <div *ngIf="lastNameInput.dirty && lastNameInput.invalid">
                <small class="form-text text-danger" *ngIf="lastNameInput.errors.maxlength" jhiFnmTranslate="entity.validation.maxlength" translate-value-max="50">
                    This field cannot be longer than 50 characters.
                </small>
            </div>
        </div>
        <div class="input-field" *ngIf="!user.id && localFlag && numericFlag">
            <label class="form-control-label active oblige">Le compte CARMES</label>
            <input type="text" class="form-control" name="cpteCarmes" #cpteCarmesInput="ngModel" [(ngModel)]="model.cpteCarmes" required minlength="1" maxlength="50">

            <div *ngIf="cpteCarmesInput.dirty && cpteCarmesInput.invalid">
                <small class="form-text text-danger" *ngIf="cpteCarmesInput.errors.required" jhiFnmTranslate="entity.validation.required">
                    This field is required.
                </small>

                <small class="form-text text-danger" *ngIf="cpteCarmesInput.errors.maxlength" jhiFnmTranslate="entity.validation.maxlength" translate-value-max="50">
                    This field cannot be longer than 50 characters.
                </small>
            </div>
        </div>
        <div class="input-field">
            <label class="form-control-label active " [ngClass]="{oblige:!user.id}">Téléphone</label>
            <input type="text" class="form-control" name="phone" #phoneInput="ngModel" [(ngModel)]="model.phone" maxlength="50" pattern="^([0-9]{0,3})[-_. ]?([0-9]{2}[-_. ]?){3}[0-9]{2}$" [attr.required]="!user.id">

            <div *ngIf="phoneInput.dirty && phoneInput.invalid">
                <small class="form-text text-danger" *ngIf="phoneInput.errors.maxlength" jhiFnmTranslate="entity.validation.maxlength" translate-value-max="50">
                    This field cannot be longer than 50 characters.
                </small>
                <small class="form-text text-danger" *ngIf="phoneInput.errors.pattern">
                    Le numero de téléphone est incorrect
                </small>
            </div>
        </div>
        <div class="input-field">
            <label class="form-control-label active oblige" jhiFnmTranslate="userManagement.email">Email</label>
            <input type="email" class="form-control" name="email" #emailInput="ngModel" [(ngModel)]="model.email" minlength="5" maxlength="100" autocomplete="off" pattern="^[a-z0-9._-]+@[a-z0-9._-]+\.[a-z]{2,6}$" required>

            <div *ngIf="emailInput.dirty && (emailInput.invalid || emailIsInvalid())">
                <small class="form-text text-danger" *ngIf="emailInput.errors.required" jhiFnmTranslate="entity.validation.required">
                    This field is required.
                </small>

                <small class="form-text text-danger" *ngIf="emailInput.errors.maxlength" jhiFnmTranslate="entity.validation.maxlength" translate-value-max="100">
                    This field cannot be longer than 100 characters.
                </small>
                <small class="form-text text-danger" *ngIf="emailInput.errors.email || emailInput.errors.pattern || emailIsInvalid()" jhiFnmTranslate="global.messages.validate.email.invalid">
                    Your email is invalid.
                 </small>
            </div>
        </div>
        <div class="input-field" *ngIf="!user.id">
            <label class="form-control-label active" [ngClass]="{oblige:!user.id}">Mot de passe</label>
            <input type="password" class="form-control" name="password_hash" #passwordHashInput="ngModel" [(ngModel)]="model.password_hash" maxlength="50" autocomplete="off" pattern="^[a-zA-Z0-9]{6,50}$" required>

            <div *ngIf="passwordHashInput.dirty && passwordHashInput.invalid">
                <small class="form-text text-danger" *ngIf="passwordHashInput.errors.maxlength" jhiFnmTranslate="entity.validation.maxlength" translate-value-max="50">
                    This field cannot be longer than 50 characters.
                </small>
                <small class="form-text text-danger" *ngIf="passwordHashInput.errors.pattern">
                    Le mot de passe est incorrect.Caractères alphanumériques uniquement. Au minimum 06 caractères
                </small>
            </div>
        </div>
        <div class="input-field" *ngIf="!user.id">
            <label class="form-control-label active" [ngClass]="{oblige:!user.id}">Confirmation de mot de passe</label>
            <input type="password" class="form-control" name="confirm_password_hash" #confirmPasswordHashInput="ngModel" [(ngModel)]="confirmation" maxlength="50" autocomplete="off" required>

            <div *ngIf="confirmation != model.password_hash">
                <small class="form-text text-danger" *ngIf="confirmation != model.password_hash">
                    La confirmation du mot de passe est incorrect. La confirmation est différente du mot de passe
                </small>
            </div>
        </div>
        <div class="form-check" *ngIf="!isSuperAdmin && !guichetier">
            <p>
                <input type="checkbox" class="filled-in" id="filled-in-box-level" [(ngModel)]="level" name="level" (change)="onLevelChange()" />
                <label for="filled-in-box-level"><span >L'utilisateur a le niveau SFD?</span></label>
            </p>
        </div>
        <div class="form-group zone_reference" [ngClass]="{dateHide:level}" *ngIf="!isSuperAdmin && !guichetier">
            <label>Zone agence</label>
            <select class="ui fluid search dropdown" name="zone" [(ngModel)]="model.zone_reference">
                <option [ngValue]="null">Aucune zone</option>
                <option *ngFor="let zone of zones" [value]="zone.reference">{{zone.name}}</option>
            </select>
        </div>
        <div class="form-group agence_reference" [ngClass]="{dateHide:level}" *ngIf="!isSuperAdmin">
            <label>Agence</label>
            <select class="ui fluid search dropdown" name="agence" [(ngModel)]="model.agence_reference">
                <option [ngValue]="null" *ngIf="!guichetier">Aucune agence</option>
                <option *ngFor="let agence of agences" [value]="agence.codeAgence">{{agence.name}}</option>
            </select>
        </div>
        <div class="form-check" *ngIf="!guichetier">
            <p>
                <input type="checkbox" class="filled-in" id="filled-in-box" [(ngModel)]="model.activated" name="activated" />
                <label for="filled-in-box"><span jhiFnmTranslate="userManagement.activated">Activated</span></label>
            </p>
        </div>
        <div class="form-group droits" *ngIf="!isSuperAdmin && !guichetier">
            <label jhiFnmTranslate="userManagement.profiles" class="oblige">Profiles</label>
            <select class="ui fluid search dropdown" multiple name="authority" [(ngModel)]="model.chaine_authorities" required>
                <option *ngFor="let authority of authorities | authoritypipe:isSuperAdmin" [value]="authority">{{authority}}</option>
            </select>
        </div>
        <div class="row" *ngIf='hasDG()'>
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="form-control-label label oblige" for="firstName" (click)="file.click()" #labelPhoto>
                        {{label}}
                    </label>
                    <input type="file" class="form-control" id="photo" name="photo" placeholder="{{'settings.form.photo.placeholder' | fnmtranslate : langue.lang | async}}" style="display:none;" #file (change)="onChangeFile('signature')">
                </div>
            </div>
        </div>
        <div class="row" *ngIf='hasDG()'>
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="form-control-label label" for="firstName" (click)="file2.click()" #labelPhoto2>
                        {{label2}}
                    </label>
                    <input type="file" class="form-control" id="photo2" name="photo" placeholder="{{'settings.form.photo.placeholder' | fnmtranslate : langue.lang | async}}" style="display:none;" #file2 (change)="onChangeFile('carte')">
                </div>
            </div>
        </div>
        <div class="form-group" *ngIf="hasDG()">
            <label class="form-control-label oblige" for="field_entree">Date d'entrée</label>
            <ngbd-datepicker-i18n [ngModel]="model.date_function" name="dateentree" required="true" (ngModelChange)="verifierDate($event,'date_function')" [minDate]="minDate"></ngbd-datepicker-i18n>
        </div>
        <div class="form-group" *ngIf="hasDG()">
            <label class="form-control-label" for="field_fin">Date de fin</label>
            <ngbd-datepicker-i18n [ngModel]="model.date_end_function" name="datefin" (ngModelChange)="verifierDate($event,'date_end_function')" [minDate]="minDate"></ngbd-datepicker-i18n>
        </div>
    </div>
    <div class="modal-footer">
        <span style="color:red">{{error}}</span>
        <span *ngIf="isPhotoSaving" style="color:rgb(129, 129, 201);font-weight: bold">{{isPhotoSaving}}</span>
        <button type="button" class="waves-effect waves-teal btn-flat" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span
            jhiFnmTranslate="entity.action.cancel">Cancel</span>
        </button>&nbsp;&nbsp;&nbsp;
        <button type="submit" [disabled]="editForm.form.invalid || isSaving || (!isSuperAdmin && !level && (!model.zone_reference && !model.agence_reference)) || emailIsInvalid() || (!user.id && confirmation != model.password_hash) || (hasDG() && !model.signature_url)"
            class="btn waves-effect waves-light">
            <span class="fa fa-floppy-o"></span>&nbsp;<span jhiFnmTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>