<div *ngIf="formation">
    <!-- <h2><span jhiFnmTranslate="sfdApp.formation.detail.title">Formation</span> {{formation.id}}</h2> -->
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiFnmTranslate="sfdApp.formation.formateur">Formateur</span></dt>
        <dd>
            <span>{{formation.formateur}}</span>
        </dd>
        <dt><span jhiFnmTranslate="sfdApp.formation.avis">Avis</span></dt>
        <dd>
            <span>{{formation.avis}}</span>
        </dd>
        <dt><span jhiFnmTranslate="sfdApp.formation.nbHour">Nb Hour</span></dt>
        <dd>
            <span>{{formation.nbHour}}</span>
        </dd>
        <dt><span jhiFnmTranslate="sfdApp.formation.createdBy">Created By</span></dt>
        <dd>
            <span>{{formation.createdBy}}</span>
        </dd>
        <dt><span jhiFnmTranslate="sfdApp.formation.lastModifiedBy">Last Modified By</span></dt>
        <dd>
            <span>{{formation.lastModifiedBy}}</span>
        </dd>
        <dt><span jhiFnmTranslate="sfdApp.formation.lastModifiedDate">Last Modified Date</span></dt>
        <dd>
            <span>{{formation.lastModifiedDate | date:'dd-MM-y'}}</span>
        </dd>
        <dt><span jhiFnmTranslate="sfdApp.formation.matieres">Matieres</span></dt>
        <dd>
            <span *ngFor="let matieres of formation.matieres; let last = last">
                <a [routerLink]="['/entity','matiere', matieres?.id ]">{{matieres.name}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
        <dt><span jhiFnmTranslate="sfdApp.formation.notificationClient">Notification Client</span></dt>
        <dd>
            <div *ngIf="formation.notificationClientId">
                <a [routerLink]="['/entity','notification-client', formation.notificationClientId]">{{formation.notificationClientId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit" (click)="previousState()" class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiFnmTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button" [routerLink]="['/entity','formation', { outlets: { popup: 'formation/'+ formation.id + '/edit'} }]"
        replaceUrl="true" class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiFnmTranslate="entity.action.edit"> Edit</span>
    </button>
</div>