<div>
    <h3>
        <span jhiFnmTranslate="sfdApp.formation.home.title">Formations</span>
        <button *jhiHasAnyRessources="'carmesfnmservice/api/formations/createFormation'" class="btn btn-primary float-right create-formation"
            [routerLink]="['/entity','formation', { outlets: { popup: ['formation-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down" jhiFnmTranslate="sfdApp.formation.home.createLabel">Create new Formation</span>
        </button>
    </h3>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'sfdApp.formation.home.search' | fnmtranslate : langue.lang | async }}">
                    <button class="btn-floating waves-effect waves-light" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="btn-floating waves-effect waves-light" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <ng-template #elseBlock>
        <div class="ui active centered inline loader">
            {{principal.loading}}
        </div>
    </ng-template>
    <div class="table-responsive" *ngIf="formations;else elseBlock">
        <table class="bordered striped highlight">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <th class="numerotab">N°</th>
                    <th jhiSortBy="libelle">
                        <span jhiFnmTranslate="sfdApp.formation.libelle">Libellé</span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="formateur">
                        <span jhiFnmTranslate="sfdApp.formation.formateur">Formateur</span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="avis">
                        <span jhiFnmTranslate="sfdApp.formation.avis">Avis</span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="nbHour">
                        <span jhiFnmTranslate="sfdApp.formation.nbHour">Nb Hour</span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <!-- <th jhiSortBy="createdBy"><span jhiFnmTranslate="sfdApp.formation.createdBy">Created By</span> <span class="fa fa-sort"></span></th> -->
                    <!-- <th jhiSortBy="lastModifiedBy"><span jhiFnmTranslate="sfdApp.formation.lastModifiedBy">Last Modified By</span> <span class="fa fa-sort"></span></th> -->
                    <!-- <th jhiSortBy="lastModifiedDate"><span jhiFnmTranslate="sfdApp.formation.lastModifiedDate">Last Modified Date</span> <span class="fa fa-sort"></span></th> -->
                    <!-- <th jhiSortBy="notificationClientId"><span jhiFnmTranslate="sfdApp.formation.notificationClient">Notification Client</span> <span class="fa fa-sort"></span></th> -->
                    <th class="text-right">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let formation of formations  | recherche:currentSearch ;let index = index;trackBy: trackId">
                <td class="numerotab">{{(index + 1) + (itemsPerPage * ((page|| 1) -1))}}</td>
                    <td>{{formation.libelle}}</td>
                    <td>{{formation.formateur}}</td>
                    <td>{{formation.avis}}</td>
                    <td>{{formation.nbHour}}</td>
                    <!-- <td>{{formation.createdBy}}</td> -->
                    <!-- <td>{{formation.lastModifiedBy}}</td> -->
                    <!-- <td>{{formation.lastModifiedDate | date:'dd-MM-y'}}</td> -->
                    <!-- <td>
                        <div *ngIf="formation.notificationClientId">
                            <a [routerLink]="['/entity','notification-client', formation.notificationClientId  ]">{{formation.notificationClientId}}</a>
                        </div>
                    </td> -->
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button *jhiHasAnyRessources="'carmesfnmservice/api/formations/getAllFormations'" type="submit" [routerLink]="['/entity','formation', formation.id ]"
                                class="btn btn-info btn-sm">
                                <span class="fa fa-eye"></span>
                                <!-- <span class="hidden-md-down" jhiFnmTranslate="entity.action.view">View</span> -->
                            </button>
                            <button *jhiHasAnyRessources="'carmesfnmservice/api/formations/updateFormation'" type="submit" [routerLink]="['/entity','formation', { outlets: { popup: 'formation/'+ formation.id + '/edit'} }]"
                                replaceUrl="true" class="btn btn-primary btn-sm">
                                <span class="fa fa-pencil"></span>
                                <!-- <span class="hidden-md-down" jhiFnmTranslate="entity.action.edit">Edit</span> -->
                            </button>
                            <button *jhiHasAnyRessources="'carmesfnmservice/api/formations/deleteFormation'" type="submit" [routerLink]="['/entity','formation', { outlets: { popup: 'formation/'+ formation.id + '/delete'} }]"
                                replaceUrl="true" class="btn btn-danger btn-sm">
                                <span class="fa fa-remove"></span>
                                <!-- <span class="hidden-md-down" jhiFnmTranslate="entity.action.delete">Delete</span> -->
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="formations && formations.length">
        <div class="row justify-content-center">
            <!-- <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count> -->
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" [collectionSize]="totalItems" [(page)]="page"
                (pageChange)="loadPage(page)" [pageSize]="itemsPerPage"></ngb-pagination>
        </div>
    </div>
</div>