<div>
    <h2>
        <span jhiFnmTranslate="sfdApp.fraisGestion.home.title">Frais Gestions</span>
        <button class="btn btn-primary float-right create-frais-gestion" [routerLink]="['/entity','frais-gestion', { outlets: { popup: ['frais-gestion-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiFnmTranslate="sfdApp.fraisGestion.home.createLabel">
            Create new Frais Gestion
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'sfdApp.fraisGestion.home.search' | fnmtranslate : langue.lang | async }}">
                    <button class="btn-floating waves-effect waves-light" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="btn-floating waves-effect waves-light" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <ng-template #elseBlock>
        <div class="ui active centered inline loader">
            {{principal.loading}}
        </div>
    </ng-template>
    <div class="table-responsive" *ngIf="fraisGestions;else elseBlock">
        <table class="bordered striped highlight">
            <thead>
                <tr>
                    <!-- <th><span jhiFnmTranslate="global.field.id">ID</span></th> -->
                    <th><span jhiFnmTranslate="sfdApp.fraisGestion.libelle">Libellé</span></th>
                    <th><span jhiFnmTranslate="sfdApp.fraisGestion.minPercent">Min Percent</span></th>
                    <th><span jhiFnmTranslate="sfdApp.fraisGestion.maxPercent">Max Percent</span></th>
                    <th><span jhiFnmTranslate="sfdApp.fraisGestion.valeur">Valeur</span></th>
                    <th><span jhiFnmTranslate="sfdApp.fraisGestion.createdDate">Created Date</span></th>
                    <th><span jhiFnmTranslate="sfdApp.fraisGestion.createdBy">Created By</span></th>
                    <th><span jhiFnmTranslate="sfdApp.fraisGestion.lastModifiedBy">Last Modified By</span></th>
                    <th><span jhiFnmTranslate="sfdApp.fraisGestion.lastModifiedDate">Last Modified Date</span></th>
                    <th class="text-right">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let fraisGestion of fraisGestions  | recherche:currentSearch ;trackBy: trackId">
                    <!-- <td><a [routerLink]="['/entity','frais-gestion', fraisGestion.id ]">{{fraisGestion.id}}</a></td> -->
                    <td>{{fraisGestion.libelle}}</td>
                    <td>{{fraisGestion.minPercent}}</td>
                    <td>{{fraisGestion.maxPercent}}</td>
                    <td>{{fraisGestion.valeur}}</td>
                    <!-- <td>{{fraisGestion.createdDate | date:'dd-MM-y'}}</td> -->
                    <!-- <td>{{fraisGestion.createdBy}}</td> -->
                    <!-- <td>{{fraisGestion.lastModifiedBy}}</td> -->
                    <!-- <td>{{fraisGestion.lastModifiedDate | date:'dd-MM-y'}}</td> -->
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit" [routerLink]="['/entity','frais-gestion', fraisGestion.id ]" class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <!-- <span class="hidden-md-down" jhiFnmTranslate="entity.action.view">View</span> -->
                        </button>
                            <button type="submit" [routerLink]="['/entity','frais-gestion', { outlets: { popup: 'frais-gestion/'+ fraisGestion.id + '/edit'} }]" replaceUrl="true" class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <!-- <span class="hidden-md-down" jhiFnmTranslate="entity.action.edit">Edit</span> -->
                        </button>
                            <button type="submit" [routerLink]="['/entity','frais-gestion', { outlets: { popup: 'frais-gestion/'+ fraisGestion.id + '/delete'} }]" replaceUrl="true" class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <!-- <span class="hidden-md-down" jhiFnmTranslate="entity.action.delete">Delete</span> -->
                        </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>