<div *ngIf="typesContrat">
    <!-- <h2><span jhiFnmTranslate="sfdApp.typesContrat.detail.title">typesContrat</span> {{typesContrat.id}}</h2> -->
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiFnmTranslate="sfdApp.typesContrat.libelle">Libellé</span></dt>
        <dd>
            <span>{{typesContrat.libelle}}</span>
        </dd>
       
        <dt><span jhiFnmTranslate="sfdApp.typesContrat.createdDate">Created Date</span></dt>
        <dd>
            <span>{{typesContrat.createdDate | date:'dd-MM-y'}}</span>
        </dd>
        <dt><span jhiFnmTranslate="sfdApp.typesContrat.createdBy">Created By</span></dt>
        <dd>
            <span>{{typesContrat.createdBy}}</span>
        </dd>
        <dt><span jhiFnmTranslate="sfdApp.typesContrat.lastModifiedBy">Last Modified By</span></dt>
        <dd>
            <span>{{typesContrat.lastModifiedBy}}</span>
        </dd>
        <dt><span jhiFnmTranslate="sfdApp.typesContrat.lastModifiedDate">Last Modified Date</span></dt>
        <dd>
            <span>{{typesContrat.lastModifiedDate | date:'dd-MM-y'}}</span>
        </dd>
    </dl>

    <button type="submit" (click)="previousState()" class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiFnmTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button" [routerLink]="['/entity','type-contrat', { outlets: { popup: 'type-contrat/'+ typesContrat.id + '/edit'} }]" replaceUrl="true" class="btn btn-primary" *jhiHasAnyRessources="['carmesfnmservice/api/frais/updateFrais']">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiFnmTranslate="entity.action.edit"> Edit</span>
    </button>
</div>