<form class="ui form" name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="mySFDLabel" [jhiFnmTranslate]="souscriptionBailleur.id?'sfdApp.souscriptionBailleur.home.createOrEditLabel':'sfdApp.souscriptionBailleur.home.createLabel'">Create or edit a SOUSCRIPTION BAILLEUR</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="field">
            <label jhiFnmTranslate="sfdApp.souscriptionBailleur.name" for="field_name" class="oblige">Name</label>
            <input type="text" name="name" id="field_name" [(ngModel)]="souscriptionBailleur.name" required maxlength="50" />
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger" [hidden]="!editForm.controls.name?.errors?.required" jhiFnmTranslate="entity.validation.required">
                    This field is required.
                </small>
                <small class="form-text text-danger" [hidden]="!editForm.controls.name?.errors?.maxlength" jhiFnmTranslate="entity.validation.maxlength"
                    translateValues="{ max: 50 }">
                    This field cannot be longer than 50 characters.
                </small>
            </div>
        </div>

        <!-- <div class="field">
            <label jhiFnmTranslate="sfdApp.produit.periodicity" for="field_periodicity" class="oblige">Periodicity</label>
            <select class="ui fluid search dropdown" id="field_periodicity" name="periodicityId" [(ngModel)]="souscriptionBailleur.periodicityId">
                <option [ngValue]="null" disabled>Choisissez la périodicité</option>
                <option [ngValue]="getSelected(souscriptionBailleur.periodicityId, periodicityOption)" *ngFor="let periodicityOption of periodicities; trackBy: trackPeriodicityById">{{periodicityOption.libPeriodicite}}</option>
            </select>
        </div> -->

        <div class="field">
            <label jhiFnmTranslate="sfdApp.produit.periodicity" for="field_periodicity" class="oblige">Periodicity</label>
            <select class="ui fluid search dropdown" id="field_periodicity" name="periodicityId" [(ngModel)]="souscriptionBailleur.periodicityId">
                <option [ngValue]="null" disabled>Choisissez la périodicité</option>
                <option [ngValue]="periodicityOption.id" *ngFor="let periodicityOption of periodicities">{{periodicityOption.libPeriodicite}}</option>
            </select>
        </div>

        <div class="field">
            <label for="field_typeAbonnement" class="oblige">Type d'abonnement</label>
            <select class="ui fluid search dropdown" id="field_typeAbonnement" name="typeAbonnement" [(ngModel)]="souscriptionBailleur.typeAbonnement" required>
                <option value="" disabled>Choisissez le type d'abonnement</option>
                <option value="1">LIMITE</option>
                <option value="0">ILLIMITE </option>
            </select>
        </div>


        <div class="field">
            <label for="field_carmesAccount" jhiFnmTranslate="sfdApp.souscriptionBailleur.compteCarmes" class="oblige">Carmes Account</label>
            <div class="ui input icon" [ngClass]="{loading: loading.compteCarmes}">
                <input type="text" name="compteCarmes" id="field_carmesAccount" [(ngModel)]="souscriptionBailleur.compteCarmes" required maxlength="9" pattern="^[0-9]{1,9}$" (blur)="checkCARMESAccount()"/>
                <i class="icon"></i>
            </div>
            <div [hidden]="!(editForm.controls.compteCarmes?.dirty && (editForm.controls.compteCarmes?.invalid || !carmesAcountIsValid))">
                <small class="form-text text-danger" [hidden]="!editForm.controls.compteCarmes?.errors?.required" jhiFnmTranslate="entity.validation.required">
                    This field is required.
                </small>
                <small class="form-text text-danger" [hidden]="!editForm.controls.compteCarmes?.errors?.maxlength" jhiFnmTranslate="entity.validation.maxlength" translateValues="{ max: 9 }">
                    This field cannot be longer than 9 characters.
                </small>
                <!-- <small class="form-text text-danger" [hidden]="!editForm.controls.compteCarmes?.invalid && carmesAcountIsValid">Le compte CARMES est deja utlisé ou est incorect.</small> -->
            </div>
        </div>
        <div class="field">
            <label for="field_indicePrestataire" class="oblige">L'indice prestataire du SOUSCRIPTIONBAILLEUR</label>
            <div class="ui input icon" [ngClass]="{loading: loading.ip}">
                <input type="text" name="indicePrestataire" id="field_indicePrestataire" [(ngModel)]="souscriptionBailleur.indicePrestataire" required pattern="^[0-9]{5}$" minlength="5" maxlength="5" (blur)="cip()"/>
                <i class="icon"></i>
            </div>
            <div [hidden]="!(editForm.controls.indicePrestataire?.dirty && editForm.controls.indicePrestataire?.invalid)">
                <small class="form-text text-danger" [hidden]="!editForm.controls.indicePrestataire?.errors?.required" jhiFnmTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger" [hidden]="!editForm.controls.indicePrestataire?.errors?.maxlength" jhiFnmTranslate="entity.validation.maxlength" translateValues="{ max: 9 }">
                   This field cannot be longer than 9 characters.
                </small>
                <small class="form-text text-danger" [hidden]="!editForm.controls.indicePrestataire?.errors?.pattern">
                   L'indice prestataire doit être de 5 chiffres.
                </small>
            </div>
        </div>
        <div class="field">
            <label jhiFnmTranslate="sfdApp.souscriptionBailleur.address" for="field_address" class="oblige">Address</label>
            <input type="text" name="address" id="field_address" [(ngModel)]="souscriptionBailleur.address" required maxlength="100" />
            <div [hidden]="!(editForm.controls.address?.dirty && editForm.controls.address?.invalid)">
                <small class="form-text text-danger" [hidden]="!editForm.controls.address?.errors?.required" jhiFnmTranslate="entity.validation.required">
                    This field is required.
                </small>
                <small class="form-text text-danger" [hidden]="!editForm.controls.address?.errors?.maxlength" jhiFnmTranslate="entity.validation.maxlength"
                    translateValues="{ max: 100 }">
                    This field cannot be longer than 100 characters.
                </small>
            </div>
        </div>
        <div class="field">
            <label jhiFnmTranslate="sfdApp.souscriptionBailleur.phone" for="field_phone" class="oblige">Phone</label>
            <input type="text" name="phone" id="field_phone" [(ngModel)]="souscriptionBailleur.phone" required maxlength="50" pattern="^([0-9]{2}[-_ ]?){3}[0-9]{2}$"
            />
            <div [hidden]="!(editForm.controls.phone?.dirty && editForm.controls.phone?.invalid)">
                <small class="form-text text-danger" [hidden]="!editForm.controls.phone?.errors?.required" jhiFnmTranslate="entity.validation.required">
                    This field is required.
                </small>
                <small class="form-text text-danger" [hidden]="!editForm.controls.phone?.errors?.maxlength" jhiFnmTranslate="entity.validation.maxlength"
                    translateValues="{ max: 50 }">
                    This field cannot be longer than 50 characters.
                </small>
                <small class="form-text text-danger" [hidden]="!editForm.controls.phone?.errors?.pattern">
                   Le format du numéro de téléphone est invalide
                </small>
            </div>
        </div>
        <div class="field">
            <label jhiFnmTranslate="sfdApp.souscriptionBailleur.email" for="field_email" class="oblige">Email</label>
            <input required type="email" name="email" id="field_email" [(ngModel)]="souscriptionBailleur.email" maxlength="50" pattern="^[a-z0-9._-]+@[a-z0-9._-]+\.[a-z]{2,6}$" />
            <div [hidden]="!(editForm.controls.email?.dirty && editForm.controls.email?.invalid)">
                <small class="form-text text-danger" [hidden]="!editForm.controls.email?.errors?.required" jhiFnmTranslate="entity.validation.required">
                    This field is required.
                </small>
                <small class="form-text text-danger" [hidden]="!editForm.controls.email?.errors?.maxlength" jhiFnmTranslate="entity.validation.maxlength"
                    translateValues="{ max: 50 }">
                    This field cannot be longer than 50 characters.
                </small>
                <small class="form-text text-danger" [hidden]="!editForm.controls.email?.errors?.pattern">
                  L'email est incorrect
                </small>
            </div>
        </div>
        <div class="field">
            <label jhiFnmTranslate="sfdApp.souscriptionBailleur.fax" for="field_fax">Fax</label>
            <input type="text" name="fax" id="field_fax" [(ngModel)]="souscriptionBailleur.fax" maxlength="50" />
            <div [hidden]="!(editForm.controls.fax?.dirty && editForm.controls.fax?.invalid)">
                <!-- <small class="form-text text-danger" [hidden]="!editForm.controls.fax?.errors?.required" jhiFnmTranslate="entity.validation.required">
                    This field is required.
                </small> -->
                <small class="form-text text-danger" [hidden]="!editForm.controls.fax?.errors?.maxlength" jhiFnmTranslate="entity.validation.maxlength"
                    translateValues="{ max: 50 }">
                    This field cannot be longer than 50 characters.
                </small>
            </div>
        </div>
        <div class="field">
            <label jhiFnmTranslate="sfdApp.souscriptionBailleur.bp" for="field_bp">Bp</label>
            <input type="text" name="bp" id="field_bp" [(ngModel)]="souscriptionBailleur.bp" maxlength="50" />
            <div [hidden]="!(editForm.controls.bp?.dirty && editForm.controls.bp?.invalid)">
                <!-- <small class="form-text text-danger" [hidden]="!editForm.controls.bp?.errors?.required" jhiFnmTranslate="entity.validation.required">
                    This field is required.
                </small> -->
                <small class="form-text text-danger" [hidden]="!editForm.controls.bp?.errors?.maxlength" jhiFnmTranslate="entity.validation.maxlength"
                    translateValues="{ max: 50 }">
                    This field cannot be longer than 50 characters.
                </small>
            </div>
        </div>

        <!-- <div class="field">
            <label class="oblige">Pays</label>
            <select class="ui fluid search dropdown" id="field_countryName" name="paysId" [(ngModel)]="souscriptionBailleur.paysId">
                <option [ngValue]="null" disabled>Choisissez le pays</option>
                <option [ngValue]="getSelected(souscriptionBailleur.paysId, paysOption)" *ngFor="let paysOption of countries; trackBy: trackPaysById">{{paysOption.name}}</option>
            </select>
        </div> -->

        <div class="field">
            <label class="oblige">Pays</label>
            <select class="ui fluid search dropdown" id="field_countryName" name="paysId" [(ngModel)]="souscriptionBailleur.paysId">
                <option [ngValue]="null" disabled>Choisissez le pays</option>
                <option [ngValue]="paysOption.id" *ngFor="let paysOption of countries">{{paysOption.name}}</option>
            </select>
        </div>

        <div class="field">
            <label jhiFnmTranslate="sfdApp.souscriptionBailleur.city" for="field_city" class="oblige">City</label>
            <input type="text" name="city" id="field_city" [(ngModel)]="souscriptionBailleur.city" required maxlength="50" />
            <div [hidden]="!(editForm.controls.city?.dirty && editForm.controls.city?.invalid)">
                <small class="form-text text-danger" [hidden]="!editForm.controls.city?.errors?.required" jhiFnmTranslate="entity.validation.required">
                    This field is required.
                </small>
                <small class="form-text text-danger" [hidden]="!editForm.controls.city?.errors?.maxlength" jhiFnmTranslate="entity.validation.maxlength"
                    translateValues="{ max: 50 }">
                    This field cannot be longer than 50 characters.
                </small>
            </div>
        </div>
        <!--  <div class="field">
            <label jhiFnmTranslate="sfdApp.souscriptionBailleur.client" for="field_client">Client</label>
            <select class="ui fluid search dropdown" id="field_client" name="client" [(ngModel)]="souscriptionBailleur.clientId">
                <option [ngValue]="null" disabled>Choisissez le client</option>
                <option [ngValue]="clientOption.id" *ngFor="let clientOption of clients; trackBy: trackClientById">{{clientOption.name}}</option>
            </select>
        </div> -->
    </div>
    <div class="modal-footer">
        <button type="button" class="ui button" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;
            <span jhiFnmTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving || !carmesAcountIsValid || !ipv" class="blue ui button">
            <span class="fa fa-save"></span>&nbsp;
            <span jhiFnmTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
