<h2 class="liste-header">
    <span jhiFnmTranslate="sfdApp.souscriptionBailleur.home.title">SOUSCRIPTIONBAILLEURS</span>
    <button *jhiHasAnyRessources="'carmesfnmservice/api/s-fds/createSFD'" class="btn btn-primary float-right create-souscriptionbailleur" [routerLink]="['/entity', 'souscription-bailleur',  { outlets: { popup: ['souscription-bailleur-new'] } }]">
        <span class="fa fa-plus"></span>
        <span class="hidden-sm-down cache" jhiFnmTranslate="sfdApp.souscriptionBailleur.home.createLabel">
            Create new SOUSCRIPTIONBAILLEUR
        </span>
    </button>
</h2>
<jhi-alert></jhi-alert>
<div class="row">
    <div class="col-sm-12">
        <form class="ui form" name="searchForm" class="form-inline">
            <div class="input-group w-100 mt-3">
                <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="currentSearch"
                    id="currentSearch"
                    name="currentSearch"
                    placeholder="{{
                        'sfdApp.souscriptionBailleur.home.search'
                            | fnmtranslate: langue.lang
                            | async
                    }}"
                />
                <button
                    class="input-group-addon btn btn-info"
                    (click)="search(currentSearch)"
                >
                    <span class="fa fa-search"></span>
                </button>
                <button
                    class="input-group-addon btn btn-danger"
                    (click)="clear()"
                    *ngIf="currentSearch"
                >
                    <span class="fa fa-trash-o"></span>
                </button>
            </div>
        </form>
    </div>
</div>
<br />
<table class="bordered striped highlight">
    <thead>
        <tr
            jhiSort
            [(predicate)]="predicate"
            [(ascending)]="reverse"
            [callback]="transition.bind(this)"
        >
            <th>N°</th>
            <th jhiSortBy="code">
                <span jhiFnmTranslate="sfdApp.souscriptionBailleur.code">Code</span>
                <span class="fa fa-sort"></span>
            </th>
            <th jhiSortBy="name">
                <span jhiFnmTranslate="sfdApp.souscriptionBailleur.name">Name</span>
                <span class="fa fa-sort"></span>
            </th>
            <th jhiSortBy="indicePrestataire">
                <span
                    jhiFnmTranslate="sfdApp.souscriptionBailleur.indicePrestataire"
                    title="Indice prestataire"
                    >I.P</span
                >
                <span class="fa fa-sort"></span>
            </th>
            <th jhiSortBy="address">
                <span jhiFnmTranslate="sfdApp.souscriptionBailleur.address">Address</span>
                <span class="fa fa-sort"></span>
            </th>
            <th jhiSortBy="phone">
                <span jhiFnmTranslate="sfdApp.souscriptionBailleur.phone">Phone</span>
                <span class="fa fa-sort"></span>
            </th>
            <th jhiSortBy="email">
                <span jhiFnmTranslate="sfdApp.souscriptionBailleur.email">Email</span>
                <span class="fa fa-sort"></span>
            </th>
            <!-- <th jhiSortBy="fax">
                        <span jhiFnmTranslate="sfdApp.souscriptionBailleur.fax">Fax</span>
                        <span class="fa fa-sort"></span>
                    </th> -->
            <!-- <th jhiSortBy="bp">
                        <span jhiFnmTranslate="sfdApp.souscriptionBailleur.bp">Bp</span>
                        <span class="fa fa-sort"></span>
                    </th> -->
            <th jhiSortBy="city">
                <span jhiFnmTranslate="sfdApp.souscriptionBailleur.city">City</span>
                <span class="fa fa-sort"></span>
            </th>
            <th jhiSortBy="compteCarmes">
                <span jhiFnmTranslate="sfdApp.souscriptionBailleur.compteCarmes_"
                    >Cpt. CARMES</span
                >
                <span class="fa fa-sort"></span>
            </th>
            <th jhiFnmTranslate="entity.date.createdDate">Created Date</th>
            <th class="text-right">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr
            *ngFor="
                let souscriptionBailleur of souscriptionBailleurS | recherche: currentSearch;
                let index = index
            "
        >
            <td>{{ index + 1 + itemsPerPage * (page - 1) }}</td>
            <td>{{ souscriptionBailleur.code }}</td>
            <td>{{ souscriptionBailleur.name }}</td>
            <td>{{ souscriptionBailleur.indicePrestataire }}</td>
            <td>{{ souscriptionBailleur.address }}</td>
            <td>{{ souscriptionBailleur.phone }}</td>
            <td>{{ souscriptionBailleur.email }}</td>
            <!--  <td>{{souscriptionBailleur.fax}}</td> -->
            <!-- <td>{{souscriptionBailleur.bp}}</td> -->
            <td>{{ souscriptionBailleur.city }}</td>
            <td>{{ souscriptionBailleur.compteCarmes }}</td>
            <td>{{ souscriptionBailleur.createdDate | date: "mediumDate" }}</td>
            <td class="text-right">
                <div class="btn-group flex-btn-group-container">
                    <!-- <button *jhiHasAnyRessources="'carmesfnmservice/api/s-fds/getSOUSCRIPTIONBAILLEUR'" type="submit" [routerLink]="['/entity', 'souscriptionbailleur', souscriptionBailleur.id ]"
                                class="btn btn-info btn-sm">
                                <span class="fa fa-eye"></span>
                            </button> -->
                    <button
                        *jhiHasAnyRessources="
                            'carmesfnmservice/api/s-fds/updateSOUSCRIPTIONBAILLEUR'
                        "
                        type="submit"
                        [routerLink]="[
                            '/entity',
                            'souscription-bailleur',
                            { outlets: { popup: 'souscription-bailleur/' + souscriptionBailleur.id + '/edit' } }
                        ]"
                        replaceUrl="true"
                        class="btn btn-primary btn-sm"
                    >
                        <span class="fa fa-pencil"></span>
                    </button>
                    <button
                        *jhiHasAnyRessources="
                            'carmesfnmservice/api/s-fds/deleteSOUSCRIPTIONBAILLEUR'
                        "
                        type="submit"
                        [routerLink]="[
                            '/entity',
                            'souscription-bailleur',
                            { outlets: { popup: 'souscriptionbailleur/' + souscriptionBailleur.id + '/delete' } }
                        ]"
                        replaceUrl="true"
                        class="btn btn-danger btn-sm"
                    >
                        <span class="fa fa-remove"></span>
                    </button>
                    <div class="ui dropdown">
                        <div class="text" style="display: none;"></div>
                        <i class="ellipsis vertical icon"></i>
                        <div class="left menu">
                            <div
                                class="item"
                                [routerLink]="[
                                    '/entity',
                                    'client',
                                    'liste-agent'
                                ]"
                                [queryParams]="{ souscriptionbailleur: souscriptionBailleur.code }"
                            >
                                Agents Marchands
                            </div>
                            <div
                                *jhiHasAnyRessources="
                                    'carmesfnmservice/api/commissions/getAllCommissions'
                                "
                                class="item"
                                [routerLink]="['/entity', 'commission']"
                                [queryParams]="{
                                    agent: souscriptionBailleur.compteCarmes,
                                    t: 'carmes',
                                    name: souscriptionBailleur.name
                                }"
                            >
                                Commissions
                            </div>
                            <div
                                *jhiHasAnyRessources="
                                    'carmesfnmservice/api/commissions/getAllCommissions'
                                "
                                class="item"
                                [routerLink]="['/state', 'commission']"
                                [queryParams]="{ carmes: souscriptionBailleur.compteCarmes }"
                            >
                                Commissions PDF
                            </div>
                            <div
                                *jhiHasAnyRessources="
                                    'carmesfnmservice/api/commissions/getAllCommissions'
                                "
                                class="item"
                                [routerLink]="[
                                    '/state',
                                    'liste-ordre-virement'
                                ]"
                                [queryParams]="{ carmes: souscriptionBailleur.code }"
                            >
                                Ordres de virements
                            </div>
                            <div
                                class="item"
                                [routerLink]="[
                                    '/entity',
                                    'client',
                                    souscriptionBailleur.compteCarmes,
                                    'account-statement'
                                ]"
                            >
                                Relevé de compte
                            </div>
                            <div
                                class="item"
                                [routerLink]="['/state', 'liste-retrait']"
                                [queryParams]="{
                                    souscriptionbailleurReference: souscriptionBailleur.code,
                                    souscriptionbailleurName: souscriptionBailleur.name,
                                    souscriptionbailleurHeader: souscriptionBailleur.entete || ''
                                }"
                            >
                                Liste des retraits
                            </div>
                            <div
                                class="item"
                                [routerLink]="[
                                    '/state',
                                    'liste-credit-impayes'
                                ]"
                                [queryParams]="{
                                    souscriptionbailleurId: souscriptionBailleur.id,
                                    souscriptionbailleurName: souscriptionBailleur.name,
                                    souscriptionbailleurHeader: souscriptionBailleur.entete || '',
                                    souscriptionbailleurReference: souscriptionBailleur.code,
                                    title: ' du SOUSCRIPTIONBAILLEUR ' + souscriptionBailleur.name
                                }"
                            >
                                Crédits impayés
                            </div>
                            <div
                                class="item"
                                [routerLink]="[
                                    '/state',
                                    'suivi-decaissement-mcm'
                                ]"
                                [queryParams]="{
                                    souscriptionbailleurReference: souscriptionBailleur.code,
                                    souscriptionbailleur: souscriptionBailleur.name,
                                    link: 'suivi-decaissement',
                                    title: 'Suivi des décaissements de MCM'
                                }"
                            >
                                Suivi des décaissements de MCM
                            </div>
                            <div
                                class="item"
                                [routerLink]="[
                                    '/state',
                                    'suivi-decaissement-mcm'
                                ]"
                                [queryParams]="{
                                    souscriptionbailleurReference: souscriptionBailleur.code,
                                    souscriptionbailleur: souscriptionBailleur.name,
                                    link: 'suivi-remboursement-ligne',
                                    title: 'Suivi des remboursements'
                                }"
                            >
                                Suivi des remboursements
                            </div>
                            <div
                                class="item"
                                [routerLink]="[
                                    '/state',
                                    'suivi-decaissement-mcm'
                                ]"
                                [queryParams]="{
                                    souscriptionbailleurReference: souscriptionBailleur.code,
                                    souscriptionbailleur: souscriptionBailleur.name,
                                    link: 'balance-agee-ligne',
                                    title: 'Balance âgée'
                                }"
                            >
                                Balance âgée
                            </div>
                            <div
                                class="item"
                                [routerLink]="[
                                    '/state',
                                    'suivi-decaissement-mcm'
                                ]"
                                [queryParams]="{
                                    souscriptionbailleurReference: souscriptionBailleur.code,
                                    souscriptionbailleur: souscriptionBailleur.name,
                                    link: 'suivi-compensation-ligne',
                                    title: 'Suivi des compensations'
                                }"
                            >
                                Suivi des compensations
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<div
    class="ui segment"
    style="box-shadow: unset; border: none;"
    *ngIf="loader.souscriptionbailleurs"
>
    <p></p>
    <div class="ui active inverted dimmer">
        <div class="ui loader"></div>
    </div>
</div>
<div class="row justify-content-center">
    <ngb-pagination
        [maxSize]="5"
        [rotate]="true"
        [ellipses]="false"
        [boundaryLinks]="true"
        [pageSize]="itemsPerPage"
        ellipses
        [collectionSize]="totalItems"
        [(page)]="page"
        (pageChange)="loadPage(page)"
    ></ngb-pagination>
</div>
