<div class="ui tiny modal" id="modal">
    <div class="header">Liste des membres de {{group?.name}}</div>
    <div class="content">
        <table class="ui celled table">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénoms</th>
                    <th>Rôle</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let member of group?.groups">
                    <td>{{member.client.name}}</td>
                    <td>{{member.client.firstName}}</td>
                    <td>{{member.memberRole}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="actions">
        <div class="ui cancel button">Fermer</div>
    </div>
</div>