<div *ngIf="OperationCaisse">
    <!-- <h2><span jhiFnmTranslate="sfdApp.OperationCaisse.detail.title">Account Type</span> {{OperationCaisse.id}}</h2> -->
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiFnmTranslate="sfdApp.OperationCaisse.name">Name</span></dt>
        <dd>
            <span>{{OperationCaisse.name}}</span>
        </dd>
        <dt><span jhiFnmTranslate="sfdApp.OperationCaisse.code">Code</span></dt>
        <dd>
            <span>{{OperationCaisse.code}}</span>
        </dd>
        <dt><span>Initiale</span></dt>
        <dd>
            <span>{{OperationCaisse.initiale}}</span>
        </dd>
    </dl>

    <button type="submit" (click)="previousState()" class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiFnmTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button" [routerLink]="['/entity','account-type', { outlets: { popup: 'account-type/'+ OperationCaisse.id + '/edit'} }]" replaceUrl="true" class="btn btn-primary" *jhiHasAnyRessources="['carmesfnmservice/api/account-types/updateOperationCaisse']">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiFnmTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
