.modal-body {
    max-height: calc(50vh - 50px);
    overflow-y: auto;
    margin-top: 50px;
}

.modal-body {
    margin-top: 0px !important;
}

.modal-body div.field:last-child .ui.fluid.search.dropdown.visible {
    margin-bottom: 300px;
    transition: all 0.05s;
}