<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
    <div class="modal-header">
        <h4 class="modal-title" id="myCreditComityLabel" [jhiFnmTranslate]="creditComity.id ? 'sfdApp.creditComity.home.createOrEditLabel' : 'sfdApp.creditComity.home.createLabel'">Create or edit a Credit Comity</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" *ngIf="creditComity.id">
            <input type="checkbox" name="dossierComplets" id="dossierComplets" [(ngModel)]="creditComity.dossierComplets" [checked]="creditComity.dossierComplets">
            <label for="dossierComplets">Dossiers Complets</label>
        </div>
        <div class="form-group">
            <label jhiFnmTranslate="sfdApp.creditComity.delegationComity" for="field_delegationComity" class="oblige">Delegation Comity</label>
            <select class="ui fluid search dropdown" id="field_delegationComity" name="delegationComity" [(ngModel)]="creditComity.delegationComityId" required (change)="onDelegationChange()">
                <option [ngValue]="null" disabled>Choisissez la délégation</option>
                <option [ngValue]="delegationComityOption.id" *ngFor="let delegationComityOption of delegationcomities; trackBy: trackDelegationComityById">{{delegationComityOption.libelle}}</option>
            </select>
            <div>
                <small class="form-text text-danger" [hidden]="hasMember">
                   NB: La délégation choisie n'a pas de membre délégué. veuillez en ajouter
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label active oblige" jhiFnmTranslate="sfdApp.creditComity.libelle" for="field_libelle">Libelle</label>
            <input required type="text" class="form-control" name="libelle" id="field_libelle" [(ngModel)]="creditComity.libelle" maxlength="50" data-length="50" />
            <div [hidden]="!(editForm.controls.libelle?.dirty && editForm.controls.libelle?.invalid)">
                <small class="form-text text-danger" [hidden]="!editForm.controls.libelle?.errors?.maxlength" jhiFnmTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                    This field cannot be longer than 50 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="oblige" for="field_type">Type</label>
            <select class="ui fluid search dropdown" id="field_type" name="type" [(ngModel)]="creditComity.typeComite" required>
                <option [ngValue]="null" disabled></option>
                <option [ngValue]="'ORDINAIRE'">ORDINAIRE</option>
                <option [ngValue]="'EXTRAORDINAIRE'">EXTRAORDINAIRE</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label active" for="field_observation">Observation</label>
            <input type="text" class="form-control" name="observation" id="field_observation" [(ngModel)]="creditComity.observation">
        </div>
        <div class="form-group">
            <label class="oblige" jhiFnmTranslate="sfdApp.creditComity.agence" for="field_agence">Agence</label>
            <select [required]="isAgence" class="ui fluid search dropdown" id="field_agence" name="agence" [(ngModel)]="creditComity.agences" multiple required>
                <option [ngValue]="null" disabled>Choisissez l'agence</option>
                <option [ngValue]="getSelected(creditComity.agences, agenceOption)" *ngFor="let agenceOption of listeAgences; trackBy: trackAgenceById">{{agenceOption.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label active oblige" jhiFnmTranslate="sfdApp.creditComity.startDate" for="field_startDate">Start Date</label>
            <ngbd-datepicker-i18n [(ngModel)]="creditComity.startDate" name="startDate" required='true' minDate="true">
            </ngbd-datepicker-i18n>
            <div [hidden]="!(editForm.controls.startDate?.dirty && (editForm.controls.startDate?.invalid || !startDateValidate()))">
                <small class="form-text text-danger" [hidden]="!editForm.controls.startDate?.errors?.required" jhiFnmTranslate="entity.validation.required">
                    This field is required.
                </small>
                <small class="form-text text-danger" [hidden]="startDateValidate()">
                    La date de début doit être supérieur ou égale à la date d'aujourd'hui
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label active oblige" jhiFnmTranslate="sfdApp.creditComity.endDate" for="field_endDate">End Date</label>
            <ngbd-datepicker-i18n [(ngModel)]="creditComity.endDate" name="endDate" required="true">
            </ngbd-datepicker-i18n>
            <div [hidden]="!(editForm.controls.endDate?.dirty && (editForm.controls.endDate?.invalid || !endDateValidate()))">
                <small class="form-text text-danger" [hidden]="!editForm.controls.endDate?.errors?.required" jhiFnmTranslate="entity.validation.required">
                    This field is required.
                </small>
                <small class="form-text text-danger" [hidden]="endDateValidate()">
                    La date de fin doit être supérieur ou égale à la date de début
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label active oblige" jhiFnmTranslate="sfdApp.creditComity.typeValidation" for="field_typeValidation">Type Validation</label>
            <select class="ui fluid search dropdown" name="typeValidation" [(ngModel)]="creditComity.typeValidation" id="field_typeValidation" required>
               <!--  <option value="INDIVIDUAL">INDIVIDUEL</option> -->
                <option value="GROUP">GROUPE</option>
            </select>
            <div [hidden]="!(editForm.controls.typeValidation?.dirty && editForm.controls.typeValidation?.invalid)">
                <small class="form-text text-danger" [hidden]="!editForm.controls.typeValidation?.errors?.required" jhiFnmTranslate="entity.validation.required">
                    This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label oblige active" jhiFnmTranslate="sfdApp.creditComity.place" for="field_place">Place</label>
            <input type="text" class="form-control" name="place" id="field_place" [(ngModel)]="creditComity.place" maxlength="50" required />
            <div [hidden]="!(editForm.controls.place?.dirty && editForm.controls.place?.invalid)">
                <small class="form-text text-danger" [hidden]="!editForm.controls.place?.errors?.maxlength" jhiFnmTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                    This field cannot be longer than 50 characters.
                </small>
            </div>
        </div>
        </div>
    <div class="modal-footer">
        <button type="button" class="waves-effect waves-teal btn-flat" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;
            <span jhiFnmTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving || !startDateValidate() || !endDateValidate()" class="btn waves-effect waves-light">
            <span class="fa fa-save"></span>&nbsp;
            <span jhiFnmTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>