.modal-dialog.modal-lg,
.modal-dialog.modal-lg .modal-content {
    margin: 0;
    height: 100%;
    overflow: overlay;
}

.modal-footer {
    border-top: none;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000 !important;
    background: #eee;
}

.modal-body {
    padding-top: 60px;
    padding-bottom: 100px;
}

.modal-header {
    font-size: 1.4em;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    background: rgb(96, 125, 139);
    color: white;
    font-weight: bold;
}

.modal-header button.close {
    color: white;
}

.modal {
    min-height: 90vh !important;
}

.wrapper {
    transition: all .3s;
}

.container div {
    cursor: pointer;
    box-shadow: 0 12px 28px rgba(0, 0, 0, 0.20), 0 10px 8px rgba(0, 0, 0, 0.12);
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    margin: 1rem;
    padding: 20px;
    text-align: center;
    position: relative;
    transition: min-height .3s;
    /*color: white !important;*/
    font-size: 1.1em;
    font-weight: 600;
}

.card-0 {
    background: rgba(144, 202, 23, 0.4) !important;
}

.card-1 {
    background: rgba(164, 212, 210, 0.4) !important;
}

.card-2 {
    background: rgba(106, 168, 207, 0.4) !important;
}

.card-3 {
    background: rgba(207, 199, 199, 0.4) !important;
}