<div *ngIf="settingSFD">
    <!-- <h2><span jhiFnmTranslate="sfdApp.settingSFD.detail.title">Setting SFD</span> {{settingSFD.id}}</h2> -->
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiFnmTranslate="sfdApp.settingSFD.name">Name</span></dt>
        <dd>
            <span>{{settingSFD.name}}</span>
        </dd>
        <dt><span jhiFnmTranslate="sfdApp.settingSFD.valeur">Valeur</span></dt>
        <dd>
            <span>{{settingSFD.valeur}}</span>
        </dd>
        <dt><span jhiFnmTranslate="sfdApp.settingSFD.sfd">Sfd</span></dt>
        <dd>
            <div *ngIf="settingSFD.sfdId">
                <a [routerLink]="['/entity','sfd', settingSFD.sfdId]">{{settingSFD.sfdId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit" (click)="previousState()" class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiFnmTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button" [routerLink]="['/entity','setting-sfd', { outlets: { popup: 'setting-sfd/'+ settingSFD.id + '/edit'} }]" replaceUrl="true" class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiFnmTranslate="entity.action.edit"> Edit</span>
    </button>
</div>