<div>
    <h2>
        <span jhiFnmTranslate="sfdApp.compteCommission.home.title">Compte Commissions</span>
        <button class="btn btn-primary float-right create-compte-commission" [routerLink]="['/entity','compte-commission', { outlets: { popup: ['compte-commission-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiFnmTranslate="sfdApp.compteCommission.home.createLabel">
            Create new Compte Commission
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'sfdApp.compteCommission.home.search' | fnmtranslate : langue.lang | async }}">
                    <button class="btn-floating waves-effect waves-light" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="btn-floating waves-effect waves-light" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <ng-template #elseBlock>
        <div class="ui active centered inline loader">
            {{principal.loading}}
        </div>
    </ng-template>
    <div class="table-responsive" *ngIf="compteCommissions;else elseBlock">
        <table class="bordered striped highlight">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                    <!-- <th jhiSortBy="id"><span jhiFnmTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th> -->
                    <th jhiSortBy="title"><span jhiFnmTranslate="sfdApp.compteCommission.title">Title</span> <span class="fa fa-sort"></span></th>
                    <th jhiSortBy="amount"><span jhiFnmTranslate="sfdApp.compteCommission.amount">Amount</span> <span class="fa fa-sort"></span></th>
                    <th jhiSortBy="taux"><span jhiFnmTranslate="sfdApp.compteCommission.taux">Taux</span> <span class="fa fa-sort"></span></th>
                    <!-- <th jhiSortBy="createdDate"><span jhiFnmTranslate="sfdApp.compteCommission.createdDate">Created Date</span> <span class="fa fa-sort"></span></th>-->
                    <!-- <th jhiSortBy="createdBy"><span jhiFnmTranslate="sfdApp.compteCommission.createdBy">Created By</span> <span class="fa fa-sort"></span></th> -->
                    <!-- <th jhiSortBy="lastModifiedBy"><span jhiFnmTranslate="sfdApp.compteCommission.lastModifiedBy">Last Modified By</span> <span class="fa fa-sort"></span></th> -->
                    <!-- <th jhiSortBy="lastModifiedDate"><span jhiFnmTranslate="sfdApp.compteCommission.lastModifiedDate">Last Modified Date</span> <span class="fa fa-sort"></span></th> -->
                    <th jhiSortBy="budgetId"><span jhiFnmTranslate="sfdApp.compteCommission.budget">Budget</span> <span class="fa fa-sort"></span></th>
                    <th class="text-right">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let compteCommission of compteCommissions  | recherche:currentSearch ;trackBy: trackId">
                    <!-- <td><a [routerLink]="['/entity','compte-commission', compteCommission.id ]">{{compteCommission.id}}</a></td> -->
                    <td>{{compteCommission.title}}</td>
                    <td>{{compteCommission.amount}}</td>
                    <td>{{compteCommission.taux}}</td>
                    <!-- <td>{{compteCommission.createdDate | date:'dd-MM-y'}}</td> -->
                    <!-- <td>{{compteCommission.createdBy}}</td> -->
                    <!-- <td>{{compteCommission.lastModifiedBy}}</td> -->
                    <!-- <td>{{compteCommission.lastModifiedDate | date:'dd-MM-y'}}</td> -->
                    <td>
                        <div *ngIf="compteCommission.budgetId">
                            <a [routerLink]="['/entity','budget', compteCommission.budgetId  ]">{{compteCommission.budgetId}}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit" [routerLink]="['/entity','compte-commission', compteCommission.id ]" class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <!-- <span class="hidden-md-down" jhiFnmTranslate="entity.action.view">View</span> -->
                        </button>
                            <button type="submit" [routerLink]="['/entity','compte-commission', { outlets: { popup: 'compte-commission/'+ compteCommission.id + '/edit'} }]" replaceUrl="true" class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <!-- <span class="hidden-md-down" jhiFnmTranslate="entity.action.edit">Edit</span> -->
                        </button>
                            <button type="submit" [routerLink]="['/entity','compte-commission', { outlets: { popup: 'compte-commission/'+ compteCommission.id + '/delete'} }]" replaceUrl="true" class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <!-- <span class="hidden-md-down" jhiFnmTranslate="entity.action.delete">Delete</span> -->
                        </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="compteCommissions && compteCommissions.length">
        <div class="row justify-content-center">
            <!-- <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count> -->
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)" [pageSize]="itemsPerPage"></ngb-pagination>
        </div>
    </div>
</div>