<div *ngIf="conditions">
    <!-- <h2><span jhiFnmTranslate="sfdApp.conditions.detail.title">Conditions</span> {{conditions.id}}</h2> -->
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiFnmTranslate="sfdApp.conditions.name">Name</span></dt>
        <dd>
            <span>{{conditions.name}}</span>
        </dd>
        <dt><span jhiFnmTranslate="sfdApp.conditions.valeur">Valeur</span></dt>
        <dd>
            <span>{{conditions.valeur}}</span>
        </dd>
        <dt><span jhiFnmTranslate="sfdApp.conditions.createdDate">Created Date</span></dt>
        <dd>
            <span>{{conditions.createdDate | date:'dd-MM-y'}}</span>
        </dd>
        <dt><span jhiFnmTranslate="sfdApp.conditions.createdBy">Created By</span></dt>
        <dd>
            <span>{{conditions.createdBy}}</span>
        </dd>
        <dt><span jhiFnmTranslate="sfdApp.conditions.lastModifiedBy">Last Modified By</span></dt>
        <dd>
            <span>{{conditions.lastModifiedBy}}</span>
        </dd>
        <dt><span jhiFnmTranslate="sfdApp.conditions.lastModifiedDate">Last Modified Date</span></dt>
        <dd>
            <span>{{conditions.lastModifiedDate | date:'dd-MM-y'}}</span>
        </dd>
    </dl>

    <button type="submit" (click)="previousState()" class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiFnmTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button" [routerLink]="['/entity','conditions', { outlets: { popup: 'conditions/'+ conditions.id + '/edit'} }]"
        replaceUrl="true" class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiFnmTranslate="entity.action.edit"> Edit</span>
    </button>
</div>