<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
    <div class="modal-header">
        <h4 class="modal-title">Demande de compensation</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div *ngIf="model.amount">
            <h3>Montant</h3>
            <h2>{{model.amount|currency:'XAF':true:'2.0-3'}}</h2>
            <hr>
        </div>
        <div class="form-group">
            <label class="oblige" for="type_compensation">Type compensation</label>
            <select class="ui fluid search dropdown" id="type_compensation" name="type_compensation" [(ngModel)]="model.type_compensation" required (change)="onTypeChange()">
                <option [ngValue]="null" disabled></option>
                <option value="COMMISSION">COMMISSION</option>
                <option value="OPERATION">OPERATION</option>
            </select>
        </div>
        <!-- <br>
        <div *ngIf="model.amount">
            <div class="input-field">
                <label class="form-control-label active">Montant</label>
                <input type="text" class="form-control" value="{{model.amount|currency:'XAF':true:'2.0-3'}}" readonly>
            </div>
        </div> -->
    </div>
    <div class="modal-footer">
        <button type="button" class="waves-effect waves-teal btn-flat" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;
            <span jhiFnmTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn waves-effect waves-light" [hidden]="!model.amount">
            <span class="fa fa-save"></span>&nbsp;
            <span jhiFnmTranslate="entity.action.save">Save</span>
        </button>
        <button type="button" [disabled]="!model.type_compensation" class="btn waves-effect waves-light" (click)="solde()" [hidden]="model.amount">
            <span class="fa fa-save"></span>&nbsp;
            <span>Vérifier solde</span>
        </button>
    </div>
</form>
