<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
    <div class="modal-header">
        <h4 class="modal-title">Souscription de sous traitant</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <!-- <div>{{model|json}}</div> -->
        <div style="text-align: center;">
            <label for="file">
                <span>Photo</span>
                <span style="color: red;">*</span>
                <img #img style="width: 75px; height: 75px; cursor: pointer; border: 1px #607d8b solid;" class="ui circular image" src="../../../content/images/avatar.png">
            </label>
            <input type="file" name="file" id="file" (change)="onPhotoChange($event.target.files)" style="display: none;">
            <br>
        </div>
        <div class="input-field">
            <label class="form-control-label oblige active" for="comptecarmes">CARMES</label>
            <input type="number" class="form-control" name="comptecarmes" id="comptecarmes" [(ngModel)]="model.comptecarmes" required (blur)="getInfos()">
        </div>
        <div class="input-field">
            <label class="form-control-label oblige active" for="code_guichet">Code guichet</label>
            <input type="text" class="form-control" name="code_guichet" id="code_guichet" [(ngModel)]="model.code_guichet" required pattern="^{{i}}-[0-9]{1,}$">
            <div [hidden]="!(editForm.controls.code_guichet?.dirty && editForm.controls.code_guichet?.invalid)">
                <small class="form-text text-danger" [hidden]="!editForm.controls.code_guichet?.errors?.required" jhiFnmTranslate="entity.validation.required">This field is required.</small>
                <small class="form-text text-danger" [hidden]="!editForm.controls.code_guichet?.errors?.pattern">Code guichet incorrect</small>
            </div>
        </div>
        <!-- <div class="input-field">
            <label class="form-control-label oblige active" for="pin">PIN</label>
            <input type="number" class="form-control" name="pin" id="pin" [(ngModel)]="pin" required>
        </div> -->
        <div class="input-field">
            <label class="form-control-label oblige active" for="name">Nom</label>
            <input type="text" class="form-control" name="name" id="name" [(ngModel)]="model.name" required>
        </div>
        <div class="input-field">
            <label class="form-control-label oblige active" for="first_name">Prénoms</label>
            <input type="text" class="form-control" name="first_name" id="first_name" [(ngModel)]="model.first_name" required>
        </div>
        <div class="input-field">
            <label class="form-control-label oblige active" for="denomination">Dénomination</label>
            <input type="text" class="form-control" name="denomination" id="denomination" [(ngModel)]="model.denomination" required>
        </div>
        <div class="input-field">
            <label class="form-control-label oblige active" for="tel">Téléphone</label>
            <input type="tel" class="form-control" name="tel" id="tel" [(ngModel)]="model.tel" required>
        </div>
        <div class="input-field">
            <label class="form-control-label oblige active" for="email">E-mail</label>
            <input type="email" class="form-control" name="email" id="email" [(ngModel)]="model.email" pattern="^([a-zA-Z0-9._-]+@[a-zA-Z0-9._-]+\.[a-z]{2,6})?$" required>
        </div>
        <div class="input-field">
            <label class="form-control-label oblige active" for="password">Mot de passe</label>
            <input type="password" class="form-control" name="password" id="password" [(ngModel)]="model.password" required minlength="6">
            <div [hidden]="!(editForm.controls.password?.dirty && editForm.controls.password?.invalid)">
                <small class="form-text text-danger" [hidden]="!editForm.controls.password?.errors?.required" jhiFnmTranslate="entity.validation.required">This field is required.</small>
                <small class="form-text text-danger" [hidden]="!editForm.controls.password?.errors?.minlength">Le mot de passe doit faire au moins 6 caractères</small>
            </div>
        </div>
        <div class="input-field">
            <label class="form-control-label oblige active" for="passwordBis">Mot de passe bis</label>
            <input type="password" class="form-control" name="passwordBis" id="passwordBis" [(ngModel)]="password" required>
            <div [hidden]="!(editForm.controls.passwordBis?.dirty)">
                <small class="form-text text-danger" [hidden]="password === model.password">La confirmation est différente du mot de passe</small>
            </div>
        </div>
        <div class="form-group">
            <label for="field_arrondissement" class="oblige">Ville</label>
            <select class="ui fluid search dropdown sfd-dropdown" id="field_arrondissement" name="arrondissement" (change)="getDistricts($event.target.value)">
                <option [value]="null" disabled></option>
                <option [value]="c.id" *ngFor="let c of cities">{{c.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="district_id" class="oblige" jhiFnmTranslate="sfdApp.address.district"></label>
            <div class="ui icon input field" [ngClass]="{loading: loading.district}" style="width: 100%;">
                <select class="ui fluid search dropdown sfd-dropdown" id="district_id" name="district_id" [(ngModel)]="model.district_id" required>
                    <option [ngValue]="null" disabled></option>
                    <option [ngValue]="d.id" *ngFor="let d of districts">{{d.name}}</option>
                </select>
                <i class="icon"></i>
            </div>
        </div>
        <div class="input-field">
            <label class="form-control-label oblige active" for="field_home" jhiFnmTranslate="sfdApp.address.maison" ></label>
            <input type="text" class="form-control" name="home" id="field_home" [(ngModel)]="model.address" required>
            <!-- <div [hidden]="!(editForm.controls.home?.dirty && editForm.controls.home?.invalid)">
                <small class="form-text text-danger" [hidden]="!editForm.controls.home?.errors?.required" jhiFnmTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger" [hidden]="!editForm.controls.home?.errors?.maxlength" jhiFnmTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                   This field cannot be longer than 100 characters.
                </small>
            </div> -->
        </div>
        <div class="form-group">
            <label class="form-control-label oblige active" jhiFnmTranslate="sfdApp.address.geoLong" for="field_geoLong">Geo Long</label>
            <div>
                <input type="number" required min="1" class="form-control" name="geoLong" id="field_geoLong" [(ngModel)]="model.geo_long">
                <!-- <a class="btn waves-effect waves-light"><span class="fa fa-map"></span></a> -->
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label oblige active" jhiFnmTranslate="sfdApp.address.geoLat" for="field_geoLat">Geo Lat</label>
            <div>
                <input type="number" required min="1" class="form-control" name="geoLat" id="field_geoLat" [(ngModel)]="model.geo_lat">
                <!-- <a class="btn waves-effect waves-light"><span class="fa fa-map"></span></a> -->
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="waves-effect waves-teal btn-flat" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiFnmTranslate="entity.action.cancel">Cancel</span>
        </button> &nbsp;&nbsp;&nbsp;
        <button type="submit" [disabled]="editForm.form.invalid || isSaving || password !== model.password || !model.photo" class="btn waves-effect waves-light">
            <span class="fa fa-save"></span>&nbsp;<span jhiFnmTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
