<div>
    <h2>
        <span jhiFnmTranslate="sfdApp.ecriture.home.title">Ecritures</span>
        <button class="btn btn-primary float-right create-ecriture" [routerLink]="['/entity','ecriture', { outlets: { popup: ['ecriture-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiFnmTranslate="sfdApp.ecriture.home.createLabel">
            Create new Ecriture
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'sfdApp.ecriture.home.search' | fnmtranslate : langue.lang | async }}">
                    <button class="btn-floating waves-effect waves-light" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="btn-floating waves-effect waves-light" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <ng-template #elseBlock>
        <div class="ui active centered inline loader">
            {{principal.loading}}
        </div>
    </ng-template>
    <div class="table-responsive" *ngIf="ecritures;else elseBlock">
        <table class="bordered striped highlight">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                    <!-- <th jhiSortBy="id"><span jhiFnmTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th> -->
                    <th jhiSortBy="codeTypeOperation"><span jhiFnmTranslate="sfdApp.ecriture.codeTypeOperation">Code Type Operation</span> <span class="fa fa-sort"></span></th>
                    <th jhiSortBy="libelle"><span jhiFnmTranslate="sfdApp.ecriture.libelle">Libelle</span> <span class="fa fa-sort"></span></th>
                    <th jhiSortBy="sens"><span jhiFnmTranslate="sfdApp.ecriture.sens">Sens</span> <span class="fa fa-sort"></span></th>
                    <th jhiSortBy="ecritureCommissionId"><span jhiFnmTranslate="sfdApp.ecriture.ecritureCommission">Ecriture Commission</span> <span class="fa fa-sort"></span></th>
                    <th jhiSortBy="operationTypeName"><span jhiFnmTranslate="sfdApp.ecriture.operationType">Operation Type</span> <span class="fa fa-sort"></span></th>
                    <th class="text-right">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ecriture of ecritures  | recherche:currentSearch ;trackBy: trackId">
                    <!-- <td><a [routerLink]="['/entity','ecriture', ecriture.id ]">{{ecriture.id}}</a></td> -->
                    <td>{{ecriture.codeTypeOperation}}</td>
                    <td>{{ecriture.libelle}}</td>
                    <td jhiFnmTranslate="{{'sfdApp.Sens.' + ecriture.sens}}">{{ecriture.sens}}</td>
                    <td>
                        <div *ngIf="ecriture.ecritureCommissionId">
                            <a [routerLink]="['/entity','ecriture-commission', ecriture.ecritureCommissionId  ]">{{ecriture.ecritureCommissionId}}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="ecriture.operationTypeId">
                            <a [routerLink]="['/entity','operation-type', ecriture.operationTypeId  ]">{{ecriture.operationTypeName}}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit" [routerLink]="['/entity','ecriture', ecriture.id ]" class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <!-- <span class="hidden-md-down" jhiFnmTranslate="entity.action.view">View</span> -->
                        </button>
                            <button type="submit" [routerLink]="['/entity','ecriture', { outlets: { popup: 'ecriture/'+ ecriture.id + '/edit'} }]" replaceUrl="true" class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <!-- <span class="hidden-md-down" jhiFnmTranslate="entity.action.edit">Edit</span> -->
                        </button>
                            <button type="submit" [routerLink]="['/entity','ecriture', { outlets: { popup: 'ecriture/'+ ecriture.id + '/delete'} }]" replaceUrl="true" class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <!-- <span class="hidden-md-down" jhiFnmTranslate="entity.action.delete">Delete</span> -->
                        </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="ecritures && ecritures.length">
        <div class="row justify-content-center">
            <!-- <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count> -->
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)" [pageSize]="itemsPerPage"></ngb-pagination>
        </div>
    </div>
</div>