<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myOperationCompteTrancheTFLabel" [jhiFnmTranslate]="operationCompteTrancheTF.id ? 'sfdApp.operationCompteTrancheTF.home.createOrEditLabel' : 'sfdApp.operationCompteTrancheTF.home.createLabel'">Create or edit a Operation Compte Tranche TF</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <!--  <div class="form-group" [hidden]="!operationCompteTrancheTF.id">
            <label for="id" jhiFnmTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id" [(ngModel)]="operationCompteTrancheTF.id" readonly />
        </div> -->
        <!-- <div class="form-group">
            <label class="form-control-label active" jhiFnmTranslate="sfdApp.operationCompteTrancheTF.createdDate" for="field_createdDate">Created Date</label>
            <div class="input-group">
                <input id="field_createdDate" type="text" class="form-control" name="createdDate" ngbDatepicker #createdDateDp="ngbDatepicker"
                    [(ngModel)]="operationCompteTrancheTF.createdDate" required/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="createdDateDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.createdDate?.dirty && editForm.controls.createdDate?.invalid)">
                <small class="form-text text-danger" [hidden]="!editForm.controls.createdDate?.errors?.required" jhiFnmTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div> -->
        <!-- <div class="form-group">
            <label class="form-control-label active" jhiFnmTranslate="sfdApp.operationCompteTrancheTF.createdBy" for="field_createdBy">Created By</label>
            <input type="text" class="form-control" name="createdBy" id="field_createdBy" [(ngModel)]="operationCompteTrancheTF.createdBy"
                required maxlength="50" data-length="50" />
            <div [hidden]="!(editForm.controls.createdBy?.dirty && editForm.controls.createdBy?.invalid)">
                <small class="form-text text-danger" [hidden]="!editForm.controls.createdBy?.errors?.required" jhiFnmTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger" [hidden]="!editForm.controls.createdBy?.errors?.maxlength" jhiFnmTranslate="entity.validation.maxlength"
                    translateValues="{ max: 50 }">
                   This field cannot be longer than 50 characters.
                </small>
            </div>
        </div> -->
        <!--  <div class="form-group">
            <label class="form-control-label active" jhiFnmTranslate="sfdApp.operationCompteTrancheTF.lastModifiedBy" for="field_lastModifiedBy">Last Modified By</label>
            <input type="text" class="form-control" name="lastModifiedBy" id="field_lastModifiedBy" [(ngModel)]="operationCompteTrancheTF.lastModifiedBy"
                maxlength="50" data-length="50" />
            <div [hidden]="!(editForm.controls.lastModifiedBy?.dirty && editForm.controls.lastModifiedBy?.invalid)">
                <small class="form-text text-danger" [hidden]="!editForm.controls.lastModifiedBy?.errors?.maxlength" jhiFnmTranslate="entity.validation.maxlength"
                    translateValues="{ max: 50 }">
                   This field cannot be longer than 50 characters.
                </small>
            </div>
        </div> -->
        <!--  <div class="form-group">
            <label class="form-control-label active" jhiFnmTranslate="sfdApp.operationCompteTrancheTF.lastModifiedDate" for="field_lastModifiedDate">Last Modified Date</label>
            <div class="input-group">
                <input id="field_lastModifiedDate" type="text" class="form-control" name="lastModifiedDate" ngbDatepicker #lastModifiedDateDp="ngbDatepicker"
                    [(ngModel)]="operationCompteTrancheTF.lastModifiedDate" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="lastModifiedDateDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div> -->

        <div class="form-group">
            <label jhiFnmTranslate="sfdApp.operationCompteTrancheTF.accountType" for="field_accountType">Account Type</label>
            <select class="ui fluid search dropdown" id="field_accountType" name="accountType" [(ngModel)]="operationCompteTrancheTF.accountTypeId">
                <option [ngValue]="null">Aucun</option>
                <option [ngValue]="accountTypeOption.id" *ngFor="let accountTypeOption of accounttypes; trackBy: trackAccountTypeById">{{accountTypeOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiFnmTranslate="sfdApp.operationCompteTrancheTF.operationType" for="field_operationType">Operation Type</label>
            <select class="ui fluid search dropdown" id="field_operationType" name="operationType" [(ngModel)]="operationCompteTrancheTF.operationTypeId">
                <option [ngValue]="null">Aucun</option>
                <option [ngValue]="operationTypeOption.id" *ngFor="let operationTypeOption of operationtypes; trackBy: trackOperationTypeById">{{operationTypeOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiFnmTranslate="sfdApp.operationCompteTrancheTF.francheTauxFrais" for="field_francheTauxFrais">Franche Taux Frais</label>
            <select class="ui fluid search dropdown" id="field_francheTauxFrais" name="francheTauxFrais" [(ngModel)]="operationCompteTrancheTF.francheTauxFraisId">
                <option [ngValue]="null">Aucun</option>
                <option [ngValue]="trancheTauxFraisOption.id" *ngFor="let trancheTauxFraisOption of tranchetauxfrais; trackBy: trackTrancheTauxFraisById">{{trancheTauxFraisOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="waves-effect waves-teal btn-flat" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiFnmTranslate="entity.action.cancel">Cancel</span>
        </button>&nbsp;&nbsp;&nbsp;
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn waves-effect waves-light">
            <span class="fa fa-save"></span>&nbsp;<span jhiFnmTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>