<div *ngIf="operationCompteTrancheTF">
    <!-- <h2><span jhiFnmTranslate="sfdApp.operationCompteTrancheTF.detail.title">Operation Compte Tranche TF</span> {{operationCompteTrancheTF.id}}</h2> -->
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiFnmTranslate="sfdApp.operationCompteTrancheTF.createdDate">Created Date</span></dt>
        <dd>
            <span>{{operationCompteTrancheTF.createdDate | date:'dd-MM-y'}}</span>
        </dd>
        <dt><span jhiFnmTranslate="sfdApp.operationCompteTrancheTF.createdBy">Created By</span></dt>
        <dd>
            <span>{{operationCompteTrancheTF.createdBy}}</span>
        </dd>
        <dt><span jhiFnmTranslate="sfdApp.operationCompteTrancheTF.lastModifiedBy">Last Modified By</span></dt>
        <dd>
            <span>{{operationCompteTrancheTF.lastModifiedBy}}</span>
        </dd>
        <dt><span jhiFnmTranslate="sfdApp.operationCompteTrancheTF.lastModifiedDate">Last Modified Date</span></dt>
        <dd>
            <span>{{operationCompteTrancheTF.lastModifiedDate | date:'dd-MM-y'}}</span>
        </dd>
        <dt><span jhiFnmTranslate="sfdApp.operationCompteTrancheTF.accountType">Account Type</span></dt>
        <dd>
            <div *ngIf="operationCompteTrancheTF.accountTypeId">
                <a [routerLink]="['/entity','account-type', operationCompteTrancheTF.accountTypeId]">{{operationCompteTrancheTF.accountTypeId}}</a>
            </div>
        </dd>
        <dt><span jhiFnmTranslate="sfdApp.operationCompteTrancheTF.operationType">Operation Type</span></dt>
        <dd>
            <div *ngIf="operationCompteTrancheTF.operationTypeId">
                <a [routerLink]="['/entity','operation-type', operationCompteTrancheTF.operationTypeId]">{{operationCompteTrancheTF.operationTypeId}}</a>
            </div>
        </dd>
        <dt><span jhiFnmTranslate="sfdApp.operationCompteTrancheTF.francheTauxFrais">Franche Taux Frais</span></dt>
        <dd>
            <div *ngIf="operationCompteTrancheTF.francheTauxFraisId">
                <a [routerLink]="['/entity','tranche-taux-frais', operationCompteTrancheTF.francheTauxFraisId]">{{operationCompteTrancheTF.francheTauxFraisId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit" (click)="previousState()" class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiFnmTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button" [routerLink]="['/entity','operation-compte-tranche-tf', { outlets: { popup: 'operation-compte-tranche-tf/'+ operationCompteTrancheTF.id + '/edit'} }]"
        replaceUrl="true" class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiFnmTranslate="entity.action.edit"> Edit</span>
    </button>
</div>