<jhi-alert></jhi-alert>
<div class="ui modal tiny" id="profile-modal">
    <div class="header">
        <span>Ajouter</span>
    </div>

    <div class="scrolling content">
        <form name="editForm" role="form" novalidate #editForm="ngForm" *ngIf="!isDeleting">
            <div class="form-group">
                <label for="field_description" class="form-control-label oblige">Description du profil</label>
                <input type="text" name="description" id="field_description" [(ngModel)]="model.description" class="form-control" required>
                <div [hidden]="!(editForm.controls.description?.dirty && editForm.controls.description?.invalid)">
                    <small class="form-text text-danger" [hidden]="!editForm.controls.description?.errors?.required" jhiFnmTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div class="form-group">
                <label for="field_name" class="form-control-label oblige">Code du profil</label>
                <input type="text" name="name" id="field_name" [(ngModel)]="model.name" required class="form-control" />
                <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                    <small class="form-text text-danger" [hidden]="!editForm.controls.name?.errors?.required" jhiFnmTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
        </form>
        <!-- <p *ngIf="isDeleting">
            Voulez-vous supprimer le profil
            <strong style="color:red">{{model.name}}</strong> ?
        </p> -->
    </div>
    <div class="actions">
        <button type="button" class="ui cancel button" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;
            <span jhiFnmTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button (click)="save()" type="submit" [disabled]="!model.name || !model.description || isSaving" class="blue ui button">
            <span class="fa fa-save"></span>&nbsp;
            <span jhiFnmTranslate="entity.action.save">Save</span>
        </button>
    </div>
</div>

<br>
<br>
<div>
    <br>
    <h3>
        <span>Les souscriptions</span>
        <!-- <div>
            <button class="btn btn-primary float-right" [routerLink]="['/entity', 'souscription', {outlets: {popup: ['authority-new']}}]">

                <span class="fa fa-plus"></span>
            </button>
        </div> -->
    </h3>
    <br>
    <div>
        <div>
            <ng-template #elseBlock>
                <div class="ui active centered inline loader">
                    {{principal.loading}}
                </div>
            </ng-template>
            <div class="table-responsive">
                <div class="row">
                    <div clas="col-2"></div>
                    <div  style = "padding-top: 16px;" class="col-md-12 col-sm-12 col-lg-6" *ngIf="categories && categories.length">
                        <div class="ui two item menu">
                            <a *ngFor="let categorie of categories" class="item" [ngClass]="{active:category?.id==categorie?.id}"
                            (click)="changeCategorie(categorie)">{{ categorie.name }}</a>
                        </div>
                    </div>
                </div>
                <table class="bordered striped highlight">
                    <thead>
                        <tr>
                            <th class="numerotab">N°</th>
                            <th>Description</th>
                            <th>Code</th>
                            <th class="text-right">Actions</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="users;else elseBlock">
                        <tr *ngFor="let user of users;let index = index;">
                            <td class="numerotab">{{(index + 1)}}</td>
                            <td>{{user.description}}</td>
                            <td>{{user.authority}}</td>
                            <td class="text-right">
                                <div class="btn-group flex-btn-group-container">
                                    <div class="ui dropdown">
                                        <div class="text" style="display:none"></div>
                                        <i class="ellipsis vertical icon"></i>
                                        <div class="left menu">
                                            <!-- *ngIf="isSuperAdmin" -->
                                            <div class="item" [routerLink]="['/entity','souscription', { outlets: { popup: ['souscription-new'] } }]" [queryParams]="{profile:user.authority}">Ajouter les souscriptions au profil</div>
                                            <div class="item" [routerLink]="['/entity', 'souscription', {outlets: {popup: ['souscription-new']}}]" [queryParams]="{profile: user.authority, liste: true}">Voir les souscriptions du profil</div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
