<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myOperationLabel" [jhiFnmTranslate]="operation.id ? 'sfdApp.operation.home.createOrEditLabel' : 'sfdApp.operation.home.createLabel'">Create or edit a Operation</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <!--<div class="form-group" [hidden]="!operation.id">
            <label for="id" jhiFnmTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id" [(ngModel)]="operation.id" readonly />
        </div>-->
        <div class="form-group">
            <label class="form-control-label active" jhiFnmTranslate="sfdApp.operation.title" for="field_title">Title</label>
            <input type="text" class="form-control" name="title" id="field_title" [(ngModel)]="operation.title" required maxlength="100"
                data-length="100" />
            <div [hidden]="!(editForm.controls.title?.dirty && editForm.controls.title?.invalid)">
                <small class="form-text text-danger" [hidden]="!editForm.controls.title?.errors?.required" jhiFnmTranslate="entity.validation.required">
                    This field is required.
                </small>
                <small class="form-text text-danger" [hidden]="!editForm.controls.title?.errors?.maxlength" jhiFnmTranslate="entity.validation.maxlength"
                    translateValues="{ max: 100 }">
                    This field cannot be longer than 100 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label active" jhiFnmTranslate="sfdApp.operation.amount" for="field_amount">Amount</label>
            <input type="number" min="1" class="form-control" name="amount" id="field_amount" [(ngModel)]="operation.amount" required
            />
            <div [hidden]="!(editForm.controls.amount?.dirty && editForm.controls.amount?.invalid)">
                <small class="form-text text-danger" [hidden]="!editForm.controls.amount?.errors?.required" jhiFnmTranslate="entity.validation.required">
                    This field is required.
                </small>
                <small class="form-text text-danger" [hidden]="!editForm.controls.amount?.errors?.number" jhiFnmTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label active" jhiFnmTranslate="sfdApp.operation.observation" for="field_observation">Observation</label>
            <input type="text" class="form-control" name="observation" id="field_observation" [(ngModel)]="operation.observation" />
        </div>
        <div class="form-group">
            <label class="form-control-label active" jhiFnmTranslate="sfdApp.operation.compenser" for="field_compenser">Compenser</label>
            <input type="checkbox" class="form-control" name="compenser" id="field_compenser" [(ngModel)]="operation.compenser" />
        </div>
        <!-- <div class="form-group">
            <label class="form-control-label active" jhiFnmTranslate="sfdApp.operation.createdDate" for="field_createdDate">Created Date</label>
            <div class="input-group">
                <input id="field_createdDate" type="text" class="form-control" name="createdDate" ngbDatepicker #createdDateDp="ngbDatepicker" [(ngModel)]="operation.createdDate" required/>
                <span class="input-group-btn">
                    <button type="button" class="waves-effect waves-teal btn-flat" (click)="createdDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.createdDate?.dirty && editForm.controls.createdDate?.invalid)">
                <small class="form-text text-danger" [hidden]="!editForm.controls.createdDate?.errors?.required" jhiFnmTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>-->
        <!--  <div class="form-group">
            <label class="form-control-label active" jhiFnmTranslate="sfdApp.operation.createdBy" for="field_createdBy">Created By</label>
            <input type="text" class="form-control" name="createdBy" id="field_createdBy" [(ngModel)]="operation.createdBy" required maxlength="50" data-length="50" />
            <div [hidden]="!(editForm.controls.createdBy?.dirty && editForm.controls.createdBy?.invalid)">
                <small class="form-text text-danger" [hidden]="!editForm.controls.createdBy?.errors?.required" jhiFnmTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger" [hidden]="!editForm.controls.createdBy?.errors?.maxlength" jhiFnmTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                   This field cannot be longer than 50 characters.
                </small>
            </div>
        </div>-->
        <!--  <div class="form-group">
            <label class="form-control-label active" jhiFnmTranslate="sfdApp.operation.lastModifiedBy" for="field_lastModifiedBy">Last Modified By</label>
            <input type="text" class="form-control" name="lastModifiedBy" id="field_lastModifiedBy" [(ngModel)]="operation.lastModifiedBy" maxlength="50" data-length="50" />
            <div [hidden]="!(editForm.controls.lastModifiedBy?.dirty && editForm.controls.lastModifiedBy?.invalid)">
                <small class="form-text text-danger" [hidden]="!editForm.controls.lastModifiedBy?.errors?.maxlength" jhiFnmTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                   This field cannot be longer than 50 characters.
                </small>
            </div>
        </div>-->
        <!-- <div class="form-group">
            <label class="form-control-label active" jhiFnmTranslate="sfdApp.operation.lastModifiedDate" for="field_lastModifiedDate">Last Modified Date</label>
            <div class="input-group">
                <input id="field_lastModifiedDate" type="text" class="form-control" name="lastModifiedDate" ngbDatepicker #lastModifiedDateDp="ngbDatepicker" [(ngModel)]="operation.lastModifiedDate" />
                <span class="input-group-btn">
                    <button type="button" class="waves-effect waves-teal btn-flat" (click)="lastModifiedDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>-->

        <div class="form-group">
            <label jhiFnmTranslate="sfdApp.operation.account" for="field_account">Account</label>
            <select class="ui fluid search dropdown" id="field_account" name="account" [(ngModel)]="operation.accountId">
                <option [ngValue]="null">Aucun</option>
                <option [ngValue]="compteOption.id" *ngFor="let compteOption of comptes; trackBy: trackCompteById">{{compteOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiFnmTranslate="sfdApp.operation.credit" for="field_credit">Credit</label>
            <select class="ui fluid search dropdown" id="field_credit" name="credit" [(ngModel)]="operation.creditId">
                <option [ngValue]="null">Aucun</option>
                <option [ngValue]="creditOption.id" *ngFor="let creditOption of credits; trackBy: trackCreditById">{{creditOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiFnmTranslate="sfdApp.operation.compensation" for="field_compensation">Compensation</label>
            <select class="ui fluid search dropdown" id="field_compensation" name="compensation" [(ngModel)]="operation.compensationId">
                <option [ngValue]="null">Aucun</option>
                <option [ngValue]="compensationOption.id" *ngFor="let compensationOption of compensations; trackBy: trackCompensationById">{{compensationOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiFnmTranslate="sfdApp.operation.operationType" for="field_operationType">Operation Type</label>
            <select class="ui fluid search dropdown" id="field_operationType" name="operationType" [(ngModel)]="operation.operationTypeId">
                <option [ngValue]="null">Aucun</option>
                <option [ngValue]="operationTypeOption.id" *ngFor="let operationTypeOption of operationtypes; trackBy: trackOperationTypeById">{{operationTypeOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiFnmTranslate="sfdApp.operation.ecriture" for="field_ecriture">Ecriture</label>
            <select class="ui fluid search dropdown" id="field_ecriture" name="ecriture" [(ngModel)]="operation.ecritureId" required>
                <option [ngValue]="ecritureOption.id" *ngFor="let ecritureOption of ecritures; trackBy: trackEcritureById">{{ecritureOption.id}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.ecriture?.dirty && editForm.controls.ecriture?.invalid)">
            <small class="form-text text-danger" [hidden]="!editForm.controls.ecriture?.errors?.required" jhiFnmTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="waves-effect waves-teal btn-flat" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;
            <span jhiFnmTranslate="entity.action.cancel">Cancel</span>
        </button> &nbsp;&nbsp;&nbsp;
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn waves-effect waves-light">
            <span class="fa fa-save"></span>&nbsp;
            <span jhiFnmTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>