<h1>Itineraire</h1>
<h3>Client (Point B): {{etude.client}}</h3>
<!-- <agm-map [latitude]="dir?.origin?.lat" [longitude]="dir?.origin?.lng" style="width: 100%; height: 500px;">
    <agm-marker [latitude]="dir?.destination?.lat" [longitude]="dir?.destination?.lng">
        <agm-info-window>
            <h2>Client: <a [routerLink]="['/entity','client', clientId]">{{etude.client}}</a></h2>
        </agm-info-window>
    </agm-marker>
    <agm-direction *ngIf="dir" [origin]="dir.origin" [destination]="dir.destination" [markerOptions]="markerOpts"></agm-direction>
</agm-map>
 -->