tr:hover {
    color: initial;
    cursor: initial;
    background: initial;
    border-radius: 0px;
}
.text-align-center {text-align: center;}
.text-align-right {text-align: right;}
.text-align-left {text-align: left;}
.bold {font-weight: bold;}
.italic {font-style: italic}
.full-width {width: 100%;}
.section-header, .section-header:hover {background-color: #bdbdbd;}
.font-size-xx-large {font-size: xx-large;}
.font-size-x-large {font-size: x-large;}
.font-size-large {font-size: large;}
.font-size-medium {font-size: medium;}
.font-size-small {font-size: small;}
.font-size-x-small {font-size: x-small;}
.font-size-xx-small {font-size: xx-small;}

/*@Spero
*/
.img-tab-width{width:53px}
.main-size{
    margin-top:30px;

}
