<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <!-- <h4 class="modal-title" id="myRessourceLabel" [jhiFnmTranslate]="ressource.id ? 'sfdApp.ressource.home.createOrEditLabel' : 'sfdApp.ressource.home.createLabel'">Create or edit a Ressource</h4> -->
        <h4 class="modal-title" id="myRessourceLabel" *ngIf="!isListe">Ajouter des ressources au profile {{params?.profile}}</h4>
        <h4 class="modal-title" id="myRessourceLabel" *ngIf="isListe">Les ressources du profile {{params?.profile}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <!-- <div class="form-group">
            <label for="field_profile" class="oblige">Profile</label>
            <select class="ui fluid search dropdown" id="field_profile" name="profile" [(ngModel)]="model.profile" required (change)="onProfileChange()">
                <option value="null" disabled>Choisissez le profile</option>
                <option [ngValue]="profileOption" *ngFor="let profileOption of profiles">{{profileOption}}</option>
            </select>
        </div> -->
        <!-- <div [hidden]="!(editForm.controls.profile?.dirty && editForm.controls.profile?.invalid)">
            <small class="form-text text-danger" [hidden]="!editForm.controls.profile?.errors?.required" jhiFnmTranslate="entity.validation.required">
                This field is required.
            </small>
        </div> -->
        <div class="form-group" *ngIf="!isListe">
            <label for="field_ressources" class="oblige">Ressources</label>
            <div class="ui icon input field" [ngClass]="{loading: !ressources}" style="width: 100%;">
                <select class="ui fluid search dropdown" id="field_ressources" name="ressources" [(ngModel)]="model.ressources" required multiple>
                <option value="null" disabled>Choisissez les ressources</option>
                <option [ngValue]="ressourceOption.id" *ngFor="let ressourceOption of ressources|searchdelete|alreadyressource">{{ressourceOption.name}} ({{ressourceOption.code}})</option>
            </select>
            </div>
        </div>
        <div [hidden]="!(editForm.controls.ressources?.dirty && editForm.controls.ressources?.invalid)" *ngIf="!isListe">
            <small class="form-text text-danger" [hidden]="!editForm.controls.ressources?.errors?.required" jhiFnmTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
        <div class="table-responsive" *ngIf="isListe">
            <table class="bordered striped highlight">
                <thead>
                    <tr>
                        <th>
                            <input type="checkbox" style="position: unset; opacity: unset; pointer-events: unset;" (change)="checkedAll($event.target.checked)">
                        </th>
                        <th>Ressource</th>
                    </tr>
                </thead>
                <tbody id="rTableTbody">
                    <tr *ngFor="let rs of ressources; let index = index">
                        <td>
                            <input type="checkbox" name="r" (change)="ch($event.target.checked, $event.target.value)" [value]="rs.id" style="position: unset; opacity: unset; pointer-events: unset;">
                        </td>
                        <td>{{rs.name}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="waves-effect waves-teal btn-flat" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;
            <span jhiFnmTranslate="entity.action.cancel">Cancel</span>
        </button> &nbsp;&nbsp;&nbsp;
        <button *ngIf="isListe" type="submit" [disabled]="checkedRessources.length === 0 || isSaving" class="btn waves-effect waves-light">
            <span class="fa fa-save"></span>&nbsp;
            <span>Supprimer</span>
        </button>
        <button *ngIf="!isListe" type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn waves-effect waves-light">
            <span class="fa fa-save"></span>&nbsp;
            <span jhiFnmTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>