<div *ngIf="contrat">
    <!-- <h2><span jhiFnmTranslate="sfdApp.contrat.detail.title">Contrat</span> {{contrat.id}}</h2> -->
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiFnmTranslate="sfdApp.contrat.code">Code</span></dt>
        <dd>
            <span>{{contrat.code}}</span>
        </dd>
        <dt><span jhiFnmTranslate="sfdApp.contrat.contratDate">Contrat Date</span></dt>
        <dd>
            <span>{{contrat.contratDate | date:'dd-MM-y'}}</span>
        </dd>
        <dt><span jhiFnmTranslate="sfdApp.contrat.duree">Duree</span></dt>
        <dd>
            <span>{{contrat.duree}}</span>
        </dd>
        <dt><span jhiFnmTranslate="sfdApp.contrat.unity">Unity</span></dt>
        <dd>
            <span jhiFnmTranslate="{{'carmesfnmserviceApp.Unite.' + contrat.unity}}">{{contrat.unity}}</span>
        </dd>
        <dt><span jhiFnmTranslate="sfdApp.contrat.clotureDate">Cloture Date</span></dt>
        <dd>
            <span>{{contrat.clotureDate | date:'dd-MM-y'}}</span>
        </dd>
        <dt><span jhiFnmTranslate="sfdApp.contrat.createdDate">Created Date</span></dt>
        <dd>
            <span>{{contrat.createdDate | date:'dd-MM-y'}}</span>
        </dd>
        <dt><span jhiFnmTranslate="sfdApp.contrat.createdBy">Created By</span></dt>
        <dd>
            <span>{{contrat.createdBy}}</span>
        </dd>
        <dt><span jhiFnmTranslate="sfdApp.contrat.lastModifiedBy">Last Modified By</span></dt>
        <dd>
            <span>{{contrat.lastModifiedBy}}</span>
        </dd>
        <dt><span jhiFnmTranslate="sfdApp.contrat.lastModifiedDate">Last Modified Date</span></dt>
        <dd>
            <span>{{contrat.lastModifiedDate | date:'dd-MM-y'}}</span>
        </dd>
        <dt><span jhiFnmTranslate="sfdApp.contrat.sfd">Sfd</span></dt>
        <dd>
            <div *ngIf="contrat.sfdId">
                <a [routerLink]="['/entity','sfd', contrat.sfdId]">{{contrat.sfdId}}</a>
            </div>
        </dd>
        <dt><span jhiFnmTranslate="sfdApp.contrat.produit">Produit</span></dt>
        <dd>
            <div *ngIf="contrat.produitId">
                <a [routerLink]="['/entity','produit', contrat.produitId]">{{contrat.produitId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit" (click)="previousState()" class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiFnmTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button" [routerLink]="['/entity','contrat', { outlets: { popup: 'contrat/'+ contrat.id + '/edit'} }]" replaceUrl="true" class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiFnmTranslate="entity.action.edit"> Edit</span>
    </button>
</div>