<div>
    <h2>
        <span jhiFnmTranslate="sfdApp.contrat.home.title">Contrats</span>
        <button class="btn btn-primary float-right create-contrat" [routerLink]="['/entity','contrat', { outlets: { popup: ['contrat-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiFnmTranslate="sfdApp.contrat.home.createLabel">
            Create new Contrat
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'sfdApp.contrat.home.search' | fnmtranslate : langue.lang | async }}">
                    <button class="btn-floating waves-effect waves-light" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="btn-floating waves-effect waves-light" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <ng-template #elseBlock>
        <div class="ui active centered inline loader">
            {{principal.loading}}
        </div>
    </ng-template>
    <div class="table-responsive" *ngIf="contrats;else elseBlock">
        <table class="bordered striped highlight">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                    <!-- <th jhiSortBy="id"><span jhiFnmTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th> -->
                    <!-- <th jhiSortBy="code"><span jhiFnmTranslate="sfdApp.contrat.code">Code</span> <span class="fa fa-sort"></span></th> -->
                    <th jhiSortBy="contratDate"><span jhiFnmTranslate="sfdApp.contrat.contratDate">Contrat Date</span> <span class="fa fa-sort"></span></th>
                    <th jhiSortBy="duree"><span jhiFnmTranslate="sfdApp.contrat.duree">Duree</span> <span class="fa fa-sort"></span></th>
                    <!-- <th jhiSortBy="unity"><span jhiFnmTranslate="sfdApp.contrat.unity">Unity</span> <span class="fa fa-sort"></span></th> -->
                    <th jhiSortBy="clotureDate"><span jhiFnmTranslate="sfdApp.contrat.clotureDate">Cloture Date</span> <span class="fa fa-sort"></span></th>
                    <!-- <th jhiSortBy="createdDate"><span jhiFnmTranslate="sfdApp.contrat.createdDate">Created Date</span> <span class="fa fa-sort"></span></th>-->
                    <!-- <th jhiSortBy="createdBy"><span jhiFnmTranslate="sfdApp.contrat.createdBy">Created By</span> <span class="fa fa-sort"></span></th> -->
                    <!-- <th jhiSortBy="lastModifiedBy"><span jhiFnmTranslate="sfdApp.contrat.lastModifiedBy">Last Modified By</span> <span class="fa fa-sort"></span></th> -->
                    <!-- <th jhiSortBy="lastModifiedDate"><span jhiFnmTranslate="sfdApp.contrat.lastModifiedDate">Last Modified Date</span> <span class="fa fa-sort"></span></th> -->
                    <th jhiSortBy="sfdId"><span jhiFnmTranslate="sfdApp.contrat.sfd">Sfd</span> <span class="fa fa-sort"></span></th>
                    <th jhiSortBy="produitId"><span jhiFnmTranslate="sfdApp.contrat.produit">Produit</span> <span class="fa fa-sort"></span></th>
                    <th class="text-right">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let contrat of contrats  | recherche:currentSearch ;trackBy: trackId">
                    <!-- <td><a [routerLink]="['/entity','contrat', contrat.id ]">{{contrat.id}}</a></td> -->
                    <!-- <td>{{contrat.code}}</td> -->
                    <td>{{contrat.contratDate | date:'dd-MM-y'}}</td>
                    <td>{{contrat.duree}} <span jhiFnmTranslate="{{'carmesfnmserviceApp.Unite.' + contrat.unity}}">{{contrat.unity}}</span></td>
                    <!-- <td jhiFnmTranslate="{{'carmesfnmserviceApp.Unite.' + contrat.unity}}">{{contrat.unity}}</td> -->
                    <td>{{contrat.clotureDate | date:'dd-MM-y'}}</td>
                    <!-- <td>{{contrat.createdDate | date:'dd-MM-y'}}</td> -->
                    <!-- <td>{{contrat.createdBy}}</td> -->
                    <!-- <td>{{contrat.lastModifiedBy}}</td> -->
                    <!-- <td>{{contrat.lastModifiedDate | date:'dd-MM-y'}}</td> -->
                    <td>
                        <div *ngIf="contrat.sfdId">
                            <a [routerLink]="['/entity','sfd', contrat.sfdId  ]">{{sfd(contrat.sfdId).name}}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="contrat.produitId">
                            <a [routerLink]="['/entity','produit', contrat.produitId  ]">{{produit(contrat.produitId).libelle}}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <div class="ui floating labeled icon dropdown button">
                                <span class="text"></span>
                                <i class="ellipsis vertical icon"></i>
                                <div class="left menu">
                                    <div class="item">
                                        <i class="dropdown icon"></i>
                                        <span class="text">actions</span>
                                        <div class="menu">
                                            <div class="item" [routerLink]="['/entity','contrat', contrat.id ]">
                                                <span jhiFnmTranslate="entity.action.view">View</span>
                                            </div>
                                            <div class="item" [routerLink]="['/entity','contrat', { outlets: { popup: 'contrat/'+ contrat.id + '/edit'} }]" replaceUrl="true">
                                                <span jhiFnmTranslate="entity.action.edit">Edit</span>
                                            </div>
                                            <div class="item" [routerLink]="['/entity','contrat', { outlets: { popup: 'contrat/'+ contrat.id + '/delete'} }]" replaceUrl="true">
                                                <span jhiFnmTranslate="entity.action.delete">Delete</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <i class="dropdown icon"></i>
                                        <span class="text">Autres</span>
                                        <div class="menu">
                                            <div class="item" (click)="printContrat(contrat)">Imprimer ce contrat</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="contrats && contrats.length">
        <div class="row justify-content-center">
            <!-- <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count> -->
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)" [pageSize]="itemsPerPage"></ngb-pagination>
        </div>
    </div>
</div>
<!-- <div class="ui compact selection dropdown">
    <i class="dropdown icon"></i>
    <div class="text">Impressions</div>
    <div class="menu">
        <div class="item" jhiFnmTranslate="impressions.contrat.all">Tous les contrats</div>
    </div>
</div> -->