<!--loader-->
<div class="ui dimmer" [ngClass]="{'active': !hideLoader}">
    <div class="ui loader"></div>
</div>
<div class="container" *ngIf="hideLoader">

    <div id="print" #printZone class="col-md-12">
        <!--  <div class="print-header">
            <span style="text-align:justify" *ngIf="_DePage.entete !=null ;else elseBlock">
                <img [src]="imageUrl+_DePage.entete" alt="entete de page">
            </span>
            <ng-template #elseBlock>
                <img src="../../../content/images/header.jpg" alt="logo">
            </ng-template>
        </div> -->
        <div class="marge-wrapper top-marg">
            <p class="page-break">
                <span class="elm"></span>
            </p>
            <div class="row top-space">
                <div class="col-md-12">
                    <table class="table table-bordered bx-sizing">
                        <tbody>
                            <tr class="bx-shadow">
                                <td class="text-align-center bold font-size-x-large" style="color:gray; "> LES ECHEANCES DE LIGNE DE CREDIT </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>

            <!--  Custumer section-->
            <div class="row">
                <div class="col-md-12">

                    <div *ngIf="echeances">

                        <table class="table table-bordered" width="100">
                            <tbody>
                                <tr style="line-height: 32px;">
                                    <td class="">
                                        Référence de la ligne: {{ligne_reference}}
                                    </td>
                                    <td class="style">Montant: {{fiche.montant | currency:'XAF':true:'2.0'}}</td>
                                    <td>
                                        Durée: {{fiche?.duree}}
                                    </td>

                                </tr>


                                <tr style=" line-height: 32px;">
                                    <td>
                                        Taux d'interêt: {{ligneCredit?.tauxInteret}}
                                    </td>
                                    <td>
                                        Différé : {{fiche?.differe}}
                                    </td>
                                    <td>
                                        Date d’effet : {{fiche?.dateeffet | date:'dd-MM-y'}}
                                    </td>
                                </tr>

                            </tbody>
                        </table>

                        <!--  <p class="page-break"></p> -->
                        <table style=" line-height: 35px; margin-top: 20px;" class="table table-bordered table-top top-s" *ngFor="let first_arr of echeances; let firster=first; let laster= last">
                            <p *ngIf="!firster" class="page-break">
                                <span class="elm"></span>
                            </p>
                            <thead *ngIf="firster">
                                <th>N°</th>
                                <th>Date</th>
                                <th>Capit.</th>
                                <th>Int.</th>
                                <th>Mensual.</th>
                                <th>Capit. restant</th>
                                <th>Cap. payé</th>
                                <th>Int. payé</th>
                                <th>Epa.</th>
                                <th>Epa. payé</th>
                            </thead>
                            <tbody>

                                <tr *ngFor="let echeance of first_arr; let index=index;let last=last" [ngClass]="{'text-bold': last}">

                                    <td *ngIf="laster && last" colspan="2" style="text-align: center; font-weight: bold;width:20%">Total </td>
                                    <td *ngIf=" (!laster && last) || (laster && !last) || (!laster && !last)" style="width:10%" [ngStyle]="{'font-weight':(last && laster) ? 'bold' : 'normal' }">{{echeance.num_echeance}}</td>
                                    <td *ngIf="(!laster && last) || (laster && !last) || (!laster && !last)" style="width:10%" [ngStyle]="{'font-weight':(last && laster) ? 'bold' : 'normal' }">{{echeance.echeance_date?(echeance.echeance_date
                                        | date:'dd-MM-y'):''}}</td>
                                    <td style="width:10%" [ngStyle]="{'font-weight':(last && laster) ? 'bold' : 'normal' }">{{echeance.capital | currency:'XAF':true:'2.0'}}</td>
                                    <td style="width:10%" [ngStyle]="{'font-weight':(last && laster) ? 'bold' : 'normal' }">{{echeance.interet | currency:'XAF':true:'2.0'}}</td>
                                    <td style="width:10%" [ngStyle]="{'font-weight':(last && laster) ? 'bold' : 'normal' }">{{echeance.mensualite | currency:'XAF':true:'2.0'}}</td>
                                    <td style="width:10%" [ngStyle]="{'font-weight':(last && laster) ? 'bold' : 'normal' }">
                                        <span *ngIf="(!laster && last) || (laster && !last) || (!laster && !last)">{{echeance.capitalRestant | currency:'XAF':true:'2.0'}}</span>
                                    </td>
                                    <td style="width:10%" [ngStyle]="{'font-weight':last ? 'bold' : 'normal' }">
                                        {{echeance.capitalPayer| currency:'XAF':true:'2.0'}}
                                    </td>
                                    <td style="width:10%" [ngStyle]="{'font-weight':last ? 'bold' : 'normal' }">
                                        {{echeance.interetPayer | currency:'XAF':true:'2.0'}}
                                    </td>
                                    <td style="width:10%" [ngStyle]="{'font-weight':last ? 'bold' : 'normal' }">
                                        {{echeance.epargne| currency:'XAF':true:'2.0'}}
                                    </td>
                                    <td style="width:10%" [ngStyle]="{'font-weight':last ? 'bold' : 'normal' }">
                                        {{echeance.epargnePayer | currency:'XAF':true:'2.0'}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="print-footer">

            <span style="text-align:justify" *ngIf="_DePage.piedPage !=null;else elseBlock2">
                <img [src]="imageUrl+_DePage.piedPage" alt="pied de page" width="100%" height="50">
            </span>
            <ng-template #elseBlock2>
                <img src="../../../content/images/footer.jpg" alt="logo" width="100%" height="50">
            </ng-template>
        </div> -->
    </div>
</div>
<iframe name="print_frame" width="0" height="0" frameborder="0" src="about:blank"></iframe>
<a class="btn-floating btn-large waves-effect waves-light red" style="position: fixed; bottom: 25px; right: 25px;" (click)="printAsPdf('print')">
    <i class="material-icons">print</i>
</a>

<!-- </div> -->
