<div>
<div class="modal-header">
        <h4 class="modal-title">Les complements de la ligne de crédit </h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
    </div>
<div class="modal-body">
<div>
Libellé de la ligne: {{ligneCredit.libelle}}<br/>
Référence de la ligne: {{ligneCredit.code}}<br/>
Bailleur de la ligne: {{ligneCredit.partner?.name}}<br/>
Montant de la ligne :{{ligneCredit.amount | currency:'XAF':true:'2.0'}}<br/>
</div>
    <jhi-alert></jhi-alert>
    <br/>
    <ng-template #elseBlock>
        <div class="ui active centered inline loader">
            {{principal.loading}}
        </div>
    </ng-template>
    <div class="table-responsive" *ngIf="complements;else elseBlock">
        <table class="bordered striped highlight">
            <thead>
                <tr>
                <th class="numerotab">N°</th>
                    <th>Montant demandé</th>
                    <th>Montant accordé</th>
                    <th>Raison de la demande</th>
                    <th>Etat</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let complement of complements | recherche:currentSearch ;let index = index">
                <td class="numerotab">{{index + 1}}</td>
                    <td>{{complement.amountRequest | currency:'XAF':true:'2.0'}}</td>
                    
                    <td>{{complement.amountAccorder | currency:'XAF':true:'2.0'}}</td>
                    <td>{{complement.requestRaison}}</td>
                    <td>{{complement.etat}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>