div.container {
    width: 100%;
    min-height: 95vh;
    position: relative;
}

.back-header {
    width: 100%;
    height: 250px;
    background: black;
}

.back-footer {
    width: 100%;
    min-height: 300px;
    background: #dddddd;
}

h3 {
    color: white;
    padding: 20px 0;
    text-align: center;
}

.contenu {
    position: absolute;
    top: 90px;
    left: 50px;
    right: 50px;
    padding: 15px;
    background: #f9f9f9;
}