<ng-template #elseBlock>
    <div class="ui active centered loader">
        {{principal.loading}}
    </div>
</ng-template>
<div class="modal-header">
    <h4 class="modal-title">Les echéances de la ligne</h4>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
</div>
<div class="modal-body">
    <h4 class="text-center">La ligne de crédit {{ligneCredit?.libelle}}</h4>
    <div class="table-responsive">
        <table class="bordered striped highlight">
            <thead>
                <tr>
                    <th><span jhiFnmTranslate="sfdApp.echeancesClient.numEcheance">Num Echeance</span> <span class="fa fa-sort"></span></th>
                    <th><span jhiFnmTranslate="sfdApp.echeancesClient.echeanceDate">Echeance Date</span> <span class="fa fa-sort"></span></th>
                    <th><span jhiFnmTranslate="sfdApp.echeancesClient.capital">Capital</span> <span class="fa fa-sort"></span></th>
                    <th>
                        <span>Capital Payé</span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th><span jhiFnmTranslate="sfdApp.echeancesClient.interet">Interet</span> <span class="fa fa-sort"></span></th>
                    <th>
                        <span>Intèrêt payé</span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th><span jhiFnmTranslate="sfdApp.echeancesClient.epargne">Epargne</span> <span class="fa fa-sort"></span></th>
                    <th>
                        <span>Epargne payé</span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th><span>Mensualité</span> <span class="fa fa-sort"></span></th>
                    <th>
                        <span>Mensualité payée</span>
                        <span class="fa fa-sort"></span>
                    </th>
                </tr>
            </thead>
            <tbody *ngIf="echeancesClients;else elseBlock">
                <tr *ngFor="let echeancesClient of echeancesClients|recherche:currentSearch ;let last=last">
                    <td *ngIf="!last">{{echeancesClient.num_echeance}}</td>
                    <td *ngIf="!last">{{echeancesClient.echeance_date | date:'dd-MM-y'}}</td>
                    <td *ngIf="last" colspan="2" class="text-center">
                        Total
                    </td>
                    <td>{{echeancesClient.capital | currency:'XAF':true:'2.0'}}</td>
                    <td>{{echeancesClient.capitalPayer | currency:'XAF':true:'2.0'}}</td>
                    <td>{{echeancesClient.interet | currency:'XAF':true:'2.0'}}</td>
                    <td>{{echeancesClient.interetPayer | currency:'XAF':true:'2.0'}}</td>
                    <td>{{echeancesClient.epargne | currency:'XAF':true:'2.0'}}</td>
                    <td>{{echeancesClient.epargnePayer | currency:'XAF':true:'2.0'}}</td>
                    <td>{{echeancesClient.mensualite | currency:'XAF':true:'2.0'}}</td>
                    <td>{{echeancesClient.mensualitePayer | currency:'XAF':true:'2.0'}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>