<div class="ui dimmer" [ngClass]="{'active':!ficheIsLoad}">
    <div class="ui loader"></div>
</div>

<div class="container" style="margin: auto;" *ngIf="ficheIsLoad">
    <table class="bx-sizing"  style="margin-top: 73px;">
        <tr style="border-bottom:none !important" bx-shadow>
            <td class="text-align-center bold font-size-x-large" style="color:gray;"> FICHE DE NOTIFICATION SFD</td>
        </tr>
    </table>
    <br>
    <div id="print" #printZone style="display: inline-block; background-color: white; font-family: 'Times New Roman', Times, serif; font-size: 23px; margin: auto 100px;"
        class="browser-default">
        <div class="print-header">
            <img src="../../../content/images/header.jpg" alt="logo" height="">
        </div>
        <!-- <h1 style="text-align: center;">FICHE DEMANDE DE LIGNE DE CREDIT</h1> -->
        <div class="wrapper">
            <p class="page-break"></p>
            <div dir="ltr" style="max-width:21.001cm;margin-top:2.499cm; margin-bottom:2.499cm; margin-left:2.499cm; margin-right:2.499cm;">

                <p class="P3">Cotonou, le {{todayDate | date:'mediumDate'}}</p>
                <p class="Standard"> </p>
                <p class="Standard">N/Réf {{data.reference}}</p>
                <p class="Standard"> </p>
                <p class="Standard">
                    <span class="T1">Objet</span>
                    <span class="T2"> : Notification de crédit</span>
                </p>
                <p class="Standard"> </p>
                <p class="Standard">
                    <span class="T3">Monsieur/Madame le(a) </span>
                    Président(e)
                    <span class="T3"> du groupe {{data.name}} </span>
                </p>
                <p class="P1"> </p>
                <p class="P2">
                    <span class="T4"  style="text-align: justify; line-height: 1.5; ">Suite à l’examen de votre demande  de crédit, nous avons le plaisir de vous notifier l’accord
                        du SFD pour ledit crédit aux conditions suivantes :
                    </span>
                </p>

                <ul>
                    <li>
                        <p class="P6" style="margin-left:1,27cm;">
                            <span class="T4">Type de Crédit : {{data.typeCredit}}</span>
                            <br>
                            <span class="odfLiEnd"></span>
                        </p>
                    </li>
                    <li>
                        <p class="P6" style="margin-left:1,27cm;">
                            <span class="T4">Montant du crédit : {{data.montantCredit | currency:'XAF':true:'2.0'}}</span>
                            <br>
                            <span class="odfLiEnd"></span>
                        </p>
                    </li>
                    <li>
                        <p class="P6" style="margin-left:1,27cm;">
                            <span class="T4">Durée de remboursement : {{data.duree}} mois</span>
                            <br>
                            <span class="odfLiEnd"></span>
                        </p>
                    </li>
                    <li>
                        <p class="P6" style="margin-left:1,27cm;">
                            <span class="T4">Taux d’intérêt : {{data.tauxInteret}}%</span>
                            <br>
                            <span class="odfLiEnd"></span>
                        </p>
                    </li>
                    <li>
                        <p class="P6" style="margin-left:1,27cm;">
                            <span class="T4">Objet du crédit : démarrage d’une activité génératrice de revenu</span>
                            <br>
                            <span class="odfLiEnd"></span>
                        </p>
                    </li>
                    <li>
                        <p class="P6" style="margin-left:1,27cm;">
                            <span class="T4">Périodicité : Mensuelle</span>
                            <br>
                            <span class="odfLiEnd"></span>
                        </p>
                    </li>
                </ul>
                <p class="P2">
                    <span class="T4">Conditions particulières :</span>
                </p>
                <ul>
                    <li>
                        <p class="P6">
                            <span class="T4" style="text-align: justify; line-height: 1.5; ">Le remboursement du crédit se fait sur le compte du SFD ouvert à cet effet de façon
                                électronique.
                            </span>
                        </p>
                    </li>
                    <li>
                        <p class="P6" style="margin-left:1,27cm;">

                            <br>
                            <span class="T4">Souscrire à l’Assurance vie</span>
                            <span class="odfLiEnd"></span>
                        </p>
                    </li>
                </ul>
                <p class="P4">
                    <span class="T4">Nous vous prions d’agréer, Mr/Mme le(a) Président(e) l’expression de nos salutations.</span>
                </p>
                <p class="P4">
                    <span class="T4">La notification a une durée de validité de 90 jours.</span>
                </p>
                <p class="P5"> </p>
                <p class="P4">
                    <span class="T4"> Le(a) Directeur/Directrice exécutif.</span>
                    <a id="_GoBack"></a>
                </p>

                <div style="display:block;">
                    <img #qrimage src="" style="width: 85px;height: 85px" alt="some code">
                </div>

            </div>
        </div>
        <div class="print-footer">
            <img src="../../../content/images/footer.jpg" alt="logo" width="100%" height="50">
        </div>

    </div>
</div>
<iframe name="print_frame" width="0" height="0" frameborder="0" src="about:blank"></iframe>
<button class="btn-floating btn-large waves-effect waves-light red" style="position: fixed; bottom: 25px; right: 25px;" (click)="printAsPdf('membership-form')">
    <i class="material-icons">print</i>
</button>