<div *ngIf="rembtPenalSFD">
    <!-- <h2><span jhiFnmTranslate="sfdApp.rembtPenalSFD.detail.title">Rembt Penal SFD</span> {{rembtPenalSFD.id}}</h2> -->
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiFnmTranslate="sfdApp.rembtPenalSFD.amount">Amount</span></dt>
        <dd>
            <span>{{rembtPenalSFD.amount}}</span>
        </dd>
        <dt><span jhiFnmTranslate="sfdApp.rembtPenalSFD.rembPenalDate">Remb Penal Date</span></dt>
        <dd>
            <span>{{rembtPenalSFD.rembPenalDate | date:'dd-MM-y'}}</span>
        </dd>
        <dt><span jhiFnmTranslate="sfdApp.rembtPenalSFD.rembPenalPayer">Remb Penal Payer</span></dt>
        <dd>
            <span>{{rembtPenalSFD.rembPenalPayer}}</span>
        </dd>
        <dt><span jhiFnmTranslate="sfdApp.rembtPenalSFD.createdDate">Created Date</span></dt>
        <dd>
            <span>{{rembtPenalSFD.createdDate | date:'dd-MM-y'}}</span>
        </dd>
        <dt><span jhiFnmTranslate="sfdApp.rembtPenalSFD.createdBy">Created By</span></dt>
        <dd>
            <span>{{rembtPenalSFD.createdBy}}</span>
        </dd>
        <dt><span jhiFnmTranslate="sfdApp.rembtPenalSFD.lastModifiedBy">Last Modified By</span></dt>
        <dd>
            <span>{{rembtPenalSFD.lastModifiedBy}}</span>
        </dd>
        <dt><span jhiFnmTranslate="sfdApp.rembtPenalSFD.lastModifiedDate">Last Modified Date</span></dt>
        <dd>
            <span>{{rembtPenalSFD.lastModifiedDate | date:'dd-MM-y'}}</span>
        </dd>
        <dt><span jhiFnmTranslate="sfdApp.rembtPenalSFD.echeancesSFD">Echeances SFD</span></dt>
        <dd>
            <div *ngIf="rembtPenalSFD.echeancesSFDId">
                <a [routerLink]="['/entity','echeances-sfd', rembtPenalSFD.echeancesSFDId]">{{rembtPenalSFD.echeancesSFDLibelle}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit" (click)="previousState()" class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiFnmTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button" [routerLink]="['/entity','rembt-penal-sfd', { outlets: { popup: 'rembt-penal-sfd/'+ rembtPenalSFD.id + '/edit'} }]"
        replaceUrl="true" class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiFnmTranslate="entity.action.edit"> Edit</span>
    </button>
</div>