<div>
    <h2>
        <span jhiFnmTranslate="sfdApp.authorityResource.home.title">Authority Resources</span>
        <button class="btn btn-primary float-right create-authority-resource" [routerLink]="['/', { outlets: { popup: ['authority-resource-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiFnmTranslate="sfdApp.authorityResource.home.createLabel">
            Create new Authority Resource
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'sfdApp.authorityResource.home.search' | translate }}">
                    <button class="btn-floating waves-effect waves-light" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="btn-floating waves-effect waves-light" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="authorityResources">
        <table class="bordered striped highlight">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                    <th jhiSortBy="id"><span jhiFnmTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
                    <th jhiSortBy="authority"><span jhiFnmTranslate="sfdApp.authorityResource.authority">Authority</span> <span class="fa fa-sort"></span></th>
                    <th jhiSortBy="ressource.id"><span jhiFnmTranslate="sfdApp.authorityResource.ressource">Ressource</span> <span class="fa fa-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let authorityResource of authorityResources ;trackBy: trackId">
                    <td><a [routerLink]="['../authority-resource', authorityResource.id ]">{{authorityResource.id}}</a></td>
                    <td>{{authorityResource.authority}}</td>
                    <td>
                        <div *ngIf="authorityResource.ressource">
                            <a [routerLink]="['../ressource', authorityResource.ressource?.id ]">{{authorityResource.ressource?.id}}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit" [routerLink]="['../authority-resource', authorityResource.id ]" class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiFnmTranslate="entity.action.view">View</span>
                        </button>
                            <button type="submit" [routerLink]="['/', { outlets: { popup: 'authority-resource/'+ authorityResource.id + '/edit'} }]" replaceUrl="true" class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiFnmTranslate="entity.action.edit">Edit</span>
                        </button>
                            <button type="submit" [routerLink]="['/', { outlets: { popup: 'authority-resource/'+ authorityResource.id + '/delete'} }]" replaceUrl="true" class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiFnmTranslate="entity.action.delete">Delete</span>
                        </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="authorityResources && authorityResources.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>