<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myTypeCreditRetardLabel" [jhiFnmTranslate]="typeCreditRetard.id ? 'sfdApp.typeCreditRetard.home.createOrEditLabel' : 'sfdApp.typeCreditRetard.home.createLabel'">Create or edit a Account Type</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <!--<div class="form-group" [hidden]="!typeCreditRetard.id">
            <label for="id" jhiFnmTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id" [(ngModel)]="typeCreditRetard.id" readonly />
        </div>-->
        <div class="form-group">
            <label class="form-control-label active oblige" jhiFnmTranslate="sfdApp.typeCreditRetard.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name" [(ngModel)]="typeCreditRetard.name" required maxlength="50" data-length="50" />
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger" [hidden]="!editForm.controls.name?.errors?.required" jhiFnmTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger" [hidden]="!editForm.controls.name?.errors?.maxlength" jhiFnmTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                   This field cannot be longer than 50 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label active oblige" for="field_name">Durée</label>
            <input type="number" min="1" class="form-control" name="initiale" id="field_initiale" [(ngModel)]="typeCreditRetard.initiale" required maxlength="50" data-length="50" />
            <div [hidden]="!(editForm.controls.initiale?.dirty && editForm.controls.initiale?.invalid)">
                <small class="form-text text-danger" [hidden]="!editForm.controls.initiale?.errors?.required" jhiFnmTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger" [hidden]="!editForm.controls.initiale?.errors?.maxlength" jhiFnmTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                   This field cannot be longer than 50 characters.
                </small>
            </div>
        </div>
        <!-- <div class="form-group">
            <label class="form-control-label active oblige" jhiFnmTranslate="sfdApp.typeCreditRetard.code" for="field_code">Code</label>
            <input type="text" class="form-control" name="code" id="field_code" [(ngModel)]="typeCreditRetard.code" required maxlength="50" data-length="50" />
            <div [hidden]="!(editForm.controls.code?.dirty && editForm.controls.code?.invalid)">
                <small class="form-text text-danger" [hidden]="!editForm.controls.code?.errors?.required" jhiFnmTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger" [hidden]="!editForm.controls.code?.errors?.maxlength" jhiFnmTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                   This field cannot be longer than 50 characters.
                </small>
            </div>
        </div> -->

    </div>
    <div class="modal-footer">
        <button type="button" class="waves-effect waves-teal btn-flat" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiFnmTranslate="entity.action.cancel">Cancel</span>
        </button> &nbsp;&nbsp;&nbsp;
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn waves-effect waves-light">
            <span class="fa fa-save"></span>&nbsp;<span jhiFnmTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
