<div *ngIf="typeCreditRetard">
    <!-- <h2><span jhiFnmTranslate="sfdApp.typeCreditRetard.detail.title">Account Type</span> {{typeCreditRetard.id}}</h2> -->
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiFnmTranslate="sfdApp.typeCreditRetard.name">Name</span></dt>
        <dd>
            <span>{{typeCreditRetard.name}}</span>
        </dd>
        <dt><span jhiFnmTranslate="sfdApp.typeCreditRetard.code">Code</span></dt>
        <dd>
            <span>{{typeCreditRetard.code}}</span>
        </dd>
        <dt><span>Initiale</span></dt>
        <dd>
            <span>{{typeCreditRetard.initiale}}</span>
        </dd>
    </dl>

    <button type="submit" (click)="previousState()" class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiFnmTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button" [routerLink]="['/entity','type-credit-retard', { outlets: { popup: 'type-credit-retard/'+ typeCreditRetard.id + '/edit'} }]" replaceUrl="true" class="btn btn-primary" *jhiHasAnyRessources="['carmesfnmservice/api/type-credit-retards/updateTypeCreditRetard']">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiFnmTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
