<div>
    <h2>
        <span jhiFnmTranslate="sfdApp.typeCreditRetard.home.title">Type of credit delay</span>
        <!-- <button class="btn btn-primary float-right create-type-credit-retard" [routerLink]="['/entity','type-credit-retard', { outlets: { popup: ['type-credit-retard-new'] } }]" *jhiHasAnyRessources="['carmesfnmservice/api/type-credit-retards/createTypeCreditRetard']"> -->
        <button class="btn btn-primary float-right create-type-credit-retard" [routerLink]="['/entity','type-credit-retard', { outlets: { popup: ['type-credit-retard-new'] } }]" >
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiFnmTranslate="sfdApp.typeCreditRetard.home.createLabel">
                Create a new type of delayed credit
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'sfdApp.typeCreditRetard.home.search' | fnmtranslate : langue.lang | async }}">
                    <button class="btn-floating waves-effect waves-light" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="btn-floating waves-effect waves-light" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <ng-template #elseBlock>
        <div class="ui active centered inline loader">
            {{principal.loading}}
        </div>
    </ng-template>
    <div class="table-responsive" *ngIf="typeCreditRetards;else elseBlock">
        <table class="bordered striped highlight">
            <thead>
                <tr>
                    <!-- <th><span jhiFnmTranslate="global.field.id">ID</span></th> -->
                    <th class="numerotab">N°</th>
                    <th><span jhiFnmTranslate="sfdApp.typeCreditRetard.name">Title</span></th>
                    <th><span>Durée</span></th>
                    <!-- <th><span jhiFnmTranslate="sfdApp.typeCreditRetard.code">Code</span></th> -->
                    <th class="text-right">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let typeCreditRetard of typeCreditRetards  | recherche:currentSearch ;let index=index;trackBy: trackId">
                    <!-- <td><a [routerLink]="['/entity','type-credit-retard', typeCreditRetard.id ]">{{typeCreditRetard.id}}</a></td> -->
                    <td class="numerotab">{{(index + 1) + (itemsPerPage * ((page|| 1) -1))}}</td>
                    <td>{{typeCreditRetard.name}}</td>
                    <td>{{typeCreditRetard.initiale}}</td>
                    <!-- <td>{{typeCreditRetard.code}}</td> -->
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <!-- <button type="submit" [routerLink]="['/entity','type-credit-retard', typeCreditRetard.id ]" class="btn btn-info btn-sm" *jhiHasAnyRessources="'carmesfnmservice/api/type-credit-retards/getTypeCreditRetard'">
                                <span class="fa fa-eye"></span>
                            </button> -->
                            <!-- <button type="submit" [routerLink]="['/entity','type-credit-retard', { outlets: { popup: 'type-credit-retard/'+ typeCreditRetard.id + '/edit'} }]" replaceUrl="true" class="btn btn-primary btn-sm" *jhiHasAnyRessources="['carmesfnmservice/api/type-credit-retards/updateTypeCreditRetard']"> -->
                                <button type="submit" [routerLink]="['/entity','type-credit-retard', { outlets: { popup: 'type-credit-retard/'+ typeCreditRetard.id + '/edit'} }]" replaceUrl="true" class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            </button>
                            <!-- <button type="submit" [routerLink]="['/entity','type-credit-retard', { outlets: { popup: 'type-credit-retard/'+ typeCreditRetard.id + '/delete'} }]" replaceUrl="true" class="btn btn-danger btn-sm" *jhiHasAnyRessources="['carmesfnmservice/api/type-credit-retards/deleteTypeCreditRetard']"> -->
                                <button type="submit" [routerLink]="['/entity','type-credit-retard', { outlets: { popup: 'type-credit-retard/'+ typeCreditRetard.id + '/delete'} }]" replaceUrl="true" class="btn btn-danger btn-sm" >
                                <span class="fa fa-remove"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="ui compact selection dropdown">
    <i class="dropdown icon"></i>
    <div class="text">Impressions</div>
    <div class="menu">
        <div class="item" jhiFnmTranslate="impressions.account.all">Tous les types de compte</div>
    </div>
</div>
