<div>
    <h3>
        <span jhiFnmTranslate="sfdApp.conditionGarantie.home.title">Condition Garanties</span>
        <button *jhiHasAnyRessources="'carmesfnmservice/api/condition-garanties/createConditionGarantie'" class="btn btn-primary float-right create-condition-garantie" [routerLink]="['/entity','condition-garantie', { outlets: { popup: ['condition-garantie-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiFnmTranslate="sfdApp.conditionGarantie.home.createLabel">
            Create new Condition Garantie
            </span>
        </button>
    </h3>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'sfdApp.conditionGarantie.home.search' | fnmtranslate : langue.lang | async }}">
                    <button class="btn-floating waves-effect waves-light" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="btn-floating waves-effect waves-light" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <ng-template #elseBlock>
        <div class="ui active centered inline loader">
            {{principal.loading}}
        </div>
    </ng-template>
    <div class="table-responsive" *ngIf="conditionGaranties;else elseBlock">
        <table class="bordered striped highlight">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <th class="numerotab">N°</th>
                    <!-- <th jhiSortBy="id"><span jhiFnmTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th> -->
                    <th jhiSortBy="name"><span jhiFnmTranslate="sfdApp.conditionGarantie.name">Name</span> <span class="fa fa-sort"></span></th>
                    <th jhiSortBy="valeur"><span jhiFnmTranslate="sfdApp.conditionGarantie.valeur">Valeur</span> <span class="fa fa-sort"></span></th>
                    <th jhiSortBy="document"><span jhiFnmTranslate="sfdApp.conditionGarantie.document">Document</span> <span class="fa fa-sort"></span></th>
                    <!-- <th jhiSortBy="createdDate"><span jhiFnmTranslate="sfdApp.conditionGarantie.createdDate">Created Date</span> <span class="fa fa-sort"></span></th>-->
                    <!-- <th jhiSortBy="createdBy"><span jhiFnmTranslate="sfdApp.conditionGarantie.createdBy">Created By</span> <span class="fa fa-sort"></span></th> -->
                    <!-- <th jhiSortBy="lastModifiedBy"><span jhiFnmTranslate="sfdApp.conditionGarantie.lastModifiedBy">Last Modified By</span> <span class="fa fa-sort"></span></th> -->
                    <!-- <th jhiSortBy="lastModifiedDate"><span jhiFnmTranslate="sfdApp.conditionGarantie.lastModifiedDate">Last Modified Date</span> <span class="fa fa-sort"></span></th> -->
                    <th class="text-right">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let conditionGarantie of conditionGaranties  | recherche:currentSearch ;let index = index;trackBy: trackId">
                    <!-- <td><a [routerLink]="['/entity','condition-garantie', conditionGarantie.id ]">{{conditionGarantie.id}}</a></td> -->
                    <td class="numerotab">{{(index + 1) + (itemsPerPage * ((page|| 1) -1))}}</td>
                    <td>{{conditionGarantie.name}}</td>
                    <td>{{conditionGarantie.valeur}}</td>
                    <td>{{conditionGarantie.document}}</td>
                    <!-- <td>{{conditionGarantie.createdDate | date:'dd-MM-y'}}</td> -->
                    <!-- <td>{{conditionGarantie.createdBy}}</td> -->
                    <!-- <td>{{conditionGarantie.lastModifiedBy}}</td> -->
                    <!-- <td>{{conditionGarantie.lastModifiedDate | date:'dd-MM-y'}}</td> -->
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <!-- <button type="submit" [routerLink]="['/entity','condition-garantie', conditionGarantie.id ]" class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                        </button> -->
                            <button *jhiHasAnyRessources="'carmesfnmservice/api/condition-garanties/updateConditionGarantie'" type="submit" [routerLink]="['/entity','condition-garantie', { outlets: { popup: 'condition-garantie/'+ conditionGarantie.id + '/edit'} }]" replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                        </button>
                            <button *jhiHasAnyRessources="'carmesfnmservice/api/condition-garanties/deleteConditionGarantie'" type="submit" [routerLink]="['/entity','condition-garantie', { outlets: { popup: 'condition-garantie/'+ conditionGarantie.id + '/delete'} }]" replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                        </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="conditionGaranties && conditionGaranties.length">
        <div class="row justify-content-center">
            <!-- <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count> -->
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)" [pageSize]="itemsPerPage"></ngb-pagination>
        </div>
    </div>
</div>