<div class="ui pointing secondary menu">
    <a class="item active" data-tab="first" style="width:50%" (click)="initialize()">
        <i class="add user icon"></i> Ajouter les conditions d'accès d'un client</a>
    <a class="item" data-tab="second" style="width:50%" (click)="initialize()">
        <i class="list icon"></i> Les conditions d'accès des clients</a>
</div>
<br>
<br>
<br>
<jhi-alert></jhi-alert>
<jhi-alert-error></jhi-alert-error>
<div class="ui tab active" data-tab="first">

    <div class="row">
        <form class="col s12 ui form" name="editForm" role="form" novalidate #editForm="ngForm" (ngSubmit)="save(editForm)">
            <div class="two fields">
                <div class="field produit">
                    <label for="field_produit" class="oblige">Choix du produit</label>
                    <select class="ui fluid search dropdown" id="field_produit2" [(ngModel)]="condition.produitId" (change)="onProduitChange()" name="produit" required>
                        <option value="null" disabled></option>
                        <option [ngValue]="produit.id" *ngFor="let produit of produits | active">{{produit.libelle}}</option>
                    </select>
                </div>
                <div class="field client">
                    <label for="field_client1" class="oblige">Choix du client</label>
                    <select class="ui fluid search dropdown" id="field_client1" [(ngModel)]="condition.clientId" name="client" required>
                        <option [ngValue]="client.id" *ngFor="let client of clients|cible:product?.typeClients">
                            {{client?.name}} ({{client?.code}})
                        </option>
                    </select>
                </div>
            </div>
            <br>
            <h4 class="ui horizontal divider header" [hidden]="!conditions.length" style="background: transparent;">
                <i class="edit icon"></i> Validez les conditions de ce produit pour le client
            </h4>
            <br>
            <div class="ui grid">
                <div class="eight wide column" *ngFor="let condition of conditions">
                    <div class="field">
                        <label class="oblige">{{condition?.name}} (La note maximale est de {{condition?.noteMax}})</label>
                        <select class="ui fluid search dropdown" required [name]="condition.id" [(ngModel)]="condition.valeur">
                            <option value="" disabled>choisissez la note</option>
                            <option [ngValue]="element.valeur" *ngFor="let element of condition.elements | element:condition.noteMax">{{element.name}}
                                <em *ngIf='!element.flag'>(note:{{element.valeur}})</em>
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
            <div>
                <button class="fluid ui teal button" type="submit" name="action" [disabled]="editForm.form.invalid || isSaving || controlForm(editForm) || !conditions?.length || product?.noteMinConditionAcces > current">Validez
                    <i class="fa fa-send"></i>
                    <small>
                        <em> {{current || 0}}</em>
                        <span *ngIf="!editForm.form.invalid && conditions?.length && product?.noteMinConditionAcces > current">La note du client doit dépasser la note minimum sur le produit soit {{product?.noteMinConditionAcces}}</span>
                    </small>
                </button>
            </div>
        </form>
    </div>
</div>
<div class="ui tab" data-tab="second">
    <form class="ui form">
        <div class="two fields">
            <div class="field produit">
                <label for="field_produit" class="oblige">Choix du produit</label>
                <select class="ui fluid search dropdown" id="field_produit" (change)="onProduitChange(true)" name="produit" [(ngModel)]="condition.produitId" required>
                    <option value="null" disabled></option>
                    <option [ngValue]="produit.id" *ngFor="let produit of produits | active">{{produit.libelle}}</option>
                </select>
            </div>
            <div class="field client">
                <label for="field_client" class="oblige">Choix du client</label>
                <select class="ui fluid search dropdown" id="field_client" name="client" [(ngModel)]="condition.clientId" required (change)="onClientChange()">
                    <option value="">Aucun</option>
                    <option [ngValue]="client.id" *ngFor="let client of clients">
                        {{client?.name}}
                    </option>
                </select>
            </div>
        </div>
        <div class="field note" [hidden]="!notes.length">
            <label for="field_note" class="oblige">Choix de la note</label>
            <select class="ui fluid search dropdown" id="field_note" name="client" [(ngModel)]="condition.note" required (change)="onNoteChange()">
                <option value="">Aucun</option>
                <option [ngValue]="note" *ngFor="let note of notes">
                    produit {{produit?.libelle}} (note minimum:{{note?.note_min}}) - note donnée:{{note?.note}}
                </option>
            </select>
        </div>
    </form>

    <table class="ui large celled padded table recapitulatif" *ngIf="notes.length">
        <thead>
            <tr>
                <th colspan="5" class="center aligned grey">
                    GUIDE PRATIQUE D'IDENTIFICATION DU CLIENT
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th colspan="5"></th>
            </tr>
            <tr>
                <td colspan="5" class="center aligned">
                    <strong> CONDITIONS DE VIE DU CANDIDAT AU PRODUIT</strong>
                </td>
            </tr>
            <tr>
                <td rowspan="2" class="ui center aligned">
                    <strong> Catégories</strong>
                </td>
                <td colspan="2" class="center aligned">
                    <strong> Condition d'accès</strong>
                </td>
                <td rowspan="2" class="ui center aligned">
                    <strong> Note Max</strong>
                </td>
                <td rowspan="2" class="ui center aligned">
                    <strong>Note donnée</strong>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Description de la condition</strong>
                </td>
                <td>
                    <strong> Elements d'appréciation</strong>
                </td>
            </tr>
            <tr *ngFor="let valeur of conditionsValeurs">
                <td>
                    <div class="ui ribbon label">First</div>
                </td>
                <td>{{valeur?.name}}</td>
                <td>Cell</td>
                <td>Cell</td>
                <td>{{valeur?.condition_valeur}}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th></th>
                <th class="center aligned">Oui</th>
                <th class="center aligned">Eligible au produit</th>
                <th class="center aligned">note max</th>
                <th class="center aligned">donnée</th>
            </tr>
        </tfoot>
    </table>
    <div class="ui compact selection dropdown" *ngIf="notes.length">
        <i class="dropdown icon"></i>
        <div class="text">Impressions</div>
        <div class="menu">
            <div class="item" (click)="print()" jhiFnmTranslate="impressions.clients.conditions">La fiche des conditions du client</div>
        </div>
    </div>
</div>