<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myAgenceLabel" [jhiFnmTranslate]="agence.id ? 'sfdApp.agence.home.createOrEditLabel' : 'sfdApp.agence.home.createLabel'">Create or edit a Agence</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <!-- <div class="form-group" [hidden]="!agence.id">
            <label for="id" jhiFnmTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id" [(ngModel)]="agence.id" readonly />
        </div>-->


        <div class="input-field">
            <label class="form-control-label active oblige" jhiFnmTranslate="sfdApp.agence.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name" [(ngModel)]="agence.name" required maxlength="50" data-length="50" />
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger" [hidden]="!editForm.controls.name?.errors?.required" jhiFnmTranslate="entity.validation.required">
                    This field is required.
                </small>
                <small class="form-text text-danger" [hidden]="!editForm.controls.name?.errors?.maxlength" jhiFnmTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                    This field cannot be longer than 50 characters.
                </small>
            </div>
        </div>
        <div class="input-field">
            <label class="form-control-label active oblige" jhiFnmTranslate="sfdApp.agence.initiale" for="field_initiale">Initial</label>
            <input type="text" class="form-control" name="initiale" id="field_initiale" [(ngModel)]="agence.initiale" required maxlength="4" data-length="4">
            <div [hidden]="!(editForm.controls.initiale?.dirty && editForm.controls.initiale?.invalid)">
                <small class="form-text text-danger" [hidden]="!editForm.controls.initiale?.errors?.required" jhiFnmTranslate="entity.validation.required">This field is required.</small>
                <small class="form-text text-danger" [hidden]="!editForm.controls.initiale?.errors?.required" jhiFnmTranslate="entity.validation.required">This field is required.</small>
                <small class="form-text text-danger" [hidden]="!editForm.controls.initiale?.errors?.maxlength" jhiFnmTranslate="entity.validation.maxlength" translateValues="{max: 4}"></small>
            </div>
        </div>
        <div class="input-field">
            <label class="form-control-label active oblige" jhiFnmTranslate="sfdApp.agence.address" for="field_address">Address</label>
            <input type="text" class="form-control" name="address" id="field_address" [(ngModel)]="agence.address" required maxlength="50" data-length="50" />
            <div [hidden]="!(editForm.controls.address?.dirty && editForm.controls.address?.invalid)">
                <small class="form-text text-danger" [hidden]="!editForm.controls.address?.errors?.required" jhiFnmTranslate="entity.validation.required">
                    This field is required.
                </small>
                <small class="form-text text-danger" [hidden]="!editForm.controls.address?.errors?.maxlength" jhiFnmTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                    This field cannot be longer than 50 characters.
                </small>
            </div>
        </div>
        <div class="input-field">
            <label class="form-control-label active oblige" jhiFnmTranslate="sfdApp.agence.phone" for="field_phone">Phone</label>
            <input type="text" class="form-control" name="phone" id="field_phone" [(ngModel)]="agence.phone" required maxlength="50" data-length="50" />
            <div [hidden]="!(editForm.controls.phone?.dirty && editForm.controls.phone?.invalid)">
                <small class="form-text text-danger" [hidden]="!editForm.controls.phone?.errors?.required" jhiFnmTranslate="entity.validation.required">
                    This field is required.
                </small>
                <small class="form-text text-danger" [hidden]="!editForm.controls.phone?.errors?.maxlength" jhiFnmTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                    This field cannot be longer than 50 characters.
                </small>
            </div>
        </div>
        <div class="input-field">
            <label class="form-control-label active" jhiFnmTranslate="sfdApp.agence.email" for="field_email">Email</label>
            <input type="email" class="form-control" name="email" id="field_email" [(ngModel)]="agence.email" maxlength="50" data-length="50" />
            <div [hidden]="!(editForm.controls.email?.dirty && editForm.controls.email?.invalid)">
                <small class="form-text text-danger" [hidden]="!editForm.controls.email?.errors?.maxlength" jhiFnmTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                    This field cannot be longer than 50 characters.
                </small>
            </div>
        </div>
        <div class="input-field">
            <label class="form-control-label active" jhiFnmTranslate="sfdApp.agence.bp" for="field_bp">Bp</label>
            <input type="text" class="form-control" name="bp" id="field_bp" [(ngModel)]="agence.bp" maxlength="50" data-length="50" />
            <div [hidden]="!(editForm.controls.bp?.dirty && editForm.controls.bp?.invalid)">
                <small class="form-text text-danger" [hidden]="!editForm.controls.bp?.errors?.maxlength" jhiFnmTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                    This field cannot be longer than 50 characters.
                </small>
            </div>
        </div>
        <div class="input-field">
            <label class="form-control-label active" jhiFnmTranslate="sfdApp.agence.fax" for="field_fax">Fax</label>
            <input type="text" class="form-control" name="fax" id="field_fax" [(ngModel)]="agence.fax" maxlength="50" data-length="50" />
            <div [hidden]="!(editForm.controls.fax?.dirty && editForm.controls.fax?.invalid)">
                <small class="form-text text-danger" [hidden]="!editForm.controls.fax?.errors?.maxlength" jhiFnmTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                    This field cannot be longer than 50 characters.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label active" jhiFnmTranslate="sfdApp.agence.geoLat" for="field_geoLat">Geo Lat</label>
            <div>
                <input type="text" class="form-control" name="geoLat" id="field_geoLat" [(ngModel)]="agence.geoLat" maxlength="50" data-length="50" [readonly]="checkPosition" style="width:90%;display:inline-block" />
                <a class="btn waves-effect waves-light" (click)="userPosition(true)"><span class="fa fa-map"></span></a>
            </div>
            <div [hidden]="!(editForm.controls.geoLat?.dirty && editForm.controls.geoLat?.invalid)">
                <small class="form-text text-danger" [hidden]="!editForm.controls.geoLat?.errors?.maxlength" jhiFnmTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                    This field cannot be longer than 50 characters.
                </small>
            </div>

        </div>
        <div class="form-group">
            <label class="form-control-label active" jhiFnmTranslate="sfdApp.agence.geoLong" for="field_geoLong">Geo Long</label>
            <div>
                <input type="text" class="form-control" name="geoLong" id="field_geoLong" [(ngModel)]="agence.geoLong" maxlength="50" data-length="50" [readonly]="checkPosition" style="width:90%;display:inline-block" />
                <a class="btn waves-effect waves-light" (click)="userPosition(true)"><span class="fa fa-map"></span></a>
            </div>
            <div [hidden]="!(editForm.controls.geoLong?.dirty && editForm.controls.geoLong?.invalid)">
                <small class="form-text text-danger" [hidden]="!editForm.controls.geoLong?.errors?.maxlength" jhiFnmTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                    This field cannot be longer than 50 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label for="zoneId">Zone</label>
            <select class="ui fluid search dropdown" id="zoneId" name="zoneId" [(ngModel)]="agence.zoneId">
                <option [ngValue]="null" disabled></option>
                <option [ngValue]="z.id" *ngFor="let z of zones;">{{z.name}}</option>
            </select>
        </div>
        <div class="file-field input-field">
            <div class="btn">
                <span jhiFnmTranslate="sfdApp.agence.pictureUrl">File</span>
                <input type="file" [(ngModel)]="agence.pictureUrl" name="file">
            </div>
            <div class=" file-path-wrapper">
                <input class="file-path validate" type="text">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="waves-effect waves-teal btn-flat" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiFnmTranslate="entity.action.cancel">Cancel</span>
        </button> &nbsp;&nbsp;&nbsp;
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn waves-effect waves-light">
            <span class="fa fa-save"></span>&nbsp;<span jhiFnmTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
