<div>
    <div class="row">
        <div class="col-sm-8">
            <h2>Les crédits en perte</h2>
        </div>
        <div class="col-sm-4">
            <!-- <div class="row">
                <div class="col-sm-6"> -->
            <div class="form-group">
                <label class="form-control-label" for="start">Date</label>
                <ngbd-datepicker-i18n [ngModel]="date" name="start" (ngModelChange)="onDateChange($event)"></ngbd-datepicker-i18n>
            </div>
            <!-- </div>
            </div> -->
        </div>
    </div>
    <jhi-alert></jhi-alert>
    <br/>
    <ng-template #elseBlock>
        <div class="ui active centered inline loader">
            {{principal.loading}}
        </div>
    </ng-template>

    <div class="table-responsive" *ngIf="credits;else elseBlock">
        <table class="bordered striped highlight">
            <thead>
                <tr>
                    <th class="numerotab">N°</th>
                    <th>Client (Référence)</th>
                    <th>Date</th>
                    <!-- <th>Capital régler</th> -->
                    <th>Montant du crédit</th>
                    <th>Montant remboursé</th>
                    <!-- <th>Montant attendu</th> -->
                    <th>Montant en retard</th>
                    <th>Pénalité totale</th>
                    <th>Pénalité payée</th>
                    <!-- <th>Pénalité restante</th> -->
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let credit of credits;let index = index;">
                    <!-- <td><a [routerLink]="['../credit', credit.id ]">{{credit.id}}</a></td> -->
                    <td class="numerotab">{{(index + 1)}}</td>
                    <td>{{credit?.agenceReference}} ({{credit?.libelle}})</td>
                    <td>{{credit?.dateCredit | date:'dd-MM-y'}}</td>
                    <!-- <td>{{credit.capitalregler | currency:'XOF':true:'2.0'}}</td> -->
                    <td>{{credit.montantcredit | currency:'XOF':true:'2.0'}}</td>
                    <td>{{credit.montantrembourser | currency:'XOF':true:'2.0'}}</td>
                    <!--  <td>{{credit.montantattendu | currency:'XOF':true:'2.0'}}</td> -->
                    <td>{{credit.montantretard | currency:'XOF':true:'2.0'}}</td>
                    <td>{{credit.penalitetotal | currency:'XOF':true:'2.0'}}</td>
                    <td>{{credit.penalitepaye | currency:'XOF':true:'2.0'}}</td>
                    <!-- <td>{{credit.penaliterestant | currency:'XOF':true:'2.0'}}</td> -->
                    <td>
                        <div class="btn-group flex-btn-group-container" *ngIf="credit.penaliterestant > 0">
                            <a style="text-decoration:none" [routerLink]="['/entity','credit', { outlets: { popup: 'payer/'+credit.creditid+'/'+credit.penaliterestant+'/penalite' }}]" [queryParams]="{name:credit.name}">Payer pénalité </a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
