<div>
    <h2>
        <span jhiFnmTranslate="sfdApp.district.home.title">Districts</span>
        <button class="btn btn-primary float-right create-district" [routerLink]="['/entity','district', { outlets: { popup: ['district-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiFnmTranslate="sfdApp.district.home.createLabel">
            Create new District
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'sfdApp.district.home.search' | fnmtranslate : langue.lang | async }}">
                    <button class="btn-floating waves-effect waves-light" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="btn-floating waves-effect waves-light" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form> 
        </div>
    </div>
    <br/>
    <ng-template #elseBlock>
        <div class="ui active centered inline loader">
            {{principal.loading}}
        </div>
    </ng-template>
    <div class="table-responsive" *ngIf="districts;else elseBlock">
        <table class="bordered striped highlight">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                    <!-- <th jhiSortBy="id"><span jhiFnmTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>jhiFnmTranslate="sfdApp.district.townShip" -->
                    <th class="numerotab">N°</th>
                    <th jhiSortBy="name"><span jhiFnmTranslate="sfdApp.district.name">Name</span> <span class="fa fa-sort"></span></th>
                    <th jhiSortBy="townShipId"><span >Arrondissement</span> <span class="fa fa-sort"></span></th>
                    <th><span >Commune</span> <span class="fa fa-sort"></span></th>
                    <th><span >Departement</span> <span class="fa fa-sort"></span></th>
                    <th class="text-right">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let district of districts  | recherche:currentSearch ;trackBy: trackId;let index = index;">
                    <!-- <td><a [routerLink]="['/entity','district', district.id ]">{{district.id}}</a></td> -->
                    <td class="numerotab">
                        <span>{{(index + 1) + (itemsPerPage * ((page|| 1) -1))}}</span>
                    </td>
                    <td>{{district.name}}</td>
                    <td>
                        <div *ngIf="district.townShipId">{{district.townShip.name}}
                           <!--  <a [routerLink]="['/entity','town-ship', district.townShipId  ]"></a> -->
                        </div>
                    </td>
                    <td><div *ngIf="district.townShipId">{{district.townShip.city.name}}</div></td>
                    <td><div *ngIf="district.townShipId">{{district.townShip.city.departement.name}}</div></td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                           <!--  <button type="submit" [routerLink]="['/entity','district', district.id ]" class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                          
                        </button> -->
                            <button type="submit" [routerLink]="['/entity','district', { outlets: { popup: 'district/'+ district.id + '/edit'} }]" replaceUrl="true" class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <!-- <span class="hidden-md-down" jhiFnmTranslate="entity.action.edit">Edit</span> -->
                        </button>
                            <button type="submit" [routerLink]="['/entity','district', { outlets: { popup: 'district/'+ district.id + '/delete'} }]" replaceUrl="true" class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <!-- <span class="hidden-md-down" jhiFnmTranslate="entity.action.delete">Delete</span> -->
                        </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="districts && districts.length">
        <div class="row justify-content-center">
            <!-- <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count> -->
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)" [pageSize]="itemsPerPage"></ngb-pagination>
        </div>
    </div>
</div>