<div class="app flex-row align-items-center" style="min-height: 84vh;">
    <div class="ui inverted dimmer" [ngClass]="{active:isSaving}">
        <div class="ui text loader">connexion</div>
    </div>

    <ng-template #elseBlock>
        <!--  <div class="container">
            <div class="form-group">
                <label for="agence">Choisissez l'agence dans  laquelle voulez-vous travailler</label>
                <select name="agence" id="agence" class="ui fluid search dropdown" [(ngModel)]="agence" required>
                <option value="null" disabled>Choisissez votre agence</option>
                <option [ngValue]="agence" *ngFor="let agence of agences">
                    {{agence?.name}}
                </option>
            </select>
            </div>
            <div>
                <button class="ui button" (click)="selectSFD()" [disabled]="!agence">Validez</button>
            </div>
        </div> -->
    </ng-template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card-group mb-0">
                    <div class="card p-4">
                        <div class="card-block">
                            <h1 jhiFnmTranslate="login.title">Sign in</h1>
                            <p class="text-muted error-login" *ngIf="authenticationError" style="text-align: center;">
                                <strong jhiFnmTranslate="login.messages.error.authentication" *ngIf="!error">Failed to sign in! Please check your credentials and try again.</strong>
                                <strong>{{error}}</strong>
                                <br>
                                <em *ngIf="isTentativeExpired" style="color:red">Il vous reste {{(isTentativeExpired >= NbreTentative)?0:NbreTentative - isTentativeExpired}} tentative(s)</em>
                            </p>
                            <div class="input-field mb-3">
                                <i class="icon-user prefix"></i>
                                <input type="text" class="form-control validate" name="username" id="username" placeholder="{{'global.form.username.placeholder' | translate}}" [(ngModel)]="username" (keyup)="onkeyup($event)" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');">
                            </div>
                            <div class="input-field mb-4">
                                <i class="icon-lock prefix"></i>
                                <input type="password" class="form-control validate" name="password" id="password" placeholder="{{'login.form.password.placeholder' |translate}}" [(ngModel)]="password" (keyup)="onkeyup($event)" autocomplete="off" style="text-security:disc; -webkit-text-security:disc;" readonly onfocus="this.removeAttribute('readonly');">
                            </div>
                            <div class="form-check">
                                <p>
                                    <input type="checkbox" class="filled-in" id="rememberMe" [(ngModel)]="rememberMe" name="rememberMe">
                                    <label for="rememberMe"><span>Garder la session ouverte</span></label>
                                </p>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <button type="button" class="btn btn-primary px-4" jhiFnmTranslate="login.form.button" (click)="login()" [disabled]="isTentativeExpired >= NbreTentative"></button>
                                </div>
                                <!-- <div class="col-12 text-right forget">
                                    <a class="px-0" jhiFnmTranslate="login.password.forgot"></a>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <div class="card card-inverse card-primary py-5 d-md-down-none" style="width:44%">
                        <div class="card-block text-center">
                            <div>
                                <h2 style="font-weight:bold;">SYGM@ SFD</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
